Repository nammayatri/nammayatri, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, ui-common, native, driver, customer, backend

.github/labeler.yml:

frontend:
  - 'Frontend/**'

ui-common:
  - 'Frontend/ui-common/**'

native:
  - 'Frontend/android-native/**'

driver:
  - 'Frontend/ui-driver/**'

customer:
  - 'Frontend/ui-customer/**'

backend:
  - 'Backend/**'
  - '.github/workflows/nix.yaml'
  - '.github/workflows/nixCloud.yaml'

backend/fix/use-time-instead-of-dist-for-scheduled-ride-reachability
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
Labels: backend

backend/feat: add transaction API for purchased passes, enhance data model with transaction details and add pass renewal flow
  Backend/app/rider-platform/rider-app/Main/spec/API/Pass.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PurchasedPass.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PurchasedPassPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PurchasedPassPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PurchasedPassPayment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PurchasedPassExtra.hs
  Backend/dev/migrations-read-only/rider-app/purchased_pass_payment.sql
Labels: backend

backend/feat/cris-recon
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/CrisRecon.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/CrisRecon.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/CrisRecon.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/CrisRecon.hs
  Backend/dev/migrations-read-only/rider-app/cris_recon.sql
Labels: backend

backend/fix: correct logic for selecting child item in fare calculation
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

backend/fix: update pass status logic to use current purchased pass status
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
Labels: backend

fix: added trivandrum city for ks
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
Labels: frontend, ui-common

fix: added trivandrum city for ks
  Frontend/ui-common/src/RemoteConfig/Utils.purs
Labels: frontend, ui-common

backend/fix: ondc init
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

backend/feat/get-token-using-temp-access-code
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

backend/feat/get-token-using-temp-access-code
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

backend/fix/bytestring-conversion
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
Labels: backend

backend/fix/bytestring-conversion
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
Labels: backend

backend/fix: enhance fleet analytics by integrating online driver count from Redis
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverFlowStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Analytics.hs
Labels: backend

backend/dashboard/enh: Create new driver fee entry for new request and mark previous INACTIVE
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

backend/dashboard/enh: Create new driver fee entry for new request and mark previous INACTIVE
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

callback rewrite route change compiled and installed DGL API from shared kernel
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DigiLockerCallback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Verification.hs
  flake.lock
Labels: backend

backend/fix/seding-this-to-db
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
Labels: backend

backend/feat/moving-statoin-to-d
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
Labels: backend

backend/feat/moving-statoin-to-d
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
Labels: backend

WIP: confirm api
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
Labels: backend

backend/ench : added driver alternate mobile number in rideInfo dashboard api
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Ride.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
Labels: backend

Revert "backend/feat/moving-statoin-to-d"
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
Labels: backend

Revert "backend/feat/moving-statoin-to-d"
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
Labels: backend

fix: Public Transport Data Version
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

backend/fix: enhance fleet analytics by integrating online driver count from Redis
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverFlowStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Analytics.hs
Labels: backend

backend/fix: undo the fix as it was fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

backend/fix: bhubaneshwar fix
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

backend/feat: enhance station data parsing with additional address and destination information
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
Labels: backend

backend/feat: Implement in-memory caching for station information by city
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/StationsExtraInformation.hs
Labels: backend

fixed callback from post to get
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DigiLockerCallback.hs
Labels: backend

backend/ench : added driver alternate mobile number in rideInfo dashboard api
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Ride.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
Labels: backend

backend/feat: adding new vehicleVariant BIKE_PLUS
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/LiveMap.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Vehicle.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/beckn-spec/src/Domain/Types/ServiceTierType.hs
  Backend/lib/beckn-spec/src/Domain/Types/VehicleVariant.hs
Labels: backend

backend/lts-flake-update
  flake.lock
Labels: none

feat/added/newVariantAndServiceTierType/E_RICKSHAW
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/LiveMap.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Vehicle.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/beckn-spec/src/Domain/Types/ServiceTierType.hs
  Backend/lib/beckn-spec/src/Domain/Types/VehicleVariant.hs
Labels: backend

backend/fix/added-option-to-not-include-includeRectifiedDistance-in-snapToRoadWithFallback
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  flake.lock
Labels: backend

Revert "Revert "backend/feat/moving-statoin-to-d""
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
Labels: backend

Fix SQL migration: Backend/dev/migrations-read-only/rider-app/cris_recon.sql
  Backend/dev/migrations-read-only/rider-app/cris_recon.sql
Labels: backend

Fix SQL migration: Backend/dev/migrations-read-only/rider-app/cris_recon.sql
  Backend/dev/migrations-read-only/rider-app/cris_recon.sql
Labels: backend

Fix SQL migration: Backend/dev/migrations-read-only/rider-app/frfs_quote_category.sql
  Backend/dev/migrations-read-only/rider-app/frfs_quote_category.sql
Labels: backend

Fix SQL migration: Backend/dev/migrations-read-only/rider-app/pass.sql
  Backend/dev/migrations-read-only/rider-app/pass.sql
Labels: backend
