Repository nammayatri/nammayatri, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, ui-common, native, driver, customer, backend

fix: Update estimated distance handling in OnUpdate to support distance unit conversion
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

fix: Update estimated distance handling in OnUpdate to support distance unit conversion
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

fix: Update estimated distance handling in OnUpdate to support distance unit conversion
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

fix: query-fix-in-transporter-config
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

chore: Update flake.lock with new lastModified timestamp and revision hash
  flake.lock
Labels: none

backend/hack/handling-dummy-trips
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

build fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

io fix'
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

backend:updating-process-compose-with-new-version
  flake.lock
Labels: none

backend/enhancement: Refactor database error handling and connection management in query execution functions
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBQuery/Functions.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBQuery/Functions.hs
Labels: backend

fix: Update duration handling in OnUpdate to ensure proper estimation during location edits
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

fix: Update duration handling in OnUpdate to ensure proper estimation during location edits
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

fix: Enhance error handling for CRIS SDK token retrieval and filter subway routes in multi-modal search
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

fix: Enhance error handling for CRIS SDK token retrieval and filter subway routes in multi-modal search
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

Revert "fix: Enhance error handling for CRIS SDK token retrieval and filter s…"
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

Revert "fix: Enhance error handling for CRIS SDK token retrieval and filter s…"
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

fix: Update route code handling and error management in vehicle live route info
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
Labels: backend

fix: Update route code handling and error management in vehicle live route info
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
Labels: backend

backend/updated flake.lock
  flake.lock
Labels: none

backend/feat/msil: financial year earnings and tds deduction v2
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverWallet.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverWallet.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FinancialYearEarnings.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FinancialYearEarnings.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FinancialYearEarnings.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FinancialYearEarnings.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverWallet.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_wallet.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/financial_year_earnings.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0698-driver-wallet-local.sql
  Backend/dev/migrations/rider-app/1341-bus-booking-ebix.sql
Labels: backend

backend/cancellation updates
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  flake.lock
Labels: backend

Backend/feat: remove duplicate fare calls in initiate
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/RouteFare.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Interface.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Subway.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Subway.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

backend/cancellation updates
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  flake.lock
Labels: backend

backend/enh/added-rideId-as-entityId-during-distanceCalculation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/ExotelEndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/BulkLocUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
Labels: backend

backend/enh/added-rideId-as-entityId-during-distanceCalculation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/ExotelEndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/BulkLocUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
Labels: backend

Backend/feat: added failure reason in frfs ticket booking
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
Labels: backend

enhancement: Implement locking mechanism for driver activity updates to prevent concurrent modifications
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

backend/enhancement: Introduced isSingleMode attribute across journey-related components and updated related logic for multi-modal search functionality
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
Labels: backend

enhancement: Implement locking mechanism for driver activity updates to prevent concurrent modifications
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

backend/enh/added-rideId-as-entityId-during-distanceCalculation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/ExotelEndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/BulkLocUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
Labels: backend

enhancement: Implement locking mechanism for driver activity updates to prevent concurrent modifications
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

Backend/fix: added CRIS Errors
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/Auth.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/Encryption.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/RouteFare.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/Uts.hs
Labels: backend

backend/fix/fare_calc_rental_bug
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

backend/fix/fare_calc_rental_bug
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

Backend/fix: added CRIS Errors
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/Auth.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/Encryption.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/RouteFare.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/Uts.hs
Labels: backend

enhancement: Implement locking mechanism for driver activity updates to prevent concurrent modifications
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

backedn/enhancement: ONDC compliance
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnCancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnInit.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnSelect.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Search.hs
  Backend/dev/migrations-read-only/rider-app/merchant.sql
  Backend/dev/migrations/rider-app/1459-beckn-category-id-local.sql
  Backend/lib/beckn-spec/beckn-spec.cabal
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Enums.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Types.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Payment.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Tags.hs
Labels: backend

Frontend/YatriSathi - Bus Booking Fix
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

Frontend/YatriSathi - Bus Booking Fix
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

backend/fix: fixed build
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
Labels: backend

.github/labeler.yml:

frontend:
  - 'Frontend/**'

ui-common:
  - 'Frontend/ui-common/**'

native:
  - 'Frontend/android-native/**'

driver:
  - 'Frontend/ui-driver/**'

customer:
  - 'Frontend/ui-customer/**'

backend:
  - 'Backend/**'
  - '.github/workflows/nix.yaml'
  - '.github/workflows/nixCloud.yaml'
