Repository nammayatri/nammayatri, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, ui-common, native, driver, customer, backend

.github/labeler.yml:

frontend:
  - 'Frontend/**'

ui-common:
  - 'Frontend/ui-common/**'

native:
  - 'Frontend/android-native/**'

driver:
  - 'Frontend/ui-driver/**'

customer:
  - 'Frontend/ui-customer/**'

backend:
  - 'Backend/**'
  - '.github/workflows/nix.yaml'
  - '.github/workflows/nixCloud.yaml'

fix: stale tracking status
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/State/Utils.hs
Labels: backend

compile fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
Labels: backend

backend/ench: autoVerify Pass
  Backend/app/rider-platform/rider-app/Main/spec/API/Pass.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PurchasedPass.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PassVerifyTransactionExtra.hs
  Backend/dev/migrations-read-only/rider-app/pass_verify_transaction.sql
Labels: backend

backend/ench: autoVerify Pass
  Backend/app/rider-platform/rider-app/Main/spec/API/Pass.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PurchasedPass.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PassVerifyTransactionExtra.hs
  Backend/dev/migrations-read-only/rider-app/pass_verify_transaction.sql
Labels: backend

backend/ench: autoVerify Pass
  Backend/app/rider-platform/rider-app/Main/spec/API/Pass.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PurchasedPass.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PassVerifyTransactionExtra.hs
  Backend/dev/migrations-read-only/rider-app/pass_verify_transaction.sql
Labels: backend

backend/fix: autoVerify Pass HotPush
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
Labels: backend

backend/fix: autoVerify Pass HotPush
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
Labels: backend

Backend: ehnc - Value based split for multimodal booking
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/ParkingBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
Labels: backend

Backend: ehnc - Value based split for multimodal booking
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/ParkingBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
Labels: backend

enhancement: Seperate out push and pull request runners
  .github/workflows/nix-pull.yaml
  .github/workflows/nix-push.yaml
Labels: none

backend/feat: meta referrer & gclId integration
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Event.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
Labels: backend

backend/feat/boating-enh (#13084)
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/Tickets.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBookingInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/FleetVehiclesAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/FleetVehiclesAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetBookingAssignmentsExtra.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/TicketBookingExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_booking_assignments.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_booking_information.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_Tickets.sql
Labels: backend

Backend/enh: added summary to ticket bookings (#13120)
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/Tickets.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

backend/fix/fixed master issue and feedback badge pn feature
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/feedback_badge.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0205-add-feedback-badges.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0727-add-feedback-badge-index.sql
  Backend/dev/migrations/rider-app/1470-feedback-badge-migration.sql
Labels: backend

backend/fix: added sendFeedbackPN
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
Labels: backend

send Ride feedback from bap to bpp in all cases irrespective of badgelist
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Rating.hs
Labels: backend

backend/fix: bppBookingId changed to bppRideId
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
Labels: backend

backend/fix: bppBookingId changed to bppRideId
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
Labels: backend

backend/ench:vehicle image addition
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverProfileQuestions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Vehicle.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_registration_certificate.sql
Labels: backend

Backend/fix: cherry-pick fixes
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

Backend/enh: added summary to ticket bookings (#13120)
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/Tickets.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

Backend/fix: cherry-pick fixes
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

backend/added estimated toll charges in case of exit not found
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/TollsDetector.hs
Labels: backend

backend/enh/different-error-for-ride-accept
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestForDriverExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

backend toll/Charges enchancement
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Booking.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Estimate.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/ride.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DynamicPricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/TollsDetector.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/booking.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/estimate.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/ride.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request.sql
  Backend/lib/location-updates/src/Lib/LocationUpdates.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

backend/fix:Fix for 500 db error in updateFleetOwnerInfo api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0729-add-role-to-email-constraint.sql
Labels: backend

Revert "backend/fix:Fix for 500 db error in updateFleetOwnerInfo api"
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0729-add-role-to-email-constraint.sql
Labels: backend

backend/fix:Fix for 500 db error in updateFleetOwnerInfo api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0729-add-role-to-email-constraint.sql
Labels: backend

Revert "backend/fix:Fix for 500 db error in updateFleetOwnerInfo api"
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0729-add-role-to-email-constraint.sql
Labels: backend

Update CONFIG_URL_DRIVER to a specific URL
  Frontend/android-native/app/build.gradle
Labels: frontend, native

fix: toll issues
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/TollsDetector.hs
Labels: backend

Backend: ehnc - Value based split for multimodal booking
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/ParkingBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
Labels: backend

Backend/enh: added summary to ticket bookings (#13120)
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/Tickets.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

Backend: ehnc - Value based split for multimodal booking
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/ParkingBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
Labels: backend

backend/ench:vehicle image addition (#13185)
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverProfileQuestions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Vehicle.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_registration_certificate.sql
Labels: backend

backend/feat/Adding-Percentage-Vendor-Split-support
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VendorSplitDetails.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VendorSplitDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0546-vendor-split-details.sql
Labels: backend

backend/fix: subscriptoin-job-scheduling-race-condition-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
Labels: backend

backend/fix : yatri-rental-driver-fee-start-time-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
Labels: backend

backend/enh/show-same-route-during-ride
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Route.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
Labels: backend

backend/fix: Update analytics to include booking payment details in ride details and earnings calculations
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Analytics.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FleetOperatorStats.hs
Labels: backend
