Repository nammayatri/nammayatri, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, ui-common, native, driver, customer, backend

.github/labeler.yml:

frontend:
  - 'Frontend/**'

ui-common:
  - 'Frontend/ui-common/**'

native:
  - 'Frontend/android-native/**'

driver:
  - 'Frontend/ui-driver/**'

customer:
  - 'Frontend/ui-customer/**'

backend:
  - 'Backend/**'
  - '.github/workflows/nix.yaml'
  - '.github/workflows/nixCloud.yaml'

backend/enh/added-entityId-for-endRide-Distance-Calculation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
Labels: backend

fix: Update arrival and departure times to use real-time data for subway timings
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

fix: Update arrival and departure times to use real-time data for subway timings
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

fix: Update arrival and departure times to use real-time data for subway timings
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

fix: Update arrival and departure times to use real-time data for subway timings
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

backend/feat/msil: financial year earnings and tds deduction v2
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverWallet.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverWallet.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FinancialYearEarnings.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FinancialYearEarnings.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FinancialYearEarnings.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FinancialYearEarnings.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverWallet.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_wallet.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/financial_year_earnings.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0698-driver-wallet-local.sql
  Backend/dev/migrations/rider-app/1341-bus-booking-ebix.sql
Labels: backend

Revert "fix: Update arrival and departure times to use real-time data for sub…"
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

Revert "fix: Update arrival and departure times to use real-time data for sub…"
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

Revert "fix: Update arrival and departure times to use real-time data for sub…"
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

Revert "fix: Update arrival and departure times to use real-time data for sub…"
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

backend/fix/suburban-service-tier-race-condition
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

Frontend/YatriSathi - Bus Booking Fix
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

backend/enh/added-rideId-as-entityId-during-distanceCalculation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/ExotelEndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/BulkLocUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
Labels: backend

enahancement: Coupons
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

Backend/fix: added journey commencing hours
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Bus/EBIX/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Bus/EBIX/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Direct/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Direct/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Metro/CMRL/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Metro/CMRL/TicketStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Interface.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Subway.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Subway.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/rider-app/frfs_ticket.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
Labels: backend

enahancement: Coupons
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

enahancement: Coupons
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

Backend/fix/service_tier_bbsr
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

Backend/fix/service_tier_bbsr
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

enahancement: Coupons
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

enhancement: 2 tag validity and verify dashboard API
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/NammaTag.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_NammaTag.sql
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Tools/Utils.hs
Labels: backend

enhancement: Added Customer Notification for Offer
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  flake.lock
Labels: backend

enahancement: Coupons
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

enhancement: 2 tag validity and verify dashboard API
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/NammaTag.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_NammaTag.sql
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Tools/Utils.hs
Labels: backend

enahancement: Coupons
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

enahancement: Coupons
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

enahancement: Coupons
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

enahancement: Coupons
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

feat: Use Namma Tags with Modifier to Update the TagValue With Offer Code from Pool
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/TripTerms.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BookingLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TripTerms.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BookingLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BookingPartiesLink.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TripTerms.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BookingPartiesLink.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Yudhishthira.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Tools/Utils.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types/Application.hs
Labels: backend

enhancement: Added Customer Notification for Offer
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  flake.lock
Labels: backend

Backend:fixing-sanitization-of-url
  flake.lock
Labels: none

Backend:fixing-sanitization-of-url
  flake.lock
Labels: none

backend:updating-process-compose-with-new-version
  flake.lock
Labels: none

Backend/fix/service_tier_bbsr
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

Backend/fix/service_tier_bbsr
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

fix: cancellation-popup-icon-crop-issue-fixed
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

backend : merchant create changes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Merchant.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_Merchant.sql
Labels: backend

backend/enhc/gender-based-check-to-allow-direct-call
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/RiderDetails.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReferee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/BppTransactionJoin.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/rider_details.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

calling-option-issue-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

fix: Update estimated distance handling in OnUpdate to support distance unit conversion
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend
