Repository nammayatri/nammayatri, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, ui-common, native, driver, customer, backend

.github/labeler.yml:

frontend:
  - 'Frontend/**'

ui-common:
  - 'Frontend/ui-common/**'

native:
  - 'Frontend/android-native/**'

driver:
  - 'Frontend/ui-driver/**'

customer:
  - 'Frontend/ui-customer/**'

backend:
  - 'Backend/**'
  - '.github/workflows/nix.yaml'
  - '.github/workflows/nixCloud.yaml'

dashboard/feat/search-request-info-api
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/SearchRequest.yaml
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/RideBooking/SearchRequest.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/Endpoints/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/SearchRequestForDriver.hs
  Backend/dev/clickhouse/sql-seed/atlas-driver-offer-bpp-seed.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_RideBooking_SearchRequest.sql
Labels: backend

backend/feat/international: customer no show charges
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/UserCancellationDues.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Constants.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/ExecutePaymentIntent.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0718-dynamic-logic-for-user-no-show-cancellation-local.sql
  Backend/dev/migrations/rider-app/1470-cancellation-fee-stripe.sql
  Backend/dev/rest-client/dynamic-offer-driver-app/auto-flow.http
Labels: backend

backend/fix : fleet driver fee calc batching
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
Labels: backend

backend/fix : fleet driver fee calc batching
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
Labels: backend

feat: added dispatcher api and data flow
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/Dispatcher.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/DispatcherHistory.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/Dispatcher.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Dispatcher.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/DispatcherHistory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/DispatcherHistory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/DispatcherHistory.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Dispatcher.hs
  Backend/dev/migrations-read-only/rider-app/dispatcher_history.sql
Labels: backend

fix: vehicleDetails stuff and history changes
  Backend/app/rider-platform/rider-app/Main/spec/API/Dispatcher.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/DispatcherHistory.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Dispatcher.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/DispatcherHistory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/DispatcherHistory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/DispatcherHistory.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Dispatcher.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/API/Nandi.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
  Backend/dev/migrations-read-only/rider-app/dispatcher_history.sql
Labels: backend

fix: currentFleetInfo, added depotAdmin to authRes
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Dispatcher.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
Labels: backend

backend/fix: remove multipleRC field from driver registration and related verification processes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverRegistration.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/HyperVergeVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/IdfyVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/HyperVergeVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/IdfyVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/HyperVergeVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/IdfyVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/GstVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/HyperVergeWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/PanVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Document/VerificationRetry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
  Backend/hunit-tests/src/DriverDocumentUploadUnitTests.hs
Labels: backend

backend/enhancement : added api for aadhar and pancard removal and sending aadhar and pan details in Driver/info for dashboard
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/Driver.yaml
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Driver.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_RideBooking_Driver.sql
Labels: backend

backend/fix : Implemented Rate Limit on External API and Race Condition fix in SendManualPaymentLink Job
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPlanExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
Labels: backend

dashboard/feat/search-request-info-api
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/SearchRequest.yaml
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/RideBooking/SearchRequest.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/Endpoints/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/SearchRequestForDriver.hs
  Backend/dev/clickhouse/sql-seed/atlas-driver-offer-bpp-seed.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_RideBooking_SearchRequest.sql
Labels: backend

backend/refactor: add migration query for fleet_operator_daily_stats table with relevant columns
  Backend/dev/migrations/dynamic-offer-driver-app/0718-recreate-fleet-operator-daily-stats.sql
Labels: backend

backend/refactor: add migration query for fleet_operator_daily_stats table with relevant columns
  Backend/dev/migrations/dynamic-offer-driver-app/0718-recreate-fleet-operator-daily-stats.sql
Labels: backend

backend/enh/log-distance-travelled-during-ride
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

backend/fix : Implemented Rate Limit on External API and Race Condition fix in SendManualPaymentLink Job
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPlanExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
Labels: backend

dashboard/feat/search-request-info-api
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/SearchRequest.yaml
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/RideBooking/SearchRequest.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/Endpoints/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/SearchRequestForDriver.hs
  Backend/dev/clickhouse/sql-seed/atlas-driver-offer-bpp-seed.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_RideBooking_SearchRequest.sql
Labels: backend

backend/enhancement : added api for aadhar and pancard removal and sending aadhar and pan details in Driver/info for dashboard
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/Driver.yaml
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Driver.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_RideBooking_Driver.sql
Labels: backend

backend/fix/revert-is-advancedRideEnabled-flag-for-driver-pool
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
Labels: backend

backend/fix/Annoying access matrix fix
  Backend/app/dashboard/Lib/src/Storage/Beam/AccessMatrix.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/AccessMatrix.hs
Labels: backend

backend/feat: New City
  flake.lock
  flake.nix
Labels: none

Frontend: Added config for bharatTaxi
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
Labels: frontend, native

backend/business discount info fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
Labels: backend

backend/max estimated discount fix
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
Labels: backend

backend/business discount info fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
Labels: backend

backend/max estimated discount fix
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
Labels: backend

backend/fix store pass profile picture
  Backend/app/rider-platform/rider-app/Main/spec/API/Pass.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PurchasedPass.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PurchasedPass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PurchasedPass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PurchasedPassPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/PurchasedPass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PassVerifyTransaction.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PurchasedPass.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PurchasedPassPayment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
  Backend/dev/migrations-read-only/rider-app/purchased_pass.sql
Labels: backend

feat-added-get-api-for-tn-ega-to-get-booking-and-user-metrics
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API.hs
  Backend/app/rider-platform/rider-app/Main/src/API/FRFSMetrics.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/GetDailyMetrics.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Person.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

backend/international-fleet/feats
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociationExtra.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0720-adding-pn-for-driver-fleet-approval.sql
Labels: backend

backend/fix: remove wrong condition for bus pass application multimodal
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

flake update
  flake.lock
Labels: none

backend/fix: remove wrong condition for bus pass application multimodal
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

flake update
  flake.lock
Labels: none

feat-added-get-api-for-tn-ega-to-get-booking-and-user-metrics
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API.hs
  Backend/app/rider-platform/rider-app/Main/src/API/FRFSMetrics.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/GetDailyMetrics.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Person.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

backend/fix: Move purchase pass payment update outside of purchase pass table updates and do selectively
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PurchasedPass.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/PurchasedPassPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PurchasedPassPayment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Pass.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PurchasedPassExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PurchasedPassPaymentExtra.hs
Labels: backend

backend/fix/dont-allow-deactive-ghr-if-ride-already-inprogress
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

Backend: ehnc - short orderId in parking booking endpoint
  Backend/app/rider-platform/rider-app/Main/spec/API/Parking.yaml
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/ParkingBooking.hs
Labels: backend

Backend: ehnc - short orderId in parking booking endpoint
  Backend/app/rider-platform/rider-app/Main/spec/API/Parking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/ParkingBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/ParkingBooking.hs
Labels: backend

backend/fix/ticket_service_note_and_priority
  Backend/app/rider-platform/rider-app/Main/spec/API/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

Backend: ehnc - short orderId in parking booking endpoint
  Backend/app/rider-platform/rider-app/Main/spec/API/Parking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/ParkingBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/ParkingBooking.hs
Labels: backend

backend/fix/ticket_service_note_and_priority (#12989)
  Backend/app/rider-platform/rider-app/Main/spec/API/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend
