Repository nammayatri/nammayatri, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, ui-common, native, driver, customer, backend

backend/fix: fixed build
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
Labels: backend

backend/fix:disabling-timetable-in-direct-subway-booking-optional
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

backend/fix: remove redundant user action type from access matrix
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_Tickets.sql
Labels: backend

backend/cancellation charges dues json logic added
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/EditBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/UserCancellationDues.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
Labels: backend

backend/fix:added ride request volume to driver info resp
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

backend : merchant create changes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Merchant.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_Merchant.sql
Labels: backend

backend/cancellation charges dues json logic added
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/EditBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/UserCancellationDues.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
Labels: backend

enh:enahcing single mode suburban booking
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
Labels: backend

backend : merchant create changes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Merchant.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_Merchant.sql
Labels: backend

Backend/enhc: increase cris booking timeout to 60s
  Backend/app/rider-platform/rider-app/Main/src/App.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Metrics.hs
Labels: backend

Backend/enhc: increase cris booking timeout to 60s
  Backend/app/rider-platform/rider-app/Main/src/App.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Metrics.hs
Labels: backend

backend/fix/fare_calc_rental_bug
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

backend/fix/fare_calc_rental_bug
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

Backend/ref/odisha_allPosibbleEndStops_from_Stop_with_differentCodes
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

backend : merchant create changes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Merchant.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_Merchant.sql
Labels: backend

Backend/ref/odisha_allPosibbleEndStops_from_Stop_with_differentCodes
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

Added-final-boarded-busNumber-in-journeyLeg
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
Labels: backend

fix: remove old widget service
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/WidgetService.java
Labels: frontend, native

backend/fix: remove redundant user action type from access matrix
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_Tickets.sql
Labels: backend

backend/fix/main-frfsticketbooking-routeStations-null-parse-issue
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSVehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSVehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Metro/CMRL/FareByOriginDest.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/dev/migrations-read-only/rider-app/frfs_search.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/frfs_vehicle_service_tier.sql
Labels: backend

backend/enh/ticketing: boat dashboard changes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBookingInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetBookingAssignmentsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetBookingInformationExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_booking_assignments.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_booking_information.sql
Labels: backend

backend/enh: boating v2
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBookingInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetBookingAssignmentsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetBookingInformationExtra.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_booking_information.sql
Labels: backend

backend/fix: dashboard ticket booking
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/Tickets.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_Tickets.sql
Labels: backend

backend/feat/dashboard_ticketing
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/Tickets.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/TicketBooking.hs
  Backend/dev/migrations-read-only/rider-app/ticket_booking.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_Tickets.sql
Labels: backend

backend/fix: remove redundant user action type from access matrix
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_Tickets.sql
Labels: backend

dashboard/ticketing: bpp side fixes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBookingInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FleetBookingAssignments.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/FleetBookingInformation.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_booking_assignments.sql
Labels: backend

backend/enh: dashboard ticketing
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/Tickets.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBookingInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/FleetBookingInformation.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_booking_information.sql
  Backend/dev/migrations-read-only/rider-app/ticket_booking.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_Tickets.sql
Labels: backend

backend/fix/main-frfsticketbooking-routeStations-null-parse-issue
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSVehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSVehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Metro/CMRL/FareByOriginDest.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/dev/migrations-read-only/rider-app/frfs_search.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/frfs_vehicle_service_tier.sql
Labels: backend

enh:enahcing single mode suburban booking
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
Labels: backend

backend/added missed logic domain
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
Labels: backend

backend/added missed logic domain
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
Labels: backend

Backend/ref/odisha_allPosibbleEndStops_from_Stop_with_differentCodes
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

Backend/ref/odisha_allPosibbleEndStops_from_Stop_with_differentCodes
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

frontend/fix/adhar-dl-name-mismatch-error
  Frontend/android-native/app/src/driver/marutiSuzukiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/marutiSuzukiDriver/res/layout/sheet_view.xml
  Frontend/android-native/app/src/main/assets/juspay/becknbase.html
  Frontend/android-native/app/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MobilityServices.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/res/layout/activity_ride_request.xml
  Frontend/android-native/mobility-common/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/RegistrationScreenV2/View.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, driver

fix: remove old widget service
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/WidgetService.java
Labels: frontend, native

backend/fix/main-frfsticketbooking-latency-issue
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

backend/fix:added ride request volume to driver info resp
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

frontend/fix/adhar-dl-name-mismatch-error
  Frontend/android-native/app/src/driver/marutiSuzukiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/marutiSuzukiDriver/res/layout/sheet_view.xml
  Frontend/android-native/app/src/main/assets/juspay/becknbase.html
  Frontend/android-native/app/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MobilityServices.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/res/layout/activity_ride_request.xml
  Frontend/android-native/mobility-common/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/RegistrationScreenV2/View.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, driver

backend/feat : Adding RC for new Driver by checking past Rides
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/RideDetails.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/RideDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/RideDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideDetailsExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/ride_details.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

Backend/voip Bap integration
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/package.yaml
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
Labels: backend

.github/labeler.yml:

frontend:
  - 'Frontend/**'

ui-common:
  - 'Frontend/ui-common/**'

native:
  - 'Frontend/android-native/**'

driver:
  - 'Frontend/ui-driver/**'

customer:
  - 'Frontend/ui-customer/**'

backend:
  - 'Backend/**'
  - '.github/workflows/nix.yaml'
  - '.github/workflows/nixCloud.yaml'
