Repository nammayatri/nammayatri, pull requests merged in 2023-07, with the labels that each got.

#1451 frontend/feat: #1450 Added Intelligent chat suggestions for driver
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: enhancement, frontend

#850 frontend/#668/driver-leaderboard
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_calendar_blue.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_chevron_up_blue.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_crown.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_general_profile.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_leaderboard_no_data.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_rank1.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_rank2.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_rank3.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_reward.png
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Components/BottomNavBar/Controller.purs
  Frontend/ui-driver/src/Components/BottomNavBar/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/Styles/Color.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Handler.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/APITypes.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#1465 backend/feat:#130 Added support to connect to another s3 bucket
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/dhall-configs/dev/common.dhall
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/secrets/common.dhall
  Backend/lib/beckn-services/src/AWS/S3/Types.hs
Labels: backend

#1486 frontend/#668/driver leaderboard changes
  Frontend/ui-driver/src/Screens/ReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
Labels: frontend

#1491 frontend/#668/fixed UI issue and languages
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#1507 frontend/fix: #1506 suggestions decoding fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/ChatService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MessageOverlay.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/Engineering/Helpers/Suggestions.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: bug, frontend

#1445 frontend/fix/#1433:BugFixes_for_regression_testing_bug_sheet
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ContactUsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ContactUsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/View.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/Controller.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#1493 Frontend/fix: #1492 Refresh-flow bugfix
  Frontend/ui-customer/index.js
Labels: frontend

#1336 Frontend/fix/1323 Driver sorted trips bug fix
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
Labels: frontend

#1334 backend/fix/#1165-added no of deviation in ride table
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/SearchRequestRoute.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestRoute.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestRoute.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Tabular/Ride/Table.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Search.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0202-add-num-deviation-in-ride-table.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Search.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
Labels: backend

#1501 frontend/fix/1497 : waiting timer and share app issue fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/ui-customer/src/Flow.purs
Labels: frontend

#1526 Frontend/fix: #1471 added null check for layout
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
Labels: frontend

#1485 frontend/feature/#1063 added clevertap func for events with params
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
Labels: frontend

#1484 frontend/fix: #1483 iOS chat bug fixes
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Engineering/Helpers/Suggestions.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: bug, frontend

#1429 (WIP)Frontend/feature/#1277 add gender and alternate number flow
  Frontend/ui-common/src/Components/PrimaryEditText/View.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Handler.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#1548 frontend/fix/#1547 fix delete account ios bug
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
Labels: frontend

#1554 Fronten/Fix Added the code for Loading Emergency Contacts
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/ContactList/ContactList.purs
  Frontend/ui-customer/src/Components/ContactList/Controller.purs
  Frontend/ui-customer/src/Components/ContactList/View.purs
  Frontend/ui-customer/src/Components/NewContact/Controller.purs
  Frontend/ui-customer/src/Components/NewContact/NewContact.purs
  Frontend/ui-customer/src/Components/NewContact/view.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: bug, frontend

#1166 frontend/fix/#1165 added driver location deviation service
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/LocationUpdateService.java
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Services/APITypes.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend

#1610 frontend/fix/1608 driver fix for showDialer
  Frontend/ui-driver/src/Screens/ApplicationStatusScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Controller.purs
Labels: bug, frontend

#1408 frontend/fix: #1406 added pincode in overlay sheet
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/OverlaySheetService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/RideRequestActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/SheetAdapter.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/SheetModel.java
  Frontend/android-native/app/src/main/res/layout/sheet_view.xml
Labels: enhancement, frontend

#1568 frontend/fix/#1567:Add_dragdown_refresh_to_update_the_rankings_page
  Frontend/ui-driver/src/Screens/ReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
Labels: bug, frontend

#1587 frontend/fix: #1584 Message Overlay Bug Fixes
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/ChatService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/InAppNotification.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MessageOverlay.java
  Frontend/android-native/app/src/main/res/layout/message_sheet.xml
  Frontend/android-native/app/src/main/res/values-bn/strings.xml
  Frontend/android-native/app/src/main/res/values-hi/strings.xml
  Frontend/android-native/app/src/main/res/values-kn/strings.xml
  Frontend/android-native/app/src/main/res/values-ml/strings.xml
  Frontend/android-native/app/src/main/res/values-ta/strings.xml
  Frontend/android-native/app/src/main/res/values/strings.xml
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/Engineering/Helpers/Suggestions.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: bug, frontend

#1498 frontend/fix/#1063: basic integration for clevertap nammayatripartner
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SelectLanguageScreen/Controller.purs
  Frontend/ui-driver/src/Services/APITypes.purs
Labels: frontend

#1438 Added the code for checking the inaccurate date and time in the drive…
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_app_date_and_time.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_app_date_and_time.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_app_date_and_time.png
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/ModifyScreenTypes.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/APITypes.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: bug, frontend

#1668 frontend/fix: #1667 messages disappearing fix
  Frontend/android-native/app/src/main/AndroidManifest.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/ChatService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MessageOverlayService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MyFirebaseMessagingService.java
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
Labels: bug, frontend

#1647 frontend/fix/#668:Driver_leaderBoard_removed_coming_soon
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
Labels: frontend

#1722 frontend/fix/#1660/BugsInGenderCaptureFlowDriverSide
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/View.purs
Labels: frontend

#1721 frontend/fix/#1718:banner_content_display_issue
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
Labels: bug, frontend

#1731 frontend/fix/#1726:multiple_times_backpress_issue_while_adding_altern…
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/Handler.purs
Labels: bug, frontend

#1760 frontend/fix/#1683:cancel_ride_screen_backpress_issue
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Handler.purs
Labels: bug, frontend

#991 Frontend/fix :890 Ride end screen UI changes
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ic_headphone_white.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ic_headphone_white.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/res/drawable/ic_headphone_white.png
  Frontend/ui-common/src/Font/Size.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/RatingCard/Controller.purs
  Frontend/ui-customer/src/Components/RatingCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Resources/Styles/Colors.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#1470 frontend/fix/#1444 enable carosal for IOS
  Frontend/ui-customer/src/MerchantConfigs/Utils/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/EnterMobileNumberScreen/Controller.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/WelcomeScreen/View.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
  Frontend/ui-driver/src/Screens/EnterOTPScreen/Controller.purs
Labels: frontend

#1738 frontend/fix/bug fixes for language
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: bug, frontend

#1573 frontend/fix/1572 share-app-bug-fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/View.purs
Labels: bug, frontend

#1778 frontend/fix/ios_bugfixes2
  Frontend/ui-customer/src/Components/RateCard/View.purs
Labels: bug, frontend

#1781 frontend/fix: #1780 iOS regression bug fixes
  Frontend/ui-common/src/Components/MenuButton/View.purs
  Frontend/ui-common/src/Components/SelectListModal/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SelectLanguageScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/View.purs
  Frontend/ui-customer/src/Strings/KN.js
Labels: bug, frontend

#1794 frontend/fix/ios_bugfixes
  Frontend/ui-customer/src/Components/RatingCard/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ContactUsScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/View.purs
Labels: bug, frontend

#1834 Frontend/aadhaar upload optional
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/AadhaarVerificationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AadhaarVerificationScreen/Handler.purs
  Frontend/ui-driver/src/Screens/AadhaarVerificationScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend

#1838 Frontend/aadhaar upload optional
  Frontend/ui-driver/src/Flow.purs
Labels: frontend

#1886 Frontend/Fix Resolved the bugs for Inaccurate date and time
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/Handler.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
Labels: bug, frontend

#1793 frontend/fix: #1792 driver_crashlytics_fixes
  Frontend/android-native/app/src/main/AndroidManifest.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/ChatService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/GPSBroadcastReceiver.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/InAppNotification.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/LocationUpdateService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/OverlaySheetService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/RideRequestActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/WidgetService.java
Labels: bug, frontend

#1847 Frontend/fix: #890 Removed header views from RideEndScreen
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend

#1900 frontend/fix/ios_bugfixes
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Components/RatingCard/View.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: bug, frontend

#1823 frontend/fix/#1736/frontEnd-bug-fixes
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/JatriSaathiConfig.js
  Frontend/ui-customer/src/MerchantConfigs/NammaYatriConfig.js
  Frontend/ui-customer/src/MerchantConfigs/YatriConfig.js
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/Handler.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/EnterMobileNumberScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/Utils/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend

#1939 frontend/fix: #1937: customer crashlytics fixes
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/ChatService.java
Labels: bug, frontend

#1644 frontend/feat: #1642 chat notification enhancement
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_driver_profile.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_driver_profile.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_driver_profile.png
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_driver_profile.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_driver_profile.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_driver_profile.png
Labels: enhancement, frontend

#1944 frontend/fix: #1943 iOS bug fixes
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: bug, frontend

#1447 frontend/#1364/special zone for all merchant, refactor locate on map, reduce placeName api calls, ......
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_zone_pickup_marker_yellow.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_zone_walk.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_zone_pickup_marker_yellow.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_zone_walk.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_zone_pickup_marker_yellow.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_zone_walk.png
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/Engineering/Helpers/Suggestions.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/NammaYatriConfig.js
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideDetailScreen/Controller.purs
Labels: frontend

#1583 frontend/fix/ Customer feedback pills
  Frontend/ui-customer/src/Components/RatingCard/Controller.purs
  Frontend/ui-customer/src/Components/RatingCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#2016 frontend/fix/#1277-driver profile fixes
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_silhouette.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_silhouette.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_silhouette.png
  Frontend/ui-driver/src/MerchantConfigs/JatriSathiConfig.js
  Frontend/ui-driver/src/MerchantConfigs/NammaYatriPartnerConfig.js
  Frontend/ui-driver/src/MerchantConfigs/Utils/Utils.js
  Frontend/ui-driver/src/MerchantConfigs/YatriPartnerConfig.js
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#1848 Frontend/feat/multiple rc
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_activate.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_bin.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_deactivate.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_activate.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_bin.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_deactivate.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_activate.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_bin.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_deactivate.png
  Frontend/ui-common/src/Components/PopUpModal/Controller.purs
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-driver/spago.dhall
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/Utils/Utils.js
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/Handler.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Handler.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Accessor.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#2022 frontend/fix/#1277 Added Profile Summary API integration
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Handler.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Accessor.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend

#2073 frontend/fix: #2004 notification fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
Labels: frontend
