Repository nammayatri/nammayatri, pull requests merged in 2023-05, with the labels that each got.

#747 frontend/fix #746-Made default show route option after ride started
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
Labels: frontend

#723 backend/feat#714-adding-customer-dtmf-call-flow
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/CallStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Tabular/CallStatus.hs
  Backend/dev/migrations/rider-app/1110-add-columns-for-customer-calling-with-alternate-number.sql
Labels: backend

#564 backend/feature: Signature Auth SDK
  Backend/app/rider-platform/rider-app/Main/package.yaml
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/RegistrationToken.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RegistrationToken.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Tabular/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/SignatureAuth.hs
  Backend/default.nix
  Backend/dev/migrations/rider-app/1110-merchant-signature.sql
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#557 frontend/feat: #518 Integrating Facebook SDK
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/main/AndroidManifest.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
Labels: enhancement, frontend

#773 frontend/fix/770/add confirm popUp on homescreen customer support
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend

#821 frontend/fix: fix errors coming from ps15 changes
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MyFirebaseMessagingService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
  Frontend/ui-customer/src/Resources/Localizable/Language/EN.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-driver/cleanSpago.sh
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend

#787 Frontend/fix: #786 Fixed increase volume issue customer side
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
Labels: frontend

#789 frontend/fix: #788 fixed update button in my profile screen
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
Labels: frontend

#726 Frontend/fix/Text-Updates
  Frontend/ui-customer/src/Resources/Localizable/Language/EN.purs
Labels: frontend

#660 frontend/fix: #659 Fixed missing timestamps in firestore
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/ChatService.java
Labels: frontend

#609 frontend/#608/event for active ride with idle status
  Frontend/ui-customer/src/Flow.purs
Labels: frontend

#571 [WIP]: frontend/feat/#570 - Share Ride Functionality
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend

#824 Frontend/fix/add popup in contact support
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend

#830 frontend/fix/829/bug fix for emergency contact
  Frontend/ui-customer/src/Helpers/Utils.js
Labels: frontend

#839 Frontend/fix/#838/Gradle Version Update
  Frontend/android-native/app/build.gradle
  Frontend/android-native/build.gradle
  Frontend/android-native/gradle/wrapper/gradle-wrapper.properties
Labels: enhancement, frontend

#835 frontend/fix Added check for null pointer exceptions
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
Labels: frontend

#875 backend/fix/adding-active-booking-check-for-dtmf
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
Labels: backend

#825 Frontend/fix/#780/UI changes rate card
  Frontend/android-native/app/src/user/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/res/drawable/ny_ic_driver_addition_table.png
  Frontend/ui-customer/src/Components/RateCard/Controller.purs
  Frontend/ui-customer/src/Components/RateCard/View.purs
  Frontend/ui-customer/src/Resources/Localizable/Language/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/Language/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/Language/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend

#847 frontend/fix: #846 Added sound at silent ride request notification
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/WidgetService.java
  Frontend/android-native/app/src/main/res/raw/silent_mode_notification_sound.mp3
Labels: frontend

#942 frontend/fix/#941: fixed confirm pickup missing stage for source chos…
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend

#909 frontend/fix:#908 fixed the customer invoice
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/res/layout/invoice_template.xml
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#705 backend/feat: #681 pass waypoints to the approxTraveledDistance calcu…
  Backend/app/mocks/google/src/API/SnapToRoad.hs
  Backend/app/mocks/google/src/Domain/Types/MockPlace.hs
  Backend/app/mocks/google/src/Environment.hs
  Backend/app/mocks/google/src/MockData/SnapToRoad.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
  Backend/dev/migrations/rider-app/1112-added-merchant-configuration-table.sql
  Backend/dev/migrations/rider-app/1115-added-merchant-config-rule-id-in-person.sql
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/merchant.http
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/mock-google.dhall
  Backend/dhall-configs/dev/provider-dashboard.dhall
  Backend/dhall-configs/dev/public-transport-rider-platform.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/dhall-configs/dev/rider-dashboard.dhall
  Backend/dhall-configs/dev/static-offer-driver-app.dhall
  Backend/lib/location-updates/src/Lib/LocationUpdates.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  Backend/lib/location-updates/test/src/API.hs
  Backend/lib/location-updates/test/src/RedisAlgorithm.hs
  Backend/lib/location-updates/test/src/Utils.hs
Labels: enhancement, backend

#997 backend/feat: #986 callback request api
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Support.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Support.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/CallbackRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/CallbackRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Tabular/CallbackRequest.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0165-added-driver-stats-and-config.sql
  Backend/dev/migrations/rider-app/1117-calback-request-table.sql
  Backend/dev/rest-client/rider-app/support.http
Labels: backend

#1055 frontend/feat: #1041 Added driver enabled event
  Frontend/ui-driver/src/Flow.purs
Labels: enhancement, frontend
