Repository nammayatri/nammayatri, pull requests merged in 2023-08, with the labels that each got.

#2048 frontend/#1983/fixed map and lottie issue
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/res/drawable/ny_ic_zone_pickup_marker_yellow.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_zone_pickup_marker_yellow.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_zone_pickup_marker_yellow.png
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend

#2179 frontend/fix: #2096 multiple_rc_bug_fixes
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
Labels: bug, frontend

#2224 frontend/fix: #2223 Multiple Messages Fix
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ChatService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-common/src/LoaderOverlay/View.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: bug, frontend

#2196 frontend/feat/added imp clevertap events
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
Labels: frontend

#2230 frontend/fix: #2223 Multiple Messages Fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/ChatService.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: bug, frontend

#2251 frontend/fix: #2223 Multiple Messages Fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/ChatService.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: bug, frontend

#2325 frontend/fix: #2309 fixed design review issues
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/FR.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#2253 frontend/fix: #2223 Multiple Messages Fix
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: bug, frontend

#2395 backend/feat/#2356-whatsapp-otp-message
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Whatsapp.hs
  Backend/dev/migrations/rider-app/1151-configuration-update-whatsapp-gupshup.sql
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: enhancement, backend

#2079 frontend/fix/#1980: fixed invoice issue
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend

#2352 frontend/fix/#2351 Bug Fixes for NY and Yatri
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ic_no_quotes.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_no_quotes_color.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ic_no_quotes.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_no_quotes.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/res/drawable/ic_no_quotes.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ic_no_quotes_color.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ic_share_app.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_no_quotes.png
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ChatService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GpsListeningService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetModel.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
  Frontend/ui-common/src/Components/PrimaryButton/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Components/IndividualRideCard/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/Controller.purs
Labels: frontend

#2402 frontend/#2096/temp fixed vehicle type issue
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
Labels: frontend

#2408 frontend/#2096/fixed missing rc detial issue
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend

#2458 Frontend/fix: #2319 Backpress fix
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
Labels: frontend

#2457 backend/fix/#2455-Booking_otp_message_not_sent_when_booking_the_ride_…
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/SMS.hs
Labels: bug, backend

#2448 backend/feat/#2447-plan_translations
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/PlanTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/PlanTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/PlanTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PlanTranslation.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0228-plan-translations.sql
Labels: enhancement, backend

#2427 frontend/fix/#2351 Fix for log pusher
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
Labels: frontend

#2465 frontend/#2096/fixed driver profile and rc issues
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/FR.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#2514 frontend/feat 2513 driver image added
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/src/Components/AddImagesModel/View.purs
  Frontend/ui-driver/src/Components/NotificationDetailModel/View.purs
  Frontend/ui-driver/src/Components/ViewImageModel/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend

#2563 Frontend/fix: #2546 location fix for Namma yatri
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
Labels: frontend

#2522 Frontend/feat: #2464 Added support for global config
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/ui-common/src/Engineering/Helpers/FileProvider/Utils.js
  Frontend/ui-common/src/Engineering/Helpers/FileProvider/Utils.purs
  Frontend/ui-common/src/Engineering/Helpers/Utils.js
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-common/src/Engineering/Strings/Constants.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AboutUsScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ContactUsScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/Handler.purs
  Frontend/ui-driver/src/Screens/SelectLanguageScreen/Handler.purs
Labels: frontend

#2578 frontend/fix/release_unification_to_main_branch
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_driver_near_auto.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_driver_started_auto.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_driver_near_auto.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_driver_started_auto.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_driver_near_auto.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_driver_started_auto.png
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
  Frontend/ui-driver/index.js
Labels: bug, frontend

#2610 frontend/#1980/increased map accessibility area and changed debounce …
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend

#2661 frontend/fix: #2309 fixed bugs in YS
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend

#2643 frontend/fix: #2223 Improved Chat Performance
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ChatService.java
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/ChatView/Controller.purs
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: bug, frontend

#2667 Frontend/fix: #2546 payment history screen fix
  Frontend/ui-driver/index.js
  Frontend/ui-driver/spago.dhall
  Frontend/ui-driver/src/Components/PaymentHistoryModel/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/ApplicationStatusScreen/View.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/View.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend

#2728 Frontend/fix/#506/device token
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend

#2735 frontend/#2096/on navigation bug fixes
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend

#2760 frontend/feat/ #2759 Initiating PP only when it required.
  Frontend/android-native/app/src/main/res/raw/primary_button_loader_white.json
  Frontend/ui-common/src/Components/PrimaryButton/Controller.purs
  Frontend/ui-common/src/Components/PrimaryButton/View.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/ApplicationStatusScreen/View.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/View.purs
Labels: frontend

#2798 frontend/feat/vehicleVariant-color-changes
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/res/values/colors.xml
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
Labels: frontend

#2803 Frontend/fix: #2546 Reverted PP Initiate Changes
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Main.purs
Labels: frontend

#2806 frontend/fix: #2767 updated default quote as 1st quote in sorted quoteList
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend

#2819 frontend/fix #2513 driver prof image fixed
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Handler.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend

#2791 frontend/#2470/scroll view focus on selected child
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend
