Repository nammayatri/nammayatri, pull requests merged in 2023-12, with the labels that each got.

#4556 backend/fix:query fix ys
  Backend/dev/migrations/dynamic-offer-driver-app/0309-enable-yatri-saath-in-subscription-flow.sql
Labels: backend

#4557 backend/feat/Storage complex types and create query
  Backend/app/alchemist/src/Alchemist/DSL/Parser/API.hs
  Backend/app/alchemist/src/Alchemist/DSL/Parser/Storage.hs
  Backend/app/alchemist/src/Alchemist/DSL/Syntax/Storage.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/BeamQueries.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/DomainType.hs
  Backend/app/alchemist/src/Alchemist/Generator/Purs/Backend.hs
  Backend/app/alchemist/src/Alchemist/Generator/Purs/Endpoint.hs
  Backend/app/alchemist/src/Alchemist/Utils.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
Labels: backend

#4558 backend/feat/Adding complex type imports to beam files
  Backend/app/alchemist/src/Alchemist/DSL/Parser/API.hs
  Backend/app/alchemist/src/Alchemist/DSL/Parser/Storage.hs
  Backend/app/alchemist/src/Alchemist/Utils.hs
Labels: backend

#4562 frontend/feat: Handle multiple config listener creation and JBridge options
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RemoteConfigs/MobilityRemoteConfigs.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/services/MobilityAppUpdate.java
Labels: frontend, native

#4565 hotfix : frontend/fix Translations fixes for Customer
  Frontend/ui-common/src/MerchantConfig/Utils/Utils.js
  Frontend/ui-customer/src/Components/CommonComponentConfig.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/EmergencyHelp/View.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AboutUsScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReferralScreen/View.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/View.purs
  Frontend/ui-driver/src/Screens/NoInternetScreen/View.purs
Labels: frontend, ui-common, customer, driver

#4566 frontend/#2031/config translation fixes for driver
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/AboutUsScreen/View.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/ApplicationStatusScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/View.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
Labels: frontend, driver

#4568 frontend/refactor: refactoring current ride flow in ride booking
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Log.purs
  Frontend/ui-customer/src/Helpers/Storage/Flow/SearchStatus.purs
  Frontend/ui-customer/src/Helpers/Version.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-customer/src/Services/Accessor.purs
Labels: frontend, ui-common, customer

#4540 reduce blast raduis and removing io thread
  Backend/lib/utils/package.yaml
  Backend/lib/utils/src/Utils/Common/Events.hs
  Backend/lib/utils/utils.cabal
Labels: backend

#4572 frontend/fix: #3525- feedback string fix
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
Labels: frontend, native, customer

#4551 Backend/fix/coins-8-plus-rides-and-negative-coin-conversion-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#4576 Backend/fix/snap-calls-record
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#4585 frontend/fix: fix clevertap events issue with Effect function
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Log.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, customer, driver

#4590 backend/fix/intelligent-pool-migrations.
  Backend/dev/migrations/dynamic-offer-driver-app/0310-Intelligent-pooling-numRide-changes.sql
Labels: backend

#4591 backend/readme: Run nix-health right after install
  Backend/README.md
Labels: backend

#4485 Backend/fix/prodcuer-fix-inserting-streams-in-fork
  Backend/lib/producer/src/Producer/Flow.hs
Labels: backend

#4586 frontend/fix: 3525-disability banner storage updation issue fix
  Frontend/ui-customer/src/Helpers/Storage/Flow/SearchStatus.purs
Labels: frontend, customer

#4598 frontend/fix: added translation support for ride request activity
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
Labels: frontend, native

#4595 frontend/#4578- Customer - UI-BugFixes
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, ui-common, customer

#4600 frontend/enhancement Update hyper-sdk to version 2.1.20-nammayatri.11
  Frontend/android-native/app/build.gradle
  Frontend/android-native/mobility-app/build.gradle
  Frontend/android-native/mobility-common/build.gradle
  Frontend/android-native/mobility-customer/build.gradle
  Frontend/android-native/mobility-driver/build.gradle
  Frontend/packages.dhall
  Frontend/ui-customer/package.json
  Frontend/ui-driver/package.json
Labels: frontend, native, customer, driver

#4602 Backend/enhance/updating-deviation-on-bulk-location-update
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#4608 Backend/fix/route-api-call-placement-change
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#4612 backend/readme: Use nixos.asia links
  Backend/README.md
Labels: backend

#4614 Frontend/fix: #4613 Added waiting charges messaging in ride end screen [USER SIDE]
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Strings.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Services/Accessor.purs
Labels: frontend, customer

#4594 backend/enhacement/consider-special-zone-charges-in-free-trial
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/PaymentNudge.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0309-enable-yatri-saath-in-subscription-flow.sql
  Backend/dev/migrations/dynamic-offer-driver-app/311-ys-merger-configs.sql
Labels: backend

#4619 frontend/fix: 1410 fixed driver info card banner in iOS
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/EnterMobileNumberScreen/ComponentConfig.purs
Labels: frontend, native, customer, driver

#4621 frontend/#4620- fixed payment page not getting removed issue and tick…
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Payment/PaymentPage.js
Labels: frontend, ui-common

#4628 frontend/fix: enable geocoder with full address name fix
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/GeoCoderHelper.java
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, native, customer

#4136 backend/feat/transfer_revenue_apis_to_ckh
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Revenue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Revenue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFee.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  flake.lock
Labels: backend

#4631 frontend/fix: 1410 Fix for repeat rides getting cleared and yatri bugs
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
Labels: frontend, native, customer

#4635 frontend/feat: #3591 Disable Chat Suggestions
  Frontend/ui-common/src/Components/ChatView/Controller.purs
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, ui-common, customer, driver

#4616 frontend/feat Introducing Female mascot on the Drivers App
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_general_profile.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_profile_female.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_general_profile_female.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_generic_mascot.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_profile_female.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_rank1_female.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_rank2_female.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_rank3_female.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_profile_female.png
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, native, customer, driver

#4634 frontend/fix: enhancing logic for address translations using geocoder
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GeoCoderHelper.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/TranslatorMLKit.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, native, ui-common, driver

#4643 backend/fix : overlapping migrations
  Backend/dev/migrations/dynamic-offer-driver-app/0314-ys-transporter-config-update.sql
Labels: backend

#3955 backend/feat/#8859 : Added Night Safety Check.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReferee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Ride/Table.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RiderDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Support.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Support.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0280-add-safetyAlertTrigered-to-ride.sql
  Backend/dev/migrations/rider-app/1171-add-safety-check-status-to-ride-table.sql
  Backend/lib/beckn-spec/beckn-spec.cabal
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Customer.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Confirm.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/OnUpdate/OnUpdateEvent.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/OnUpdate/OnUpdateEvent/OnUpdateEventType.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/OnUpdate/OnUpdateEvent/SafetyAlertEvent.hs
Labels: backend

#4331 backend/feat/added inital script for load test
  Backend/.gitignore
  Backend/README.md
  Backend/load-test/.env
  Backend/load-test/README.md
  Backend/load-test/createDrivers.py
  Backend/load-test/requirements.txt
  Backend/load-test/scripts/driverOffer.py
  Backend/load-test/scripts/riderApp.py
  Backend/load-test/services/shareOTP.py
  Backend/load-test/setup.sh
  Backend/load-test/setup/auth.py
  Backend/load-test/setup/locationUpdateService.py
  Backend/nix/scripts.nix
Labels: backend

#4599 backend: City list API extra information
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/City.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/City.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantOperatingCity.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0313-city-list-addition.sql
Labels: backend

#4651 backend:flake-update fixed epoch conversion
  Backend/dev/migrations/dynamic-offer-driver-app/0314-slab-fare-platform-charge.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0315-ys-transporter-config-update.sql
  flake.lock
Labels: backend

#4653 backend: City list API extra information
  Backend/dev/migrations/dynamic-offer-driver-app/0313-city-list-addition.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0315-city-list-addition.sql
Labels: backend

#4655 Backend/feat/get-referred-drivers-api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Referral.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Instances/DriverInformation.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0313-city-list-addition.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0316-added-total-referred-in-di.sql
Labels: backend

#4656 Backend/fix/driver-referral-api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Referral.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation.hs
Labels: backend

#4500 Frontend/fix: #4482 Subscription Changes for YSD
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_dues_pending.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_clear_dues.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_clear_dues_banner.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/layout/splash.xml
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/raw/ny_ic_subscription_info_01.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/raw/ny_ic_subscription_info_bengali_01.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/raw/ny_ic_subscription_info_hindi_01.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GpsListeningService.java
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Components/DueDetailsList/View.purs
  Frontend/ui-driver/src/Components/MenuButton/Controller.purs
  Frontend/ui-driver/src/Components/MenuButton/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/View.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/Handler.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/View.purs
  Frontend/ui-driver/src/Screens/PaymentHistoryScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/PaymentHistoryScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/PaymentHistoryScreen/View.purs
  Frontend/ui-driver/src/Screens/PermissionsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/PermissionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/PermissionsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/PermissionsScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/View.purs
  Frontend/ui-driver/src/Screens/SelectLanguageScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SelectLanguageScreen/View.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, native, driver

#4657 backend: Enhanced version type
  Backend/test/src/Mobility/AppBackend/Fixtures.hs
  flake.lock
Labels: backend

#3874 frontend/fix:bugfixes for nammayatri
  Frontend/ui-customer/src/Components/SearchLocationModel/Controller.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#4658 frontend/fix: #4641 fixed otp cropping issue added horizontal scroll …
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
Labels: frontend, ui-common, customer, driver

#4648 frontend/enhancement-added mobility prelude
  Frontend/ui-common/src/Engineering/Helpers/MobilityPrelude.purs
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Helpers/Log.purs
  Frontend/ui-customer/src/Helpers/Storage/Flow/SearchStatus.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/View.purs
Labels: frontend, ui-common, customer, driver

#4383 backend/fix/planActivatedForTheDay-Overlay-fix-to-send-overlay-by-con…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/PaymentNudge.hs
Labels: backend

#4606 backend/fix/fix-for-calculation-of-manual-dues-in-invoice-generated-s…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/PaymentNudge.hs
Labels: backend

#4603 backend/fix/dashboard-sendSms-subscription-fix-for-message-key-in-api…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#4660 backend/feat: added merchant city list for dashboard
  Backend/app/dashboard/Lib/src/API/Dashboard/AccessMatrix.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/AccessMatrix.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Merchant.hs
Labels: backend

#4639 frontend/feat: #3591 Disable Chat Suggestions
  Frontend/ui-common/src/Components/ChatView/Controller.purs
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, ui-common, customer, driver

#4662 Backend/fix/migration-fix-platform-fee-charge-and-ticket
  Backend/dev/migrations/dynamic-offer-driver-app/0314-slab-fare-platform-charge.sql
  Backend/dev/migrations/rider-app/1194-tickets.sql
Labels: backend

#4667 backend/refractor: removed previous version of ticket booking service
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Delete.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Update.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Delete.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Update.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketBookingServicePriceBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketServicePrice.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketBookingServicePriceBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketServicePrice.hs
  Backend/dev/migrations/rider-app/1197-modifying-ticket-booking-system-data.sql
Labels: backend

#4674 frontend/fix: 1410 Fixed issue in driver info card view
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#4676 Backend/fix/coin-conversion-rate
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
Labels: backend

#4670 frontend/enhancement waiting charges visibility for customer
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/RateCard/Controller.purs
  Frontend/ui-common/src/Components/RateCard/View.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, ui-common, customer

#4677 Backend/enhancement/add-step-function-for-coin-conversion
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0317-add-column-for-step-function-for-coin.sql
Labels: backend

#4317 Frontend/fix: Add-Goto-Location Messaging And GoTo Changes
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_add_filled.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_loc_goto.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_vector_black.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer, driver

#4654 frontend/fix: #4641 fixed otp cropping issue added horizontal scroll …
  Frontend/ui-common/src/Engineering/Helpers/MobilityPrelude.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
Labels: frontend, ui-common, customer, driver

#4659 Frontend/fix: #4482 Enabled feebreakup and fixed booth charges
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Components/DueDetailsList/View.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/PaymentHistoryScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, native, driver

#4311 Frontend/fix: #4191 Handled driver blocked account
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, driver

#4681 Backend/fix/ticket-service
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
Labels: backend

#4053 Frontend/fix: Using applicationContext while creating overlay view
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
Labels: frontend, native

#4675 frontend/fix: #4641 removed explicit setText from Dl and RC editText
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/Controller.purs
Labels: frontend, driver

#4685 Backend/feat/coin-in-driver-stats
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#1171 backend/feat:#1169 Adding call logs to kafka
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/CallEvent.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Event.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/CallEvent.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Event.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/dhall-configs/generic/common.dhall
  Backend/lib/sessionizer-metrics/src/Lib/SessionizerMetrics/EventStream.hs
  Backend/lib/sessionizer-metrics/src/Lib/SessionizerMetrics/Types/Event.hs
Labels: enhancement, backend

#4679 frontend/feat Added logs for function call
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/layout/splash.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/build.gradle
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, native, ui-common, customer, driver

#4703 backend/enhance: add field encryption support in DSL
  Backend/app/alchemist/spec/rider-platform/rider-app/Main/Storage/ticket.yaml
  Backend/app/alchemist/src/Alchemist/DSL/Parser/Storage.hs
  Backend/app/alchemist/src/Alchemist/DSL/Syntax/Storage.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/BeamQueries.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/BeamTable.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/DomainType.hs
  Backend/app/alchemist/src/Alchemist/Generator/SQL/Table.hs
  Backend/app/alchemist/src/Alchemist/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SeatManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SpecialOccasion.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBookingPeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBookingServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SeatManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SpecialOccasion.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBookingPeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBookingServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SeatManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SpecialOccasion.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingPeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketService.hs
Labels: backend

#4696 frontend/fix enable chat suggestions
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/ChatView/Controller.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, native, ui-common, customer, driver

#4471 backend/fix/httpErrorCode-and-httpCode-changes-for-ESTIMATE_DOES_NOT_…
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
Labels: backend

#4705 backend/refactor/subscrptions-send_dashboard_message_error_code_and_m…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#3213 backend/feat: #2559 Added support for night safety issues and added wasAssistanceProvided in rating table
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CustomerSupport.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Support.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPP.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Issues.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Rating.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0280-add-column-in-rating-table.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0281-add-wasOfferedAssistance-column-in-rating-table.sql
  Backend/dev/migrations/rider-app/1171-add-wasofferedassistance-column-in-rating-table.sql
  Backend/dev/migrations/rider-app/1180-add-night-safety-to-issue-table.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/API/Rating.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Rating.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Rating/FeedbackForm.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#4704 backend/fix: fixed merchant city list
  Backend/app/dashboard/Lib/src/API/Dashboard/AccessMatrix.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0318-add-safetyAlertTrigered-to-ride.sql
  Backend/dev/migrations/rider-app/1198-add-safety-check-status-to-ride-table.sql
Labels: backend

#4650 Backend/enhance/added-dropped-points-threshold
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#4724 frontend/feat Updated Mobility configs
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/layout/splash.xml
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/GeoCoderHelper.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ic_auto_nav_on_map.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_dest_marker.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_fav_red.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_green_circle.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_home_blue.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_menu.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_src_marker.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_work_blue.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/LocationTagBar/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AboutUsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, ui-common, customer

#4720 backend/fix : assign default plan, zero fix post discount and extra m…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0321-ys-query-fix.sql
Labels: backend

#4723 backend/fix : Maintain atomicity in transactions
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/CustomerCancellationDues.hs
Labels: backend

#4726 frontend/refactor: added manual linter action for formatting
  .github/workflows/purs-lint.yaml
  Frontend/format.sh
Labels: frontend

#4731 frontend/fix Compressed Images in mobility customer
  Frontend/android-native/mobility-customer/src/main/res/drawable/ic_location_permission_logo.png
  Frontend/android-native/mobility-customer/src/main/res/drawable/ny_ic_location_unserviceable.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ic_past_rides.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_add_address.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_briefcase.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_cancel.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_chevron_left_double.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_dest_marker.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_fav.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_fav_red.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_green_circle.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_hamburger.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_home.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_home_blue.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_loc_red.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_locate_on_map.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_offline.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_recent_search.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_recenter_btn.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_red_circle.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_source_dot.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_star_active.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_star_inactive.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_user.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_work.png
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, native, ui-common, customer

#4733 backend/fix: changed cancellaiton dues to double in tables
  Backend/dev/migrations/dynamic-offer-driver-app/0320-cancellationDues-column-in-fareparams.sql
Labels: backend

#4734 backend/fix/sqlQueryFix_for_merchant_overlay_table_and_adding_missing…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Overlay.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0322-update_secondary_actions_column_type_in_merchant_overlay.sql
Labels: backend

#4735 frontend/fix Removed unwanted images
  Frontend/android-native/mobility-app/src/main/res/layout/invoice_template.xml
  Frontend/android-native/mobility-customer/src/main/res/drawable/ny_ic_vehicle_nav_on_map.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ic_auto_nav_on_map.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_banner_gender_feat.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_destination.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_invoice_logo.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_launcher.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_location_access.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_location_unserviceable.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_radio_button.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_src_to_dest.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/drawable/ny_ic_vehicle_nav_on_map.png
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/ComponentConfig.purs
Labels: frontend, native, customer

#4738 Backend/fix/fulladdress-null-in-reallocation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#4693 frontend/feat/#4692: driver to driver referral for nammayatri
  Frontend/android-native/app/src/driver/common/res/drawable/ny_driver_leaderboard.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_app_referral_qr.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_app_share.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_driver_app_qr_code.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Components/InAppKeyboardModal/Controller.purs
  Frontend/ui-driver/src/Components/InAppKeyboardModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/ModifyScreenTypes.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/Handler.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/View.purs
  Frontend/ui-driver/src/Screens/EnterMobileNumberScreen/View.purs
  Frontend/ui-driver/src/Screens/Handlers.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Handler.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, ui-common, driver

#4730 frontend/feat: added driver location in auth request
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, driver

#4744 Backend/enhancement/redis-keys-modification-in-coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFee.hs
Labels: backend

#4741 Backend/enhancement/driver fee calc and coin refactor
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFee.hs
Labels: backend

#4746 backend/fix: changed customer_cancellation_dues column in fareparameters to NULL type
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestForDriver.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0320-cancellationDues-column-in-fareparams.sql
Labels: backend

#4067 frontend/fix/#4066/add logs for app load time
  Frontend/android-native/app/src/dev/assets/juspay/becknbase.html
  Frontend/android-native/app/src/main/assets/juspay/becknbase.html
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, ui-common, driver

#4757 Backend/fix/reallocation-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
Labels: backend

#4504 backend/refractor/added-merchantOpCityId-based-checks-to-dashboard-apis
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Types/ServerName.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/RideBooking/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Message/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Message/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Message/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0323-adding-merchantOpCityId-to-message-table.sql
  Backend/dev/migrations/rider-app/1199-changing-account-related-issue-message.sql
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  flake.lock
Labels: backend

#4761 Frontend/fix: Fixed App minimize issue in registration screen
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
Labels: frontend, driver

#4762 frontend/feat: #3591 Driver Info Card Native Changes
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/main/res/drawable/ic_send.png
  Frontend/android-native/app/src/main/res/layout/marker_label_layout.xml
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_cross_white.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_customer_message.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_driver_message.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_message_black.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_nav_grey.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_wait_timer.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ic_call_msg.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ic_chat_badge_green.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_contact_support.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_share_icon.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ic_call_msg.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ic_chat_badge_green.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_namma_safety.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_share_icon.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/res/drawable/ic_call_msg.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ic_chat_badge_green.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_contact_support.png
  Frontend/android-native/mobility-app/src/main/res/layout/marker_label_layout.xml
  Frontend/android-native/mobility-app/src/main/res/layout/message_sheet.xml
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-common/src/main/res/layout/marker_label_layout.xml
Labels: frontend, native

#4623 frontend/fix/#1840: added optional image upload for DL and RC
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/Controller.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/View.purs
Labels: frontend, native, ui-common, driver

#4771 Backend/fix/added-backward-compatibility-in-reallocation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search/OneWay.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0322-added-isReallocated-in-search-request.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0324-update_secondary_actions_column_type_in_merchant_overlay.sql
  Backend/test/src/Mobility/Fixtures/Routes.hs
Labels: backend

#4769 Backend/fix/cointocash-api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
Labels: backend

#4779 backend/feat: added merchantoperating city for driver info
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#4781 backend/feat: added registration lat lon for customer
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Person.hs
  Backend/dev/migrations/rider-app/1200-add-registartion-lat-lon-for-rider.sql
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#4785 frontend/feat: 1410 Updated homescreen with older design
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, ui-common, customer

#4797 backend/fix : payment history coins handling
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Invoice.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
Labels: backend

#4745 frontend/feat/added-conditional-push-notification-for-driver-notify
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ic_launcher_small_icon.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ic_launcher_small_icon.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ic_launcher_small_icon.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ic_launcher_small_icon.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ic_launcher_small_icon.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/res/drawable/ic_launcher_small_icon.png
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ChatService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GpsListeningService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
Labels: frontend, native

#4732 frontend/feat: #1170 Adding Call Logs to Click House
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, customer, driver

#4756 backend/fix/Added NoAuth in Apis
  Backend/app/alchemist/src/Alchemist/DSL/Parser/API.hs
  Backend/app/alchemist/src/Alchemist/DSL/Syntax/API.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/DomainHandler.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/Servant.hs
Labels: backend

#4799 Backend/fix/execution_at_coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#4776 frontend/#3525- rate card driver pickup charges updation issue fix
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, ui-common, customer

#4801 frontend/#3525- rate card driver pickup charges updation issue fix
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, ui-common, customer

#4167 frontend/enhancement/#2319 : Overlay Enhancement for Toast, secondary…
  Frontend/android-native/app/src/main/res/drawable/ny_ic_phone_filled_blue.png
  Frontend/android-native/app/src/main/res/layout/message_overlay.xml
  Frontend/android-native/app/src/main/res/values-bn/strings.xml
  Frontend/android-native/app/src/main/res/values-fr/strings.xml
  Frontend/android-native/app/src/main/res/values-hi/strings.xml
  Frontend/android-native/app/src/main/res/values-kn/strings.xml
  Frontend/android-native/app/src/main/res/values-ml/strings.xml
  Frontend/android-native/app/src/main/res/values-ta/strings.xml
  Frontend/android-native/app/src/main/res/values/strings.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlayMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/services/MobilityCallAPI.java
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_ic_phone_filled_blue.png
  Frontend/android-native/mobility-app/src/main/res/layout/message_overlay.xml
  Frontend/android-native/mobility-app/src/main/res/values-bn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-hi/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-kn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ml/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ta/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values/strings.xml
Labels: frontend, native

#4802 Backend/feat/redis-cluster-pipelining
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/GoHomeConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Metrics/BAPMetrics.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Metrics/BAPMetrics/Types.hs
  flake.lock
Labels: backend

#4803 Backend/enhancement/allocator_executor_metric_add_job_type
  Backend/lib/scheduler/src/Lib/Scheduler/Handler.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/Redis/Queries.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/SchedulerType.hs
  flake.lock
Labels: backend

#4804 Frontend/fix: Disabled fee breakup in YSD
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
Labels: frontend, native

#4811 Backend/enhancement/autopay-execution-at-for-coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#4810 backend/feat : added feat to change operating city of driver from dashboard
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Driver/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RegistrationToken.hs
Labels: backend

#3329 frontend/feat:#2559 added-wasOfferedAssistance-in-feedbackReq-in-purple-rides
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, ui-common, customer

#4809 Frontend/fix: Goto and feebreakup bugfixes
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/Handler.purs
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#4806 frontend/fix/#4692: bug fixes for driver referral flow
  Frontend/ui-common/src/Engineering/Helpers/MobilityPrelude.purs
  Frontend/ui-driver/src/Components/BottomNavBar/View.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/View.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/View.purs
Labels: frontend, ui-common, driver

#4213 Backend/feat/notification retries
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Execution.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Invoice.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0325-add-fields-for-notification-retry.sql
Labels: backend

#4823 frontend/fix/#4692: nammayatridriver bugfixes
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Handler.purs
Labels: frontend, native, driver

#4821 Backend/fix/valid-till-fix-for-search-try
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
Labels: backend

#4822 Backend/enhancement/driver-referral-only-enabled-driver-can-referrer
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReferee.hs
Labels: backend

#4824 backend/fix/changing request timeout status code to 408
  Backend/app/rider-platform/rider-app/Main/src/App.hs
Labels: backend

#4827 Backend/fix: Added API status in getCity API
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#4825 Backend/fix/composite-primary-key-adaptibility-fixes
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/BeamTable.hs
  Backend/nix/osrm.nix
  flake.lock
  flake.nix
Labels: backend

#4831 Frontend/fix: Added specialZoneRideCount in totalRides
  Frontend/ui-driver/src/Screens/PaymentHistoryScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
Labels: frontend, driver

#3239 frontend/feat: #1877 Night Ride Safety
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-common/src/Engineering/Helpers/MobilityPrelude.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: enhancement, frontend, native, ui-common, customer

#4605 backend/feat : bad debt calculation
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/BadDebtCalculationScheduler.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0326-add-fields-for-bad-debt-scheduler.sql
  Backend/dev/migrations/provider-dashboard/0032-generic-scheduler-trigger.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
Labels: backend

#4837 added merchantFallback
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Merchant.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0327-added-kv-configs-table-and-default-values.sql
  Backend/dev/migrations/rider-app/1202-added-fallback-merchant.sql
  Backend/dev/migrations/rider-app/1203-added-kv-configs-for-table-and-default-values.sql
Labels: backend

#4839 Backend/enhancement/expiry-time-for-coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
Labels: backend

#4043 frontend/feat: #3591 Driver Info Card Revamp
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MessageOverlayService.java
  Frontend/ui-common/src/Animation/Animation.purs
  Frontend/ui-common/src/Common/Styles/Colors.purs
  Frontend/ui-common/src/Components/ChatView/Controller.purs
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Components/RequestInfoCard/Controller.purs
  Frontend/ui-common/src/Components/RequestInfoCard/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/Engineering/Helpers/Suggestions.purs
  Frontend/ui-common/src/Font/Style.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/MessagingView/Controller.purs
  Frontend/ui-customer/src/Components/MessagingView/MessagingView.purs
  Frontend/ui-customer/src/Components/MessagingView/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Resources/Animation/Config.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: enhancement, frontend, native, ui-common, customer, driver

#4805 frontend/feat/changes_in_millenium_booking
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_radio_selected_blue.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_hamburger_white.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_jetty.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_nav_home_black.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_nav_home_grey.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_white_tick.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ys_logo_text.png
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-common/src/Engineering/Helpers/MobilityPrelude.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Screens/Handlers.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TicketingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TicketingScreen/Handler.purs
  Frontend/ui-customer/src/Screens/TicketingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketingScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Handler.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/View.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Accessor.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/View.purs
Labels: frontend, native, ui-common, customer, driver

#4841 frontend/refactor/minTrips_and_minLocation_in_savedLocation_and_recen…
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, customer

#4828 Backend/fix/Use Correct Config in Recompute Logic
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#4842 frontend/#1365/ride reallocation flow
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/Storage/Flow/BaseApp.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#4843 Frontend/#1365/ride reallocation flow v1.8.154
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#4844 bugfix/NYandYatrimerchant
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Merchant.hs
Labels: backend

#4787 backend/enhance/recording-failed-snap-calls
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  flake.lock
Labels: backend

#4800 backend/feat/#4795 : maintain count of num of chargable cancellations
  Backend/app/dashboard/CommonAPIs/src/Dashboard/RiderPlatform/Customer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/CustomerCancellationDues.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
Labels: backend

#4671 backend/feat/change-ratingReq-type-back-from-ByteString
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPP.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/API/Rating.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Rating.hs
Labels: backend

#4695 backend/fix/#2859 : Fixed onUpdate event and s3 public url pattern.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Merchant.hs
  Backend/dev/migrations/rider-app/1196-add-mediafile-pattern-public.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/OnUpdate/OnUpdateEvent/SafetyAlertEvent.hs
Labels: backend

#4847 Backend/refactor/driver-coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
Labels: backend

#4848 frontend/fix/#1840: nammayatri driver onboarding ui bugfixes
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
Labels: frontend, driver

#4739 frontend/fix/#1063: driver ride request clevertap events
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
Labels: frontend, native

#4851 backend/fix : fixed query for version updation in location mapping table
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/LocationMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/LocationMapping.hs
Labels: backend

#4852 frontend/fix/#4692: bug fixes nammayatripartner
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
Labels: frontend, driver

#4855 backend/fix:offer-list-caching-for-ys
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
Labels: backend

#4854 backend/fix:offer-list-caching-for-ys
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
Labels: backend

#4770 backend/feat/#4747: send fcm to rider on driver's b'day
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Instances/DriverInformation.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0328-add-driverDob-to-driverInfo.sql
Labels: backend

#4856 Backend/fix/added-booking-status-in-reallocation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/OnStatus/Order.hs
Labels: backend

#4845 frontend/fix/#1063/driver onboarding clevertap properties and events
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#4858 backend/fix : fixing main
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnUpdate.hs
Labels: backend

#4861 Backend/switched-to-auto-assign-for-reallocation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
Labels: backend

#4857 frontend/feat Added fallback key to getCurrentPosition Function
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/Utils.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, ui-common, driver
