Repository nammayatri/nammayatri, pull requests merged in 2023-09, with the labels that each got.

#2618 frontend/feat/#1063: added clevertap events for cust and driver
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/passCulturePartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlayMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/Utils.java
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/Engineering/Helpers/LogEvent.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ContactUsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ContactUsScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/WelcomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/WelcomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/EnterMobileNumberScreen/Controller.purs
  Frontend/ui-driver/src/Screens/EnterMobileNumberScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/SelectLanguageScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SelectLanguageScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/Controller.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/ScreenData.purs
Labels: frontend

#2854 frontend/fix: #2853 In App Notifications Fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
Labels: bug, frontend

#2820 backend/feat: #2698 Addded Mutable FCMs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0233-deviation-related-configs.sql
  flake.lock
Labels: enhancement, backend

#2936 frontend/#2513/fixed map render and backpress issue
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend

#2961 backend/feat/backend/feat/#2932/kiosk-locations-main-branch : added a…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/KioskLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/KioskLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/KioskLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/KioskLocationTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/KioskLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/KioskLocationTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/KioskLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/KioskLocationTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/KioskLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/KioskLocationTranslation.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0237-add-kioskLocations.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0238-add-kiosk-location-translations.sql
Labels: enhancement, backend

#2935 frontend/#2513/fixed map render issue and alternate number issue
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend

#2032 frontend/#2031/optimize bundle and reduce size
  Frontend/ui-customer/package.json
Labels: frontend

#2939 frontend/feat #2938 Added Configuration for user call driver
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend

#2839 frontend/feat/vehicle-variant-color-changes-in-yatri-sathi: vehcile v…
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/res/values/colors.xml
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
Labels: enhancement, frontend

#2974 frontend/#2096/enable offer popup only for NY
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend

#2973 frontend/feat: #2972 Added Payment Page Logs
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/Utils.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
Labels: enhancement, frontend

#2951 Frontend/fix: #2950 Added id for all primary button
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Components/AddAudioModel/Controller.purs
  Frontend/ui-driver/src/Components/AddImagesModel/Controller.purs
  Frontend/ui-driver/src/Components/ReferralMobileNumber/View.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/View.purs
  Frontend/ui-driver/src/Screens/ApplicationStatusScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/BankDetailScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverRideRatingScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/NoInternetScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/PermissionsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RideSelectionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SelectLanguageScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/TripDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/UploadAdhaarScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/VehicleDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/WriteToUsScreen/ComponentConfig.purs
Labels: frontend

#2964 frontend/feat #2695 RC deactive popup added
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_rc_deactivated.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_rc_deactivated.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_rc_deactivated.png
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/FR.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#3034 frontend/#3033/locate on map crash fixes
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
Labels: frontend

#3048 frontend/#3047/show nearby drivers available
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/FR.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#3041 frontend/fix/#2096 : Fixed marker image name mismatch.
  Frontend/ui-customer/src/Components/RatingCard/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend

#3000 frontend/#2999/open navigation with walk mode
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend

#2763 Frontend/feat/#2296 : Added support for purple rides on driver app
  Frontend/android-native/app/src/driver/common/res/drawable/ic_accessibility_vision.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_assistance_icon.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_blind_arrival.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_blind_pickup.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_deaf_arrival.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_deaf_pickup.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_disability_illustration.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_disability_purple.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_locomotor_arrival.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_locomotor_pickup.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_poor_hearing.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_tip_icon.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_wheelchair.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/passCulturePartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/main/res/drawable/ic_accessibility_tag.xml
  Frontend/android-native/app/src/main/res/drawable/ic_tip_tag.xml
  Frontend/android-native/app/src/main/res/layout/sheet_view.xml
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_tip_icon.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_wheelchair.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetAdapter.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetModel.java
  Frontend/android-native/mobility-app/src/main/res/layout/sheet_view.xml
  Frontend/ui-common/src/Components/ChatView/Controller.purs
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/Styles/Color.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/FR.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#3039 frontend/fix #3038 Removed webview from splash screen
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/res/layout/activity_main.xml
  Frontend/android-native/app/src/main/res/layout/activity_main_without_bg.xml
  Frontend/android-native/mobility-app/src/main/res/layout/activity_main.xml
  Frontend/android-native/mobility-app/src/main/res/layout/splash.xml
Labels: frontend

#3190 backend/refactor: fix mis-spelled function name at multiple places
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/Redis/Queries.hs
Labels: refactor

#3166 frontend/fix/#3165/rideHistory_screen_bugfixes
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/src/Components/DatePickerModel/Controller.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: bug, frontend

#3257 frontend/fix: #2467 CUG bug fixes driver
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/res/values-bn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-hi/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-kn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ml/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ta/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values/strings.xml
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#3253 frontend-fix #3784 fixed date and distance value in trip details screen
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend

#3276 frontend/fix/#3155 fix for UPI Intent not opening
  Frontend/ui-driver/src/Helpers/Utils.js
Labels: frontend

#3279 frontend-feat #3278 Walk mode and Waze app support added for IOS
  Frontend/android-native/mobility-customer/src/main/user/passculture/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend

#3294 frontend/fix:#2467 changed flow for setting accessibility
  Frontend/ui-common/src/Components/SelectListModal/View.purs
  Frontend/ui-customer/src/Components/CommonComponentConfig.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/View.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/Controller.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#3300 frontend/#3278/driver navigation issue fix
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
Labels: frontend

#2850 frontend/feat/#1063: clevertap push templates
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
Labels: frontend

#3305 frontend/fix: #2467 updated button state on the basis of tag instead …
  Frontend/ui-customer/src/Components/CommonComponentConfig.purs
Labels: frontend

#3320 Frontend/#3319/variant configurable
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend

#3339 frontend/#3319/ac variant selected by default (IOS)
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend

#3364 frontend/#3362/fixed-distorted-cancel-search-popup
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend

#3384 frontend/#3383/hide payment due popup in case of active ride
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend

#3420 frontend/translations: add translations for pp blocker popup
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: bug, frontend

#3429 backend/refactor/subscription_nudges
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/PushNotification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/PaymentNudge.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0263-payment-nudge.sql
Labels: backend, refactor
