Repository nammayatri/nammayatri, pull requests merged in 2023-10, with the labels that each got.

#3431 frontend/feat/#3430-rideConfirmation message
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/ChatView/Controller.purs
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend

#3433 frontend/#3319/fixed cancel search popup,map icon missing, countDown threads and added variant sorting
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend

#2766 backend/fix/#2696-resend-otp-fix-according-to-the-otpchannel
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
Labels: bug, backend

#3304 Frontend/feat/enable referral qr screen for yatri and yatri sathi
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_share_grey.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_car_referral_banner.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_yatri_sathi_logo_black_icon.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_car_referral_banner.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_yatri_logo_dark.png
  Frontend/android-native/app/src/main/assets/fonts/FEFont.ttf
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-common/src/main/res/drawable/referral_code_background.xml
  Frontend/android-native/mobility-common/src/main/res/layout/referral_code.xml
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/Font/Style.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AppUpdatePopUp/View.purs
  Frontend/ui-driver/src/Components/BottomNavBar/Controller.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Handler.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Handler.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend

#3460 frontend/fix/#2467: accessibility Issue fixes
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_blind_arrival.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_blind_pickup.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_deaf_arrival.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_deaf_pickup.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_locomotor_pickup.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_blind_arrival.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_blind_pickup.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_deaf_arrival.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_deaf_pickup.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_locomotor_arrival.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_locomotor_pickup.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_blind_arrival.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_blind_pickup.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_deaf_arrival.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_deaf_pickup.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_locomotor_pickup.png
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
Labels: frontend

#3470 backend/feat/sendOverlayToDriver-Scheduler
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation.hs
Labels: enhancement, backend

#2835 frontend/#1233/increased map animation speed, fixed label issue, added dotted line and added map config
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
Labels: frontend

#3483 backend/fix/overlay-scheduler
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: bug, backend

#3509 frontend-fix #3093 top title visiblity changed in popup
  Frontend/ui-common/src/Components/PopUpModal/Controller.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend

#3512 frontend/#3485/force update jsd for version code less than 19
  Frontend/ui-driver/src/Components/BottomNavBar/Controller.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend

#3505 backend/feat/overlay-scheduler-added-new-conditions
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation.hs
Labels: enhancement, backend

#3545 Frontend/enhancement: #3544 Updated getAppConfig to get only default …
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
Labels: frontend

#3559 backend/fix/sendOverlay-scheduler-freeTrialDaysLeft-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
Labels: bug, backend

#3497 Frontend/feat: #3368 Updated assets downloader
  Frontend/android-native/app/src/main/assets/juspay/v1-assets_downloader.jsa
Labels: frontend

#3248 frontend/refactor/ #3209 Refactor flow to reduce API calls
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-common/src/Engineering/Constants.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Components/ViewImageModel/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend

#3564 Frontend/fix: #3525 Fixed extracting area code from full address
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Constants.purs
Labels: frontend

#2339 frontend/fix/#2164 : Fixed bugs in yatri.
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_no_past_rides_auto.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/passCulturePartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_auto1.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_auto_side_view.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_no_quotes_auto.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_no_quotes_color.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/res/drawable/ic_auto_nav_on_map.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ic_share_app.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ic_vehicle_side.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_auto_quote_list.png
  Frontend/android-native/mobility-customer/src/main/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/passculture/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/RateCard/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/FR.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
  Frontend/ui-driver/src/Components/RecordAudioModel/View.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/ComponentConfig.purs
Labels: frontend

#3603 frontend/fix/#2319 : Enabled subscription popup
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend

#3609 frontend/fix:#3577- config update, walk navigation and gender issue fix
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
Labels: frontend

#3548 frontend/fix: lottie change according to variant issue for yatri driver
  Frontend/android-native/app/src/driver/yatriPartner/res/layout/loading_screen_overlay.xml
  Frontend/android-native/app/src/driver/yatriPartner/res/raw/accepted_by_another_driver_lottie.json
  Frontend/android-native/app/src/driver/yatriPartner/res/raw/ride_accepted_lottie.json
  Frontend/android-native/app/src/driver/yatriPartner/res/raw/waiting_for_customer_lottie.json
  Frontend/android-native/app/src/main/res/raw/yatri_auto_accepted_lottie.json
  Frontend/android-native/app/src/main/res/raw/yatri_auto_declined.json
  Frontend/android-native/app/src/main/res/raw/yatri_circular_loading_bar_auto.json
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/res/raw/yatri_auto_accepted_lottie.json
  Frontend/android-native/mobility-app/src/main/res/raw/yatri_auto_declined.json
  Frontend/android-native/mobility-app/src/main/res/raw/yatri_circular_loading_bar_auto.json
Labels: frontend

#3625 frontend/#3536/YS driver issue fixes
  Frontend/ui-driver/src/Components/BottomNavBar/Controller.purs
  Frontend/ui-driver/src/Components/BottomNavBar/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Strings/EN.js
Labels: frontend

#3393 Frontend/feat: #3387 Added script to download bundle through FCM
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/FCMBundleUpdateBroadcastReceiver.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RemoteAssetsDownloader.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/callbacks/CallBack.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Engineering/Helpers/Utils.js
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AppUpdatePopUp/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AppUpdatePopUp/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AppUpdatePopUp/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AppUpdatePopUp/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native

#2816 frontend/fix: #2698 Added Keyboard Listener
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ChatService.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: bug, frontend

#2814 frontend/feat/#1063: added push notification for clevertap for xiaomi…
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/libs/MiPush_SDK_Client_5_1_5-G_3rd.aar
  Frontend/android-native/app/proguard-rules.pro
  Frontend/android-native/app/src/main/AndroidManifest.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/build.gradle
  Frontend/android-native/mobility-app/build.gradle
  Frontend/android-native/mobility-app/libs/MiPush_SDK_Client_5_1_5-G_3rd.aar
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/HmsMessageService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/XiaomiMessageReceiver.java
Labels: frontend

#3123 frontend/feat/#1303-searchlocmodel ui enhancement
  Frontend/android-native/app/src/main/res/drawable/ny_ic_close_grey.png
  Frontend/android-native/app/src/user/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/Components/FavouriteLocationModel/View.purs
  Frontend/ui-customer/src/Components/LocationListItem/Controller.purs
  Frontend/ui-customer/src/Components/LocationListItem/View.purs
  Frontend/ui-customer/src/Components/LocationTagBar/View.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/Controller.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Resources/Styles/Colors.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/FR.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#3050 frontend/feat: #3046 Enabled Suggestions for chat
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ChatService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MessageOverlayService.java
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/Engineering/Helpers/LogEvent.purs
  Frontend/ui-common/src/Engineering/Helpers/Suggestions.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: enhancement, frontend

#3631 frontend/#3536/screen navigation and ride name missing fix
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Handler.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RideSelectionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Strings/KN.js
Labels: frontend

#3626 frontend/feat/calendar_component
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_arrow_right.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_chevron_left_black.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_chevron_left_grey.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_chevron_right_black.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_chevron_right_grey.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Common/Styles/Colors.purs
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/Calendar/Calendar.purs
  Frontend/ui-common/src/Components/Calendar/Controller.purs
  Frontend/ui-common/src/Components/Calendar/View.purs
  Frontend/ui-common/src/Engineering/Helpers/Utils.js
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
Labels: enhancement, frontend

#3632 frontend/config update
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
Labels: frontend

#2721 frontend/feat/#1063: added clevertap properties
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/Utils.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/Controller.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/SelectLanguageScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Controller.purs
Labels: frontend

#3607 frontend/#3536/booking option and open navigation fixes
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/FR.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#3652 frontend/fix:yatri driver bug fixes
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend

#3660 frontend/fix/#3634 : Added Queue for Ride Request in Widget serivce
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/WidgetService.java
Labels: frontend, native

#3690 frontend/fix/#3678: Handled TOKEN_EXPIRED error case
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend

#3447 Frontend/fix/#3438 making contact support configurable
  Frontend/android-native/app/src/main/res/layout/invoice_template.xml
  Frontend/android-native/app/src/user/jatriSaathi/res/layout/invoice_template.xml
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/res/layout/invoice_template.xml
  Frontend/android-native/app/src/user/yatri/res/layout/invoice_template.xml
  Frontend/android-native/mobility-app/src/main/res/layout/invoice_template.xml
  Frontend/android-native/mobility-app/src/main/res/values-bn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-hi/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-kn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ml/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ta/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values/strings.xml
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/android-native/mobility-customer/src/main/res/layout/invoice_template.xml
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/layout/invoice_template.xml
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/res/layout/invoice_template.xml
  Frontend/android-native/mobility-customer/src/main/user/passculture/res/layout/invoice_template.xml
  Frontend/ui-common/src/Components/RateCard/Controller.purs
  Frontend/ui-common/src/Components/RateCard/View.purs
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/EmergencyHelp/View.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/FR.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#3760 frontend/fix/#3678: Handled TOKEN_EXPIRED error case
  Frontend/android-native/app/build.gradle
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend

#3823 frontend/refactor/#3807 : Updated callAPI function
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/packages.dhall
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-customer/spago.dhall
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/spago.dhall
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend

#3852 frontend/refactor/#2235 Added git keep for fonts folder
  Frontend/android-native/mobility-customer/src/main/assets/fonts/.gitkeep
Labels: frontend

#3855 frontend/refactor/#2235 Updated estimates config
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
Labels: frontend

#3872 frontend/#3536/modified booking options
  Frontend/ui-driver/src/Helpers/Utils.purs
Labels: frontend

#3877 Frontend/fix: Cancel ride popup fix and compilation fix
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend

#3878 frontend/#3536/modified booking options
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Helpers/Utils.purs
Labels: frontend

#3653 added version check for different merchants
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: bug, frontend

#3881 frontend/#3536/modified booking options
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
Labels: frontend

#3476 Frontend/feat/Pass Zoom level to locateOnMap
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/Resource/Constants.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend

#3961 github/enhance: enable auto labeler for PR's <> UI GitHub actions
  .github/labeler.yml
  .github/workflows/labeler.yaml
  .github/workflows/stale.yaml
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, ui-common, customer

#3192 frontend/#1364/refactored and improved UX for special zone
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_selected_zone_pickup_marker_yellow.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_zone_pickup_marker_yellow.png
  Frontend/android-native/app/src/driver/common/res/layout/zone_label_layout.xml
  Frontend/android-native/app/src/main/res/drawable/ny_ic_zone_pickup_marker.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_zone_pickup_marker_yellow.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_selected_zone_pickup_marker_yellow.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_zone_pickup_marker_yellow.png
  Frontend/android-native/app/src/user/common/res/layout/zone_label_layout.xml
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, ui-common, customer

#3966 frontend/feat : #3927 Updated Lottie Files
  Frontend/android-native/app/src/main/res/raw/search_loader.json
  Frontend/android-native/mobility-app/src/main/res/raw/search_loader.json
Labels: frontend, native

#3896 frontend/fix #3867 fixed emergency contact list update issue
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Controller.purs
Labels: frontend, ui-common, customer

#3971 frontend/feat : #3927 Fixed Pre commit
  Frontend/nix/pre-commit.nix
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/FR.js
  Frontend/ui-driver/src/Strings/HI.js
Labels: frontend, ui-common, driver

#3968 backend/fix : fixed showing latest driver linked with vehicle
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverOnboarding/DriverRCAssociation.hs
Labels: backend

#3915 frontend/fix: #3914 Fix null pointer execption in remote assets downloader
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RemoteAssetsDownloader.java
Labels: frontend, native

#3925 frontend/fix: #3924 added dev-qa support in assets downloader
  Frontend/android-native/app/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/android-native/mobility-common/src/main/assets/juspay/v1-assets_downloader.jsa
Labels: frontend, native

#3974 backend/fix/added-tables-from-app-config-to-allocator
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/scheduler-example/src/App/Scheduler.hs
  Backend/dhall-configs/dev/driver-offer-allocator.dhall
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/producer.dhall
  Backend/dhall-configs/dev/scheduler-example-scheduler.dhall
  Backend/lib/producer/src/Environment.hs
  Backend/lib/producer/src/Producer/Flow.hs
  Backend/lib/scheduler/src/Lib/Scheduler/App.hs
  Backend/lib/scheduler/src/Lib/Scheduler/Environment.hs
  Backend/lib/scheduler/src/Lib/Scheduler/Handler.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/DB/Queries.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/Redis/Queries.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/SchedulerType.hs
  Backend/lib/scheduler/src/Lib/Scheduler/ScheduleJob.hs
Labels: backend

#3963 backend/fix: #2562 added vehicle variant in driverPoolConfigCreate
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/DriverPoolConfig.hs
Labels: backend

#3597 backend/fix:bug fixes for history plan and registeration fee
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFee.hs
Labels: backend

#3969 backend/fix : use updated fee in scheduler for splitting
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
Labels: backend

#3991 backend/fix: end association while unlinking vehicle
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#3919 frontend-fix #3918 fixed rating card crop issue
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
Labels: frontend, ui-common

#3996 frontend/fix : #3995 Added Check for network time
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/Handler.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/View.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend, native, ui-common, customer, driver

#4005 backend/fix/empty-options-in-fork-threads-in-allocator
  Backend/lib/scheduler/src/Lib/Scheduler/Handler.hs
Labels: backend

#4003 Backend/fix/#3948/go_home_ride_accepted_after_customer_cancels_ride :…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
Labels: backend

#4010 frontend/fix : #4009 updated default boot_loader and assets_downloader
  Frontend/android-native/app/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/android-native/app/src/main/assets/juspay/v1-boot_loader.jsa
Labels: frontend, native

#4008 frontend/fix Added notification sounds
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
Labels: frontend, native

#3985 frontend-fix #3983 fixed backward comp
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
Labels: frontend, ui-common

#3582 backend/feat/added paused psp /cancelled psp/ planActivated overlays and refactored the invoice generated scheduler
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/PaymentNudge.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0291-add-new-columns-in-merchant-overlay.sql
  flake.lock
Labels: backend

#4012 backend/fix : zero amount driver fee fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
Labels: backend

#4007 frontend/#4004-added notification sound for blind low vision
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/carousel/VPAdapter.java
  Frontend/android-native/mobility-app/src/main/res/raw/ride_assigned_talkback.mp3
  Frontend/android-native/mobility-app/src/main/res/raw/ride_cancelled_by_driver.mp3
  Frontend/android-native/mobility-app/src/main/res/raw/ride_completed_talkback.mp3
  Frontend/android-native/mobility-app/src/main/res/raw/ride_started_talkback.mp3
  Frontend/android-native/mobility-app/src/main/res/raw/you_have_cancelled_the_ride.mp3
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, native, ui-common, customer

#4030 Frontend/fix: update local configuration
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/config.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/config.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/config.json
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/config.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/config.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/config.json
Labels: frontend, native

#4016 frontend/feat: Added few more demo locations
  Frontend/android-native/app/src/main/res/drawable/ny_ic_demo_location.png
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/ui-driver/src/Screens/AboutUsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, native, driver

#4027 backend/fix : remove driver fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#4039 backend/fix: fixed backward compatibility issue for driver issue flow
  Backend/dev/migrations/dynamic-offer-driver-app/0292-update-chats-in-issue-report.sql
  Backend/lib/shared-services/src/IssueManagement/Common/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#3888 backend/feat/sendSms-api-for-provider-dashboard
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Whatsapp.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0293-add-columns-to-merchant-message-table.sql
  Backend/dev/migrations/provider-dashboard/0024-add-send-sms-access.sql
Labels: backend

#3972 frontend/feat : #3927 Added Pre commit folder specific
  Frontend/nix/pre-commit.nix
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/index.js
  Frontend/ui-customer/package.json
  Frontend/ui-customer/scripts/notify.js
  Frontend/ui-driver/index.js
  Frontend/ui-driver/scripts/notify.js
Labels: frontend, ui-common, customer, driver

#3570 Backend/refactor/changing payment tables to beam
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Execution.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/dynamic-offer-driver-drainer.cabal
  Backend/app/provider-platform/dynamic-offer-driver-drainer/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Delete.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Delete.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Update.hs
  Backend/app/rider-platform/rider-app-drainer/package.yaml
  Backend/app/rider-platform/rider-app-drainer/rider-app-drainer.cabal
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Delete.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Update.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Payment.hs
  Backend/lib/payment/package.yaml
  Backend/lib/payment/payment.cabal
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Beam/BeamFlow.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Beam/PaymentOrder.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Beam/PaymentTransaction.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PaymentOrder.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PaymentTransaction.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Tabular/PaymentOrder.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Tabular/PaymentTransaction.hs
Labels: backend, refactor

#4045 frontend/fix: added check for YS special ride start
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
Labels: frontend, native, driver

#2608 Backend/fix/Removed extra DB entries in broadcast message
  Backend/app/kafka-consumers/src/Consumer/BroadcastMessage/Processor.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Message.hs
Labels: backend

#4055 backend/fix/sendOverlayScheduler-manualDuesCalculation-with-time-limit
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFee.hs
Labels: backend

#4042 frontend/fix : #4041 fixed dummy driver info card and double popup
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#4057 frontend/fix: #4056 crash fix ios locate On Map
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
Labels: frontend, ui-common

#3936 frontend/#3934/optimized placeName api calls to reduce cost
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, native, customer

#4062 Backend/fix/build-time-optimzation-bug-fix
  Backend/app/provider-platform/dynamic-offer-driver-drainer/dynamic-offer-driver-drainer.cabal
  Backend/app/provider-platform/dynamic-offer-driver-drainer/package.yaml
Labels: backend

#4063 frontend/fix/#3737/car_icon_bug_in_try_again_screen_and_tips_not_visi…
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, ui-common, customer

#4065 frontend/fix : #4064 Added Backward Compatibility for Carousal view
  Frontend/android-native/app/src/main/res/layout/viewpager_item.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/carousel/VPAdapter.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/carousel/ViewPagerItem.java
  Frontend/android-native/mobility-app/src/main/res/layout/viewpager_item.xml
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
Labels: frontend, native, customer

#4071 frontend/feat: added performance trace functions for monitoring and geocoder class
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
Labels: frontend, native

#4072 frontend/fix : #4064 Added implementation for firebase-perf
  Frontend/android-native/mobility-app/build.gradle
Labels: frontend, native

#4074 frontend/fix/#4064-replaced <br> with \n
  Frontend/ui-customer/src/Screens/OnBoardingFlow/WelcomeScreen/ScreenData.purs
Labels: frontend, customer

#4075 Frontend/fix: Added deeplink for Select-Language screen
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Handler.purs
  Frontend/ui-driver/src/Screens/SelectLanguageScreen/View.purs
Labels: frontend, driver

#4068 Backend/fix/rider cancellation bug fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchTry.hs
Labels: backend

#4076 backend/fix/added-merchant-operating-city-id-to-fare-product
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Driver/GoHomeRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantOperatingCity.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0296-adding-merchantOpCityId-to-fare-product.sql
Labels: backend

#4083 frontend/fix: #2467 Fixed repeat ride and rate card issue
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#4084 Frontend/update minsdk for mobility sdk
  Frontend/android-native/mobility-common/build.gradle
  Frontend/android-native/mobility-common/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/android-native/mobility-customer/build.gradle
  Frontend/ui-driver/package.json
Labels: frontend, native, driver

#4082 backend/improvement/removed-chan-from-DbBased-allocator
  Backend/lib/scheduler/src/Lib/Scheduler/Handler.hs
Labels: backend

#4085 Backend/Kv: added missing secondary keys
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Invoice.hs
Labels: backend

#4086 Frontend/fix: Added deeplink for select language
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#4077 frontend/enhance: minor code cleanup
  .github/workflows/stale.yaml
  Frontend/ui-common/src/Components/SelectListModal/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Components/BottomNavBar/Controller.purs
  Frontend/ui-driver/src/Components/InAppKeyboardModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
Labels: frontend, ui-common, customer, driver

#4087 frontend/fix : #4064 Added logs for network timer popup
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#4073 Frontend/fix: Added deeplink for SelectLanguage Screen
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/TranslatorMLKit.java
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Handler.purs
  Frontend/ui-driver/src/Screens/SelectLanguageScreen/View.purs
Labels: frontend, native, driver

#4096 frontend/#3934/locate on map issue fix
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
Labels: frontend, customer, driver

#4098 frontend/fix:#4094- prod bug fix
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/YoutubeVideoView.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/carousel/VPAdapter.java
Labels: frontend, native

#4109 frontend/refactor: updated readme and package.json
  Frontend/README.md
  Frontend/ui-customer/package.json
  Frontend/ui-driver/package.json
Labels: frontend, customer, driver

#4106 frontend/fix : #4064 Updated hyper-sdk version
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/main/assets/juspay/v1-boot_loader.jsa
  Frontend/android-native/app/src/main/assets/juspay/v1-tracker.jsa
  Frontend/android-native/mobility-app/build.gradle
  Frontend/android-native/mobility-common/build.gradle
  Frontend/android-native/mobility-customer/build.gradle
  Frontend/android-native/mobility-driver/build.gradle
Labels: frontend, native

#4108 frontend/#4094 fixed ios bugs reported in CUG
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, ui-common, customer
