Repository nammayatri/nammayatri, pull requests merged in 2023-04, with the labels that each got.

#405 frontend/fix : #404 fixed a bug in recent searches in customer app
  Frontend/ui-customer/src/Flow.purs
Labels: frontend

#309 frontend/refactor/driver basic and login flow refactored
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, refactor

#391 backend/fix: #372 added gender in profile apis
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Person.hs
Labels: backend

#479 frontend/fix: #420 walkCoordinates error fixed
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend

#457 frontend/fix: #446 resolved bugs in iOS
  Frontend/ui-customer/src/Components/IndividualRideCard/View.purs
  Frontend/ui-customer/src/Components/RatingCard/View.purs
Labels: frontend

#489 Frontend/fix/#488 auto submission of otp for login
  Frontend/ui-customer/src/Screens/OnBoardingFlow/EnterMobileNumberScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/EnterMobileNumberScreen/Controller.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/EnterMobileNumberScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/EnterOTPScreen/Controller.purs
Labels: frontend

#540 [WIP] frontend/fix : #539 hiding_address_details_on_driver_app
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
Labels: frontend

#546 frontend/fix: #214 added firebase event for first ride in customer
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
Labels: frontend

#503 Backend/feat/#285: update transporter configs via dashboard fixes
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/DriverIntelligentPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0148-add-columns-for-driver-calling-with-alternate-number.sql
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/merchant.http
  Backend/stack-hie.yaml
  Backend/stack.yaml
  Backend/stack.yaml.lock
  flake.lock
  flake.nix
Labels: backend, ops-dashboard

#548 backend/feat: #579 distanceCalculationFailed flag in ride table
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Tabular/Ride/Table.hs
  Backend/app/provider-platform/static-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0149-add-columns-for-driver-calling-with-alternate-number.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0150-ride-distance-calculation-failed.sql
  flake.lock
Labels: backend

#410 Frontend/bkn 2978 open data dashboard
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/res/drawable/ic_graph_black.png
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Components/EmergencyHelp/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReferralScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Resource/Localizable/Language/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/Language/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/Language/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/Language/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend

#448 frontend/fix: #446 resolved bugs for customer and driver
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/View.purs
Labels: bug, frontend

#604 frontend fix: #537 fixed widget messaging
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MyFirebaseMessagingService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/WidgetService.java
  Frontend/android-native/app/src/main/res/layout/floating_widget_layout.xml
Labels: frontend

#607 frontend/fix: #606 Added the required firebase events for customer
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend

#552 Frontend/fix: #551 Modify BottomNavBar in Driver
  Frontend/android-native/app/src/driver/res/drawable/ic_home_active.png
  Frontend/android-native/app/src/driver/res/drawable/ic_home_inactive.png
  Frontend/android-native/app/src/driver/res/drawable/ic_profile_active.png
  Frontend/android-native/app/src/driver/res/drawable/ic_profile_inactive.png
  Frontend/android-native/app/src/driver/res/drawable/ic_referral_active.png
  Frontend/android-native/app/src/driver/res/drawable/ic_referral_inactive.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_account_active.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_account_inactive.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_alerts_active.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_alerts_inactive.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_cab_active.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_cab_inactive.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_contest_active.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_contest_inactive.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_home_active.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_home_inactive.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_no_notification.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_notification.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_rides_active.png
  Frontend/android-native/app/src/driver/res/drawable/ny_ic_rides_inactive.png
  Frontend/android-native/app/src/main/res/raw/notification_bell.json
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Components/BottomNavBar/Controller.purs
  Frontend/ui-driver/src/Components/BottomNavBar/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Handler.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/View.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Handler.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend

#622 backend/fix/ #600 added logs and omit +91 in heartbeat api
  Backend/app/dashboard/provider-dashboard/src/API/Exotel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Exotel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Exophone.hs
  Backend/app/provider-platform/static-offer-driver-app/Main/src/Domain/Action/Dashboard/Exotel.hs
  Backend/app/provider-platform/static-offer-driver-app/Main/src/Storage/Queries/Exophone.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Exotel.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Exophone.hs
  Backend/dev/rest-client/dashboard/bpp-dashboard/exotel.http
  Backend/stack-hie.yaml.lock
Labels: backend, ops-dashboard

#619 frontend/bugfix/#372/changed the background color of the screen
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/View.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/View.purs
Labels: frontend

#431 frontend/fix:#430 invoice pdf fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/res/layout/invoice_template.xml
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/Language/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/Language/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/Language/KN.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend

#621 Frontend/fix: #620 Separated out BASE_FARE and DEAD_KILOMETER_FARE
  Frontend/ui-customer/src/Resources/Localizable/Language/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/Language/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/Language/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
Labels: frontend

#638 backend/fix: #618-Adding-driver-silent-mode-bug-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person.hs
Labels: backend, conversion-optimisation

#625 backend/fix: #616 snapToRoadSnippetThreshold for OSRM
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/app/provider-platform/static-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Maps.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0143-add-device-to-searchRequest.sql
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  Backend/stack-hie.yaml
  Backend/stack.yaml
  Backend/stack.yaml.lock
  flake.lock
Labels: backend

#651 frontend/bugfix-#558-tipfeature customer-popUpModal
  Frontend/ui-common/src/Components/PopUpModal/View.purs
Labels: bug, frontend

#671 backend/fix: #618-Adding-driver-silent-mode-split-in-fill-batch
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
Labels: backend, conversion-optimisation

#673 backend/feat: #655-Adding-door-at-bpp-location
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Booking/BookingLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequest/SearchReqLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/GoogleMaps.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Tabular/Booking/BookingLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Tabular/SearchRequest/SearchReqLocation.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0154-add-door-in-location.sql
Labels: backend

#711 frontend/bug/#708/add spacing in driver number plate
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
Labels: frontend

#716 Frontend/fix: #218 bugfixes jatriSaathi sheet
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ic_hatchback.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/raw/rippling_online_effect.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/raw/rippling_online_effect.json
  Frontend/android-native/app/src/driver/yatriPartner/res/raw/rippling_online_effect.json
  Frontend/ui-customer/src/Components/EmergencyHelp/View.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#701 Improve nix build performance
  Backend/default.nix
  Backend/nix/default-overrides.nix
  flake.lock
Labels: nix

#702 backend/feat/ #695 : short description field in message
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Message/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Message/MessageTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Tabular/Message/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Tabular/Message/MessageTranslation.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0156-add-short-description-to-message.sql
  Backend/dev/migrations/provider-dashboard/0007-access-matrix-table-altered.sql
Labels: backend
