Repository nammayatri/nammayatri, pull requests merged in 2023-06, with the labels that each got.

#1070 frontend/fix/#930: changed customer tip charges options
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend

#995 Frontend/fix/#919/updating client and bundle version
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-common/src/Types/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Services/APITypes.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend

#1057 frontend/fix/902: fixed the customer pickup location giving null values
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend

#464 Fix/440/image url support for notification center
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Message.hs
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/src/Components/BottomNavBar/View.purs
  Frontend/ui-driver/src/Components/NotificationCard/View.purs
  Frontend/ui-driver/src/Components/NotificationDetailModel/View.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: backend, frontend

#998 Backend/fix/#919/updating client and bundle version
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Person.hs
Labels: backend

#1078 frontend/fix: #1077 stopping chat service from flow
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MyFirebaseMessagingService.java
  Frontend/ui-customer/src/Flow.purs
Labels: bug, frontend

#728 frontend/fix : #658 Extracted device details and added to headers
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/GpsListeningService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/LocationUpdateService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MyFirebaseMessagingService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/OverlaySheetService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/RideRequestUtils.java
  Frontend/ui-customer/src/Helpers/Storage.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend

#1089 frontend/fix: #1077 stopping chat service from flow
  Frontend/ui-customer/src/Flow.purs
Labels: bug, frontend

#1105 fix: bug fixes in chat
  Frontend/android-native/app/src/main/res/drawable/ic_ride_related.png
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-driver/src/Strings/EN.js
Labels: bug, frontend

#1118 frontend/fix/#1088: added haptic for imp buttons in customer
  Frontend/android-native/app/src/main/AndroidManifest.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend

#1080 Frontend/feat: #1079 Added overlay messaging for driver announcements
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/main/AndroidManifest.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MyFirebaseMessagingService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/OverlayMessagingService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/RideRequestUtils.java
  Frontend/android-native/app/src/main/res/layout/message_overlay.xml
Labels: frontend

#1140 frontend/fix/#908: fixed pdf not downloading for invoice in help and …
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
Labels: bug, frontend

#1147 Frontend/fix: #1017 Minor UI-bugfixes
  Frontend/android-native/app/src/main/AndroidManifest.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/OverlayMessagingService.java
  Frontend/android-native/app/src/main/res/values-bn/strings.xml
  Frontend/android-native/app/src/main/res/values-hi/strings.xml
  Frontend/android-native/app/src/main/res/values-kn/strings.xml
  Frontend/android-native/app/src/main/res/values-ml/strings.xml
  Frontend/android-native/app/src/main/res/values-ta/strings.xml
  Frontend/android-native/app/src/main/res/values/strings.xml
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/AboutUsScreen/View.purs
  Frontend/ui-driver/src/Screens/Handlers.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/View.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideSelectionScreen/Controller.purs
  Frontend/ui-driver/src/Strings/EN.js
Labels: frontend

#1109 frontend/#1093/ride reallocation changes to use same estimate id
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/QuoteListModel/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend

#1164 Frontend/fix: #1163 AutoSubmit OTP and Start ride
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend

#1167 Frontend/fix: #768 Added force Update for versions less than 58
  Frontend/ui-driver/src/Flow.purs
Labels: frontend

#1186 frontend/fix/#1184: added the required firebase events
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend

#220 frontend/#219/driver alert deep link
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Handler.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend

#1223 frontend/fix/#1214/DriverCallPopUp/ Added Changes in calling driver P…
  Frontend/android-native/app/src/main/res/drawable/ny_ic_anonymous_call.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_direct_call.png
  Frontend/android-native/app/src/user/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#1136 frontend/fix/#1120: added cross btn for try with tip popup
  Frontend/android-native/app/src/main/res/drawable/ny_ic_dismiss.png
  Frontend/ui-common/src/Components/PopUpModal/Controller.purs
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend

#1238 Frontend/fix: #1187 enabled shareRide for namma yatri
  Frontend/ui-customer/src/MerchantConfigs/NammaYatriConfig.js
Labels: frontend

#1086 frontend/fix/#1085: added firebase event for driver first ride completed
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Services/APITypes.purs
Labels: frontend

#520 backend/feat: #507 get dashboard apis for various merchant configs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/OnboardingDocumentConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/OnboardingDocumentConfig.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Booking/BookingLocation.hs
  Backend/dev/migrations/provider-dashboard/0011-get-merchant-configs-apis.sql
  Backend/dev/migrations/rider-dashboard/0008-get-merchant-configs-apis.sql
  Backend/dev/rest-client/dashboard/bap-dashboard/app-backend/merchant.http
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/merchant.http
Labels: backend, ops-dashboard

#1172 frontend/feat: #1170 adding call logs to kafka
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Services/APITypes.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: enhancement, frontend

#1137 Backend/fix/#960/ Update Driver's Gender
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Person.hs
Labels: backend

#1148 frontend/fix/#1122: Change customer delete account flow
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_delete_account.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_delete_account.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_delete_account.png
  Frontend/ui-common/src/Components/PrimaryEditText/Controller.purs
  Frontend/ui-common/src/Components/PrimaryEditText/View.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#1280 Frontend/fix/1122/change delete account flow
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Handler.purs
Labels: frontend

#1265 Frontend/fix: #1264 HapticFeedback bugfix
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Helpers/Utils.js
Labels: frontend

#1251 frontend/fix/#1250: bug fixes for nammayatri
  Frontend/android-native/app/src/user/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend

#1285 Frontend/fix/1122/change delete account flow
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
Labels: frontend

#1087 Frontend/fix: #954 RefreshState if onPasued time > 30 secs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Main.purs
Labels: frontend

#1295 backend/fix: #1123 Added new parameter, Bonus to driver/profile/stats
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareParameters.hs
Labels: backend

#1257 Backend/feat/#1213 adding flags for redis latency logs and prom metrics
  Backend/app/dashboard/Lib/src/Environment.hs
  Backend/app/kafka-consumers/src/Environment.hs
  Backend/app/mocks/public-transport-provider-platform/src/Environment.hs
  Backend/app/provider-platform/driver-tracking-health-check/src/API.hs
  Backend/app/provider-platform/driver-tracking-health-check/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/rider-platform/public-transport-rider-platform/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/SignatureAuth.hs
  Backend/app/rider-platform/rider-app/search-result-aggregator/src/Environment.hs
  Backend/dhall-configs/dev/beckn-gateway.dhall
  Backend/dhall-configs/dev/broadcast-message.dhall
  Backend/dhall-configs/dev/driver-availability-calculator.dhall
  Backend/dhall-configs/dev/driver-offer-allocator.dhall
  Backend/dhall-configs/dev/driver-tracking-healthcheck-service.dhall
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/mock-public-transport-provider-platform.dhall
  Backend/dhall-configs/dev/mock-rider-platform.dhall
  Backend/dhall-configs/dev/provider-dashboard.dhall
  Backend/dhall-configs/dev/public-transport-rider-platform.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/dhall-configs/dev/rider-dashboard.dhall
  Backend/dhall-configs/dev/scheduler-example-scheduler.dhall
  Backend/dhall-configs/dev/search-result-aggregator.dhall
  Backend/lib/location-updates/test/src/Utils.hs
  Backend/lib/scheduler/src/Lib/Scheduler/Environment.hs
  flake.lock
Labels: backend

#1232 frontend/feat: #342 like and view count for driver alert section
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_eye.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_heart_grey.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_heart_outline.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_heart_red.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_eye.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_heart_grey.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_heart_outline.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_heart_red.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_eye.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_heart_grey.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_heart_outline.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_heart_red.png
  Frontend/ui-driver/src/Components/NotificationCard/Controller.purs
  Frontend/ui-driver/src/Components/NotificationCard/View.purs
  Frontend/ui-driver/src/Components/NotificationDetailModel/Controller.purs
  Frontend/ui-driver/src/Components/NotificationDetailModel/View.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Styles/Color.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/APITypes.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: enhancement, frontend

#1188 Frontend/fix/#960/DriverGenderCapture/Capture Gender of driver
  Frontend/android-native/app/src/driver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_driver_gender_banner.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_grey_cross_icon.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_driver_gender_banner.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_grey_cross_icon.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_driver_gender_banner.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_grey_cross_icon.png
  Frontend/android-native/app/src/user/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/Banner/Banner.purs
  Frontend/ui-common/src/Components/Banner/Controller.purs
  Frontend/ui-common/src/Components/Banner/View.purs
  Frontend/ui-common/src/Components/SelectListModal/CancelRide.purs
  Frontend/ui-common/src/Components/SelectListModal/Controller.purs
  Frontend/ui-common/src/Components/SelectListModal/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/Styles/Color.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/Handler.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/APITypes.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#1297 aaded flag for aadhar verification for ui
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Tabular/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Tabular/Merchant.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0186-add-aadhar-verified-in-merchant.sql
Labels: backend

#975 frontend/#945/removed-moment
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-customer/package.json
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-driver/package.json
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
Labels: frontend

#450 Frontend/feat: #402/special Location NammaYatriPartner
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/driver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/assets/juspay/zone_config.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ic_cancelride_metro_drop.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ic_cancelride_metro_pickup.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ic_cancelride_metro_drop.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ic_cancelride_metro_pickup.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ic_metro_white.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ic_cancelride_metro_drop.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ic_cancelride_metro_pickup.png
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/OverlaySheetService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/RideRequestActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/RideRequestUtils.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/SheetAdapter.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/SheetModel.java
  Frontend/android-native/app/src/main/res/drawable/ic_blue_dot.png
  Frontend/android-native/app/src/main/res/drawable/ic_hospital_ride.png
  Frontend/android-native/app/src/main/res/drawable/ic_metro.png
  Frontend/android-native/app/src/main/res/drawable/ic_metro_shape.png
  Frontend/android-native/app/src/main/res/layout/sheet_view.xml
  Frontend/ui-driver/src/Components/IndividualRideCard/View.purs
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/ConfigJBridge.js
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/View.purs
  Frontend/ui-driver/src/Screens/RideSelectionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideSelectionScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/APITypes.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend

#1304 Frontend/fix: #1271 Added delay in ridereq popup
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/OverlaySheetService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/RideRequestActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/RideRequestUtils.java
Labels: frontend

#1294 Fix for floating widget when drivers are nudged silent.
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MyFirebaseMessagingService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/OverlayMessagingService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/RideRequestUtils.java
Labels: bug, frontend

#1310 Frontend/fix: #443 fixed build errors
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/main/assets/juspay/zone_config.json
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/OverlaySheetService.java
Labels: frontend

#1315 Frontend/fix: #443 Fixed widget start issue
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/RideRequestUtils.java
Labels: frontend

#1316 frontend/feat: #1170 removing kafka call logs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: bug, frontend

#1318 frontend/fix: #1317 driver chat translation fix
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Strings/EN.js
Labels: bug, frontend

#1319 Frontend/fix: #443 increased widget size
  Frontend/android-native/app/src/main/res/layout/floating_widget_layout.xml
  Frontend/android-native/app/src/main/res/layout/sheet_view.xml
Labels: frontend

#1372 frontend/#1371/process-crash-fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
Labels: frontend

#1305 frontend/fix#908: removed invoice logo fix
  Frontend/android-native/app/src/user/nammaYatri/res/layout/invoice_template.xml
Labels: frontend

#1382 frontend/fix/#1381: download pdf fix
  Frontend/android-native/app/src/main/AndroidManifest.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
Labels: frontend

#1384 frontend/#1351/retry after night/day charges applicable
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#1083 frontend/fix: #957 added tip view on customer search screen
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_stop_circle_yellow.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_wallet_filled.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ic_no_quotes_color.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_stop_circle_yellow.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_wallet_filled.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_stop_circle_yellow.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_wallet_filled.png
  Frontend/ui-common/src/Common/Styles/Colors.purs
  Frontend/ui-common/src/Components/PopUpModal/Controller.purs
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/QuoteListModel/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Resources/Styles/Colors.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
  Frontend/ui-driver/src/Resource/Styles/Color.purs
Labels: frontend

#897 backend/fix/#870 update response of flowstatus api
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Person/PersonFlowStatus.hs
Labels: backend

#1427 frontend/fix/#1063: channel id for multiple merchant for clevertap an…
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/ui-customer/src/Flow.purs
Labels: frontend

#1404 Frontend/1.3.3 bugfixes
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ContactUsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend

#1402 Frontend/fix: #1399 UI - Bugfixes
  Frontend/android-native/app/src/main/java/in/juspay/mobility/CommonJsInterface.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/carousel/VPAdapter.java
  Frontend/android-native/app/src/main/res/layout/viewpager_item.xml
  Frontend/ui-customer/src/MerchantConfigs/JatriSaathiConfig.js
  Frontend/ui-customer/src/MerchantConfigs/NammaYatriConfig.js
  Frontend/ui-customer/src/MerchantConfigs/YatriConfig.js
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/WelcomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
Labels: frontend

#1430 frontend/feat: #1054 In-App chat enhancement
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/ChatService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MessageOverlay.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/MyFirebaseMessagingService.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/utils/NotificationUtils.java
  Frontend/android-native/app/src/main/res/drawable/message_bg.xml
  Frontend/android-native/app/src/main/res/drawable/message_sheet_bg.xml
  Frontend/android-native/app/src/main/res/drawable/ny_ic_chat_white.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_chevron_right.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_cross_round.png
  Frontend/android-native/app/src/main/res/drawable/ny_logo_dark.png
  Frontend/android-native/app/src/main/res/layout/message_sheet.xml
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Components/ChatView/Controller.purs
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/Engineering/Helpers/Suggestions.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/ScreenData.purs
Labels: enhancement, frontend
