Repository nammayatri/nammayatri, pull requests merged in 2023-11, with the labels that each got.

#4110 frontend/fix/#2319 : Update offer banner deadline.
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, native, driver

#4111 backend/fix: use default merchant city for beckn context
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API.hs
  Backend/app/rider-platform/rider-app/Main/src/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Track.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Update.hs
Labels: backend

#4112 backend/fix/added-pickup-location-based-city-lookup-during-on-search-…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Geometry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestSpecialZone.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Geometry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/SearchRequestSpecialZone.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Geometry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestSpecialZone.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0297-adding-city-to-geometry.sql
Labels: backend

#4115 backend/fix:rc prefix fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
Labels: backend

#3901 Frontend/fix: Auto trigger waiting charges
  .github/workflows/es-lint.yaml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/WidgetService.java
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/ModifyScreenTypes.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, driver

#4116 frontend/refactor: fixed location update issue
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#4117 frontend/hotpush: stop clevertap personstats
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#4114 backend/enhancement/#4113 /Go-To Home additional dashboard API to get driver…
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#4123 backend/fix/plan_activated_for_the_day_overlay_key_fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/PaymentNudge.hs
Labels: backend

#4126 frontend/#4004/RecentSearches prod issue fix
  Frontend/ui-customer/src/Components/FavouriteLocationModel/View.purs
  Frontend/ui-customer/src/Components/LocationListItem/Controller.purs
  Frontend/ui-customer/src/Components/LocationListItem/View.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/Controller.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#4128 frontend/fix: fixed issue with booking preferences
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#4124 backend/fix/dueAmount-not-coming-in-overlay
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
Labels: backend

#4125 frontend/fix:#4004 Notification sound issue fix PROD
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/res/raw/notify_sound.mp3
  Frontend/android-native/app/src/main/res/raw/ride_started.mp3
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/index_bundle.js
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/res/raw/notify_sound.mp3
  Frontend/android-native/mobility-app/src/main/res/raw/ride_started.mp3
Labels: frontend, native

#4137 frontend/feat: add multicity changes for vehicle details flow
  .github/workflows/es-lint.yaml
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
Labels: frontend, native, driver

#4138 backend/pref : added bundle version in driver info
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#4145 backend/fix/overlay-dueAmount-not-coming
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/PaymentNudge.hs
Labels: backend

#4147 frontend/special zone quote expiry time to 3600 sec
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
Labels: frontend

#4158 backend/refactor/exophone-does-not-exist
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Call.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
Labels: backend

#4159 backend/fix : driverfee type fix for subscribed driver in ys
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0298-ys-driver-fee-fix-migrations.sql
Labels: backend

#4162 Backend/fix/ys driverfee migration fix
  Backend/dev/migrations/dynamic-offer-driver-app/0298-ys-driver-fee-fix-migrations.sql
Labels: backend

#4163 [backend/fix] remove extra tables and remove dl prefix check
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverOnboarding/OperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/LeaderBoardConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/OnboardingDocumentConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/LeaderBoardConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverOnboarding/OperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/LeaderBoardConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Delete.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Delete.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Update.hs
Labels: backend

#4166 frontend/fix: #4150 Fix for dummy driver info card
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#4172 frontend/feat: enable driver giving rating to the app
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#4149 frontend/#4148/increased special zone quote expiry to 1 hour and made…
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
Labels: frontend, customer

#4173 frontend/fix/#2319 : Added RESUME_PENDING autopay status.
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#4192 frontend/fix: #4150 Fix for share app popup
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#4193 frontend/feat: enable special charaters in DL input editText
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/ComponentConfig.purs
Labels: frontend, driver

#4211 backend/fix/randomized-redis-stream-consumer
  Backend/lib/scheduler/src/Lib/Scheduler/App.hs
  Backend/lib/scheduler/src/Lib/Scheduler/Environment.hs
  Backend/lib/scheduler/src/Lib/Scheduler/Handler.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/Redis/Queries.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/SchedulerType.hs
Labels: backend

#4228 backend/refactor/4xx-TOKEN_NOT_FOUND-fix-for-rider-app-in-auth-verify…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
Labels: backend

#4217 Backend/fix/scheduler_bug_attempttask_by_parentJobId_in_DBBased
  Backend/lib/scheduler/src/Lib/Scheduler/Handler.hs
Labels: backend

#4258 Frontend/fix: #1840 Driver onboarding fixes
  Frontend/ui-common/src/Components/StepsHeaderModal/Controller.purs
  Frontend/ui-common/src/Components/StepsHeaderModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/View.purs
  Frontend/ui-driver/src/Screens/EnterMobileNumberScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/EnterMobileNumberScreen/View.purs
  Frontend/ui-driver/src/Screens/EnterOTPScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/PermissionsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/Controller.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/View.purs
  Frontend/ui-driver/src/Screens/WelcomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/WelcomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/WelcomeScreen/View.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/FR.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend, ui-common, driver

#4259 Frontend/fix/#1840 driver onboarding flow
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_welcome_screen_1.png
  Frontend/ui-common/src/Components/MobileNumberEditor/View.purs
  Frontend/ui-driver/src/Screens/EnterMobileNumberScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/EnterMobileNumberScreen/Controller.purs
  Frontend/ui-driver/src/Screens/EnterMobileNumberScreen/View.purs
  Frontend/ui-driver/src/Screens/EnterOTPScreen/Controller.purs
  Frontend/ui-driver/src/Screens/EnterOTPScreen/View.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/Controller.purs
  Frontend/ui-driver/src/Screens/WelcomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/WelcomeScreen/ScreenData.purs
Labels: frontend, native, ui-common, driver

#4044 backend/enhancement : add retry and retarget fields
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Invoice.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Notification.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0299-add-retarget-retries-feilds.sql
  Backend/dev/migrations/rider-app/1186-add-retarget-and-retry-fields.sql
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Types/PaymentOrder.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Beam/PaymentOrder.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PaymentOrder.hs
  flake.lock
Labels: backend

#4271 Backend/Fix : Search Round Trip High Latency
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search/OneWay.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search/Rental.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Serviceability.hs
Labels: backend

#4269 backend/fix : adding new mapping for issue flow
  Backend/dev/migrations/dynamic-offer-driver-app/0300-adding-priority-to-issue-category.sql
  Backend/dev/migrations/rider-app/1187-adding-new-data-for-issue-flow.sql
  Backend/lib/shared-services/src/IssueManagement/Common/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/Issue/IssueCategory.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/Issue/IssueCategory.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueCategory.hs
Labels: backend

#4272 backend/fix : mandate-failed-status-update-on-failure-case
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverFee.hs
Labels: backend

#4279 backend/refactor/changes-for-dashboard-subscription-overlay-to-includ…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#4289 frontend/update customer support number
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
Labels: frontend, native

#4256 backend/enhancement/go-to changed on ride flags for better race condi…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Driver/GoHomeRequest.hs
Labels: backend

#4257 frontend-feat #4255 enabled special zone in customer
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Common/Styles/Colors.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-driver/src/Resource/Styles/Color.purs
Labels: frontend, native, ui-common, customer, driver

#4299 Backend/Fix : Merchant Operating City Should only take Default When n…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RegistrationToken.hs
Labels: backend

#4292 backend/feat/generic-whatsapp-messages-rider-app
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Merchant/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Merchant/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Merchant/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Whatsapp.hs
  Backend/dev/migrations/rider-app/1188-add-columns-in-merchant-message.sql
Labels: backend

#4290 frontend/fix: #4248 fixed string alignment issue in carousel
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend, customer

#4093 Backend/fix/compile times optimizations - Adds Parallel Jobs and Makes using development builds convenient
  Backend/README.md
  Backend/cabal.project
Labels: backend, compile times optimisation

#4295 frontend/feat/installReferrerImplementation-customer
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
Labels: frontend, native, ui-common, customer

#4304 Backend/feat : Added list all city for a merchant API on BPP
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/City.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/City.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/City.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantOperatingCity.hs
Labels: backend

#4310 frontend/#4187/special zone expiry time revamp
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
Labels: frontend, customer, driver

#4312 backend/fix: fixed to return available cities in list api
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Person.hs
Labels: backend

#4316 frontend/fix/#2319 : Update config for offer in YS and Payment failed…
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
Labels: frontend, native, driver

#4298 backend/fix : mandate failed status update
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  flake.lock
Labels: backend

#3999 frontend/fix/#3962: booking options ui change for yatri and yatri saathi
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_cross_red.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_hatchback_car_side.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_sedan_car_side.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_suv_car_side.png
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/FR.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend, native, driver

#4319 frontend/update: updated axios versions to resolve warning
  Frontend/ui-customer/package.json
  Frontend/ui-driver/package.json
Labels: frontend, customer, driver

#4321 backend/enhace: add snap to road fallback API
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Ride/Table.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0301-add-snap-to-road-fallback.sql
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  Backend/lib/location-updates/test/src/API.hs
  Backend/lib/location-updates/test/src/RedisAlgorithm.hs
  Backend/lib/location-updates/test/src/Utils.hs
  flake.lock
  flake.nix
Labels: backend

#4274 frontend/#4273/feat added pickUp far from current location pop up
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/FR.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend, customer

#4318 frontend/feat: enable geocoder for android place name
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
Labels: frontend, native, ui-common, customer

#4327 Backend/feat/zoo booking
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Transaction.hs
  Backend/app/dashboard/rider-dashboard/rider-dashboard.cabal
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketBookingServicePriceBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketServicePrice.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketBookingServicePriceBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketServicePrice.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations/rider-app/1189-zoo-booking-integration.sql
Labels: backend

#4328 frontend/feat: enable pp for customer app and moved func's to common
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Payment/PaymentPage.js
  Frontend/ui-common/src/Payment/PaymentPage.purs
  Frontend/ui-customer/cleanSpago.sh
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Domain/Payments.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/ApplicationStatusScreen/View.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/View.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, ui-common, customer, driver

#4324 backend/fix : remove-driver-plan-fetch-after-update
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
Labels: backend

#4332 frontend/bugfix: repeatRideFlow bugfix
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#4335 frontend/feat: added API types for ticket booking flow
  Frontend/ui-common/src/Payment/PaymentPage.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Handler.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/ScreenNames.purs
Labels: frontend, ui-common, customer, driver

#4336 backend:feat/# BPP dashboard api to mock EC response for Galactus
  Backend/app/dashboard/Lib/src/API/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Person.hs
  Backend/dev/migrations/provider-dashboard/0029-make-server-array-merchant.sql
Labels: backend

#4337 Frontend/feat: Added Screens for zoo bookings
  Frontend/android-native/app/src/main/res/drawable/ny_ic_green_tick.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_payment_failed.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_transaction_pending.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_ticket.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, native, customer

#4330 frontend/feat/#4325/zooTicketBookingFlow-afterPhase
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_blue_arrow.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_deer.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_failed.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_pending.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_share_unfilled_black.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_share_unfilled_white.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_success.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_ticket.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_ticket_black.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_ticket_grey.png
  Frontend/ui-common/src/Common/Styles/Colors.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/SettingSideBar/Controller.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Handler.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
  Frontend/ui-customer/src/Strings/EN.js
Labels: frontend, native, ui-common, customer

#4342 frontend/fix ticket booking flow
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#4347 frontend/feat: update flow for ticket payment flow
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_ticket.png
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
Labels: frontend, native, customer

#4353 frontend/fix/added transformer
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Transformer.purs
Labels: frontend, customer

#4355 frontend/fix QR rendering issue fix
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Screens/Handlers.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/Handler.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/View.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, customer

#4351 frontend/fix/zooBookingFixes
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_confetti.png
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Handler.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/View.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, native, customer

#4356 backend/feat: integrate ticket service api
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#4357 Frontend/fix: Post payment flow
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_ticket.png
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Handler.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, native, customer

#4360 frontend/fix/#4345/temporary-fix-for-500-internal-server-error-in-sta…
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#4359 frontend/fix/#4325/loaderChangesAndBackPressIssueFixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Handler.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, customer

#4361 frontend/fix/ui-fixes ticket booking flow
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/View.purs
Labels: frontend, customer

#4362 frontend/fix/#4345/shimmerViewFix
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/View.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, customer

#4363 [frontend/feat] integrate backend ticket service API
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#4364 frontend/fix/shimmerViewFix
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, customer

#4365 frontend/fix: fixed bugs related to zoo booking flow
  Frontend/ui-common/src/Payment/PaymentPage.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Handler.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/Handler.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, ui-common, customer

#4366 [backend/fix] update ticket verification API
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketService.hs
  Backend/dev/migrations/rider-app/1189-zoo-booking-integration.sql
Labels: backend

#4368 frontend/feat: enable share ticket via messages and bug fixes for zoo
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/View.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, customer

#4369 frontend/feat: added geocoder for address to lat long functions
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/GeoCoderHelper.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, native, ui-common, customer

#4370 Geocoder impl
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/GeoCoderHelper.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
Labels: frontend, native

#4371 frontend/fix: fix banner and layout issues on customer homescreen
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, customer

#4367 frontend/fix: #4325 Ticket Image Fix
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_failed.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_success.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_ticket.png
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/View.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: bug, frontend, native, customer

#4372 frontend/fix: removed share ticket option from booking status model
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, customer

#4373 frontend/fix: fixed issues related to time and date check for tickets
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, customer

#4375 frontend/fix/MInor bug fixes button shifting up
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, customer

#4378 frontend/fix/appUpdate Pop Up for YS
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/passculture/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AppUpdatePopUp/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AppUpdatePopUp/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#4382 backend/refactor (hlint): Applies HLint suggestions and fixes after GHC 9.2 upgrade on the codebase
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Exotel.hs
  Backend/app/dashboard/Lib/src/Domain/Types/RegistrationToken.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/RideBooking.hs
  Backend/app/mocks/rider-platform/src/API/Handler.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Exotel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Utils/Parse.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Utils/Redis.hs
  Backend/app/rider-platform/rider-app-drainer/src/Utils/Parse.hs
  Backend/app/rider-platform/rider-app-drainer/src/Utils/Redis.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Tags.hs
Labels: backend, refactor

#4345 Backend/dashboard api galactus release
  Backend/app/dashboard/Lib/src/API/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Role.hs
  Backend/app/dashboard/Lib/src/Tools/Auth/Dashboard.hs
  Backend/dev/migrations/provider-dashboard/0030-update-role-internal-admin.sql
Labels: backend

#4140 frontend/feat: #4119 Added Purescript splash screen for Customer
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-customer/src/Screens/SplashScreen/Controller.purs
  Frontend/ui-customer/src/Screens/SplashScreen/Handler.purs
  Frontend/ui-customer/src/Screens/SplashScreen/View.purs
Labels: frontend, ui-common, customer

#4352 backend/fix : double debit related fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Execution.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFee.hs
Labels: backend

#4046 frontend/feat : #3917 Added Deep links for Customer
  Frontend/android-native/app/src/main/AndroidManifest.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/user/jatriSaathi/AndroidManifest.xml
  Frontend/android-native/app/src/user/nammaYatri/AndroidManifest.xml
  Frontend/android-native/app/src/user/yatri/AndroidManifest.xml
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Handler.purs
  Frontend/ui-customer/src/Services/Accessor.purs
  Frontend/ui-driver/index.js
Labels: frontend, native, ui-common, customer, driver

#4385 Backend/fix/added-mandate-and-driver-plan-to-drainer
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Delete.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Delete.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Update.hs
Labels: backend

#4389 frontend/fix: #4387 Fixed splash screen is not removed when deep link…
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Services/Accessor.purs
Labels: frontend, native, customer

#4388 Backend/bpp dashboard mobius product spec info
  Backend/app/dashboard/Lib/src/API/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Person.hs
Labels: backend

#3467 backend/feat/translations
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0302-add-translated-lang.sql
Labels: backend

#4394 frontend/fix: #4393 Fixed polling not happeing in case FCM is not rec…
  Frontend/android-native/mobility-customer/src/main/res/drawable/ic_auto_nav_on_map.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/res/drawable/ic_auto_nav_on_map.png
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, customer

#4160 Backend/feat/added-merchant-id-to-location-mapping
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/LocationMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/LocationMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/LocationMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/LocationMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestSpecialZone.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/LocationMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/LocationMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/LocationMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/LocationMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequest.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0302-added-updated-at-location-mapping.sql
  Backend/dev/migrations/rider-app/1190-added-updated-at-in-location-mapping.sql
Labels: backend

#4141 Backend/feat: #4143 Added get city API from shape files using lat lng
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Geometry.hs
  Backend/test/src/Mobility/ARDU/APICalls.hs
Labels: backend

#4396 backend/fix/overlapping-migration
  Backend/dev/migrations/dynamic-offer-driver-app/0303-added-updated-at-location-mapping.sql
Labels: backend

#4397 frontend/feat/#4325/added_refresh_status_button_in_Confirmed_booking_…
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_history_unfilled.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Handler.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, native, customer

#4178 frontend/refactor: refactoring flow file of customer app
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Auth.purs
  Frontend/ui-customer/src/Helpers/Firebase.purs
  Frontend/ui-customer/src/Helpers/Log.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/Storage/Flow/BaseApp.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Version.purs
  Frontend/ui-customer/src/Services/Accessor.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, refactor, ui-common, customer, driver

#3342 backend/nix: check direnv/ram in nix-health
  flake.nix
Labels: no-pr-activity

#4402 frontend/fix/#4325/backpress-issue-fix-for-zoo-Ticket-booking-flow-ys
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/Handler.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/View.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
  Frontend/ui-customer/src/Strings/BN.js
  Frontend/ui-customer/src/Strings/EN.js
  Frontend/ui-customer/src/Strings/FR.js
  Frontend/ui-customer/src/Strings/HI.js
  Frontend/ui-customer/src/Strings/KN.js
  Frontend/ui-customer/src/Strings/ML.js
Labels: frontend, customer

#4341 backend/pref : added registration lat and lon in person table
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Instances/Person.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0302-add-registration-lat-lon.sql
Labels: backend

#4404 frontend/fix/#4325/fix-for-button-accessibility-in-zoo-ticket-booking…
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/View.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
Labels: frontend, customer

#4403 backend/feat : added block_modifier in driver info table
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Driver/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/UnblockDriverUpdate/UnblockDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Instances/DriverInformation.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0304-added-block-modifier-variable.sql
Labels: backend

#4405 backend/fix : migration fix
  Backend/dev/migrations/dynamic-offer-driver-app/0304-add-registration-lat-lon.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0305-added-block-modifier-variable.sql
Labels: backend

#4401 backend/feat gender details in daily and weekly leader board API
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/LeaderBoard.hs
Labels: backend

#4408 backend/KV:added secondary keys for the queries for enabling in KV
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketService.hs
Labels: backend

#4415 frontend/enhancement handled fromMaybe for string
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Components/ComplaintsModel/View.purs
  Frontend/ui-common/src/Components/RatingCard/View.purs
  Frontend/ui-common/src/Components/SelectListModal/View.purs
  Frontend/ui-common/src/Engineering/Helpers/MobilityPrelude.purs
  Frontend/ui-customer/src/Components/EmergencyHelp/View.purs
  Frontend/ui-customer/src/Components/LocationListItem/View.purs
  Frontend/ui-customer/src/Components/PricingTutorialModel/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Components/SavedLocationCard/View.purs
  Frontend/ui-customer/src/Components/StepsHeaderModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Auth.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/Controller.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
  Frontend/ui-driver/src/Components/DueDetailsList/View.purs
  Frontend/ui-driver/src/Components/NotificationDetailModel/View.purs
  Frontend/ui-driver/src/Components/PrimaryEditText/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/View.purs
  Frontend/ui-driver/src/Screens/PaymentHistoryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/PaymentHistoryScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/View.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideSelectionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
Labels: frontend, ui-common, customer, driver

#4381 frontend/feat/#4379 Updated assets_downloader to v0.0.2
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/passCulturePartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-common/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/android-native/mobility-customer/src/main/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/passculture/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Log.purs
  Frontend/ui-customer/src/Helpers/Storage/Flow/BaseApp.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, ui-common, customer, driver

#4313 frontend/fix updated keep.sh
  Frontend/android-native/mobility-common/build.gradle
  Frontend/android-native/mobility-common/keep.sh
  Frontend/android-native/mobility-customer/keep.sh
Labels: frontend, native

#4418 frontend/fix #4417 Update the device token in separate flow if it is …
  Frontend/ui-common/src/Engineering/Helpers/Firebase.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, ui-common, customer, driver

#4323 backend/fix : added fixed login part in dashboard
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
Labels: backend

#4314 backend/refactor/4xx-CALL_DOES_EXISTS-error
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/CallStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/CallStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/CallStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/CallStatus.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0302-add-fields-in-callStatus-table.sql
  Backend/dev/migrations/rider-app/1190-add-fields-in-callStatus-table.sql
Labels: backend

#4424 backend/fix/overlapping-migrations
  Backend/dev/migrations/dynamic-offer-driver-app/0306-add-fields-in-callStatus-table.sql
  Backend/dev/migrations/rider-app/1191-add-fields-in-callStatus-table.sql
Labels: backend

#3130 frontend/feat/#2990 Moved PP to Native
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/config.json
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/Utils.java
  Frontend/android-native/mobility-common/build.gradle
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/PaymentPage.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
  Frontend/ui-common/src/Engineering/Helpers/LogEvent.purs
  Frontend/ui-common/src/Engineering/Helpers/Utils.js
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-common/src/FileProviders/AssetsProvider/AssetsProvider.js
  Frontend/ui-common/src/FileProviders/AssetsProvider/AssetsProvider.purs
  Frontend/ui-common/src/FileProviders/ConfigProvider/ConfigProvider.js
  Frontend/ui-common/src/FileProviders/ConfigProvider/ConfigProvider.purs
  Frontend/ui-common/src/Payment/PaymentPage.js
  Frontend/ui-common/src/Payment/PaymentPage.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer, driver

#3535 backend/feat:#3386 driver earnings screen changes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/RideSummary.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/RideSummary.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DailyStats.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0285-dailyStats-table.sql
Labels: backend

#4410 backend/fix/added-new-options-and-fixed-translations'
  Backend/dev/migrations/rider-app/1192-fixing-translations-and-adding-extra-options.sql
Labels: backend

#4433 apiParser and Generator added
  Backend/app/alchemist/alchemist.cabal
  Backend/app/alchemist/package.yaml
  Backend/app/alchemist/src/Alchemist/AST/API.hs
  Backend/app/alchemist/src/Alchemist/App.hs
  Backend/app/alchemist/src/Alchemist/DSL/Parser/API.hs
  Backend/app/alchemist/src/Alchemist/DSL/Syntax/API.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/Servant.hs
Labels: backend

#4434 backend/refactoring/storageParser
  Backend/app/alchemist/src/Alchemist/App.hs
  Backend/app/alchemist/src/Alchemist/DSL/Parser/Storage.hs
Labels: backend

#4422 frontend/feat #4419 Added deeplink options for customer app
  Frontend/android-native/mobility-common/build.gradle
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/GenericHeader/Controller.purs
  Frontend/ui-common/src/Components/GenericHeader/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AboutUsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AboutUsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SelectLanguageScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SelectLanguageScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Services/Accessor.purs
Labels: frontend, native, ui-common, customer

#4435 ServantCode Generator Fixed
  Backend/app/alchemist/alchemist.cabal
  Backend/app/alchemist/package.yaml
  Backend/app/alchemist/src/Alchemist/App.hs
  Backend/app/alchemist/src/Alchemist/DSL/Parser/API.hs
  Backend/app/alchemist/src/Alchemist/DSL/Syntax/API.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/Servant.hs
Labels: backend

#4436 frontend/feat: enable firebase remote configs for splash screen and force udpate
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RemoteConfigs/MobilityRemoteConfigs.java
  Frontend/android-native/mobility-app/src/main/res/xml/remote_config_defaults.xml
Labels: frontend, native

#4406 frontend/feat #4395 Added city specific splash screen
  Frontend/android-native/app/src/driver/common/res/raw/splash_lottie_blr.json
  Frontend/android-native/app/src/driver/common/res/raw/splash_lottie_del.json
  Frontend/android-native/app/src/driver/common/res/raw/splash_lottie_hyd.json
  Frontend/android-native/app/src/driver/common/res/raw/splash_lottie_mys.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_namma_yatri_kn.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_namma_yatri_partner_en.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ic_powered_by.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_namma_yatri_driver_logo.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_namma_yatri_kn.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_namma_yatri_partner_en.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/layout/splash.xml
  Frontend/android-native/app/src/driver/passCulturePartner/res/drawable/ny_ic_namma_yatri_kn.png
  Frontend/android-native/app/src/driver/passCulturePartner/res/drawable/ny_ic_namma_yatri_partner_en.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_namma_yatri_kn.png
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_namma_yatri_partner_en.png
  Frontend/android-native/app/src/main/assets/juspay/splash_config.json
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/ResourceHandler.java
  Frontend/android-native/app/src/main/res/drawable/ny_ic_splash_bg_trans.png
  Frontend/android-native/app/src/main/res/values/colors.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, native, ui-common, driver

#4438 backend/KV:added tickets table in drainer
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Delete.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Update.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Delete.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Update.hs
Labels: backend

#4431 frontend/feat: Making auto rickshaw image configurable
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ic_auto_rickshaw_black_yellow.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_black_yellow_auto.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_black_yellow_auto_quote_list.png
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/Resource/CityConfig.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/EmergencyHelp/View.purs
  Frontend/ui-customer/src/Components/QuoteListItem/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListItem/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReferralScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/TicketInfoScreen/View.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Strings/TE.js
Labels: frontend, native, ui-common, customer, driver

#4439 Frontend/fix: #1840 Removed option of changing city from UI
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/Handler.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Strings/BN.js
  Frontend/ui-driver/src/Strings/EN.js
  Frontend/ui-driver/src/Strings/FR.js
  Frontend/ui-driver/src/Strings/HI.js
  Frontend/ui-driver/src/Strings/KN.js
  Frontend/ui-driver/src/Strings/ML.js
  Frontend/ui-driver/src/Strings/TA.js
Labels: frontend, driver

#4441 frontend/fix #4440 Fix for app stuck in otp screen
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
Labels: frontend, ui-common

#4442 backend/fix/earnings_query
  Backend/dev/migrations/dynamic-offer-driver-app/0285-dailyStats-table.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0307-coins-config.sql
Labels: backend

#4443 Backend/fix/uuid-migration-fix
  Backend/dev/migrations/dynamic-offer-driver-app/0307-coins-config.sql
Labels: backend

#4445 frontend/fix #4440 fix for double backpress callback
  Frontend/ui-customer/index.js
Labels: frontend, customer

#4447 backend/enhancement: added short_desc, mapUrl, iconUrl to TicketPlace…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Tickets/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Tickets/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Tickets/TicketPlace.hs
  Backend/dev/migrations/rider-app/1193-added-columns-shortDesc-iconUrl-mapImgUrl-in TicketPlace.sql
Labels: backend

#4161 Backend/feat: send dummy notification to driver via dashboard
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Driver/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantOperatingCity.hs
  Backend/dev/migrations/provider-dashboard/0031-add-send-dummy-notification-user-action-type.sql
Labels: backend

#4409 frontend/feat: enable mlkit to translate address of ride requests
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetModel.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/TranslatorMLKit.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
Labels: frontend, native

#4448 frontend/fix/#2319 : Update offer details for YSD.
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
Labels: frontend, native

#4449 Backend/fix/coin-migration-fix
  Backend/dev/migrations/dynamic-offer-driver-app/0307-coins-config.sql
Labels: backend

#4457 frontend/feat: move app update config to remote for switch based on release
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RemoteConfigs/MobilityRemoteConfigs.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/services/MobilityAppUpdate.java
  Frontend/android-native/mobility-app/src/main/res/xml/remote_config_defaults.xml
Labels: frontend, native

#4461 Backend/feat/add-coins-in-driver-profile
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#4462 Backend/fix/coin-conversion-cash-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
Labels: backend

#4421 frontend/fix/4xx-driver-arrived-at-pickup-api
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, driver

#4467 backend/fix : fixed dashboard profile api
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Person.hs
Labels: backend

#4470 frontend/fix incorrect url hit
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, driver

#4472 Backend/feat/driver-fee-paid-by-coins-migration-fix
  Backend/dev/migrations/dynamic-offer-driver-app/0307-coins-config.sql
Labels: backend

#4479 Backend/fix/driver-stats-type-mismatch
  Backend/dev/migrations/dynamic-offer-driver-app/0308-update-column-type-of-driver-stats.sql
Labels: backend

#4486 backend/fix : driver fee scheduler query fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFee.hs
Labels: backend

#4489 frontend/feat/added Puducherry and Madurai
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, native, driver

#4477 frontend/refactor/invalidUrl-Check-while-making-api-call
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, ui-common, customer, driver

#4493 frontend/fix/#4492:added static splash screen for nammayatri
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_splash_scn_logo_with_text.png
  Frontend/android-native/app/src/user/nammaYatri/res/layout/splash.xml
Labels: frontend, native
