Repository nammayatri/nammayatri, pull requests merged in 2024-04, with the labels that each got.

#6132 frontend/fix: #6113 Updated footer image for yatri partner
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ic_powered_by.png
Labels: frontend, native

#6133 frontend/automation: added workflow for apk uploads
  .github/workflows/release-apk.yaml
  Frontend/android-native/Gemfile
  Frontend/android-native/app/build.gradle
  Frontend/android-native/fastlane/Appfile
  Frontend/android-native/fastlane/Fastfile
Labels: frontend, native

#5892 Backend/fix/filtering drivers lat lon according to variant
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0376-drop-unique_constraint_for_rc_table.sql
Labels: backend

#6139 backend/dsl/Made dsl yaml Pascal case, removed query extra file direc…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/BecknConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Aadhaar.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/AppInstalls.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/BecknConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/BppDetails.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/CallBackRequest.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/CallStatus.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/HotSpotConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/LocationMapping.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MerchantConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/NotificationSoundConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/OnSearchEvent.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonStats.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RegistrationToken.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/aadhaar-otp-request.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/aadhaar-otp-verify.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/aadhaar-verification.yaml
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/LocationMapping.hs
  flake.lock
Labels: backend

#6140 frontend/automation: updated local properties for apk generation
  .github/workflows/release-apk.yaml
  Frontend/android-native/fastlane/Fastfile
Labels: frontend, native

#6143 frontend/automation: apk push to play console to testing track
  Frontend/android-native/app/build.gradle
  Frontend/android-native/fastlane/Fastfile
Labels: frontend, native

#6147 frontend/automation: apk push to play store
  Frontend/android-native/app/build.gradle
Labels: frontend, native

#6150 backend/fix : providing merchantId and city in login response
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
Labels: backend

#6153 frontend/fix Removed trip distance check and updated rate card
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, customer

#5628 Backend/feat/frfs-metro-cancellation-implementation (SOFT and HARD CANCEL)
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/lib/beckn-spec/src/BecknV2/FRFS/Enums.hs
Labels: backend

#6169 frontend/fix invoice and updated rate card
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, customer

#6131 backend/enh added newman test runner
  Backend/dhall-configs/dev/location_tracking_service.dhall
  Backend/newman-tests/Dev.postman_environment.json
  Backend/newman-tests/run-tests.sh
  Backend/newman-tests/tests/happy-case-flow/happy-case-flow.postman_collection.json
  Backend/newman-tests/tests/happy-case-flow/post-test.sh
  Backend/newman-tests/tests/happy-case-flow/pre-test.sh
  Backend/newman-tests/utils/checkStuckEntities.sh
  Backend/newman-tests/utils/clearStuckEntities.sh
  Backend/newman-tests/utils/flushRedis.sh
Labels: backend

#6176 Newman testing
  Backend/newman-tests/tests/001-happy-case-flow/happy-case-flow.postman_collection.json
  Backend/newman-tests/tests/001-happy-case-flow/post-test.sh
  Backend/newman-tests/tests/001-happy-case-flow/pre-test.sh
  Backend/newman-tests/tests/002-customer-cancellation/customer-cancellation.postman_collection.json
  Backend/newman-tests/tests/002-customer-cancellation/post-test.sh
  Backend/newman-tests/tests/002-customer-cancellation/pre-test.sh
  Backend/newman-tests/utils/checkStuckEntities.sh
Labels: backend

#6179 backend/fix: fixed update vehicle variant
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#6183 coins-ys
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
Labels: backend

#6185 frontend/build: fix android build for keystore missing file
  Frontend/android-native/app/build.gradle
Labels: frontend, native

#5990 Frontend/fix: Added Android build check
  .github/workflows/fe-check-android.yaml
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/google-services-temp.json
  Frontend/android-native/app/src/driver/passCulturePartner/res/layout/splash_fallback.xml
  Frontend/android-native/app/src/driver/passCulturePartner/res/values/strings.xml
  Frontend/android-native/local-temp.properties
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/CameraUtils.java
  Frontend/android-native/mobility-app/src/main/res/drawable/dismiss_silent_request.png
  Frontend/android-native/mobility-app/src/main/res/drawable/ic_accessibility_tag.xml
  Frontend/android-native/mobility-app/src/main/res/drawable/ic_goto_bg.xml
  Frontend/android-native/mobility-app/src/main/res/drawable/ic_launcher.png
  Frontend/android-native/mobility-app/src/main/res/drawable/ic_logo_name.png
  Frontend/android-native/mobility-app/src/main/res/drawable/ic_metro_shape.png
  Frontend/android-native/mobility-app/src/main/res/drawable/ic_sp_zone_tag.xml
  Frontend/android-native/mobility-app/src/main/res/drawable/ic_tip_tag.xml
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_ic_location_pin_white.png
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_ic_snow.png
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_ic_test_request_icon_white.png
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_ic_tip_icon.png
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_ic_wheelchair.png
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_pin_check_white.png
  Frontend/android-native/mobility-app/src/main/res/drawable/separator_silent_mode.png
  Frontend/android-native/mobility-app/src/main/res/drawable/silent_popup_background.xml
  Frontend/android-native/mobility-app/src/main/res/layout/message_overlay.xml
  Frontend/android-native/mobility-app/src/main/res/layout/splash.xml
  Frontend/android-native/mobility-app/src/main/res/values/colors.xml
  Frontend/android-native/mobility-app/src/main/res/values/strings.xml
  Frontend/android-native/mobility-customer/src/main/res/layout/invoice_template.xml
  Frontend/android-native/mobility-customer/src/main/res/values-ta/strings.xml
  Frontend/android-native/mobility-driver/src/main/res/font/plus_jakartasans_regular.ttf
  Frontend/android-native/mobility-driver/src/main/res/values/strings.xml
Labels: frontend, native

#6184 frontend/fix/rentals: #6151 Assets for RideScheduled Screen and drive…
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_alarm.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_plus_circle.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_rental_hourly_charge.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_ride_scheduled.png
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/View.purs
Labels: frontend, native, customer

#6180 backend/refactor/migrate_fleet_queries_to_ckh
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/RideDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/dev/clickhouse/local-testing-data/atlas-driver-offer-bpp.sql
  Backend/dev/clickhouse/sql-seed/atlas-driver-offer-bpp-seed.sql
  Backend/dev/rest-client/clickhouse/revenue.http
Labels: backend

#6187 frontend/fix:marker Issue
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_rental_hourly_charge.png
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
Labels: frontend, native, ui-common, customer

#6189 frontend/fix/rentals: #6155 VEHICLE_VARIANT population and quoteListM…
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#6186 frontend/feat: Added City Check for Tips
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/passculture/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/TipsView/View.purs
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Components/MessagingView/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, native, ui-common, customer

#6194 frontend/automation: added scripts to fetch bundle from config and up…
  .github/workflows/release-apk.yaml
  .github/workflows/update-build-version.yaml
  Frontend/android-native/bundleFetch.py
  Frontend/android-native/updateVersion.py
  Frontend/android-native/versions.txt
Labels: frontend, native

#6198 backend/enhance/no-snap-call-if-recomputeIfPickupDropNotOutsideOfThre…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#6177 past-rides-for-coin-nudges
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DailyStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DailyStatsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0379-add-past-days-ride-counter-to-tc.sql
  flake.lock
Labels: backend

#6201 frontend/workflow: initiate release only from a specific branch
  .github/workflows/release-apk.yaml
  Frontend/android-native/versions.txt
Labels: frontend, native

#6190 Backend/fix:driver-pool-config-nothing-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/FarePolicy.hs
Labels: backend

#6209 backend/perf/readSpecialLocationFromReplica
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Serviceability.hs
Labels: backend

#5961 backend/added txnId changes
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSRecon.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSRecon.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSRecon.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/dev/migrations-read-only/rider-app/frfs_recon.sql
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PaymentTransaction.hs
Labels: backend

#6213 frontend/workflow: trigger apk upload to release abb
  .github/workflows/release-apk.yaml
  Frontend/android-native/app/build.gradle
  Frontend/android-native/updateLocalVersion.py
  Frontend/android-native/versions.txt
Labels: frontend, native

#6215 backend- added metrics for metro
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Metrics/BAPMetrics.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Metrics/BAPMetrics/Types.hs
Labels: backend

#6219 backend/fix:make moc based service config fallback to default city
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
Labels: backend

#6223 backend/fix: fixes lock key to support multiple bpp on_search
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnSearch.hs
Labels: backend

#5842 frontend/feat: implemented metro cancellation flow
  Frontend/android-native/app/src/main/res/drawable/ny_ic_kochi_metro.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_kochi_metro_map.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_ticket_grey.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_chennai_metro_banner.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_cross_red_outline.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_kochi_metro_banner.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/BannerConfig.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroMyTickets/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroMyTickets/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroMyTickets/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroMyTickets/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketStatus/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketStatus/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketStatus/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
Labels: frontend, native, customer

#6224 backend/fix : added stations for default merchantOpCity
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#6229 frontend/workflow: trigger test for APK release
  .github/workflows/release-apk.yaml
  Frontend/android-native/versions.txt
Labels: frontend, native

#6191 frontend/feat: Enabled Tips for YS
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
Labels: frontend, native

#6238 frontend/fix : added metro tickets to sidebar in yaatri
  Frontend/android-native/app/src/main/res/drawable/ny_ic_ticket_grey_small.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
Labels: frontend, native, customer

#6235 Backend/feat/customer-referral
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonStats.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Person.hs
  Backend/dev/migrations-read-only/rider-app/person_stats.sql
  Backend/dev/migrations/rider-app/1247-added-referral-columns.sql
  flake.lock
Labels: backend

#6243 backend/enhance/end_odometer_reading
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#6241 Backend/fix:fixed-driver-pool-config-cac-wrong-confg-and-fare-policy-…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicyProgressiveDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicyRentalDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicySlabsDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicySlabsDetails/FarePolicySlabsDetailsSlab.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/UtilsTH.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicyCACTypes.hs
  Backend/app/rider-platform/rider-app/Main/src/App.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#6262 Backend/fix:fare-policy-rental-details-distance-buffers-typecheck-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicyCACTypes.hs
Labels: backend

#6263 backend: Changed to Points Within
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Serviceability.hs
  Backend/lib/special-zone/src/Lib/Queries/SpecialLocation.hs
Labels: backend

#6221 frontend/fix/mana yatri partner bug fixes
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/manaYatriPartner/res/drawable/ic_namma_yatri_logo.png
  Frontend/android-native/app/src/driver/manaYatriPartner/res/layout/loading_screen_overlay.xml
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/View.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, ui-common, driver

#6266 frontend/fix: update pincode for destination from geocoder
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
Labels: frontend, native

#6128 frontend/feat: User Journey SDK Events
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, native, customer

#6268 frontend/refactor : Move emergency contacts native functions to common.
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
Labels: frontend, native

#6049 frontend/#5898/cache autocomplete response to reduce duplicate api calls
  Frontend/ui-customer/spago.dhall
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#6270 backend/hotfix/call_status_related_issue
  Backend/app/rider-platform/rider-app/Main/spec/Storage/CallStatus.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/CallStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/CallStatusExtra.hs
Labels: backend

#6301 backend/fix/customer-referral-code
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
Labels: backend

#6267 frontend/fix/rentals: #6212, #6163 Removed hardcoded tips, revised chat enabling system
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, customer

#6306 backend/fix:txn id update in same txn
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PaymentTransaction.hs
Labels: backend

#6307 backend/fix/get autopay status from dplan for suspend case in subscribe
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Plan.hs
Labels: backend

#6304 frontend/fixed ride request pincode update issue and made it configur…
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
Labels: frontend, native

#6308 frontend/fix : fix post ride safety issues.
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SafetySettingsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SafetySettingsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, customer

#6309 Frontend/feat: #6226 Cab RideRequest changes
  Frontend/android-native/app/src/main/res/layout/sheet_view.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetAdapter.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetModel.java
  Frontend/android-native/mobility-app/src/main/res/layout/sheet_view.xml
Labels: frontend, native

#6310 frontend/fix: fix ANR for pincode in ride request
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
Labels: frontend, native

#6311 backend/fix/special-zone-otp
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
Labels: backend

#6319 frontend/fix: Rental search radius blr
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, native, ui-common, customer, driver

#6305 frontend/fix : metro bug fixes
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/View.purs
Labels: frontend, native, customer

#6321 frontend/feat customer to customer referral
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Accessor.purs
Labels: frontend, native, customer

#6322 frontend/fix : HomeScreen recent rides fixes.
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6317 backend/feat: Tolls Detection & Fare Additon
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Toll.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/ride.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Toll.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Toll.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Toll.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnCancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnSelect.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/TollsDetector.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Toll.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequest.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/ride.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/toll.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0383-toll-charge-addition.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Enums.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  flake.lock
Labels: backend

#6324 backend/fix: Auto Rickshaw Was Being Filtered Out During Estimate Sta…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Toll.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/toll.sql
Labels: backend

#6326 backend/fix: Auto Rickshaw Was Being Filtered Out During Estimate Sta…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#6300 backend/fix: db init migration
  Backend/dev/migrations/dynamic-offer-driver-app/0000-db-init.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0001-local-testing-data.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0002-add-distance-to-search-request.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0003-fare.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0004-add-name-rating-to-quote.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0005-VehicleRegistrationCert.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0294-merchant-operating-city-id-related-changes.sql
  Backend/dev/migrations/rider-app/0000-db-init.sql
  Backend/dev/migrations/rider-app/0001-local-testing-data.sql
  Backend/dev/migrations/rider-app/1116-add-merchantId-in-registration-token.sql
  Backend/dev/migrations/rider-app/1177-merchant-operating-city-table.sql
  Backend/dev/sql-seed/dynamic-offer-driver-app-seed.sql
  Backend/dev/sql-seed/rider-app-seed.sql
  Backend/nix/services/nammayatri.nix
Labels: backend

#6328 backend/refactor:add variant check for driver fee
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0384-add-enabled-variant-for-subscription.sql
Labels: backend

#6329 Backend/fix/estimates
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
Labels: backend

#6330 Backend/fix:adding-logs-in-cac
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/GoHomeConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/DriverIntelligentPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/TransporterConfig.hs
Labels: backend

#6331 frontend/ehn C2C enhancement
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6336 frontend/update: added a new city for remote configs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
Labels: frontend, ui-common

#6337 backend/fix:set activity handling on variant level
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#6339 frontend-fix referral and rate card
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, ui-common, customer

#6335 Backend/feat/congestion charges in fare and toll fixes
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/TollsDetector.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0386-congestion-charges.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Enums.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  Backend/lib/location-updates/test/src/API.hs
  Backend/lib/location-updates/test/src/RedisAlgorithm.hs
Labels: backend

#6341 backend/fix: toll-recompute-in-failed-distance-calculaion
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#6338 Backend/fix:driver-pool-config-trip-distance-cac-condition-type-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
Labels: backend

#6288 frontend/enchancement/coins-in-ys
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SliderComponent.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, native, driver

#6348 backend/enhancement: Added Toggle For Fare Product
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareProduct.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0388-added-toggle-for-fare-product.sql
Labels: backend

#6350 backend/drainer: fixed Int bound issue
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBQuery/Functions.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBQuery/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Delete.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Update.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBQuery/Functions.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBQuery/Types.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Delete.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Update.hs
Labels: backend

#6352 backend/cancel distance fix to null in case of invalid distance
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
Labels: backend

#6342 backend/feat: created get ticket place api for dashboard
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Tickets.hs
Labels: backend

#6031 frontend/fix Added fix for lottie caching
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
Labels: frontend, ui-common, customer

#6355 backend/fix: fixed customer tip
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
Labels: backend

#6200 frontend/refactor/add_default_city_language_support_for_video_and_qui…
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/Benefits/LmsQuizScreen/View.purs
  Frontend/ui-driver/src/Screens/Benefits/LmsVideoScreen/View.purs
Labels: frontend, driver

#6356 backend/fix: fixed safety dashboard and migration issues
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Merchant.hs
  Backend/app/dashboard/Lib/src/Storage/Beam/Merchant.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SafetyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/safety-dashboard/src/Tools/Auth/Webhook.hs
  Backend/dev/local-testing-data/safety-dashboard.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/toll.sql
  Backend/dev/migrations-read-only/safety-dashboard/suspect.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0037-add-imageid-in-docs.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0387-add-safety-webhook-auth-token.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0391-add-dl-verification.sql
  Backend/dev/migrations/provider-dashboard/0040-removed-unused-column-in-merchant.sql
  Backend/dev/migrations/provider-dashboard/0042-added-merchant_auth_token.sql
  Backend/dev/migrations/rider-dashboard/0023-removed-unused-column-in-merchant.sql
  Backend/dev/migrations/rider-dashboard/0024-added-merchant-auth-token.sql
  Backend/dev/migrations/safety-dashboard/0000-safety-dashboard.sql
  Backend/dev/migrations/safety-dashboard/0001-added-merchant-auth-token.sql
  Backend/dhall-configs/dev/safety-dashboard.dhall
  flake.lock
Labels: backend

#6362 frontend/inapp notification crash fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/res/layout/activity_main_without_bg.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/InAppNotification.java
Labels: frontend, native

#6363 frontend/feat: added category level config for banners
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/BannerConfig.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, ui-common, customer, driver

#6343 frontend-feat: Toll changes are added
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-common/src/Components/RateCard/Controller.purs
  Frontend/ui-common/src/Components/RateCard/View.purs
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RideSelectionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/TripDetailsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/TripDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, ui-common, customer, driver

#6359 Backend/enhancement/incremental toll check to handle multi exit tolls precisely
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/TollsDetector.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#6354 frontend/feat/rentals: Background Polling in HomeScreen
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#6364 Frontend/fix: Enabled VariantBasedSubscription for Mysuru and Tumakuru
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#6365 Frontend/fix: Enabled VariantBasedSubscription for Mysuru and Tumakuru
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#6371 Backend/fix/bulk-upload-v2
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Coin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#6370 frontend/enchancement/bulk-upload-coins-v2
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Transformer.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, driver

#6366 backend/fix: fixed auth for ride list api
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/Ride.hs
  Backend/dev/migrations/rider-dashboard/0025-added-auth-in-ride-list.sql
Labels: backend

#6376 frontend/fix : fix recent ride icon.
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6381 frontend/update: added banner for cabs launch
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6382 frontend/fix : Added fix for repeat ride.
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#6384 frontend/hotfix : added auto image in trips screen.
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
Labels: frontend, customer

#6385 Frontend/fix: Select vehicle bugfix
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
Labels: frontend, driver

#6378 backend/feat: Special Location Based Driver Pool Config
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/package.yaml
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/dashboard/provider-dashboard/package.yaml
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/configs.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/InterCityTravelCities.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantState.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/ValueAddNP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/InterCityTravelCities.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/ValueAddNP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareProduct.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_pool_config.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/lib/special-zone/package.yaml
  Backend/lib/special-zone/special-zone-a.cabal
  Backend/lib/special-zone/src/Lib/Types/SpecialLocation.hs
Labels: backend

#6388 frontend/fix : Enable cab subscription view.
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#6375 Frontend/fix: Configured waiting charges for cabs and autos
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_waiting_info.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/manaYatriPartner/res/drawable/ny_ic_waiting_auto.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_waiting_auto.png
  Frontend/android-native/app/src/driver/passCulturePartner/res/drawable/ny_ic_waiting_auto.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_waiting_auto.png
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, ui-common, driver

#6391 frontend/fix : Add fix for wrong mapId and MyRidesScreen variant image.
  Frontend/ui-customer/src/Components/IndividualRideCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
Labels: frontend, customer

#6374 backend/feat/nonFailingSnapToRoad
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/BulkLocUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  Backend/lib/location-updates/test/src/API.hs
  Backend/lib/location-updates/test/src/RedisAlgorithm.hs
  flake.lock
Labels: backend

#6392 frontend/feat: Updated estimates flow
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#6394 frontend/update: updated assets for cab variants driver and customer
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
Labels: frontend, native, customer, driver

#6386 frontend/fix: Removed Change Ride From Tip
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListModel/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, ui-common, customer

#6397 frontend/feat: Revert updated estimates flow
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#6302 backend/feat : added fallback case for yatri_partner to namma_yatri_partner
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Auth.hs
Labels: backend

#6418 frontend/fix: updated anim durations and banner
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Resources/Animation/Config.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, ui-common, customer

#6425 Backend/fix:adding-cac-in-allocator
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/driver-offer-allocator.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/GoHomeConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/DriverIntelligentPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/TransporterConfig.hs
  flake.lock
Labels: backend

#6422 frontend/feat: Estimates & RateCard Enhacements
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_circle_grey.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/Components/RateCard/View.purs
  Frontend/ui-customer/src/Resources/Animation/Config.purs
Labels: frontend, native, ui-common, customer

#6372 frontend/revert/anr-fix-pincode
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestForDriver.hs
Labels: backend

#6373 backend/fix: added filter in fleet api
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Fleet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Fleet/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
Labels: backend

#6433 backend/fix : Disable share ride on ride end.
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#6438 frontend/fix: Enable repeat trips backfiling
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#5401 Adding fast compiler
  Frontend/ui-customer/package.json
  Frontend/ui-driver/package.json
Labels: frontend, customer, driver

#6449 frontend/fix: added fade over estimate screen and clickarea
  Frontend/ui-common/src/Common/Styles/Colors.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, ui-common, customer

#6451 frontend/fix : Homescreen shimmer for iOS.
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6444 Frontend/fix: Make support view component
  Frontend/ui-driver/src/Components/BottomDrawerList/BottomDrawerList.purs
  Frontend/ui-driver/src/Components/BottomDrawerList/Controller.purs
  Frontend/ui-driver/src/Components/BottomDrawerList/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/DocumentCapture/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DocumentCapture/Controller.purs
  Frontend/ui-driver/src/Screens/DocumentCapture/ScreenData.purs
  Frontend/ui-driver/src/Screens/DocumentCapture/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/Controller.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/View.purs
Labels: frontend, driver

#6358 Frontend/fix: #6226 Removed unused code in onboarding
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, driver

#6436 backend/enhancement/sync
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/ride.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/ride.sql
Labels: backend

#6446 backend/enh: adds support for driver call to rider-exophone number
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/dev/migrations/rider-app/1250-add-idx-ride-driver-mobile-number-and-status.sql
Labels: backend

#6440 Frontend/fix: Fetch rcNumberPrefixList from onboardingConfigs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Handler.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#6459 frontend/feat: enable booking options from profile screen
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
Labels: frontend, driver

#6443 backend/improvement/added-distance-call-for-distant-points
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/BulkLocUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0394-added-distant-points-failure-service-config.sql
  Backend/dev/migrations/rider-app/1251-adding-updated-at-to-gate-info.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/location-updates/src/Lib/LocationUpdates.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  Backend/lib/location-updates/test/src/API.hs
  flake.lock
Labels: backend

#6454 frontend/autocomplete and map changes
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Resource/Constants.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, native, ui-common, customer

#6473 frontend/fix: added proper variant configs in booking preference and updated deeplink
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#6470 frontend/fix : Clear repeat ride on cancel search.
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6464 backend/enhance/added place name cache expiry
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Maps/PlaceNameCache.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Maps/PlaceNameCache.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Maps/PlaceNameCache.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Maps/PlaceNameCache.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Maps/PlaceNameCache.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Maps/PlaceNameCache.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0394-added-distant-points-failure-service-config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0396-added-placeNameCache-Expiry.sql
  Backend/dev/migrations/rider-app/1260-expiry-to-placeNameCache.sql
  flake.lock
Labels: backend

#6474 backend/feat: book any feature
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Estimate.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VehicleServiceTier.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Quote.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Quote.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Quote.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchTry.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/estimate.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_service_tier.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0395-book-any-feature.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/test/src/Mobility/ARDU/NearestDrivers.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
  flake.lock
Labels: backend

#6478 reverted yatri partner change
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/City.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Auth.hs
Labels: backend

#6482 backend/fix: fix one backward compatibility issue
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#6477 backend/feat/added_fare_products_api_for_dashboard
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Ride.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Ride.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/RideBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/RideBooking/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/dev/migrations/provider-dashboard/0043-added-fare-break-up.sql
Labels: backend

#6486 backend/fix/yatri_partner
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Auth.hs
Labels: backend

#6476 frontend/IOS locateOnMap issue fix
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#6488 frontend/feat: Updated Tips Display Duration
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#6475 backend/fix: fixed distance unit for maps route
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  flake.lock
Labels: backend

#6481 backend/enh: moves whitelist to merchant level
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/WhiteListOrg.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/WhiteListOrg.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/WhiteListOrg.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/WhiteListOrg.hs
  Backend/dev/migrations/rider-app/1252-add-merchant-id-to-whitelistorg.sql
  flake.lock
Labels: backend

#6491 frontend/fix Temporarily handled quotes from different NP
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

#6492 Backend/fix:waiting-charge-cac-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicyProgressiveDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicySlabsDetails/FarePolicySlabsDetailsSlab.hs
Labels: backend

#6489 frontend/revert: import to require
  Frontend/ui-driver/index.js
Labels: frontend, driver

#6493 frontend-fix disabled change tip option
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
Labels: frontend, customer

#6494 frontend/locateOnMap camera animation issue fix
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, ui-common, customer

#6495 Frontend/ehn Updated yatri config to change tip display time
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#6503 Backend/enhancement/customer-referral-count-api
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/CustomerReferral.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/CustomerReferral.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/CustomerReferral.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CustomerReferral.hs
Labels: backend

#6505 Backend/fix:allocator-error-log-level-fix
  Backend/lib/scheduler/src/Lib/Scheduler/Handler.hs
Labels: backend

#6521 Backend/fix/coin-used-status-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
Labels: backend

#6525 frontend/feat added config version in API header
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, customer, driver
