Repository nammayatri/nammayatri, pull requests merged in 2024-02, with the labels that each got.

#5146 frontend/feat: city/variant based assets
  Frontend/android-native/app/src/main/res/raw/ny_ic_generic_loader.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_black_auto_quote_list.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_koc_auto_on_map.png
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/QuoteListItem/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, native, customer

#5271 frontend/fix/rentals: RideDurationTimer Changes and toast added
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/View.purs
Labels: frontend, ui-common, customer

#5278 frontend/feat/add-city-gururam-noida
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_gurugram_map.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_noida_map.png
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, native, ui-common, driver

#5224 Frontend/fix: YatriSathi Driver cug bugfixes
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ChatService.java
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/Handler.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/Controller.purs
Labels: frontend, native, driver

#5281 frontend/fix/rentals: #4998 TimePicker Issues Fixed
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/Controller.purs
Labels: frontend, customer

#5276 backend/refactor/limit_rental_req_in_driver_pool
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
  Backend/test/src/Mobility/ARDU/NearestDrivers.hs
Labels: backend

#5287 frontend/fix: Added code to send notification body to PS
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/callbacks/CallBack.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
Labels: frontend, native

#5258 frontend/#1233/hotspot, referral native changes and added geocode co…
  Frontend/android-native/app/src/driver/jatriSaathiDriver/AndroidManifest.xml
  Frontend/android-native/app/src/driver/nammaYatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/yatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/user/jatriSaathi/AndroidManifest.xml
  Frontend/android-native/app/src/user/nammaYatri/AndroidManifest.xml
  Frontend/android-native/app/src/user/yatri/AndroidManifest.xml
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/ui-customer/src/Domain/Payments.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, native, customer

#5288 frontend/feat: added metro translations
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroMyTickets/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketStatus/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketStatus/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketStatus/View.purs
Labels: frontend, customer

#5290 backend/fix/end_otp_bap
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common/Order.hs
Labels: backend

#5292 frontend/fix/coins-popup
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, driver

#5286 frontend/enable-coins-Tumakuru-and-mysore
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#5294 frontend/enhance: updated dependency versions and warning for reCAPTCHA
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/config.json
  Frontend/android-native/mobility-app/build.gradle
Labels: frontend, native

#5299 backend/fix/#2859 : fix share ride update.
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FollowRide.hs
Labels: backend

#5308 backend/fix/rental_feats
  Backend/app/dashboard/CommonAPIs/src/Dashboard/RiderPlatform/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestForDriver.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Update.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/Type.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
  Backend/dev/migrations/rider-app/1215-add-estimated-fields-booking.sql
Labels: backend

#5305 frontend/fix/ripple-fix-on-driverStatus-buttons
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#5315 frontend/feat: refactored remote config in customer side
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/RemoteConfigs/RemoteConfig.js
  Frontend/ui-customer/src/RemoteConfigs/RemoteConfig.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SafetyEducationScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, ui-common, customer

#5316 Frontend/fix: NammayatriPartner cug bugfixes
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/raw/ny_ic_subscription_info_tamil_03.json
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/ComponentConfig.purs
Labels: frontend, native, driver

#5318 frontend/fix: Added safety log event
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#5319 backend/fix/#2859 : Add secondary key constraint for Sos table.
  Backend/app/rider-platform/rider-app/Main/spec/Storage/sos.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FollowRide.hs
  Backend/dev/migrations-read-only/rider-app/sos.sql
Labels: backend

#5321 frontend/updated config for variant sorting
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#5326 frontend/fix: Fixed carousel rendering issue
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/CarouselHolder/View.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SetupSafetySettingsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, native, ui-common, customer

#5322 frontend/updated config for variant sorting
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#5327 frontend/fix: Fixed auto scroll carousel
  Frontend/ui-common/src/CarouselHolder/View.purs
Labels: frontend, ui-common

#5329 backend/feat/made-library-dsl-compatible
  Backend/app/alchemist/src/Main.hs
  Backend/dslLibs.yaml
Labels: backend

#5328 backend/fix/rb_list_rental
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
Labels: backend

#5334 frontend/feat: added cities for remote config fetch
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
Labels: frontend, ui-common

#5333 Backend/fix/added-reallocated-ride-as-non-active-ride
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
Labels: backend

#5139 frontend/fix/showing_cat_name_in_place_info_view
  Frontend/ui-customer/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/ZooTicketBookingFlow/TicketBookingScreen/View.purs
  Frontend/ui-driver/src/MerchantConfigs/CommonConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer, driver

#5335 Frontend/fix: Updated whatsapp support number for multiple cities
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#5330 backend/enhance/osrm-and-mmi-route-data-collection
  Backend/app/rider-platform/rider-app/Main/spec/Storage/next-billion-data.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/NextBillionData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/NextBillionData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/NextBillionData.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/dev/migrations-read-only/rider-app/next_billion_data.sql
  Backend/dev/migrations/rider-app/1216-white-list-org-table.sql
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#5336 Backend/fix/area-fix-in-address
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common.hs
Labels: backend

#5342 backend/fix/fixes on_track tracking url & makes parseLatLong throw http error
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnTrack.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
Labels: backend

#5339 backend/fix/rental_feats2
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FollowRide.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/Type.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Merchant.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0344-rental-refactoring.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0348-change-default-scheduled-ride.sql
  Backend/dev/migrations/rider-app/1217-add-cols-booking-merchant.sql
Labels: backend

#5261 backend/feat/namma-dsl/Generate code only if spec file hash changed
  Backend/app/alchemist/README.md
  Backend/app/alchemist/src/Main.hs
  Backend/nix/scripts.nix
  flake.lock
Labels: backend

#5340 backend/fix: CamelCase -> snake_case conversion for kafka payload
  Backend/app/rider-platform/rider-app/Main/src/Tools/Event.hs
Labels: backend

#5337 frontend/refactor/ticket_booking_added_support_for_multiple_search_ca…
  Frontend/ui-common/src/Engineering/Helpers/MobilityPrelude.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketInfo/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Accessor.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, ui-common, customer

#5367 backend/fix : Remove following of emergency contact in sos based on s…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
Labels: backend

#5368 backend/fix/race_condtn_quote_accept
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#5369 backend/enhance/ride_list
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
Labels: backend

#5355 frontend/fix/#2859 : Disable emergency contacts based on toggle and o…
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SetupSafetySettingsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, customer

#5377 frontend/fix: handled action for intercity rides
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#5372 frontend/fix: Updated configs and default language for contests
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_vehicle_nav_on_map.png
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Resource/Localizable/Strings.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/View.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
Labels: frontend, native, customer, driver

#5358 frontend/feat: #5353 Added banner carousel in DriverInfoCard
  Frontend/android-native/app/src/user/common/res/raw/ny_ic_sos_active.json
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/BannerConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/Controller.purs
Labels: frontend, native, customer

#5379 frontend/feat/added-ripples-in-safety
  Frontend/ui-customer/src/Components/StepsHeaderModel/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Components/HeaderView.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SafetyEducationScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5373 backend/fix/fixes address parsing for BAP and BPP
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/package.yaml
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Init.hs
Labels: backend

#5385 frontend/fix: Fixed empty repeat ride in case of rentals
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#5382 backend/fix/odometer_ride
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common/Order.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
  Backend/dev/migrations/rider-app/1221-add-odometer-reading.sql
Labels: backend

#5387 backend/fix/main
  Backend/dev/migrations/rider-app/1221-add-odometer-reading.sql
Labels: backend

#5386 backend/refactor: location mapping issue
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/LocationMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/SearchRequestSpecialZone.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/LocationMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestSpecialZone.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Delete.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Delete.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Update.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/LocationMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/LocationMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
Labels: backend

#5365 frontend/feat: Added Updated T&C toast
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-common/src/MerchantConfig/DefaultConfig.purs
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  README.md
Labels: frontend, native, ui-common, customer, driver

#5389 backend/fix/odo_bap
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common/Order.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
Labels: backend

#5388 backend/fix: fix rental issues if customer cancel the booking while d…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTryLocker.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchTry.hs
Labels: backend

#5390 backend/refactor/notification_type
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0351-driver-pool-config.sql
Labels: backend

#5391 frontend/fix: Added filter for rental rides in trip suggestions
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#5392 frontend/feat: added default values to carousel banners to english
  Frontend/ui-common/src/Engineering/Helpers/MobilityPrelude.js
  Frontend/ui-common/src/Engineering/Helpers/MobilityPrelude.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/BannerConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, ui-common, customer, driver

#5399 frontend/feat: Added Updated T&C toast
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-common/src/MerchantConfig/DefaultConfig.purs
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  README.md
Labels: frontend, native, ui-common, customer, driver

#5407 frontend/update Terms & condition indication
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#5406 frontend/fix/#2859 : Add fixes for Safety screens in iOS.
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Components/ContactCircle.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SafetyEducationScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SetupSafetySettingsScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/View.purs
Labels: frontend, ui-common, customer

#5393 frontend/fix: follow ride layout fixes for IOS
  Frontend/ui-common/src/Components/BannerCarousel/View.purs
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/Types.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, ui-common, customer

#5409 spec-migration: separated msgTxnId, updated ui api
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Estimate.hs
Labels: backend

#5403 backend/fix/night_shift_and_fare_rental
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/test/src/Mobility/Fixtures/Routes.hs
Labels: backend

#5411 backend/fix : ride otp
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
Labels: backend

#5419 backend/fix/fare_issue_rental
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

#5420 backend/fix/fixes empty address parsing
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
Labels: backend

#5421 backend/fix/parallel_ride_fail
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
Labels: backend

#5418 frontend/fix: handled null night charges
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, customer

#5445 backend/fix/fixes ward for address
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
Labels: backend

#5422 added bpp details for BAP
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/bpp-details.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BppDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BppDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BppDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/BppDetails.hs
  Backend/dev/migrations-read-only/rider-app/bpp_details.sql
Labels: backend

#5446 spec-migration: added maskBillingNumber util
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
Labels: backend

#5447 fixed BppDetails domain issue
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/BppDetails.hs
Labels: backend

#5448 spec-migration: added type aliases for tag groups and tags and refact…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
  Backend/lib/beckn-spec/beckn-spec.cabal
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/beckn-spec/src/BecknV2/Utils.hs
Labels: backend

#5454 Disabled Namma Safety Feature for Yatri Sathi
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
Labels: frontend, native

#5451 Spec v2 migration bap details
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#5397 frontend/fix: Updated configs and handled trips with same destination…
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
Labels: frontend, customer

#5356 frontend-feat: #5334 added tamil translations in NY customer
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/Strings.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
Labels: frontend, native, customer

#5415 frontend-fix: #5414 fixed driver side safety popup cug issues
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/main/res/drawable/ny_ic_general_safety.png
  Frontend/ui-common/src/Components/PopUpModal/Controller.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, native, ui-common, driver

#5470 backned/fix: fixes context city & onStatus issue
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Track.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Update.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
Labels: backend

#5374 backend/autocomplete-data
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/autocomplete.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/rider-config.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/AutoCompleteData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/AutoCompleteData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/AutoCompleteData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/dev/migrations-read-only/rider-app/auto_complete_data.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/test/src/Mobility/Fixtures/Routes.hs
Labels: backend

#5032 Backend/feat/rc-verification-with-govt-data
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/OnboardingDocumentConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Document/VerificationRetry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/GovtDataRC.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Verification.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Delete.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0352-added-govtData-rc-table.sql
  flake.lock
Labels: backend

#5469 frontend-fix: #5354 fixed missed string in TA
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
Labels: frontend, customer

#5405 backend/feat/lms
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/LMS.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/LMS.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverModuleCompletion.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/LmsModuleTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/LmsModuleVideoInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/LmsVideoTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/ModuleCompletionInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/QuestionInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/QuestionModuleMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverModuleCompletion.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/LmsModuleTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/LmsModuleVideoInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/LmsVideoTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/ModuleCompletionInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/QuestionInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/QuestionModuleMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverModuleCompletion.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LmsModuleTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LmsModuleVideoInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LmsVideoTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/ModuleCompletionInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/QuestionInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/QuestionModuleMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_module_completion.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/lms_module.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/lms_module_translation.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/lms_module_video_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/lms_video_translation.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/module_completion_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/question_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/question_module_mapping.sql
Labels: backend

#5394 frontend/fix/#1063: clevertap events for coins and referral driver
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#5475 Backend/fix/gate-fix-in-address-for-driver-fcm
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
Labels: backend

#5302 frontend/#4118/dynamic qr generation as per playstore referral spec
  Frontend/android-native/app/src/driver/jatriSaathiDriver/AndroidManifest.xml
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/yatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/View.purs
Labels: frontend, native, driver

#5029 frontend/#4118/D2D and D2C referral flow with deeplink
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_referral.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_referral_already_applied.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_referral_invalid.png
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReferralScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
Labels: frontend, native, ui-common, customer, driver

#5467 frontend/fix/sending-gate-name-in-area-in-case-of-special-zone
  Frontend/ui-customer/src/Resources/Constants.purs
Labels: frontend, customer

#5478 frontend/finding quote screen tip issue fix
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#5461 backend/feat/dynamic-log-levels
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/App/Server.hs
  Backend/app/rider-platform/rider-app/Main/src/App/Server.hs
  Backend/lib/scheduler/src/Lib/Scheduler/Handler.hs
Labels: backend

#5477 Backend/fix/on status parsing
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnStatus.hs
Labels: backend

#5472 frontend/fix added city rate cards
  Frontend/ui-common/src/Components/RateCard/View.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Accessor.purs
Labels: frontend, ui-common, customer

#5463 frontend/fix: added geocoder fetch for pincode in case of failures
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#5456 Backend: SDK Events Pipeline
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/SDKEvents.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SDKEvents.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Event.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/generic/common.dhall
  Backend/lib/sessionizer-metrics/src/Lib/SessionizerMetrics/Types/Event.hs
Labels: backend

#5480 frontend/#4118/replaced window with clientPayload
  Frontend/ui-customer/index.js
Labels: frontend, customer

#5471 backend/dsl/Bpp Estimate to spec
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/LMS.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/specialLocation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Estimate.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/SpecialLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverModuleCompletion.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/InterCityTravelCities.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LmsModuleTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LmsModuleVideoInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LmsVideoTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantState.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/ModuleCompletionInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/QuestionInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/QuestionModuleMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/AutoCompleteData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BecknConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTrip.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MerchantOperatingCity.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MerchantState.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/NextBillionData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SeatManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SpecialOccasion.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Station.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingPeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketService.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/estimate.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0148-reuse-old-estimate-in-repetition.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0158-refactor-fare-policy.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0168-reuse-old-estimate-in-repetition.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0173-special-location-tag.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0344-rental-refactoring.sql
  flake.lock
Labels: backend

#5484 backend/fix/driver-pool-config
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
Labels: backend

#5291 frontend/fix: iOS Special Zone Crash Fix
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5488 fronetend/fix: Customer app is not opening
  Frontend/ui-customer/index.js
Labels: frontend, customer

#5450 make init/on_init tags optional <> masked billing number <> updates e…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/MerchantPaymentMethod.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SyncRide.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Merchant/MerchantPaymentMethod.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0360-update-merchant-payment-method.sql
  Backend/dev/migrations/rider-app/1230-update-merchant-payment-method.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/PaymentType.hs
Labels: backend

#5491 backend/fix: fix booknig types according to db types
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
Labels: backend

#5495 backend/fix/dsl/Stop creating type file for empty api types
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/SpecialLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/SpecialLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SpecialLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FollowRide.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketService.hs
  flake.lock
Labels: backend

#5431 backend/feat/add-soundNames-in-notificationReq
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/notification-sound-config.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/NotificationSoundsConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/NotificationSoundsConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/NotificationSoundsConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/PersonDefaultEmergencyNumber.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/rider-app/notification_sounds_config.sql
  Backend/dev/migrations/rider-app/1224-notification-sound-config.sql
  flake.lock
Labels: backend

#5487 spec-migration-fix: fix search/onseach tag type
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#5486 backend/fix/driver-pool-config
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
Labels: backend

#5502 backend/fix/wrong_selected_entity_id_in_confirm_question_api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/LmsModule.hs
Labels: backend

#5494 backend/improvement/moved-fraud-cancellation-count-from-booking-to-ride
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

#5503 backend/fix/rental_cug_issues
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Update.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
Labels: backend

#5504 backend/feat : added get operating city api
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Driver/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#5508 frontend/fix/#2859 : Fix for asset in carousel.
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/BannerConfig.purs
Labels: frontend, customer

#5466 backend/feat: registry lookup by domain
  Backend/app/mocks/rider-platform/src/API/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Track.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Update.hs
  Backend/app/rider-platform/public-transport-rider-platform/Main/src/API/Beckn/Types.hs
  Backend/app/rider-platform/public-transport-rider-platform/Main/src/Beckn/Spec/API/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/API/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/API/MetroBeckn.hs
  Backend/app/rider-platform/rider-app/Main/src/API/MetroBeckn/OnSearch.hs
  flake.lock
Labels: backend

#5507 frontend/fix/#2859 : Add fixes for iOS in Safety Screen.
  Frontend/android-native/app/src/driver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_banner_sos.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_mock_drill_banner.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Components/BannerCarousel/Controller.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Components/ContactCircle.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Components/ContactsList.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Components/HeaderView.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Components/HelperViews.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SafetyEducationScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ScreenData.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/Handler.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/BannerConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, native, ui-common, customer, driver

#5511 frontend/fix Date formate issue
  Frontend/ui-customer/src/Helpers/Utils.js
Labels: frontend, customer

#5513 frontend/fix: removed duplicate asset
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_referral.png
Labels: frontend, native

#5515 frontend/fix/#2859 : Fixes for safety screens.
  Frontend/ui-customer/src/Components/CommonComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, customer

#5518 frontend/enhancement: Removed repeat trip backfilling
  Frontend/ui-customer/src/Helpers/Storage/Flow/BaseApp.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
Labels: frontend, customer

#5183 Backend/enhancement/#2859 : Add multiple routes to deviation check
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/RideRoute.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  flake.lock
Labels: backend

#5332 backend/fix/#2859 : Changed Sos creation logic, creating one entry fo…
  Backend/app/rider-platform/rider-app/Main/spec/Storage/sos.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Sos.hs
Labels: backend

#5524 backend/fix/revert-sounds-notificationReq
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  flake.lock
Labels: backend

#5492 Backend/added-supported-vehicle-param-in-driver-profile
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareProduct.hs
Labels: backend

#5528 frontend/feat: enable whatsapp login for NY consumer app
  Frontend/ui-customer/src/Screens/OnBoardingFlow/EnterMobileNumberScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/EnterMobileNumberScreen/View.purs
Labels: frontend, customer

#5526 backend/enhancement/lms/add_new_fields_to_support_button_configs_for…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/LMS.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/LMS.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/LmsVideoTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/LmsVideoTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LmsVideoTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/LmsModule.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/lms_module.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/lms_video_translation.sql
Labels: backend

#5530 frontend/fix: #5529 Metro banner not rendering in Runtime
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5331 Frontend/fix: Fixed tip request on widget
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/WidgetService.java
Labels: frontend, native

#5533 backend/fix : fixed from to date issue in ride list api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
Labels: backend

#5468 backend/feat/night_charge_and_fare_bkp_rental
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnInit.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FareParameters/FareParametersRentalDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareParameters/FareParametersRentalDetails.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0357-fare-params-rental-cols.sql
Labels: backend

#5541 backend/fix/multiple-routes-distance
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#5534 backend: SDK Pipeline
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/sdkEvents.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/SDKEvents.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/SDKEvents.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/SDKEvents.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SDKEvents.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Event.hs
Labels: backend

#5532 frontend/feat: Added function to whitelist numbers for serviceability
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Auth.purs
  Frontend/ui-customer/src/Helpers/SessionCache/SessionCache.purs
  Frontend/ui-customer/src/Services/Config.purs
Labels: frontend, customer

#5545 feat/dsl/Added Warning if not latest
  Backend/default.nix
  Backend/nix/scripts.nix
Labels: backend

#5539 frontend/fix: fixed driver support chat date issue
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/BannerConfig.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, customer, driver

#5522 frontend/refactor: Fare product type refactor
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/Types.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/MessagingView/Common/Types.purs
  Frontend/ui-customer/src/Components/MessagingView/Common/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, ui-common, customer

#5547 backend/enhancement/lms/added_new_field_for_available_languages_for_v…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/LMS.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/LMS.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/QuestionInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/LmsModule.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/lms_module.sql
Labels: backend

#5546 frontend/fix: #5529 Bottom sheet peek height is not updating
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
Labels: frontend, customer

#5549 backend/fixed sigterm for kafka flush in drainer
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/DBSync.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/DBSync.hs
Labels: backend

#5553 backend/fix: don't update deviation once already deviated
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
Labels: backend

#5552 backend/fix: white-listing & black-listing queries
  Backend/dev/migrations/dynamic-offer-driver-app/0355-whitelist-new-queries.sql
  Backend/dev/migrations/rider-app/1223-whitelist-new-queries.sql
Labels: backend

#5555 Backend/fix/updating-status-for-search-try
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#5556 backend/fix/handle_intercity_in_stuck_booking
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
Labels: backend

#5312 frontend/fix: Ride OTP View Fix
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/MessagingView/Common/Types.purs
  Frontend/ui-customer/src/Components/MessagingView/Common/View.purs
  Frontend/ui-customer/src/Resources/Animation/Config.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/WelcomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5501 Spec migration remove v1 search on search
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0362-ondc-interoperability.sql
  Backend/dev/migrations/rider-app/1232-ondc-interoperability.sql
Labels: backend

#5544 backend/ondc-interoperability: fixes confirm and on_confirm according to new spec
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0358-ondc-interoperability.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0359-update-merchant-payment-method.sql
  Backend/dev/migrations/rider-app/1226-ondc-interoperability.sql
  Backend/dev/migrations/rider-app/1227-update-merchant-payment-method.sql
Labels: backend

#5559 backend/fix/no-safety-check-on-endride
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
Labels: backend

#5564 backend/fix: 1223-white-list-migration
  Backend/dev/migrations/rider-app/1223-whitelist-new-queries.sql
Labels: backend

#5565 frontend/fix: call locate on map after the fragment is constructed
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/Controller.purs
Labels: frontend, driver

#5568 Yatri sathi consfig update. Enabled dashboard for yatri sathi
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
Labels: frontend, native, customer

#5567 backend/enhancement : add place based payment config
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
  Backend/dev/migrations/provider-dashboard/0036-subscription-api-with-service.sql
  Backend/dev/migrations/rider-app/1228-place_based_service_config.sql
Labels: backend

#5571 backend/fix/storing-pickup-zone-in-search-req
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
Labels: backend

#5572 backend/feat: create new operating city for bpp api
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/GoHomeConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/DriverIntelligentPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/LeaderBoardConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantPaymentMethod.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/GoHomeConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/DriverIntelligentPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/LeaderBoardConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantPaymentMethod.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/dev/migrations/provider-dashboard/0037-create-operating-cty-api.sql
Labels: backend

#5575 backend/feat: KML to GEOM
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Geometry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Geometry.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Geometry.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Geometry.hs
  Backend/default.nix
  Backend/nix/docker.nix
  flake.lock
Labels: backend

#5479 Backend: Prevent overlapping geometries from erroring out search
  Backend/lib/special-zone/src/Lib/Queries/SpecialLocation.hs
Labels: backend
