Repository nammayatri/nammayatri, pull requests merged in 2024-08, with the labels that each got.

#8099 frontend/hotfix : Fix merchant and clientId for metroFlow.
  Frontend/ui-common/src/Payment/PaymentPage.js
  Frontend/ui-common/src/Payment/PaymentPage.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, ui-common, customer, driver

#8108 Frontend/fix: City Config failure fix
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#8107 Backend/prodHotPush:changing-vehicleServiceTierField-To-farePolicy
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
Labels: backend

#8076 backend/fix/whatsapp-query-fix-for-one-security
  Backend/dev/migrations/dynamic-offer-driver-app/0482-message-key-fix-one-time-security-deposit.sql
Labels: backend

#8075 backend/fix : coins to points changes + mahila shakti one time deposi…
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/package.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/provider-dashboard-common.dhall
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/package.yaml
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/DynamicOfferDriver/Management/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ReferralPayout.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0479-one-time-deposit-message-key.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0482-message-key-fix-one-time-security-deposit.sql
  Backend/dev/migrations/provider-dashboard/0053-clear-fee.sql
Labels: backend

#8116 Revert "frontend/hotfix : Fix merchant and clientId for metroFlow."
  Frontend/ui-common/src/Payment/PaymentPage.js
  Frontend/ui-common/src/Payment/PaymentPage.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, ui-common, customer, driver

#8117 backend/fix : fixed issue config backward compatibility issue
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#8118 Backend/fix:forked
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#7657 backend/fix: add available payment methods in search request
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/dev/migrations-read-only/rider-app/search_request.sql
Labels: backend

#8123 Backend/fix/ride-not-found-in-sos-cache
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
Labels: backend

#8129 backend/fix/status-update-for-backlog-payout
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
Labels: backend

#8130 backend/fix/s3-image-lock
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/dev/migrations/rider-app/1292-merchant-message-end-otp.sql
Labels: backend

#8131 backend/refactoring-fix-backlog-status
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
Labels: backend

#8128 frontend/fix: metro-prod-fixes
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/Transformer.purs
Labels: frontend, customer

#8004 backend/fix/fixes vehicle varaiants for interop
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/ServiceTierType.hs
Labels: backend

#7127 frontend/feat: HyperVerge Sdk Integration for Live selfie, Pan and Aa…
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/build.gradle
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.js
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/Handler.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Handler.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, ui-common, driver

#8072 Frontend/feat/hyperverge sdk integration ys sync
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-app/build.gradle
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.js
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/Controller.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/Handler.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Handler.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, ui-common, driver

#8137 Frontend/fix: Main compilation fix
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Helpers/Utils.js
Labels: frontend, native, driver

#8139 frontend-feat: removed jcenter repo
  Frontend/android-native/app/build.gradle
  Frontend/android-native/build.gradle
  Frontend/android-native/mobility-app/build.gradle
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/Utils.java
  Frontend/android-native/mobility-common/build.gradle
  Frontend/android-native/mobility-common/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MediaPlayer.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/Utils.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/BitmapCroppingWorkerTask.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/BitmapLoadingWorkerTask.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/BitmapUtils.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/CropImage.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/CropImageActivity.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/CropImageAnimation.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/CropImageOptions.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/CropImageView.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/CropOverlayView.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/CropWindowHandler.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/CropWindowMoveHandler.java
  Frontend/android-native/mobility-common/src/main/res/drawable-hdpi/crop_image_menu_flip.png
  Frontend/android-native/mobility-common/src/main/res/drawable-hdpi/crop_image_menu_rotate_left.png
  Frontend/android-native/mobility-common/src/main/res/drawable-hdpi/crop_image_menu_rotate_right.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xhdpi/crop_image_menu_flip.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xhdpi/crop_image_menu_rotate_left.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xhdpi/crop_image_menu_rotate_right.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxhdpi/crop_image_menu_flip.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxhdpi/crop_image_menu_rotate_left.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxhdpi/crop_image_menu_rotate_right.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxxhdpi/crop_image_menu_flip.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxxhdpi/crop_image_menu_rotate_left.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxxhdpi/crop_image_menu_rotate_right.png
  Frontend/android-native/mobility-common/src/main/res/layout/crop_image_activity.xml
  Frontend/android-native/mobility-common/src/main/res/layout/crop_image_view.xml
  Frontend/android-native/mobility-common/src/main/res/menu/crop_image_menu.xml
  Frontend/android-native/mobility-common/src/main/res/values/attrs.xml
  Frontend/android-native/mobility-common/src/main/res/values/strings.xml
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/View.purs
Labels: frontend, native, customer

#8141 backend/new autocomplete api integration
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/mocks/google/src/Lib/GoogleConfig.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0483-added-places-api-merchant-service-config.sql
  Backend/dhall-configs/dev/common.dhall
  Backend/dhall-configs/dev/mock-google.dhall
  flake.lock
Labels: backend

#8142 backend/integration of new google autocomplete call rider side migrat…
  Backend/dev/migrations/rider-app/1296-added-new-place-api-config-merchant-service-config.sql
Labels: backend

#8122 Backend/feat/driver profile new changes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverProfileQuestions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverProfileQuestions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FeedBack.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Feedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Feedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Feedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/KnowYourDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverProfileQuestionsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FeedbackExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RatingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_profile_questions.sql
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#8144 Backend/fix:agency-disaled-status-code-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  flake.lock
Labels: backend

#8109 Frontend/fix: Added renderedAt and respondedAt for RideRequest
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetModel.java
Labels: frontend, native

#8152 backend/fix/fixes vehicle varaiants for interop
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/ServiceTierType.hs
Labels: backend

#8146 backend/fix/ambulance_dynamic_offer
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Common.hs
Labels: backend

#8154 backend/fix : add history apis to plan struct dashboard
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Subscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Subscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/dev/migrations/provider-dashboard/0054-add-history-api-to-plans.sql
Labels: backend

#8148 Backend/fix:dashboard-driver-start-location-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
Labels: backend

#8167 backend/migration fix
  Backend/dev/migrations/dynamic-offer-driver-app/0483-added-places-api-merchant-service-config.sql
  Backend/dev/migrations/rider-app/1296-added-new-place-api-config-merchant-service-config.sql
Labels: backend

#8169 backend/fix : add history apis to plan struct dashboard
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Subscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Subscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/dev/migrations/provider-dashboard/0054-add-history-api-to-plans.sql
Labels: backend

#7973 backend/fix: re-enable get notifications
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestForDriverExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#8002 backend/feat: Move Critical Trip Assigned & Trip Started Notification…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SafetyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Tokenization.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/MerchantServiceConfigExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/BackgroundVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Call.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/DriverBackgroundVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/SMS.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Ticket.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Verification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Whatsapp.hs
  Backend/test/src/Mobility/ARDU/MapsConfig.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
Labels: backend

#8175 Backend/fix:driver-tracking-url-parse-fix
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Common.hs
Labels: backend

#8179 backend/fix: fixed dashboard subscription apis
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
Labels: backend

#8178 Backend/enhancement/safety-for-all
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ride.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/sos.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Support.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/JobScheduler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyCSAlert.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyIVR.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/rider-platform/rider-app/Scheduler/src/App.hs
  Backend/dev/migrations-read-only/rider-app/ride.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#8183 backend:added person id for query dashboard
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/RiderPlatform/Customer.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/Customer.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
Labels: backend

#7715 Ticket/feature/enchancement
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, native, customer

#8185 backend/decrypt-encrypted-number-sql
  Backend/dev/migrations/provider-dashboard/0055-adding-person-numbers-in-access-matrix.sql
  Backend/dev/migrations/rider-dashboard/0030-adding-person-numbers-in-access-matrix.sql
Labels: backend

#8173 backend/enh/added-notifications-for-referral-reward
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideNotificationsToDriver.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0484-added-pn-and-payout-vpa-status.sql
Labels: backend

#8145 backend/fix: Dashboard APIs for HyperVerge Integration.
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/ImageExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0484-Adding-Index-To-Image-personId-docType.sql
Labels: backend

#8171 Handling missing driver profile error
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/KnowYourDriver.hs
Labels: backend

#8194 backend/fleet/fix_cancelled_ride_sorting
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/Ride.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0485-added-pn-and-payout-vpa-status.sql
Labels: backend

#8193 backend/fix/restrict_ambulance_estimates
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0485-Adding-Index-To-Image-personId-docType.sql
Labels: backend

#8197 backend/flake-udpate-shared-kernel
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0486-Adding-Index-To-Image-personId-docType.sql
  flake.lock
Labels: backend

#8166 Frontend/fix: Local stage update issue fix
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#7928 Frontend/fix: Special zone driver addition fix, removed hardcoded tip
  Frontend/android-native/app/src/main/res/layout/sheet_view.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetModel.java
Labels: frontend, native

#8196 Backend/enh/added-android-id-in-person-and-bank-acc-name-in-driver-info
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/rider-app/person.sql
Labels: backend

#8198 backend/new autocomplete api integration
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/mocks/google/src/Lib/GoogleConfig.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0483-added-places-api-merchant-service-config.sql
  Backend/dev/migrations/rider-app/1296-added-new-place-api-config-merchant-service-config.sql
  Backend/dhall-configs/dev/common.dhall
  Backend/dhall-configs/dev/mock-google.dhall
  flake.lock
Labels: backend

#8153 backend: added select to send request and other transaction metrics
  Backend/Profiling.md
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Metrics/BAPMetrics.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Metrics/BAPMetrics/Types.hs
  flake.lock
Labels: backend

#8071 backend/feat/driver cancellation rate rolling window
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CancellationRate.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#8203 Backend/fix:dashboard-driver-start-location-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
Labels: backend

#8189 frontend/feat: Handled Empty Referral Assets
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_refer_now_auto.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_refer_now_auto_my.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_refer_now_auto_ny_green.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_refer_now_auto_ny_yellow.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_refer_now_auto_yatri_black.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_refer_now_auto_yatri_green.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_refer_now_cab.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_refer_now_cab_my.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_refer_now_cab_ny.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_refer_now_cab_yatri.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_refer_now_cab_ys.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/passCulturePartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/View.purs
  Frontend/ui-driver/src/Screens/CustomerReferralTrackerScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
Labels: frontend, native, ui-common, driver

#8042 frontend/fix : rental accessibility fixes
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/View.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#8176 backend/enhance/adding-email-in-social-update-and-driver-profile
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
Labels: backend

#8210 Backend:fix/fromlocation-fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/LocationMappingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/Booking.hs
Labels: backend

#8208 S3 url fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverProfileQuestions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/KnowYourDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverProfileQuestionsExtra.hs
Labels: backend

#8211 Backend:fix/fromlocation-fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/LocationMappingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/Booking.hs
Labels: backend

#8214 frontend/fix/safety-support-api
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#8212 backend/enhance/adding-email-in-social-update-and-driver-profile
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
Labels: backend

#8207 frontend/fix : configure subscription upcoming dates through remote c…
  Frontend/packages.dhall
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
Labels: frontend, ui-common, driver

#8222 backend/fix/modified-and-fixed-ticket-status-callback-api
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Issue.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/Issue.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/IssueList.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/IssueList.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/IssueList.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/lib/shared-services/src/IssueManagement/Common/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
Labels: backend

#8219 feat: Introduced ysDefaultCityConfig in Driver
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DocumentCapture/ScreenData.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/ScreenData.purs
Labels: frontend, native, customer, driver

#8221 frontend/fix : mutiple accessibility fixes
  Frontend/ui-common/src/Components/BannerCarousel/Controller.purs
  Frontend/ui-common/src/Components/BannerCarousel/View.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-common/src/Components/SelectListModal/View.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-customer/src/Components/CommonComponentConfig.purs
  Frontend/ui-customer/src/Components/InputView/Controller.purs
  Frontend/ui-customer/src/Components/InputView/View.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SelectLanguageScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroMyTickets/View.purs
Labels: frontend, ui-common, customer

#8206 frontend/fix : configure subscription upcoming dates through remote c…
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
Labels: frontend, ui-common, driver

#8227 backend/improvement/better-json-logic-error-handling
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/lib/yudhishthira/spec/Storage/AppDynamicLogic.yaml
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Tools/Utils.hs
  flake.lock
Labels: backend

#8172 Frontend/fix: Enabled and Fixed mock location check
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Screens/ChooseCityScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, native, driver

#8006 Frontend/fix: Added DRIVER_ASSIGNMENT TRIP_STARTED Fcms to GRPC
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GRPCNotificationService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
Labels: frontend, native

#8195 Backend/fix:fixing-error-code
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
Labels: backend

#8217 frontend/feat: Added Referral Pop Ups
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_add_upi_cirlce.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/passCulturePartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Components/PopUpModal/Controller.purs
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/CustomerReferralTrackerScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, ui-common, driver

#8229 backend/fix: Driver Addition
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
Labels: backend

#8231 Backend/fix/fixing-error-code-hotpush
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  flake.lock
Labels: backend

#7906 Checkr bgv flow integration
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/WebViewOnActivity.java
  Frontend/android-native/mobility-app/src/main/res/drawable/btn_exit_hv.xml
  Frontend/android-native/mobility-app/src/main/res/layout/web_view_on_activity.xml
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/DocumentCapture/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Handler.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, ui-common, driver

#8143 WIP:Driver-photo-addition-and-onupdate-removal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
Labels: backend

#8236 Backend/fix/fixing-error-code-searchtry
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTryLocker.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#8127 backend/fix :Handled case of multiple bookings
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
Labels: backend

#8204 backend/enhancement :Migrated emergencySettings to SafetySettings
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/followRide.yaml
  Backend/app/rider-platform/rider-app/Main/spec/API/sos.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonDefaultEmergencyNumber.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SafetySettings.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FollowRide.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FollowRide.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PersonDefaultEmergencyNumber.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SafetySettings.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PersonDefaultEmergencyNumber.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SafetySettings.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/PersonDefaultEmergencyNumber.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SafetySettings.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SafetySettings.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FollowRide.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PersonDefaultEmergencyNumber.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyCSAlert.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonDefaultEmergencyNumberExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SafetySettingsExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/rider-app/person_default_emergency_number.sql
  Backend/dev/migrations-read-only/rider-app/safety_settings.sql
Labels: backend

#8238 Backend/fix:fixing-updated-at-searchreqforDriver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestForDriverExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request_for_driver.sql
Labels: backend

#8237 backend/feat: Slab Fare Policy Creator
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
Labels: backend

#8248 backend/readme: Use omnix instead of nix-health
  Backend/README.md
Labels: backend

#8244 frontend/feat: Added isMoreThan24Hours fn
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
Labels: frontend, driver

#8224 backend:query changes for redis call only
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Booking.hs
  Backend/app/special-zone/src/Domain/Action/SpecialZone.hs
  Backend/lib/special-zone/src/Lib/Queries/SpecialLocation.hs
  flake.lock
Labels: backend

#8225 backend/fix: Reduce Unsure toll cases by making it consider into Neut…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#8253 backend/fix/adds cancellation rate stats in profile summary api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileSummary.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CancellationRate.hs
Labels: backend

#8255 backend/feat/added-merchant-city-level-flag-for-healthcheck
  Backend/app/kafka-consumers/src/Consumer/AvailabilityTime/Types.hs
  Backend/app/kafka-consumers/src/Consumer/Flow.hs
  Backend/app/kafka-consumers/src/Consumer/LocationUpdate/Processor.hs
  Backend/app/kafka-consumers/src/Environment.hs
  Backend/dhall-configs/dev/location-update.dhall
  Backend/dhall-configs/generic/common.dhall
Labels: backend

#8257 Backend/fix/race condition in cash collect api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#8260 Backend/feat:fixing-search-request-for-driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
Labels: backend

#8261 Backend/feat:fixing-search-request-for-driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
Labels: backend

#8187 frontend/feat: Rental and Intercity otp flow in spl zone
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/Types.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/MessagingView/Common/Types.purs
  Frontend/ui-customer/src/Components/MessagingView/Common/View.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#8266 backend/fix: Making sure Go-To works Intra-city only.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#8250 backend/enhance/intercity-allowance-in-mins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicyInterCityDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicy/FarePolicyInterCityDetails.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/InterCityDetails.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/InterCityDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/InterCityDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/InterCityDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/InterCityDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/dev/migrations-read-only/rider-app/inter_city_details.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0490-intercity-allowance-in-mins.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#8136 backend/feat: Invoice Dashboard
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Invoice.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/rider-dashboard-common.dhall
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Invoice.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/rider-dashboard/rider-dashboard.cabal
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/Invoice.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/RideBooking/.gitkeep
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Invoice.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/RideBooking/.gitkeep
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicySlabsDetails/FarePolicySlabsDetailsSlab.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Invoice.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/RideBooking/.gitkeep
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Invoice.hs
Labels: backend

#8275 backend/caching-full-special-location
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SpecialLocation.hs
  Backend/lib/special-zone/src/Lib/Queries/SpecialLocation.hs
Labels: backend

#8277 backend/fix : Fix for followRideCustomerDetails
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FollowRide.hs
Labels: backend

#8278 backend/Refactor:modified queries
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FareBreakUp.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/QuoteExtra.hs
Labels: backend

#7984 Frontend/fix: Added JBrigde functions for Package uninstall request
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-driver/src/main/AndroidManifest.xml
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
Labels: frontend, native, ui-common

#8280 frontend/fix: remove marker from homescreen, and backpress on safety
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#8281 Backend/fix/postpaymenttip
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/PopulateTipAmount.hs
Labels: backend

#8272 Backend/fix/making aadhaar pan selfie backward compatible for very old apks prod hot push
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0491-adding-validated-using-DocumentVerificationConfig.sql
Labels: backend

#8199 frontend/fix/purple-ride-videos
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer, driver

#8283 frontend/fix: added extra error for activate goHome api.
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, driver

#8288 backend/enh/add-mOpCityId-to-callStatus
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallStatus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideNotificationsToDriver.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/CallStatus.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/CallStatus.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/CallStatus.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/CallStatus.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/CallStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyIVR.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/ScheduledRideNotificationsToRider.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/call_status.sql
  Backend/dev/migrations-read-only/rider-app/call_status.sql
  flake.lock
Labels: backend

#8282 frontend-fix: renaming res ids to ny_
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/CropImage.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/CropImageActivity.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/cropImage/CropImageView.java
  Frontend/android-native/mobility-common/src/main/res/drawable-hdpi/ny_crop_image_menu_flip.png
  Frontend/android-native/mobility-common/src/main/res/drawable-hdpi/ny_crop_image_menu_rotate_left.png
  Frontend/android-native/mobility-common/src/main/res/drawable-hdpi/ny_crop_image_menu_rotate_right.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xhdpi/ny_crop_image_menu_flip.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xhdpi/ny_crop_image_menu_rotate_left.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xhdpi/ny_crop_image_menu_rotate_right.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxhdpi/ny_crop_image_menu_flip.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxhdpi/ny_crop_image_menu_rotate_left.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxhdpi/ny_crop_image_menu_rotate_right.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxxhdpi/ny_crop_image_menu_flip.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxxhdpi/ny_crop_image_menu_rotate_left.png
  Frontend/android-native/mobility-common/src/main/res/drawable-xxxhdpi/ny_crop_image_menu_rotate_right.png
  Frontend/android-native/mobility-common/src/main/res/layout/ny_crop_image_activity.xml
  Frontend/android-native/mobility-common/src/main/res/layout/ny_crop_image_view.xml
  Frontend/android-native/mobility-common/src/main/res/menu/crop_image_menu.xml
  Frontend/android-native/mobility-common/src/main/res/menu/ny_crop_image_menu.xml
  Frontend/android-native/mobility-common/src/main/res/values/attrs.xml
  Frontend/android-native/mobility-common/src/main/res/values/strings.xml
Labels: frontend, native

#8271 backend/fix: adding flags for Hv backward compatibility for very old …
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0491-adding-validated-using-DocumentVerificationConfig.sql
Labels: backend

#8287 backend/fix: go-to intercity chaneg fix.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#8297 Backend/fix/reverting hv backward compatibility change prod hot push
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0491-adding-validated-using-DocumentVerificationConfig.sql
Labels: backend

#8290 backend/enhc/add-platform-fee-at-policy-level
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicyAmbulanceDetailsSlab.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicySlabsDetails/FarePolicySlabsDetailsSlab.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0491-move-charges-at-fare-policy-level.sql
Labels: backend

#8300 frontend/fix/ys-purple-ride-config-fix
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
Labels: frontend, native

#8296 Revert "backend/fix: adding flags for Hv backward compatibility for v…
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0491-adding-validated-using-DocumentVerificationConfig.sql
Labels: backend

#8301 frontend/fix : Fixes for safety screen and iOS views.
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ShakeDetector.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Components/PrimaryButton/View.purs
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-common/src/Components/Safety/SafetyAudioRecording.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, native, ui-common, customer

#8306 frontend/fix: Remove bodysensor permission.
  Frontend/android-native/app/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
Labels: frontend, native

#8305 frontend: handling status polling
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

#8310 backend/fix/inter-city-allowance
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

#8065 backend/feat : Added Voice Feedback in Ride Rating
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Rating.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/rating.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/rating.sql
  Backend/dev/migrations-read-only/rider-app/rating.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#8242 backend/fix/driver-photo-fix
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#7738 frontend/feat/self-serve-v2
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/ChatView/Controller.purs
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/View.purs
  Frontend/ui-driver/src/Screens/RideSelectionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideSelectionScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RideSelectionScreen/View.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, ui-common, customer, driver

#8315 backend:removed order by from driver fee overlay query
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFeeExtra.hs
Labels: backend

#8313 backend:removed order by from driver fee overlay query
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFeeExtra.hs
Labels: backend

#8314 backend/feat: Invoice Dashboard
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Invoice.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/rider-dashboard-common.dhall
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Invoice.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/rider-dashboard/rider-dashboard.cabal
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/Invoice.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/RideBooking/.gitkeep
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Invoice.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/RideBooking/.gitkeep
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicySlabsDetails/FarePolicySlabsDetailsSlab.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Invoice.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/RideBooking/.gitkeep
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Invoice.hs
Labels: backend

#8273 Backend/prodhotpush/scheduler-fix-for-manually-added-vpa
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
Labels: backend

#8308 backend/queries/moving white list logic to search
  Backend/dev/migrations-read-only/rider-app/white_list_org.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0493-whiteListOrg-merchant-and-city-level.sql
  Backend/dev/migrations/rider-app/1299-modifies-beckn-config.sql
  Backend/dev/migrations/rider-app/1300-whiteListOrg-city-level.sql
Labels: backend

#8318 backend/fix: storing edit dest req and resp
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/BookingUpdateRequest.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/BookingUpdateRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/BookingUpdateRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/BookingUpdateRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/booking_update_request.sql
Labels: backend

#8294 Backend/feat/adding-merchant-service-usage-config-to-cac
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SafetyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Cac.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Cac/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/BackgroundVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Call.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/DriverBackgroundVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/SMS.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Ticket.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Verification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Whatsapp.hs
  Backend/lib/utils/src/Utils/Common/Cac/PrefixConstants.hs
  Backend/lib/utils/src/Utils/Common/Cac/UtilsTH.hs
  Backend/lib/utils/src/Utils/Common/CacUtils.hs
  Backend/lib/utils/utils.cabal
Labels: backend

#8320 Frontend/fix: ChooseCity Screen Button fix
  Frontend/ui-driver/src/Screens/ChooseCityScreen/View.purs
Labels: frontend, driver

#8311 frontend-feat: add toll background audio after ride started
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#8319 backend/fix/whitelist logic fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhiteListOrg.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/WhiteListOrg.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/WhiteListOrg.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/WhiteListOrgExtra.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/BecknConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/WhiteListOrg.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BecknConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/WhiteListOrg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BecknConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/BecknConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/WhiteListOrg.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BecknConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/WhiteListOrgExtra.hs
Labels: backend

#8326 frontend/fix/edit-pickup-fixes
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, customer

#8323 frontend/fix: homescreen fixes with backpress in safety screen
  Frontend/ui-common/src/Common/Styles/Colors.purs
  Frontend/ui-common/src/Components/InfoBox/Controller.purs
  Frontend/ui-common/src/Components/InfoBox/View.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Styles/Colors.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/DataExplainWithFetch/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/DataExplainWithFetch/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, ui-common, customer

#8329 backend/feat: made driver account as MOR
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/RidePayment.hs
  flake.lock
Labels: backend

#8226 Backend/payout-management-dashboard
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Payout.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Payout.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Management/Payout.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Transaction.hs
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Payout.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Payout.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/ReferralPayout.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DailyStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/RiderDetails.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/ReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReferee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/OrderAndNotificationStatusUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RiderDetailsExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/rider_details.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0437-add-notification-config-values.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0484-indexing-on-rider-details.sql
  Backend/dev/migrations/rider-app/1265-add-notification-config-values.sql
  Backend/lib/payment/payment.cabal
  Backend/lib/payment/spec/Storage/Payouts.yaml
  Backend/lib/payment/src-read-only/Lib/Payment/Storage/Queries/PayoutOrder.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Types/Common.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PayoutOrderExtra.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PayoutOrdersExtra.hs
Labels: backend

#8270 frontend/feat: Moved Referal Pop Up Delay to RC
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Resource/Constants.purs
Labels: frontend, driver

#8341 Frontend/fix: Added log to identify notification source
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GRPCNotificationService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
Labels: frontend, native

#8347 frontend/feat: Add SureWarriorMetro as a special zone type
  Frontend/ui-customer/src/Helpers/SpecialZoneAndHotSpots.purs
Labels: frontend, customer

#8346 frontend/fix : coins to points translation fixes
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_coin_to_cash_fail_v2.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_five_rides_completed_v3.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_plan_by_coin_v2.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_ten_rides_completed_v2.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_two_rides_completed_v3.png
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, native, driver

#8350 Backend/fix/pool-sorting-type-compilation-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
Labels: backend

#8331 backend/enhancement : Added return time in bookingAPIEntity
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#8268 backend/feat/restrict_inter_city_stop_in_rental
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Serviceability.hs
Labels: backend

#8322 backend/feat: adds support to consume metro webview events in sdk-events service
  Backend/app/sdk-event-pipeline/src/Domain/Action/SDKEvents.hs
  Backend/app/sdk-event-pipeline/src/Domain/Types/SDKEvents.hs
  Backend/app/sdk-event-pipeline/src/Environment.hs
  Backend/app/sdk-event-pipeline/src/Tools/Auth.hs
  Backend/dhall-configs/dev/sdk-event-pipeline.dhall
Labels: backend

#8356 backend/feat: made driver account as MOR
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
Labels: backend

#8357 Frontend/fix: Fixed deeplink host for ManaYatri and Bridge
  Frontend/android-native/app/src/driver/bridgeDriver/AndroidManifest.xml
  Frontend/android-native/app/src/driver/manaYatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/user/bridge/AndroidManifest.xml
  Frontend/android-native/app/src/user/manaYatri/AndroidManifest.xml
Labels: frontend, native

#8150 backend/feat : API for Triggering FCM
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/TriggerFCM.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TriggerFCM.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TriggerFCM.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TriggerFCM.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  flake.lock
Labels: backend

#8354 backend/feat :Integrated AWS SNS-Service For SOS-Alerts And LO Feedback
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyCSAlert.hs
  Backend/dhall-configs/dev/common.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/lib/external/external.cabal
  Backend/lib/external/package.yaml
  Backend/lib/external/src/Slack/AWS/Flow.hs
Labels: backend

#8340 frontend/fix/advanced-ride-edit-pickup-fix
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, native, customer, driver

#8352 frontend-fix: ratecard text missing and double waiting charge text fix
  Frontend/ui-common/src/Components/RateCard/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, ui-common, customer

#8360 backend/feat: Static Duration & Added Support for SearchSource, PerMi…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BlockedRouteDetector.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/estimate.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
  Backend/dev/migrations-read-only/rider-app/estimate.sql
  Backend/dev/migrations-read-only/rider-app/search_request.sql
  docs/technical/spec/Delivery/backend.yaml
  flake.lock
Labels: backend

#8364 backend/fix : fixed dhall configs
  Backend/dhall-configs/dev/common.dhall
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#8361 backend/fix/reallocated-ride-editPickup
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequestExtra.hs
Labels: backend

#8358 backend/decrypt personId from number
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/RiderPlatform/Customer.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/Customer.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/dev/migrations/provider-dashboard/0056-adding-person-id-in-access-matrix.sql
  Backend/dev/migrations/rider-dashboard/0031-adding-person-id-in-access-matrix.sql
Labels: backend

#8295 backend/fix : Fixed CheckOverlap and flowStatus and sorted list sched…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
Labels: backend

#8371 backend/fix/profile-update
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
  flake.lock
Labels: backend

#8355 Backend : Fixed Some issues of the RideBooking List
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnConfirm.hs
Labels: backend
