Repository nammayatri/nammayatri, pull requests merged in 2024-06, with the labels that each got.

#7112 Backend/fix/isue
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
Labels: backend

#7115 Backend/fix:cac-kafka-data-push-forked
  Backend/lib/utils/src/Utils/Common/CacUtils.hs
Labels: backend

#6878 Frontend/fix: Modified hiding condition of optional document dropdown && Coins change
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
Labels: frontend, driver

#7111 frontend/feat: Add Notification Source in Quote Respond API
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetModel.java
Labels: frontend, native

#7105 backend/fix/list_scheduled_bookings
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/BookingExtra.hs
Labels: backend

#7101 backend/fix : make is advanced booking enabled maybe
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#7106 backend/fix: frfs fix
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSRecon.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
Labels: backend

#7123 backend/enh/iosSearchRequestForDriverAPIEntity-type-change
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
Labels: backend

#7125 fraud-detection-update-for-search
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
Labels: backend

#7126 fraud-detection-update-for-search
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
Labels: backend

#6867 Frontend/fix: Added Registration success screen
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
Labels: frontend, driver

#6744 Frontend/fix: Modified welcome screen assets
  Frontend/ui-driver/src/Screens/WelcomeScreen/ComponentConfig.purs
Labels: frontend, driver

#7121 Backend/fix: Added Special Location name in rideBooking API
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareProduct.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/estimate.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/quote.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
  Backend/dev/migrations-read-only/rider-app/estimate.sql
  Backend/dev/migrations-read-only/rider-app/quote.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#7129 backend: added api for fare calculation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/fareCalculate.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/FareCalculator.hs
Labels: backend

#7124 fraud-detection-update-for-search
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
Labels: backend

#7122 backend:removed extra flag for linker phase failure
  Backend/app/dashboard/provider-dashboard/package.yaml
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/rider-dashboard/package.yaml
  Backend/app/dashboard/rider-dashboard/rider-dashboard.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/driver-offer-allocator.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/package.yaml
  Backend/app/safety-dashboard/package.yaml
  Backend/app/safety-dashboard/safety-dashboard.cabal
Labels: backend

#7080 frontend/fix: BookAny Price Fix
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#7134 backend/fix: fix in fare policy update api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareProductExtra.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0428-add-bike-variant-onboarding-configs.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0429-adding-avg-speed-in-transporter-config.sql
Labels: backend

#7131 frontend-fix: removed toll charges from rate/km in ride request
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
Labels: frontend, native

#6901 Frontend/fix: Replaced appname for merchant string
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#7140 [backend/feat] integrate stripe
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverBankAccount.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverBankAccount.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverBankAccount.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/MerchantServiceConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_bank_account.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant_service_usage_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_try.sql
  flake.lock
Labels: backend

#7142 backend/enh/bridge-onboarding-changes
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverLicenseExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/ImageExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_license.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/image.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_registration_certificate.sql
Labels: backend

#7139 Frontend-fix: Toll translation and Actual toll charge state issue
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, customer, driver

#7150 backend/feat/added_fleet_driver_onboarding_api
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Fleet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Fleet/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0435-add-message-for-fleet-join-otp.sql
  Backend/dev/migrations/provider-dashboard/0049-added-fleet-driver-api.sql
Labels: backend

#7118 backend/feat/fcm_for_first_ride_event
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  flake.lock
Labels: backend

#7151 backend/enh/prefill-data-in-status-handler
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
Labels: backend

#7153 backend/enhancement: parking charge in search-request-pop-up
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#7155 backend/logs/merchantServiceConfig
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
Labels: backend

#7157 backend/fix:post profile ambiguity fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
Labels: backend

#7141 frontend/feat: Updated Book Any
  Frontend/android-native/app/src/user/bridge/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_cab_auto_black.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_cab_auto_green.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_cab_auto_yellow.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_check_blue.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Animation/Config.purs
  Frontend/ui-common/src/Common/Styles/Colors.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Resources/Styles/Colors.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Resource/Styles/Color.purs
Labels: frontend, native, ui-common, customer, driver

#7156 backend/enhancement: step fee in search request pop up
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
Labels: backend

#7159 backend/fleet/query_fix_for_search_driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociation.hs
Labels: backend

#7158 frontend/fix: Added Kochi Auto in BookAny
  Frontend/ui-customer/src/Helpers/Utils.purs
Labels: frontend, customer

#7160 frontend-6240-prefill-dl-details
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Handler.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/View.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, driver

#7137 backend/fix: added separate kapture queues for sos
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1264-kapture-sos-queue-values.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
Labels: backend

#7170 frontend/feat: Handle offline state when ride is assigned or started
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/NoInternetScreen/View.purs
Labels: frontend, ui-common, customer, driver

#7008 Frontend/fix:Bug-Fix
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
Labels: frontend, customer

#7171 Frontend/fix: Driver RideReq Step Fee changes
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetModel.java
Labels: frontend, native

#7046 frontend/fix: Fixed wrong notification sounds
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
Labels: frontend, native

#7147 backend/enhance/add_fields_in_scheduled_bookings_api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicyProgressiveDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicySlabsDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicySlabsDetails/FarePolicySlabsDetailsSlab.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0434-ambulance.sql
Labels: backend

#7167 Frontend/fix: RideReq Non-Ac Changes
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_alert_hexagon.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_chat_grey.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_alert_hexagon_red.png
  Frontend/android-native/app/src/main/res/layout/sheet_view.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetAdapter.java
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_ic_non_ac_white.png
  Frontend/android-native/mobility-app/src/main/res/layout/sheet_view.xml
Labels: frontend, native

#7016 frontend/enabled tip for cabs
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Helpers/TipConfig.purs
Labels: frontend, native, customer

#7165 Frontend/fix: Whitelisted Non-overlay Devices
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
Labels: frontend, native

#7175 frontend/fix/ys-invoice-update
  Frontend/ui-customer/src/Resources/Constants.purs
Labels: frontend, customer

#7083 Frontend/fix: Bugfix Enabled waiting timer, City based config
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, driver

#7180 Frontend/fix: Yatri release 22-may-fixes
  Frontend/android-native/app/src/user/yatri/assets/juspay/config.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/res/drawable/ic_namma_yatri_logo.png
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Helpers/RateCardUtils.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/BannerConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/View.purs
Labels: frontend, native, customer

#7060 Fronted/Enhancement:-Added-auto-img-based-on-city-in-search-over
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_no_quotes_auto_bang_del.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_no_quotes_auto_che_hyd.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_no_quotes_auto_koc.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/Components/IndividualRideCard/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
Labels: frontend, native, customer

#7176 frontend/fix: BookAny Crop Fix
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
Labels: frontend, ui-common

#7184 frontend/ driver app changes regarding edit destination
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlayMessagingService.java
  Frontend/android-native/mobility-app/src/main/res/layout/message_overlay.xml
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, native, driver

#6899 frontend/fix/accessibility-issues
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/ui-common/src/Components/Calendar/View.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/Components/RatingCard/View.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-common/src/Components/SourceToDestination/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/PopupWithCheckbox/View.purs
  Frontend/ui-customer/src/Components/ServiceTierCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Components/HeaderView.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SafetyEducationScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SafetySettingsScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SetupSafetySettingsScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/View.purs
Labels: frontend, native, ui-common, customer, driver

#7185 backend/fix/accept_scheduled_booking
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0434-ambulance.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0436-doc-verification.sql
Labels: backend

#7183 backend/feat : version control in prodHotPush
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverQuote.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchTry.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/configs.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/ride.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverQuote.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverQuote.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverQuote.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation/Internal.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_pool_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_quote.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/ride.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_try.sql
  Backend/dev/migrations-read-only/rider-app/search_request.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
Labels: backend

#7190 backend:driver fee query optimisation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFeeExtra.hs
Labels: backend

#7194 backend/fix/dl-valid
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
Labels: backend

#7168 backend/enh/failure-reason-in-status-handler
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleInsurance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleInsurance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleInsurance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleInsurance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverLicenseExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/ImageExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleInsuranceExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_license.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_insurance.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_registration_certificate.sql
Labels: backend

#7195 Backend/fix/on ride status prod bug fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
Labels: backend

#7191 backend/flow-optimisations-for-search and estimate
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
Labels: backend

#7192 backend/fix/DSL/minor-changes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/MessageReport.hs
Labels: backend

#7196 backend/enhancement: Add Notification Source In Search Request For Dr…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request_for_driver.sql
Labels: backend

#7198 backend/fix: test case
  Backend/test/src/Mobility/ARDU/Utils.hs
Labels: backend

#7130 Fonntend/fix: Added Pickup Instructions screen For Airport pickup
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/SpecialZoneAndHotSpots.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/Handlers.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/PickupInstructionsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/PickupInstructionsScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/PickupInstructionsScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/PickupInstructionsScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

#7004 feat frontend feat add contition to show pickup or waitingtime
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, driver

#7199 Backend/hot push fix/fix/test cases
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BookingLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
Labels: backend

#7205 frontend/fix: added events for first ride
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
Labels: frontend, native

#7102 Frontend/feat: Driver Vehicle rate card
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/RateCard/Utils.purs
  Frontend/ui-common/src/Components/RateCard/View.purs
  Frontend/ui-common/src/Engineering/Helpers/Accessor.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Accessor.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/ModifyScreenTypes.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Handler.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/Handlers.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/Handler.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/View.purs
  Frontend/ui-driver/src/Screens/ScreenNames.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Accessor.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, ui-common, customer, driver

#7193 frontend/feat : Added explore city section on homescreen.
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#7207 backend/fleet/query_fix_for_search_driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociation.hs
Labels: backend

#7204 Frontend/enhancement: Enhancement Special Location Airport Pickup
  Frontend/android-native/app/src/user/common/res/raw/walk_anim.json
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/PickupInstructionsScreen/View.purs
Labels: frontend, native, customer

#6144 frontend/enhancement: added script for raising PR from nammayatri to …
  .github/workflows/raise-pr-to-asset-store.yaml
  Frontend/asset-store-script.sh
Labels: enhancement, frontend

#7211 Backend/fix:cac-fix
  Backend/lib/utils/src/Utils/Common/CacUtils.hs
  flake.lock
Labels: backend

#7210 frontend/fix: fixed timer callback issue fix in ios
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
Labels: frontend, ui-common

#7213 notification config and dhall fixes
  Backend/dev/migrations/dynamic-offer-driver-app/0437-add-notification-config-values.sql
  Backend/dev/migrations/rider-app/1265-add-notification-config-values.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#7209 backend/enh/failure-reason-in-status-handler
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleInsurance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleInsurance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleInsurance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleInsurance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverLicenseExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/ImageExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleInsuranceExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_license.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_insurance.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_registration_certificate.sql
Labels: backend

#7215 frontend/fix: Enabled rentals
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer

#7217 backend/fix/list_bookings_and_ambulance
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0434-ambulance.sql
Labels: backend

#7216 Backend/feat: Bike Ride Flow fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/dev/local-testing-data/person-location.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0001-local-testing-data.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0016-fare-policy.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0067-add-phone-number-as-text-to-person.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0097-restricted-extra-fare.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0134-added-slab-fare-policy.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0276-add-time-base-charge-to-farepolicy.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0277-add-averageVechileSpeed-to-transport-config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0382-vehicle-service-tier.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0395-book-any-feature.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0410-vehicle-details.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0428-add-bike-variant-onboarding-configs.sql
  Backend/dev/migrations/rider-app/1267-vehicle-variant.sql
Labels: backend

#7228 backend/fix/image-failure-reason
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0437-add-notification-config-values.sql
Labels: backend

#7200 Backend/fix/estimate and on ride true issue fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
Labels: backend

#7230 backend/fix/image-failure-reason
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
Labels: backend

#7237 migrations/fix
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_registration_certificate.sql
Labels: backend

#7238 backend/fix: migration queries beckn_config
  Backend/dev/migrations/dynamic-offer-driver-app/0428-add-bike-variant-onboarding-configs.sql
  Backend/dev/migrations/rider-app/1267-vehicle-variant.sql
Labels: backend

#6490 backend/feat: APIs for aadhaar, Pan and Live selfie validation and su…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/AadhaarCard.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverPanCard.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/AadhaarCard.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPanCard.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/AadhaarCard.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverPanCard.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/AadhaarCard.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverPanCard.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/HyperVergeWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DeleteDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/AadhaarCardExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPanCardExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/ImageExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/aadhaar_card.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_pan_card.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/image.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0416-added-HyperVerge-Config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0438-Hyperverge-onboarding-sdk-integration.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0439-BackFill-AadharVerification-to-AadhaarCard.sql
  Backend/nix/scripts.nix
Labels: backend

#7262 backend/readme/linker_failure
  Backend/README.md
Labels: backend

#7246 frontend/fix: rental deadKmFare bug fix
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

#7270 Backend/fix/onboarding v2
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
Labels: backend

#7241 backend/fix: adds fulfillment type to cancellation terms, adds agent …
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common/Order.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnCancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
Labels: backend

#7277 Backend/fix/hlint-fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverGoHomeRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Invoice.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Mandate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MessageReport.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/RideDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/RiderDriverCorrelation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchReqLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverGoHomeRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverHomeLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Feedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetDriverAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/GoHomeConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Invoice.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/KioskLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/KioskLocationTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Mandate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MessageReport.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MessageTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/PlaceNameCache.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/RideDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/RiderDriverCorrelation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchReqLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverGoHomeRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverHomeLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MessageTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Invoice.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/RiderDriverCorrelation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleInsurance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/RideDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/RiderDriverCorrelation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FavouriteDriver.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FareBreakup.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0001-local-testing-data.sql
Labels: backend

#7278 frontend/fix : Added support for translations in explore city.
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, ui-common, customer

#3455 backend/enhancement/Customer-Rating-Driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Person.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common/Order.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/FavouriteDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileSummary.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/LmsModule.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Beckn/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SyncRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverStatsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RatingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_stats.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/person.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0001-local-testing-data.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0428-add-bike-variant-onboarding-configs.sql
Labels: backend

#7283 backend/scheduler-handler-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideNotificationsToDriver.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/ScheduledRideNotificationsToRider.hs
  Backend/app/rider-platform/rider-app/Scheduler/src/App.hs
Labels: backend

#7286 Backend/fix:cac-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/App.hs
  Backend/app/rider-platform/rider-app/Main/src/App.hs
  Backend/lib/utils/src/Utils/Common/CacUtils.hs
  flake.lock
Labels: backend

#7290 frontend/fix-added-test-asset
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/abcd.png
Labels: frontend, native

#7291 frontend/fix-updated scripts path
  .github/workflows/raise-pr-to-asset-store.yaml
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_insurance_blur_img.png
  Frontend/asset-store-script.sh
Labels: frontend, native

#7292 backend/fix : fixed ticket status callback api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/IssueList.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
Labels: backend

#7189 frontend-feat-profile-picture-camera
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_camera_icon.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_camera_overlay.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_retake_icon.png
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/CameraUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MediaPlayer.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/Utils.java
  Frontend/android-native/mobility-common/src/main/res/values-hi/strings.xml
  Frontend/android-native/mobility-common/src/main/res/values-kn/strings.xml
  Frontend/android-native/mobility-common/src/main/res/values-ta/strings.xml
  Frontend/android-native/mobility-common/src/main/res/values/strings.xml
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/ModifyScreenTypes.purs
  Frontend/ui-driver/src/Screens/AppUpdatePopUpScreen/View.purs
  Frontend/ui-driver/src/Screens/CameraScreen/Controller.purs
  Frontend/ui-driver/src/Screens/CameraScreen/Handler.purs
  Frontend/ui-driver/src/Screens/CameraScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/CameraScreen/View.purs
  Frontend/ui-driver/src/Screens/DocumentCapture/Controller.purs
  Frontend/ui-driver/src/Screens/DocumentCapture/Handler.purs
  Frontend/ui-driver/src/Screens/DocumentCapture/ScreenData.purs
  Frontend/ui-driver/src/Screens/DocumentCapture/View.purs
  Frontend/ui-driver/src/Screens/Handlers.purs
  Frontend/ui-driver/src/Screens/ScreenNames.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, ui-common, driver

#7295 Backend/fix:moving-cac-connect-to-main-thread
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/App.hs
  Backend/app/rider-platform/rider-app/Main/src/App.hs
  flake.lock
Labels: backend

#7300 backend/fix/status-handler-status
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
Labels: backend

#7301 Backend/fix/register status
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
Labels: backend

#7264 backend/fix/Restrict Ambulance to be registered as cab
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
Labels: backend

#7294 backend/fix: adding index on aadhaarHash to aadhaar_card and query fi…
  Backend/dev/migrations/dynamic-offer-driver-app/0438-Hyperverge-onboarding-sdk-integration.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0439-BackFill-AadharVerification-to-AadhaarCard.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0440-adding-index-on-aadhaarHash-in-aadhaarCard.sql
Labels: backend

#7302 backend/fleet/added_api_for_driver_ride_list
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Fleet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Fleet/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/dev/migrations/provider-dashboard/0050-added-ride-list-for-fleet.sql
Labels: backend

#7293 frontend/fix : revert changes for white screen fix.
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, customer, driver

#7303 frontend/edit dest bug fixes
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#7316 frontend/fix-rentals release bug fixes
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, customer

#7231 Frontend/fix: Rate Card screen modifications and Issue fixes
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_minus_dec.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_non_ac_white.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_plus_inc.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetModel.java
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/PickupInstructionsScreen/View.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/Handler.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, ui-common, customer, driver

#7272 Frontend feat add contition to show pickup or waiting time
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
Labels: frontend, driver

#7319 frontend/feat: Added Device Identifier
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/DeviceIdentifier.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, native, ui-common, customer

#7326 backend/revert-status-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
Labels: backend

#7327 backend/feat/List dashboard transactions
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Booking.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/DriverReferral.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Exotel.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Message.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Ride.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/SpecialZone.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver/Registration.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Volunteer.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/RiderPlatform/Customer.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/SafetyPlatform.hs
  Backend/app/dashboard/Lib/lib-dashboard.cabal
  Backend/app/dashboard/Lib/package.yaml
  Backend/app/dashboard/Lib/src/API/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Transaction.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Transaction.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Transaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Subscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/RideBooking/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Tickets.hs
  Backend/dev/migrations/provider-dashboard/0050-add-indices-transaction.sql
  Backend/dev/migrations/rider-dashboard/0028-add-indices-transaction.sql
  Backend/lib/shared-services/src/IssueManagement/Common/Dashboard/Issue.hs
Labels: backend

#7329 backend/fix/migrations_overlap
  Backend/dev/migrations/provider-dashboard/0051-added-ride-list-for-fleet.sql
Labels: backend

#7188 frontend-fix: fixed tamil translation issue
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
Labels: frontend, customer

#7331 frontend/fix : enabled-telugu-translations-in-issue-flow
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
Labels: frontend, ui-common

#7315 Backend/feat/knowYourDriver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverProfileQuestions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverProfileQuestions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/KnowYourDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/KnowYourDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileQuestions.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_profile_questions.sql
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#7335 frontend/fix: Added check for device ram
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
Labels: frontend, native

#7337 Frontend/fix: Added log for overlay skipped
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
Labels: frontend, native

#7342 Backend/enhancement/add-coin-ride-events
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver/Coin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverProfileQuestions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Coin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_profile_questions.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0442-add-two-and-five-ride-events-in-coins.sql
Labels: backend

#7344 frontend/fix-lottie bugfix
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, ui-common, customer

#7339 frontend/fix: removed config failed toast in Prod Build
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.js
Labels: frontend, ui-common

#7350 frontend/update: updated scripts for release via fastlane
  .github/workflows/release-apk.yaml
  Frontend/android-native/bundleFetch.py
  Frontend/android-native/versions.txt
Labels: frontend, native

#7353 Release fix
  Frontend/android-native/versions.txt
Labels: frontend, native

#7312 frontend/fix: Updated Book Any Delhi
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
Labels: frontend, ui-common, customer

#7359 frontend/fix/handling stops add size in dest and flicker issue fix
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, native, ui-common, customer, driver

#7341 Frontend/fix: Auto Increase vol Native change
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
Labels: frontend, native

#6764 Frontend feat 6761 loader line fixed
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, native, ui-common, customer

#7365 Backend/enhancement/add-coin-ride-events-prodHotPushCommon
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver/Coin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Coin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0442-add-two-and-five-ride-events-in-coins.sql
Labels: backend

#7364 [backend/feat]: Add Ride Online Payment functionality APIs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/Payment.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ride.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/RidePayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/RidePayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/RidePayment.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
  Backend/dev/migrations-read-only/rider-app/merchant_service_usage_config.sql
  Backend/dev/migrations-read-only/rider-app/person.sql
  Backend/dev/migrations-read-only/rider-app/ride.sql
  Backend/dev/migrations/rider-app/1270-add-stripe-config.sql
  flake.lock
Labels: backend

#7362 Frontend/enhancement/coin-monsoon-offer-popups
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_eight_rides_completed.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_five_rides_completed.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_two_rides_completed.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/PopUpModal/Controller.purs
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, native, ui-common, driver

#7334 backend/fleet/driver_onboard_modification
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Fleet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Fleet/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0442-add-download-app-key-in-message.sql
Labels: backend

#7367 Frontend/fix: Main compilation fix
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
Labels: frontend, native

#7366 backend/fix/overlapping_migration
  Backend/dev/migrations/dynamic-offer-driver-app/0443-add-download-app-key-in-message.sql
Labels: backend

#7317 backend/fix/customerRatingDriver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/DriverStats.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_stats.sql
Labels: backend

#7370 frontend/enabled tip for all in delhi
  Frontend/ui-customer/src/Helpers/TipConfig.purs
Labels: frontend, customer

#7348 Backend/fix/making-cac-enablable
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/App.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/dhall-configs/dev/broadcast-message.dhall
  Backend/dhall-configs/dev/driver-availability-calculator.dhall
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/location-update.dhall
  Backend/dhall-configs/dev/person-stats.dhall
  Backend/dhall-configs/dev/producer.dhall
  Backend/dhall-configs/dev/provider-dashboard.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/dhall-configs/dev/rider-dashboard.dhall
  Backend/dhall-configs/dev/safety-dashboard.dhall
  flake.lock
Labels: backend

#7372 Backend/fix/cache-query-coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/CoinsConfig.hs
Labels: backend

#7373 Backend/fix/cache-query-coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/CoinsConfig.hs
Labels: backend

#7333 backend/fix/reallocation_and_round_trip
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#7369 Frontend/fix: Bugfixes for release
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/Controller.purs
Labels: frontend, native, customer, driver

#7377 frontend - edit dest bug fixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#7375 frontend/fix: Added Ride Completed Media Player
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
Labels: frontend, native

#7378 frontend/fix- release bug fixes
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/ComponentConfig.purs
Labels: frontend, native, customer

#7382 Backend edit dest changes related to error
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/EditBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/BookingUpdateRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BookingUpdateRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BookingUpdateRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BookingUpdateRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/dev/migrations-read-only/rider-app/booking_update_request.sql
  flake.lock
Labels: backend

#7384 backend:kafka-data-fix
  Backend/lib/utils/src/Utils/Common/CacUtils.hs
Labels: backend

#7386 frontend/fix- estimates refetch, ac tag missing, disabled scheduled rentals
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, customer, driver

#7388 Backend/fix:fixing-timebounds
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/TimeBound.hs
Labels: backend

#7390 frontend/skip button loader issue
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#7391 frontend/fix- fixed chat message issue after ride started
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, customer, driver

#7392 frontend/fix: removed use_exact_alarm and fixed crash
  Frontend/android-native/app/src/driver/jatriSaathiDriver/AndroidManifest.xml
  Frontend/android-native/app/src/driver/nammaYatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/passCulturePartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/yatriPartner/AndroidManifest.xml
  Frontend/android-native/mobility-common/build.gradle
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-driver/src/main/AndroidManifest.xml
Labels: frontend, native

#7357 backend/feat: Checkr Integration
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/BackgroundVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/BackgroundVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/BackgroundVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/BackgroundVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Extra/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/BackgroundVerificationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/BackgroundVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/background_verification.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant_service_usage_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0444-checkr-integration.sql
  flake.lock
Labels: backend

#7393 backend/enhance/add_toDate_in_listScheduledBookings
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/BookingExtra.hs
Labels: backend

#7396 Backend/fix/moving coin function to a safer position
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend
