Repository nammayatri/nammayatri, pull requests merged in 2024-11, with the labels that each got.

#9228 frontend/bus booking flow - logic and UI fixes
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_bus_white.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_location_white.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/SelectBusRoute/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/SelectBusRoute/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/SelectBusRoute/View.purs
Labels: frontend, native, ui-common, customer

#9234 backend/fix : Add check in post ride safety check for old users
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/PostRideSafetyNotification.hs
  Backend/app/rider-platform/rider-app/Scheduler/src/App.hs
Labels: backend

#9237 frontend/replcaed MTC with WBTC
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/Helpers/Utils.purs
Labels: frontend, native, customer

#9244 Backend-autoCompleteParams
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/mocks/google/src/Lib/GoogleConfig.hs
  Backend/dev/migrations/rider-app/1358-update-autocomplete-params.sql
  flake.lock
Labels: backend

#9242 backend/bug-fix/isTwoWheelerAllowed
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
Labels: backend

#9246 backend/fix/toll-estimate-at-end-ride
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#9232 frontend/smartTip changes
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/TipConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, ui-common, customer

#9240 frontend-fix: fix prod issue
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/PopUpConfigs.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, customer, driver

#9251 backend/fix: userActionType backward compatibility fix
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
Labels: backend

#9250 frontend-fix: fix prod issue
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/CarouselBannerController.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/PopUpConfigs.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, ui-common, customer, driver

#9255 backend/feat/vehicleTracking
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RouteTripMapping.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteTripMapping.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteTripMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TrackRoute.hs
  Backend/dev/migrations-read-only/rider-app/route_trip_mapping.sql
Labels: backend

#9260 frontend-feat: add driver assigned audio
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, driver

#8681 Frontend/Enhancement/Truck-onBoarding-Flow
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_no_rides_history_truck.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_truck_not_supported.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_truck_onboard.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_truck_side.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, driver

#9261 frontend-feat: add driver assigned audio
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, driver

#9263 backend/fix: fix bug with frontend flowStatus
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
Labels: backend

#9267 frontend/fix/remove-center-deviation-for-driver-hotspot
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, driver

#9210 backend/namma-dsl: withDashboardFlowHandlerAPI wrapper
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Booking.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/FRFSTicket.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Invoice.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/NammaTag.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/System.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/DriverGoHome.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/DriverReferral.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Revenue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/System.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Invoice.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/System.hs
  flake.lock
Labels: backend

#9257 frontend/enh/adds metro pill
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_metro_service.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, customer

#9253 frontend/fix: YS CUG fixes for Subscription and Delivery Flow
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, ui-common, driver

#9272 backend/hotfix/sender-sms
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#9275 backend/hotfix/sender-sms
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#9277 frontend/feat: hybrid integration flow stitching
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Controller.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#9279 frontend/fix: Added ride confimed and ride completed hybrid link
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9280 fix: redirecting homeScreen opening to exit
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
Labels: frontend, customer

#9241 backend/feat: Transit Buses
  .gitattributes
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/API/TrackRoute.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RouteStopMapping.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSRecon.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSRouteStopStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSVehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteStopMapping.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSRecon.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSRouteFareProduct.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Route.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopMapping.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Station.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/CUMTA/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/CUMTA/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/CUMTA/Verification.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/EBIX/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/EBIX/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/EBIX/Verification.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Metro/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/dev/migrations-read-only/rider-app/frfs_quote.sql
  Backend/dev/migrations-read-only/rider-app/frfs_search.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/route_stop_mapping.sql
Labels: backend

#9281 frontend/fix/removed-email-verification-in-setting-profile
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/View.purs
Labels: frontend, customer

#9290 frontend/fix : Made Rental Scheduler Button Configurable
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ComponentConfig.purs
Labels: frontend, customer

#9289 frontend/fix: Special Zone Rides Fixes and Monthly Leaderboard enabled
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, native, customer

#9301 Revert "[RELEASE-APK-DRIVER] Initiating apk generation"
  Frontend/android-native/app/build.gradle
Labels: frontend, native

#9304 frontend/enh : adds metro remote configs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
Labels: frontend, customer

#9302 frontend/enh : adds metro remote configs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
Labels: frontend, customer

#9309 update driver apk versions
  Frontend/android-native/versions.txt
Labels: frontend, native

#9308 [BOT]Update versionCode and versionName
  Frontend/android-native/app/build.gradle
Labels: frontend, native

#9311 Backend/googleAutocompleteParams/mock-google
  Backend/dhall-configs/dev/mock-google.dhall
Labels: backend

#9299 backend/feat/dashboard/delivery-parcel-image-on-bpp-dashboard
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/package.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Media.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Ride.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Media.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Ride.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Media.hs
  Backend/app/dashboard/provider-dashboard/package.yaml
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Media.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Client/ProviderPlatform/Management.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Media.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Media.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Media.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Media.sql
  Backend/test/src/Mobility/ARDU/APICalls.hs
  flake.lock
Labels: backend

#9313 backned/fix: cosmetic fix for HV bpp dashboard page.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#9291 Frontend/feat/ys ticket operational changes
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

#9321 backend/feat: Special Location Open/Closed
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0562-special-location-type.sql
  Backend/dev/migrations/rider-app/1360-special-location-type.sql
  Backend/lib/special-zone/src/Lib/Queries/SpecialLocation.hs
  Backend/lib/special-zone/src/Lib/Tabular/SpecialLocation.hs
  Backend/lib/special-zone/src/Lib/Types/SpecialLocation.hs
Labels: backend

#9152 Frontend/Enhancement/driverProfile
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/main/res/drawable/ny_ic_heart_black.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-common/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-common/src/Services/Api.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/BN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/EN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/HI.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/KN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/ML.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/Strings.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/TA.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/TE.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/Handler.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/View.purs
Labels: frontend, native, ui-common, customer, driver

#9314 fix: using presto loader instead of native loader
  Frontend/ui-customer/src/Components/Loader/DotLoader.purs
  Frontend/ui-customer/src/Components/Loader/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/View.purs
Labels: frontend, customer

#9316 frontend/feat:remove count from ride request pill
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#9326 backend/fix : Added Config for listscheduledbooking API
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#9327 backend/fix : Added Config for listscheduledbooking API
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#9322 Frontend/feat: Intercity CleverTap Events
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9331 backend/added debugging logs for metro warrior go home
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
Labels: backend

#9325 backend/notify-driver-on-stop-detection
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VehicleServiceTier.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/StopDetection.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/StopDetection.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_service_tier.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0565-stop-detection-translations-and-configs.sql
  flake.lock
Labels: backend

#9332 backend/fix/toll-final-fare-exclude-toll-charges
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#9337 backend/fix: DB Migrations
  Backend/dev/migrations/dynamic-offer-driver-app/0562-special-location-type.sql
  Backend/dev/migrations/rider-app/1360-special-location-type.sql
Labels: backend

#8712 backend/feat/split_settlement
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VendorFee.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VendorSplitDetails.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VendorFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VendorSplitDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VendorFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VendorSplitDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VendorFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VendorSplitDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VendorFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VendorSplitDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Execution.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VendorFeeExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vendor_fee.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vendor_split_details.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0546-vendor-split-details.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Types/PaymentTransaction.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Beam/PaymentTransaction.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PaymentTransaction.hs
  flake.lock
Labels: backend

#9336 backend/fix/toll-final-fare-exclude-toll-charges-popup
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#9339 ProdHotPush-DriverFcm
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request_for_driver.sql
Labels: backend

#9340 ProdHotPush-FixDriverFcm
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
Labels: backend

#9249 frontend/smartTip changes
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/TipConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, ui-common, customer

#9344 frontend/smart tip selected pill change
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#9348 backend/debugging logs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
Labels: backend

#9347 frontend/smart tip selected pill change
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#9351 backend/:special-location-replica-query
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Geometry.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Serviceability.hs
  Backend/lib/special-zone/src/Lib/Queries/SpecialLocation.hs
Labels: backend

#9353 Backend/feat/adding-driverbackend-instance
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/CacType.hs
  flake.lock
Labels: backend

#9349 frontend/fix : fixes metro station list latency + misc yatri fixes
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#9288 Backend/feat:adding-quote-confirm-advance-booking-enable-option
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/RideBooking/Confirm.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/RideBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#9333 Backend/feat/adding-tripcategory-and-trip-end-in-driverinfo
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
Labels: backend

#9354 intercity-loop-screen-fix:
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Main.purs
Labels: frontend, ui-common, customer

#9355 Backend/fix/is-just-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
Labels: backend

#9356 intercity selection ride problem
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#9218 Backend/fix/new-operating-city-configs-from-base-city
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/LeaderBoardConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantPaymentMethod.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantPushNotification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/VehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantPaymentMethod.hs
Labels: backend

#9342 frontend/feat: Added help and ride detail hybrid flow
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9362 Backend/fix/forward-trip-category-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
Labels: backend

#9367 Frontend fix tripdetail hybrid
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/Controller.purs
Labels: frontend, customer

#9360 support number fix
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, driver

#9370 backend/debug: Logs for LM
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/LocationMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequestExtra.hs
Labels: backend

#9363 backend/fix/endride-tollcharge-correction
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#9361 frontend/feat: Boost Ride
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, ui-common, customer

#9373 frontend/fix : update assets downloader to v0.0.9
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, customer, driver

#9376 Asset downloader 10 hotpush
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, customer, driver

#9380 backend/metroWarriorTagFix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SpecialLocationWarrior.hs
Labels: backend

#9338 backend/feat: Bus Driver Onboarding
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/dev/migrations-after-release/dynamic-offer-driver-app/0002-avg-speed-bus.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Vehicle.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/beckn-spec/src/Domain/Types/ServiceTierType.hs
  Backend/lib/beckn-spec/src/Domain/Types/VehicleVariant.hs
Labels: backend

#9286 Frontend/fix: HelpAndSupport and Safety minor fixes
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
Labels: frontend, ui-common, customer

#9382 frontend:revert Rental intercity custom payload - hybrid
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
Labels: frontend, customer

#9384 Logs/debug
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SpecialLocationWarrior.hs
Labels: backend

#9386 backend/fix/driverTag
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SpecialLocationWarrior.hs
Labels: backend

#9385 frontend/fix/fix-exception-handling-in-locationUpdateService
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
Labels: frontend, native

#9160 backend/feat/driver_extra_fare_mitigation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ReportIssue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileSummary.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/CancellationRate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreach.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreachMitigation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0570-extra-fare-mitigation.sql
  Backend/dev/migrations/rider-app/1187-adding-new-data-for-issue-flow.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#9352 frontend/hybrid: added driver profile flow in hybrid
  Frontend/ui-common/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-common/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
Labels: frontend, ui-common, customer, driver

#9243 backend/feat/azure-openAI-chat-completion
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/LlmPrompt.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/LlmPrompt.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LlmPrompt.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Extra/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/LLMPrompt/LLMPrompt.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/ChatCompletion.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/llm_prompt.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant_service_usage_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0563-insert-azure-openai-driver-profile-gen-prompt-1.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0564-insert-llm-config-azure-openai.sql
  Backend/lib/external/external.cabal
  Backend/lib/external/src/ChatCompletion/AzureOpenAI/API.hs
  Backend/lib/external/src/ChatCompletion/AzureOpenAI/Config.hs
  Backend/lib/external/src/ChatCompletion/AzureOpenAI/Types.hs
  Backend/lib/external/src/ChatCompletion/Gemini/API.hs
  Backend/lib/external/src/ChatCompletion/Gemini/Config.hs
  Backend/lib/external/src/ChatCompletion/Gemini/Types.hs
  Backend/lib/external/src/ChatCompletion/Interface.hs
  Backend/lib/external/src/ChatCompletion/Interface/AzureOpenAI.hs
  Backend/lib/external/src/ChatCompletion/Interface/Gemini.hs
  Backend/lib/external/src/ChatCompletion/Interface/Types.hs
  Backend/lib/external/src/ChatCompletion/Types.hs
Labels: backend

#9319 frontend feat : refactor cancel booking api and move cancel reasons t…
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, ui-common, customer

#9391 Frontend/Fix/DriverProfile
  Frontend/ui-common/src/Screens/DriverProfileScreen/View.purs
Labels: frontend, ui-common

#9396 Fix clevertap ride search logs hotpush
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9395 frontend-fix: fixed clevertap log on ride search
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9399 backend/feat/ondc-bus-integration
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
Labels: backend

#9346 backend/feat: add vehicleiconurl in booking
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
Labels: backend

#9388 backend/feat: add decompression support for Redis stream objects
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/DBSync.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/DBSync.hs
  flake.lock
Labels: backend

#9403 backend/enh/first-pickup-route-call-to-google
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ride.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Route.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Route.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Maps.hs
  Backend/dev/migrations-read-only/rider-app/merchant_service_usage_config.sql
  Backend/dev/migrations-read-only/rider-app/ride.sql
  Backend/dev/migrations/provider-dashboard/0061-partial-cash-collection-and-exemption.sql
Labels: backend

#9401 enable kerala intercity
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer

#9408 frontend/fix : Favourite Screen Fix for Odisha Yatri.
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/View.purs
Labels: frontend, customer

#9410 backend:enhancement:table-level-sharding-and-key-prefix
  Backend/app/dashboard/provider-dashboard/src/App.hs
  Backend/app/dashboard/rider-dashboard/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/Mesh.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Lib/Mesh.hs
  Backend/app/safety-dashboard/src/App.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0565-stop-detection-translations-and-configs.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0566-updated-kv-configs.sql
  Backend/dev/migrations/rider-app/1361-updated-kv-configs.sql
  Backend/lib/producer/src/App.hs
  Backend/lib/scheduler/src/Lib/Scheduler/Environment.hs
  flake.lock
Labels: backend

#9423 backend/fix/driverTag
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SpecialLocationWarrior.hs
Labels: backend

#9312 backend/fix/intercity_estimated_reserved_time
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

#9428 frontend/fix : Fix metro warrior cug issues.
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/MetroWarriorsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/MetroWarriorsScreen/View.purs
Labels: frontend, driver

#9418 Frontend/Fix/TogglerIssue
  Frontend/ui-common/src/Engineering/Helpers/Accessor.purs
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-common/src/LoaderOverlay/Handler.purs
  Frontend/ui-customer/src/Helpers/PrestoUtils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/FavouriteDriverTrips/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/FavouriteDriverTrips/View.purs
  Frontend/ui-customer/src/Services/Accessor.purs
Labels: frontend, ui-common, customer

#9416 fix: Ride confirmed screen hybrid flow
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#9425 backend/enhance/split_settlement_on_variant_level
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VendorSplitDetails.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VendorSplitDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VendorSplitDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VendorSplitDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VendorSplitDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vendor_split_details.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0546-vendor-split-details.sql
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PaymentTransaction.hs
Labels: backend

#9434 Backend/Refactor/FavouriteBookingAPIEntity
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
Labels: backend

#9256 frontend/enh/adds metro pill
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_metro_service.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/BN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/EN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/HI.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/KN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/ML.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/Strings.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/TA.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/TE.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#9444 Fixing prompts and refactoring gpt generated driver profile
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/LlmPrompt.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileQuestions.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0563-insert-azure-openai-driver-profile-gen-prompt-1.sql
Labels: backend

#9443 frontend/book any cta text fix
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#9424 frontend/enhancement/pulse-lottie-on-hotspots-pill
  Frontend/android-native/app/src/driver/common/res/raw/blue_pulse_animation.json
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, native, driver

#9432 frontend/fix : Fix metro warrior cug issues.
  Frontend/android-native/mobility-app/src/main/res/layout/stop_detected_message_sheet.xml
  Frontend/ui-common/src/Components/SwitchButtonView/Controller.purs
  Frontend/ui-common/src/Components/SwitchButtonView/SwitchButton.purs
  Frontend/ui-common/src/Components/SwitchButtonView/View.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/MetroWarriorsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/MetroWarriorsScreen/View.purs
Labels: frontend, native, ui-common, driver

#9457 backend/fix added specialLoc caching
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SpecialLocationWarrior.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/DriverInformation.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
Labels: backend

#9449 Backend/namma tag: extra operations
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag/Handle.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag/Handle.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/namma_tag.sql
  Backend/dev/migrations-read-only/rider-app/namma_tag.sql
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/management/nammaTag.http
  Backend/lib/yudhishthira/spec/Storage/NammaTag.yaml
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Beam/NammaTag.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/NammaTag.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/OrphanInstances/NammaTag.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Types/NammaTag.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Event/KaalChakra.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types/KaalChakra.hs
Labels: backend

#9458 backend/fix added specialLoc caching
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SpecialLocationWarrior.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/DriverInformation.hs
Labels: backend

#9456 frontend/fix/stopDetectedOverlay-view-changes
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MessageOverlayService.java
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_ic_check_green.png
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_ic_sent_text.png
  Frontend/android-native/mobility-app/src/main/res/layout/stop_detected_message_sheet.xml
  Frontend/android-native/mobility-app/src/main/res/values-bn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-hi/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-kn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ml/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ta/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values/strings.xml
Labels: frontend, native

#9460 backend/issue logs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/lib/utils/src/Utils/Common/Cac/KeyNameConstants.hs
Labels: backend

#9461 Backend/feat:removing-ride-in-progress
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
Labels: backend

#9465 backend/fix:updated-openAI-config
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileQuestions.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0564-insert-llm-config-azure-openai.sql
  Backend/lib/external/src/ChatCompletion/AzureOpenAI/API.hs
Labels: backend

#9466 backend/fix/long_time_ignored_intercity_bug
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

#9442 backend/drainer-changes-for-shard-range
  Backend/app/provider-platform/dynamic-offer-driver-drainer/server/Main.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/DBSync.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Event/Event.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/Event.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Utils/Event.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Utils/Utils.hs
  Backend/app/rider-platform/rider-app-drainer/server/Main.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/DBSync.hs
  Backend/app/rider-platform/rider-app-drainer/src/Event/Event.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/Event.hs
  Backend/app/rider-platform/rider-app-drainer/src/Utils/Event.hs
  Backend/app/rider-platform/rider-app-drainer/src/Utils/Utils.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0566-updated-kv-configs.sql
  Backend/dev/migrations/rider-app/1361-updated-kv-configs.sql
  Backend/dhall-configs/dev/rider-drainer.dhall
  flake.lock
Labels: backend

#9463 backend/enh/person-stats-backfill-queries-optimized
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Booking.hs
Labels: backend

#9390 Backend/enh/added-default-status-for-query-optimization-of-payout-job
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DailyStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/CustomerCancellationDues.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReferee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
Labels: backend

#9464 frontend/enh: config subscription lottie
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
Labels: frontend, ui-common, driver

#9462 backend/feat: Dynamic QR & Ticket Verification
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Route.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopMapping.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteTripMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/CUMTA/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/CUMTA/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/CUMTA/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/CUMTA/Verify.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/EBIX/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/EBIX/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Metro/Flow.hs
  Backend/dev/migrations-read-only/rider-app/frfs_ticket.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
Labels: backend

#9374 backend/enhancement : Added Scheduled bookings in redis
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#9467 backend/feat/addBlockedReasonFlag to profile api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#9470 backend/prod duration fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
Labels: backend

#9468 backend/prod issue fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
Labels: backend

#9441 Backend/fix/cache-query-fix-coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/CoinsConfig.hs
Labels: backend

#9469 Backend/fix: pass through congestion charge issue.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#9473 backend/fix/split_query_bap
  Backend/dev/migrations/rider-app/1362-add-split-response-in-transaction.sql
Labels: backend

#9438 frontend-fix: frontend-feat-boost-search-fix-hotpush
  Frontend/ui-customer/src/Components/QuoteListModel/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#9429 backend/fix : coin cleared info from history
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#9459 backend/namma-tag: extra actions refactor
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag/Handle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/KaalChakra/Actions.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag/Handle.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/KaalChakra/Actions.hs
Labels: backend

#9478 backend/fix/intercity_estimated_reserved_time
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

#9480 Backend/hotpush 28nov24
  Backend/app/dashboard/provider-dashboard/src/App.hs
  Backend/app/dashboard/rider-dashboard/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/Mesh.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Geometry.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/server/Main.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/DBSync.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Event/Event.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/Event.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Utils/Event.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Utils/Utils.hs
  Backend/app/rider-platform/rider-app-drainer/server/Main.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/DBSync.hs
  Backend/app/rider-platform/rider-app-drainer/src/Event/Event.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/Event.hs
  Backend/app/rider-platform/rider-app-drainer/src/Utils/Event.hs
  Backend/app/rider-platform/rider-app-drainer/src/Utils/Utils.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Serviceability.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/Mesh.hs
  Backend/app/safety-dashboard/src/App.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0566-updated-kv-configs.sql
  Backend/dev/migrations/rider-app/1361-updated-kv-configs.sql
  Backend/dhall-configs/dev/rider-drainer.dhall
  Backend/lib/producer/package.yaml
  Backend/lib/producer/producer.cabal
  Backend/lib/producer/src/App.hs
  Backend/lib/scheduler/src/Lib/Scheduler/Environment.hs
  Backend/lib/special-zone/src/Lib/Queries/SpecialLocation.hs
  flake.lock
  flake.nix
Labels: backend

#9482 Backend/fix:advanced-ride-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
Labels: backend

#9035 Backend/fix:Overlays and message at vehicle level v2
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/AppManagement/API/Overlay.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/DriverSubscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideNotificationsToDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/CancellationRate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/PaymentNudge.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant_message.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant_overlay.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0524-add-unique-constraint-to-Overlay-and-merchant-message.sql
Labels: backend

#9479 frontend/boost search changes
  Frontend/ui-customer/src/Components/QuoteListModel/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#9486 frontend/config: Enabled Yatri Coins and Monthly Leaderboard in YS
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
Labels: frontend, native

#9488 Revert "Backend/fix:advanced-ride-fix"
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
Labels: backend

#9489 Revert "Backend/feat:removing-ride-in-progress"
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
Labels: backend

#9490 Backend/fix/removing-trip-lat-lon-from-driver-information
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
Labels: backend

#9487 Backend/fix/faq-coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinsConfig.hs
Labels: backend

#9472 backend/enhc:update message endpoint
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Message.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Message.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Message.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/MessageExtra.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Message.sql
Labels: backend

#9495 backend/fix: Event Ticketing Status issue
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

#9497 frontend/book for issue fixed
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, customer

#9048 backend/feat/multimodal-search-fixes
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyPlannerTypes.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/PublicTransport.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/WalkLegMultimodalExtra.hs
Labels: backend

#9500 frontend/fix: updated asset_downloader to v0.0.11
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, customer, driver

#9499 backend/enh/person-stats-backfill-queries-optimized
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Booking.hs
Labels: backend

#9484 backend/fix/cancellation_coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
Labels: backend

#9507 Backend/Enhancement/configUserFcm
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantPushNotification.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantPushNotification.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MerchantPushNotification.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/rider-app/merchant_push_notification.sql
Labels: backend

#9505 Backend/feat:optional-fare-recompute-and-show
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FareProduct.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fare_product.sql
Labels: backend
