Repository nammayatri/nammayatri, pull requests merged in 2024-01, with the labels that each got.

#4907 frontend/fix: fix flexible update post app updated is downloaded
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/services/MobilityAppUpdate.java
Labels: frontend, native

#4719 frontend/fix-#3525 config SHOW_SUBSCRIPTIONS updation issue fix
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, driver

#4903 frontend/fix: iOS bug fixes
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#4908 backend/created group for allocator
  Backend/nix/scripts.nix
Labels: backend

#4910 backend/fix/update_kernel_hash
  Backend/app/mocks/idfy/src/Types/Webhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  flake.lock
Labels: backend

#4796 frontend/feat: 1410 Added async rideList call to handle empty Repeat Rides on first launch
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/services/MobilityAppUpdate.java
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage/Flow/BaseApp.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
Labels: frontend, native, customer

#4912 Backend/fix/reverting-booking-reallocation-status
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
Labels: backend

#4899 DSL : OneToOne & OneToMany Table Mappings from Beam to Domain using p…
  Backend/app/alchemist/alchemist.cabal
  Backend/app/alchemist/package.yaml
  Backend/app/alchemist/src/Alchemist/App.hs
  Backend/app/alchemist/src/Alchemist/DSL/Parser/Storage.hs
  Backend/app/alchemist/src/Alchemist/DSL/Syntax/Storage.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/BeamQueries.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/BeamTable.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/DomainType.hs
  Backend/app/alchemist/src/Alchemist/Generator/SQL/Table.hs
  Backend/app/alchemist/src/Alchemist/Utils.hs
Labels: backend

#4916 backend/added config for dontEnableForKafka
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#4915 DSL Fix : OneToOne & OneToMany Table Mappings from Beam to Domain usi…
  Backend/app/alchemist/src/Alchemist/DSL/Parser/Storage.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/BeamQueries.hs
  Backend/app/alchemist/src/Alchemist/Utils.hs
Labels: backend

#4918 Bakcned/namma dsl/remove
  Backend/app/alchemist/alchemist.cabal
  Backend/app/alchemist/package.yaml
  Backend/app/alchemist/spec/Main.hs
  Backend/app/alchemist/src/Alchemist/App.hs
  Backend/app/alchemist/src/Alchemist/DSL/Parser/API.hs
  Backend/app/alchemist/src/Alchemist/DSL/Parser/Storage.hs
  Backend/app/alchemist/src/Alchemist/DSL/Syntax/API.hs
  Backend/app/alchemist/src/Alchemist/DSL/Syntax/Storage.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/ApiTypes.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/BeamQueries.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/BeamTable.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/DomainHandler.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/DomainType.hs
  Backend/app/alchemist/src/Alchemist/Generator/Haskell/Servant.hs
  Backend/app/alchemist/src/Alchemist/Generator/Purs.hs
  Backend/app/alchemist/src/Alchemist/Generator/Purs/API.hs
  Backend/app/alchemist/src/Alchemist/Generator/SQL.hs
  Backend/app/alchemist/src/Alchemist/Generator/SQL/Table.hs
  Backend/app/alchemist/src/Alchemist/GeneratorCore.hs
  Backend/app/alchemist/src/Alchemist/Utils.hs
  Backend/app/alchemist/tests/Main.hs
  Backend/app/rider-platform/rider-app/Main/package.yaml
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SeatManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SpecialOccasion.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingPeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketService.hs
  Backend/default.nix
  flake.lock
  flake.nix
Labels: backend

#4919 backend/readme: note about restarting nix-daemon
  Backend/README.md
Labels: backend

#4890 backend/refactor: clickhouse v2 queries
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DriverEdaKafka.hs
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/ride.http
  Backend/dev/rest-client/dynamic-offer-driver-app/clickhouse.http
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/secrets/dynamic-offer-driver-app.dhall
  flake.lock
Labels: backend

#4923 backend/enhance: remove extra org apis and add vehicle category fallb…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/dev/rest-client/dynamic-offer-driver-app/driver.http
  Backend/dev/rest-client/dynamic-offer-driver-app/repeatition.http
  Backend/test/src/Mobility/ARDU/APICalls.hs
Labels: backend

#4924 frontend/feat: Enabled D2D Referral for YSD
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ic_namma_yatri_logo.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_driver_app_qr_code.png
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/Handler.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
Labels: frontend, native, driver

#4925 frontend/fix Added missing accessibilityHint
  Frontend/ui-customer/src/Components/GenericRadioButton/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyProfileScreen/View.purs
Labels: frontend, customer

#4922 Frontend/feat/android fixes
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#4921 frontend/feat: 1410 Fixed UI glitch on homesceen
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#4914 frontend:#3525- made govt guidelines text city level configurable
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, customer

#4812 backend/KV: added secondary key for driver_home_location
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Driver/GoHomeFeature/DriverGoHomeRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Driver/GoHomeFeature/DriverHomeLocation.hs
Labels: backend

#4926 frontend/fix: 1410 Fixed multiple banners and home screen Animation
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#4927 backend/fix : use local time as refernce for scheduling
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Notification.hs
Labels: backend

#4931 frontend/re: enabled contest page for the deeplink
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#4891 Frontend/fix: Translation and UI bugfix in driver app
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/PaymentHistoryScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
Labels: frontend, driver

#4836 backend/fix/adding merchantOpCityId based checks to issue flow and dr…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Issue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0329-adding-merchantOpCityId-to-IssueReport.sql
  Backend/dev/migrations/rider-app/1204-adding-merchantOpCityId-to-IssueReport.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/Issue/IssueReport.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/Issue/IssueReport.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueReport.hs
Labels: backend

#4933 frontend/fix/#4692-asset-change-for-leaderboard
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_driver_leaderboard.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_driver_leaderboard.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/res/drawable/ny_ic_driver_leaderboard.png
  Frontend/ui-driver/src/Screens/DriverReferralScreen/View.purs
Labels: frontend, native, driver

#4934 frontend/fix QR render
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, ui-common, driver

#4936 backend/fix/4xx-driver-leaderboard
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/LeaderBoard.hs
Labels: backend

#4937 backend/feat: add onboarding messages and alerts
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Message/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Message/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Message/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Message/MessageReport.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0334-add-always-trigger-on-onboarding-flag-in-message.sql
Labels: backend

#4935 frontend/fix: Ride compeleted screen fix for cancelled reallocation
  Frontend/ui-customer/src/Helpers/Ride.purs
Labels: frontend, customer

#4939 backend/fix/sendOverlayScheduler_query_fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFee.hs
Labels: backend

#4736 backend/feat/added-show_push_notification-field-in-merchant-overlay
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/PaymentNudge.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0335-add-field-in-merchant-overlay.sql
  flake.lock
Labels: backend

#4944 Backend/enhancement/add-updatedAt-field-in-coinHistory
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Coin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinHistory.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0336-add-updatedAt-to-coin-history.sql
Labels: backend

#4940 frontend/fix: 1410 Upated shimmerview on homescreen
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#4945 Backend/fix/reverting-booking-list-fix
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
Labels: backend

#4930 frontend/fix: Driver Info Card UI Fixes
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_star_active_rounded.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_share_icon.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_share_icon.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_share_icon.png
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/passculture/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Font/Style.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer

#4947 frontend/refactor: add action button color for app update restart
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/services/MobilityAppUpdate.java
Labels: frontend, native

#4946 backend/fix: added new fields in internal auth for lts
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/Auth.hs
Labels: backend

#4874 frontend/refactor: split ticket booking screens into multiple screens
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/Handlers.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceList/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceList/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceList/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceList/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketInfo/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketInfo/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketInfo/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketInfo/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Shimmer/Shimmer.purs
Labels: frontend, customer

#4948 backend/fix : fixed merchantOpCityId based checks
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
Labels: backend

#4950 frontend/fix: update driver location from operating city response
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, ui-common, customer, driver

#4902 backend/feat : added verification message for dl and rc
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverOnboarding/Error.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverOnboarding/ErrorMessagesTranslations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverOnboarding/ErrorMessagesTranslations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverOnboarding/ErrorMessagesTranslations.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0337-add-error-message-translations-table.sql
Labels: backend

#4952 frontend/feat: Update recent trips on logout
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#4954 frontend/fix: Fixed Delay after Ride Start
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#4958 frontend/fix: updated fix for merchant city case match
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#4956 frontend/feat: Updated repeat ride flow for ride history screen
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#4962 Backend : Removed MerchantId validation from Backend Internal Auth API
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/Auth.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/Auth.hs
Labels: backend

#4963 backend/fix : Compilation Fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/Auth.hs
Labels: backend

#4966 frontend/feat: Chitra Santhe ride flow
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, ui-common, driver

#4964 frontend/fix Fixed error in carousel after render
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/WelcomeScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/WelcomeScreen/View.purs
Labels: frontend, ui-common, customer, driver

#4967 Backend/enhancement/add-limit-in-coin-history-api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/PurchaseHistory.hs
Labels: backend

#4976 backend/fix: fixed enable driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
Labels: backend

#4977 backend/fix enabled system configs for kafka consumers
  Backend/app/kafka-consumers/src/App.hs
Labels: backend

#4971 frontend/feat: 1410 Updated homescreen UI
  Frontend/android-native/app/src/main/res/raw/right_arrow.json
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_filled_lightning.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_filled_stars.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_repeat_trip.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_sd.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_yellow_arrow.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, customer

#4959 backend/feat: added merchant/partner creation api
  Backend/app/dashboard/Lib/lib-dashboard.cabal
  Backend/app/dashboard/Lib/src/API/Dashboard.hs
  Backend/app/dashboard/Lib/src/API/Dashboard/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Role.hs
  Backend/app/dashboard/Lib/src/Environment.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Merchant.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/MerchantAccess.hs
  Backend/app/dashboard/Lib/src/Storage/Tabular/Merchant.hs
  Backend/app/dashboard/Lib/src/Tools/Auth/Dashboard.hs
  Backend/app/dashboard/Lib/src/Tools/Error.hs
  Backend/dev/migrations/provider-dashboard/0034-add-partners-data-in-merchant.sql
  Backend/dhall-configs/dev/provider-dashboard.dhall
Labels: backend

#4974 frontend/refactor/added_config_for_logging_referrer_url and added support for multiline description in notification
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ChatService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GpsListeningService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
Labels: frontend, native, customer

#4953 Frontend/fix: Translation bugfixes driver app
  Frontend/ui-driver/src/Components/IssueListFlow/Controller.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/Controller.purs
Labels: frontend, driver

#4981 1410 added location unserviceable view
  Frontend/android-native/app/src/main/res/drawable/ny_ic_white_blur_map.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, customer

#4849 frontend/feat: Estimates screen unification and revamp
  Frontend/android-native/app/src/user/common/res/drawable/ic_clock_filled.png
  Frontend/android-native/app/src/user/common/res/drawable/ic_user_filled.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_info_blue_lg.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_hatchback.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_sedan.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_sedan_ac.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_suv.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/QuoteListItem/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListItem/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
Labels: frontend, native, ui-common, customer, driver

#4951 frontend/fix/timers-fix
  Frontend/ui-common/src/Engineering/Helpers/Timers.js
  Frontend/ui-common/src/Engineering/Helpers/Timers.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Components/RideAllocationModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReferralScreen/View.purs
Labels: frontend, ui-common, customer, driver

#4985 frontend/fix Bug fixes
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, customer

#4986 frontend/fix CUG Bug fixes
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#4984 Backend/refactor/add-driver-valid-ride-count
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
Labels: backend

#4990 backend/nix: Add redis-cli to devShell
  Backend/default.nix
Labels: backend

#4995 Frontend/fix: disabled function call logs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer, driver

#4928 Nixify [devShell only] load test
  Backend/default.nix
  Backend/load-test/README.md
  Backend/load-test/default.nix
  Backend/load-test/requirements.txt
  Backend/load-test/scripts/driverOffer.py
  Backend/load-test/scripts/riderApp.py
  Backend/load-test/setup.sh
  Backend/load-test/setup/auth.py
  Backend/load-test/setup/locationUpdateService.py
  Backend/nix/scripts.nix
  flake.lock
  flake.nix
Labels: backend

#4982 backend/fixed drainer log
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Event/Event.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/Event.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Utils/Event.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Update.hs
  Backend/app/rider-platform/rider-app-drainer/src/Event/Event.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/Event.hs
  Backend/app/rider-platform/rider-app-drainer/src/Utils/Event.hs
Labels: backend

#4994 frontend/fix: Updated request ride button animation
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5002 backend/feat/registry-dont-need-it-as-array
  Backend/dhall-configs/dev/mock-registry.dhall
Labels: backend

#5003 backend/fixing main for rideflow
  Backend/dev/local-testing-data/mock-registry.sql
  Backend/dev/sql-seed/mock-registry-seed.sql
  Backend/dhall-configs/dev/rider-dashboard.dhall
Labels: backend

#5004 frontend/fix clear recent search
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5001 Frontend fix 2055: fixed self serve crash
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Components/ViewImageModel/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, ui-common, customer

#5007 backend/enhance/add read only migrations for customer app
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/dev/migrations-read-only/rider-app/ticket_place.sql
  Backend/dev/migrations/rider-app/1189-zoo-booking-integration.sql
  Backend/dev/migrations/rider-app/1193-added-columns-shortDesc-iconUrl-mapImgUrl-in TicketPlace.sql
  Backend/dev/migrations/rider-app/1194-tickets.sql
  Backend/dev/migrations/rider-app/1195-adding-ticket-service-category-id-ticket-booking-service-category.sql
  Backend/dev/migrations/rider-app/1197-modifying-ticket-booking-system-data.sql
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#5011 backend/namma-dsl: add exclude default fields feature
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/dev/migrations-read-only/rider-app/ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/ticket_booking_service.sql
  Backend/dev/migrations-read-only/rider-app/ticket_place.sql
  flake.lock
Labels: backend

#4929 Frontend/fix: Moving due limits to RemoteConfigs
  Frontend/ui-common/src/RemoteConfig/Utils/Utils.js
  Frontend/ui-common/src/RemoteConfig/Utils/Utils.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/RemoteConfigs/RemoteConfig.js
  Frontend/ui-driver/src/RemoteConfigs/RemoteConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, ui-common, driver

#4961 backend/added merchantOperatingCityId in driverInformation and added …
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Instances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0338-added-merchant-operating-city-in-driver-infromation.sql
Labels: backend

#4999 Backend/fix/area-null-in-ride-request
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common.hs
Labels: backend

#5019 backed/fix : removed city hack
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Search.hs
Labels: backend

#5026 backend/fix/new-line-removed-from-sql-updates-separator
  Backend/dev/migrations-read-only/rider-app/ticket_place.sql
Labels: backend

#5020 routing bap and bpp calls fix
  Backend/dhall-configs/dev/beckn-gateway.dhall
  flake.lock
Labels: backend

#4979 frontend/fix/#4692: added clevertap events for driver to driver referral
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverReferralScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
Labels: frontend, driver

#5010 frontend/#5009/show device keyboard in InAppOtpModal
  Frontend/ui-driver/src/Components/InAppKeyboardModal/Controller.purs
  Frontend/ui-driver/src/Components/InAppKeyboardModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, driver

#5018 Frontend/fix: Same thumbnail shows for all messages
  Frontend/ui-driver/src/Components/NotificationCard/View.purs
  Frontend/ui-driver/src/Components/NotificationDetailModel/View.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/View.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#5021 backend/perf: Moved more than one snap to road calls to bulk location…
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#5005 backend/fix clickhouse nullable columns fixed
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DriverEdaKafka.hs
  Backend/dev/rest-client/dynamic-offer-driver-app/clickhouse.http
  flake.lock
Labels: backend

#5031 Frontend/enhancement: Fix perf issue in all the apps
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.js
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.purs
  Frontend/ui-common/src/Engineering/Constants.purs
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/FileProviders/ConfigProvider/ConfigProvider.js
  Frontend/ui-common/src/FileProviders/ConfigProvider/ConfigProvider.purs
  Frontend/ui-common/src/Font/Style.purs
  Frontend/ui-common/src/Locale/Utils.purs
  Frontend/ui-common/src/MerchantConfig/Utils/Utils.js
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/MessagingView/View.purs
  Frontend/ui-customer/src/Components/QuoteListItem/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Resources/Localizable/Strings.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ContactUsScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SelectLanguageScreen/Controller.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/EnterMobileNumberScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/Strings.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/View.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/EnterOTPScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/View.purs
  Frontend/ui-driver/src/Screens/SelectLanguageScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, ui-common, customer, driver

#5038 backend/readme: misc changes
  Backend/README.md
Labels: backend

#5037 backend/nix: Update haskell-flake
  .envrc.backend
  Backend/default.nix
  Backend/nix/debug.nix
  flake.lock
  flake.nix
Labels: backend

#5036 Backend/enhancement/push-notification-Coin-Event
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  flake.lock
Labels: backend

#5040 frontend/#1365/fix for searchlocation modal loop after ride cancellation
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
Labels: frontend, customer

#5042 frontend/#1365/ride not reallocating
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
Labels: frontend, customer

#5043 frontend/#1365/ride not reallocating
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
Labels: frontend, customer

#5033 frontend/fix: Added QR lottie in endride
  Frontend/android-native/app/src/driver/common/res/raw/end_ride_qr_anim.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, native, ui-common, driver

#4707 Frontend/fix: #4143 DetectCity API integration And Adding Tumakuru
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_tumakuru_map.png
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/Handler.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, driver

#4949 frontend/fix Moved bridge functions to background thread
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/TranslatorMLKit.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
Labels: frontend, native

#4942 Backend/feat/driver-coin-earn-and-burn-rate
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver/Coin.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver/Coin.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Driver/Coin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Coin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinHistory.hs
  Backend/dev/migrations/provider-dashboard/0034-get-coin-history-access.sql
Labels: backend

#4245 backend/#1516/hotspot - changed precision logic
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/rider-dashboard/rider-dashboard.cabal
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/HotSpot.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search/OneWay.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/HotSpotConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/HotSpotConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/HotSpotConfig.hs
  Backend/dev/migrations/rider-app/1206-add-and-remove-hotspot-columns.sql
Labels: backend

#5039 frontend/feat: enabling remote config for carousel view
  Frontend/ui-common/src/Components/BannerCarousel/Controller.purs
  Frontend/ui-common/src/Components/BannerCarousel/View.purs
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.purs
  Frontend/ui-driver/src/RemoteConfigs/RemoteConfig.js
  Frontend/ui-driver/src/RemoteConfigs/RemoteConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, ui-common, driver

#5050 frontend/fix homescreen revamp bug fixes
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/LocationTagBar/View.purs
  Frontend/ui-customer/src/Components/MessagingView/View.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5049 Frontend/fix: Removed widget when driver offline
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#5008 frontend/feat/Rentals: #4998 RideScheduledScreen Added
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_alarm.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_plus_circle.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_ride_scheduled.png
  Frontend/ui-common/src/Components/SourceToDestination/Controller.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/Handlers.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/View.purs
  Frontend/ui-customer/src/Screens/ScreenNames.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer

#5052 Backend/fix/migration-fix
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver/Coin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Driver/Coin.hs
  Backend/dev/migrations/provider-dashboard/0035-get-coin-history-access.sql
Labels: backend

#5056 frontend/fix/ui-stuck-fix
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, ui-common, customer

#5030 frontend/enhancement: 1410 updated booking prefs for kochi
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5062 frontend/fix/clear-goHome-timer
  Frontend/ui-common/src/Engineering/Helpers/Timers.js
  Frontend/ui-common/src/Engineering/Helpers/Timers.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, driver

#5070 frontend/fix/handling-callback-intervals-in-timers
  Frontend/ui-common/src/Engineering/Helpers/Timers.js
Labels: frontend, ui-common

#4991 frontend/#1365/ride not reallocating
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
Labels: frontend, customer

#5061 Frontend/fix: Added QR lottie explanation in endride for YSD and removed gender banner
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_driver_gender_banner.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/raw/end_ride_qr_anim.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/raw/end_ride_qr_anim.json
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, native, driver

#5079 frontend/fix: banner fix for layout of carousel
  Frontend/ui-common/src/CarouselHolder/View.purs
  Frontend/ui-common/src/Components/BannerCarousel/View.purs
Labels: frontend, ui-common

#5055 backend/fix: using container package for hashmaps
  Backend/app/dashboard/Lib/lib-dashboard.cabal
  Backend/app/dashboard/Lib/package.yaml
  Backend/app/dashboard/Lib/src/Environment.hs
  Backend/app/dashboard/Lib/src/Tools/Client.hs
  Backend/app/mocks/rider-platform/mock-rider-platform.cabal
  Backend/app/mocks/rider-platform/package.yaml
  Backend/app/mocks/rider-platform/src/API/Handler.hs
  Backend/app/mocks/rider-platform/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/OnMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAPInternal.hs
  Backend/app/rider-platform/public-transport-rider-platform/Main/package.yaml
  Backend/app/rider-platform/public-transport-rider-platform/Main/public-transport-rider-platform.cabal
  Backend/app/rider-platform/public-transport-rider-platform/Main/src/Environment.hs
  Backend/app/rider-platform/public-transport-rider-platform/Main/src/ExternalAPI/Flow.hs
  Backend/app/rider-platform/public-transport-rider-platform/search-consumer/package.yaml
  Backend/app/rider-platform/public-transport-rider-platform/search-consumer/public-transport-search-consumer.cabal
  Backend/app/rider-platform/public-transport-rider-platform/search-consumer/src/Environment.hs
  Backend/app/rider-platform/public-transport-rider-platform/search-consumer/src/ExternalAPI/Flow.hs
  Backend/app/rider-platform/public-transport-rider-platform/search-consumer/src/Service/Runner.hs
  Backend/app/rider-platform/rider-app/Main/package.yaml
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPP.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/dhall-configs/dev/common.dhall
  Backend/lib/utils/package.yaml
  Backend/lib/utils/utils.cabal
  flake.lock
Labels: backend

#5084 frontend/fix: make default language to ENG in case of undefined
  Frontend/ui-common/src/Components/BannerCarousel/View.purs
  Frontend/ui-common/src/Locale/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, ui-common, driver

#5048 backend/cost/removed-osrm-match-precheck-added-new-postcheck
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Maps.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  flake.lock
Labels: backend

#5090 Frontend/fix: Enabled subscription in Tumakuru
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#5092 backend/feat/grpc_integration
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0340-add-search-req-to-driver-column.sql
  flake.lock
Labels: backend

#5088 Backend/fix/push-notification-language-specific-in-translations-table
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Coin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Translations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Translations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Translations.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0341-coin-notification-translation.sql
Labels: backend

#5102 Backend/remove/deprecated-scheduler-example-service
  Backend/app/scheduler-example/README.md
  Backend/app/scheduler-example/package.yaml
  Backend/app/scheduler-example/scheduler-example.cabal
  Backend/app/scheduler-example/server/Main.hs
  Backend/app/scheduler-example/server/Scheduler.hs
  Backend/app/scheduler-example/src/API/Handler.hs
  Backend/app/scheduler-example/src/API/Types.hs
  Backend/app/scheduler-example/src/App.hs
  Backend/app/scheduler-example/src/App/Scheduler.hs
  Backend/app/scheduler-example/src/App/Scheduler/Types.hs
  Backend/app/scheduler-example/src/Environment.hs
  Backend/app/scheduler-example/src/Storage.hs
  Backend/app/scheduler-example/src/Tools/Metrics.hs
  Backend/cabal.project
  Backend/dev/rest-client/test-scheduler.http
  Backend/dhall-configs/dev/scheduler-example-scheduler.dhall
  Backend/nix/arion-configuration.nix
  Backend/nix/run-mobility-stack.nix
Labels: backend

#5025 backend/fix : added shortId to issue flow and kapture ticket creation…
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Issue.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/Issue.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Issue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Ticket.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Support.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Support.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0340-add-search-req-to-driver-column.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0342-adding-short-Id-to-IssueReport.sql
  Backend/dev/migrations/rider-app/1207-adding-ShortId-to-IssueReport.sql
  Backend/lib/shared-services/src/IssueManagement/API/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Common/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Common/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/Issue/IssueReport.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/Issue/IssueReport.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueReport.hs
  flake.lock
Labels: backend

#5087 backend/#5086/convert referral API already referred status to 200
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Referral.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#5093 frontend-fix #2055 reduced self serve api calls
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#5081 frontend/fix/ui-bug-fixes
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, ui-common, customer

#5089 frontend-fix #2055 fixed reportissue chat screen data inconsistent issue
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Handler.purs
Labels: frontend, customer

#5059 frontend/fix: Fixed image render issue in self-serve
  Frontend/ui-common/src/Components/AddImagesModel/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, ui-common, customer

#5100 backend: Refactor `run-mobility-stack.nix` for composability
  .gitignore
  Backend/.gitignore
  Backend/nix/run-mobility-stack.nix
  Backend/nix/scripts.nix
  Backend/nix/services/nammayatri.nix
  flake.lock
Labels: backend

#5111 backend/fix/grpc_integration
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
Labels: backend

#4646 frontend/fix update ppInitiateStatus function for IOS
  Frontend/ui-common/src/Payment/PaymentPage.js
Labels: frontend, ui-common

#5107 Frontend/fix: Filtering city from config
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#5113 Backend/feat/next-billion-integration-to-save-directions
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/next-billion-data.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/NextBillionData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/NextBillionData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/NextBillionData.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search/OneWay.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
  Backend/dev/migrations-read-only/rider-app/next_billion_data.sql
  Backend/dev/migrations/rider-app/1208-next-billion-service-config.sql
  flake.lock
Labels: backend

#5117 backend/feat : added api to update perExtraKmRate
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicyProgressiveDetails/FarePolicyProgressiveDetailsPerExtraKmRateSection.hs
Labels: backend

#5119 Revert "backend/fix/grpc_integration"
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
Labels: backend

#5123 Backend/fix/adding nextbillion t to rider app drainer
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Delete.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Update.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Delete.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Update.hs
Labels: backend

#5125 added metro-ticket-details-screen
  Frontend/android-native/app/src/main/res/drawable/ny_ic_blue_share.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_chennai_metro.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_chennai_metro_map.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_chevron_down_green.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_chevron_up_green.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_chvron_up_blue.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_metro_logo_mini.png
  Frontend/android-native/app/src/main/res/drawable/ny_ic_yellow_clock.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Common/Styles/Colors.purs
  Frontend/ui-common/src/CustomProps/CustomPrestoProps.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Screens/Handlers.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer

#5013 backend/fix: bap dashboard login issue - merchant.company_name not fo…
  Backend/dev/migrations/rider-dashboard/0019-add-partners-data-in-merchant.sql
Labels: backend

#5128 created metro myticket screen
  Frontend/android-native/app/src/main/res/drawable/ny_ic_ticket_grey.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/SettingSideBar/Controller.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Screens/Handlers.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroMyTickets/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroMyTickets/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroMyTickets/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroMyTickets/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#5091 Frontend/fix: Fixes for YatriSathiDriver[Lottie and RideOTP]
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, driver

#5096 Frontend/fix: Removed Offers applicable Text
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
Labels: frontend, driver

#5134 Backend/enhancement/add-referred-driver-in-performance-api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Performance.hs
Labels: backend

#5110 Frontend/fix: Fixed backpress issue in TripDetailsScreen
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_chevron_left_light.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_chevron_left_light_grey.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_chevron_right.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_chevron_right_light_grey.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/View.purs
  Frontend/ui-driver/src/Screens/TripDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/TripDetailsScreen/Handler.purs
  Frontend/ui-driver/src/Screens/TripDetailsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, driver

#5131 frontend/fix/ipa-bug-fixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5142 Backend/enhancement/implement safety redesign
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Person/PersonDefaultEmergencyNumber.hs
  Backend/dump.rdb
Labels: backend

#5141 Frontend feat ticket payment staus screen
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#5145 frontend/fix/repeat-ride-fix
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5144 frontend/fix/#5137: change threshold distance for waiting timer
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#4938 Frontend/fix: Added events to track ride request And Refctored code for adding events
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlayMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/WidgetService.java
Labels: frontend, native

#5143 Frontend/fix: YSD assets and Disabled wait time
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_goto_arrived.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_goto_more_rides.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_gotodriver_one.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_gotodriver_zero.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/raw/end_ride_qr_anim.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_goto_arrived.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_gotodriver_one.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_gotodriver_zero.png
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, native, driver

#5098 backend/fix: MessageTranslations not getting populated issue fix.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Message.hs
Labels: backend

#5150 backend/fix/osrm-match-failure-pattern-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  flake.lock
Labels: backend

#5154 backend/drainer: decoupled drainer dhalls
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/server/Main.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync.hs
  Backend/app/rider-platform/rider-app-drainer/server/Main.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/dhall-configs/dev/driver-drainer.dhall
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/dhall-configs/dev/rider-drainer.dhall
Labels: backend

#4850 frontend/feat Added city specific lottie in customer
  Frontend/android-native/app/src/driver/common/res/raw/splash_lottie_chn.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/layout/splash.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/res/raw/splash_lottie.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_splash_scn_logo_with_text.png
  Frontend/android-native/app/src/user/nammaYatri/res/layout/splash.xml
  Frontend/android-native/app/src/user/nammaYatri/res/layout/splash_fallback.xml
Labels: frontend, native

#5155 frontend/fix: Enabled Suggestions
  Frontend/ui-common/src/Components/ChatView/Controller.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, ui-common, customer, driver

#5156 Backend/enhancement/add-total-eligible-drivers-in-leaderboard-api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/LeaderBoard.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0343-fix-value-in-translations.sql
Labels: backend
