Repository nammayatri/nammayatri, pull requests merged in 2024-03, with the labels that each got.

#5790 frontend/fix: Handled duplicate destinations
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#5789 frontend/fix: #5788 Moved foreground permissions to driver
  Frontend/android-native/app/src/driver/jatriSaathiDriver/AndroidManifest.xml
  Frontend/android-native/app/src/driver/manaYatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/nammaYatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/passCulturePartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/yatriPartner/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
Labels: frontend, native

#5795 using perExtraKmRate instead of plannedPerKmRate
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_sedan_white.png
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/View.purs
Labels: frontend, native, customer

#5798 frontend/fix: Auto Image Fix
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, customer

#5797 frontend/fix: #5796 Fixed Customer App goes into loop
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, ui-common, customer, driver

#5782 frontend/fix/#1063: added estimates events
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5799 frontend/fix: #5796 Fixed pre-commit failure
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
Labels: frontend, ui-common

#5735 backend/fix/edit-pickup-fixes
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/LocationMapping.hs
Labels: backend

#5800 frontend/update city config
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, driver

#5801 frontend/fix Update city config
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, driver

#5809 Backend: Added day of week based peak hour fare policies
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareProduct.hs
Labels: backend

#5812 frontend-update corporate address and registeed address
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
Labels: frontend, customer

#5818 frontend/enhance: #5576 Updated hyper-sdk for carousel fix
  Frontend/android-native/app/build.gradle
  Frontend/android-native/mobility-app/build.gradle
  Frontend/android-native/mobility-common/build.gradle
  Frontend/android-native/mobility-customer/build.gradle
  Frontend/android-native/mobility-driver/build.gradle
Labels: frontend, native

#5734 frontend/customer/events: One Click Search External Event
  Frontend/ui-common/src/Engineering/Helpers/Events.js
  Frontend/ui-common/src/Engineering/Helpers/Events.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, ui-common, customer, driver

#5791 backend/enhance/end_ride_otp_dashboard
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
Labels: backend

#5813 backend: query update for kv configs
  Backend/dev/migrations/dynamic-offer-driver-app/0327-added-kv-configs-table-and-default-values.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0356-subscription-refactoring.sql
  Backend/dev/migrations/rider-app/1203-added-kv-configs-for-table-and-default-values.sql
  flake.lock
Labels: backend

#5827 frontend/log added firebase events on homescreen click action
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#5822 backend/fix/adds customer details to on_init
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnInit.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
Labels: backend

#5814 backend/enhance/analytics-push-to-kafka-bypass-kv
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Delete.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Update.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Delete.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Update.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/AutoCompleteData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/NextBillionData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/AutoCompleteData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/NextBillionData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/AutoCompleteData.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/NextBillionData.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Event.hs
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/dhall-configs/generic/common.dhall
  Backend/lib/sessionizer-metrics/src/Lib/SessionizerMetrics/Types/Event.hs
Labels: backend

#5833 frontend/fix: #5796 Updated presto-dom fork
  Frontend/packages.dhall
Labels: frontend

#5843 frontend/fix: added fallback to google's url in case distance is less for pickup
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Shimmer/Shimmer.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, customer, driver

#5838 Frontend: User Search Journey SDK Events
  Frontend/ui-common/src/Engineering/Helpers/Events.js
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, ui-common, customer

#5606 backend/enhance/revenue_apis_sz
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Revenue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Revenue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DriverFee.hs
  Backend/dev/clickhouse/local-testing-data/atlas-driver-offer-bpp.sql
  Backend/dev/clickhouse/sql-seed/atlas-driver-offer-bpp-seed.sql
  flake.lock
Labels: backend

#5844 backend/enhancement:add event tracker directly to kafka
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/driver-offer-allocator.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/event-tracker.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/EventTracker.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/EventTracker.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/EventTracker.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/OrderAndNotificationStatusUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/EventTracking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Event.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/event_tracker.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0356-subscription-refactoring.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/generic/common.dhall
  Backend/lib/sessionizer-metrics/src/Lib/SessionizerMetrics/Types/Event.hs
Labels: backend

#5847 backend/fix:add event tracker directly to kafka
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/EventTracking.hs
Labels: backend

#5849 frontend/fix: location update and navigation fix
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/services/MobilityCallAPI.java
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, native, driver

#5851 backend/fix: rename column issue
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/IdfyVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MetaData.hs
Labels: backend

#5854 frontend/fix: Vehicle supported popUp fix for RC bug
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#5855 frontend/fix: RC update popUp fix for cabs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, driver

#5794 frontend/enhancement: #5777 fixed polyline and other ui issues in Customer
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
  Frontend/ui-common/src/Engineering/Constants/Configs.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer

#5825 backend/enh/adding ttls and validation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/beckn-config.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/BecknConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/BecknConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/BecknConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Track.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnCancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/beckn-config.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BecknConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BecknConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BecknConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Track.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/beckn_config.sql
  Backend/dev/migrations-read-only/rider-app/beckn_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0365-beckn-config-mobility.sql
  Backend/dev/migrations/rider-app/1233-beckn-config-mobility.sql
Labels: backend

#5823 backend/fix/migrate-phoneNo moved to select
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
Labels: backend

#5862 backend/enhancement/add-mOPCityId-to-SearchReqCount-PromMetric
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Metrics/BAPMetrics.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Metrics/BAPMetrics/Types.hs
Labels: backend

#5867 backend/interoperability/fixes for init, on_init, confirm
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common/Order.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnInit.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSelect.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Enums.hs
Labels: backend

#5863 backend/fix:use rental payment service config in payment
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Payment.hs
Labels: backend

#5846 backend/fix/ride_search_main
  Backend/dev/migrations/rider-app/1236-rickshaw-config-yatri.sql
Labels: backend

#5876 backend/fix: issues in sending farepolicy to beckn protocol apis
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnCancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#5875 Revert "Frontend/fix/added single estimate images"
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_single_estimate_auto.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_single_estimate_auto_black.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_single_estimate_auto_black_yellow.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_single_estimate_auto.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, native, customer

#5868 frontend/fix: added assets for NY Cab drivers
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/TripDetailsScreen/View.purs
Labels: frontend, driver

#5888 frontend/fix: #5878 Fix for No Internet Screen freeze
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-driver/src/Main.purs
Labels: frontend, ui-common, customer, driver

#5885 [Release]frontend-feat: #5882 removed safety banner and new tag in metro
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SafetySettingsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/BannerConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5881 frontend/fix/#1063: fixed event parameters clevertap
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#5886 frontend/feat: Updated Single Estimate Screen
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_single_estimate_auto.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_single_estimate_auto_black.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_single_estimate_auto_black_yellow.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_single_estimate_auto.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/Font/Style.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Animation/Config.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, native, ui-common, customer

#5887 frontend/fix: Fixed Choose Ride Peak Height
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#5891 backend/fix: fixes reallocation tag parsing issue
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Search.hs
Labels: backend

#5879 frontend/fix: #5878 Fix for No Internet Screen freeze
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-driver/src/Main.purs
Labels: frontend, ui-common, customer, driver

#5817 frontend/fix: Fixed Choose Ride Peak Height
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#5872 backend/feat/driver inactive fcm
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/DriverInactiveFCM.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverInactiveFCM.hs
Labels: backend

#5895 frontend/refactor/driverPickupCharges_in_ride_request_and_lottie_for_ny_cab
  Frontend/android-native/app/src/driver/passCulturePartner/res/values-bn/strings.xml
  Frontend/android-native/app/src/driver/passCulturePartner/res/values-fr/strings.xml
  Frontend/android-native/app/src/driver/passCulturePartner/res/values-hi/strings.xml
  Frontend/android-native/app/src/driver/passCulturePartner/res/values-kn/strings.xml
  Frontend/android-native/app/src/driver/passCulturePartner/res/values-ml/strings.xml
  Frontend/android-native/app/src/driver/passCulturePartner/res/values-ta/strings.xml
  Frontend/android-native/app/src/driver/passCulturePartner/res/values/strings.xml
  Frontend/android-native/app/src/main/res/raw/accepted_by_another_driver_lottie_cab.json
  Frontend/android-native/app/src/main/res/raw/ride_accepted_lottie_cab.json
  Frontend/android-native/app/src/main/res/raw/waiting_for_customer_lottie_cab.json
  Frontend/android-native/app/src/main/res/values-bn/strings.xml
  Frontend/android-native/app/src/main/res/values-fr/strings.xml
  Frontend/android-native/app/src/main/res/values-hi/strings.xml
  Frontend/android-native/app/src/main/res/values-kn/strings.xml
  Frontend/android-native/app/src/main/res/values-ml/strings.xml
  Frontend/android-native/app/src/main/res/values-ta/strings.xml
  Frontend/android-native/app/src/main/res/values/strings.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetModel.java
  Frontend/android-native/mobility-app/src/main/res/raw/accepted_by_another_driver_lottie_cab.json
  Frontend/android-native/mobility-app/src/main/res/raw/ride_accepted_lottie_cab.json
  Frontend/android-native/mobility-app/src/main/res/raw/waiting_for_customer_lottie_cab.json
  Frontend/android-native/mobility-app/src/main/res/values-bn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-hi/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-kn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ml/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ta/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values/strings.xml
  Frontend/android-native/mobility-customer/src/main/res/values-hi/strings.xml
  Frontend/android-native/mobility-customer/src/main/res/values-kn/strings.xml
  Frontend/android-native/mobility-customer/src/main/res/values-ta/strings.xml
  Frontend/android-native/mobility-customer/src/main/res/values/strings.xml
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/values-hi/strings.xml
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/values-kn/strings.xml
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/values-ta/strings.xml
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/res/values/strings.xml
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/res/values-hi/strings.xml
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/res/values-kn/strings.xml
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/res/values-ta/strings.xml
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/res/values/strings.xml
  Frontend/android-native/mobility-customer/src/main/user/passculture/res/values/strings.xml
Labels: frontend, native

#5792 Frontend/driver/perf
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-common/src/Engineering/Helpers/Events.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/Handler.purs
  Frontend/ui-driver/src/Screens/ChooseLanguageScreen/Handler.purs
  Frontend/ui-driver/src/Screens/EnterMobileNumberScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/WelcomeScreen/Handler.purs
Labels: frontend, native, ui-common, driver

#5907 frontend/perf: Made Pre Init and Blocking APIs Parallel
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#5904 backend/adding-origin-in-autocomplete-event
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/PlanTranslation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/PlanTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/PlanTranslation.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Event.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/plan_translation.sql
Labels: backend

#5894 backend/fix: proccess unique invoices in order status check job
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/OrderAndNotificationStatusUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Invoice.hs
Labels: backend

#5908 frontend/perf: Made Pre Init and Blocking APIs Parallel
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/values/styles.xml
  Frontend/ui-common/src/Engineering/Helpers/Events.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
Labels: frontend, native, ui-common

#5911 backend/fix/no_ride_for_booking_hotfix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

#5869 backend/enhancement: Handle Driver ExtraFee Bounds Gracefully and Avo…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/DriverExtraFeeBounds.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareProduct.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/rider-config.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Route.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Maps.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#5348 frontend/feat/#1063: custom notification sound for clevertap
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/res/raw/clevertap_custom_notification.mp3
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
Labels: frontend, native

#5346 frontend/feat/#5345-test-ride-request-for-driver
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_dummy_ride_request.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/passCulturePartner/res/values-fr/strings.xml
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/main/res/drawable/ny_ic_test_request_icon_white.png
  Frontend/android-native/app/src/main/res/layout/sheet_view.xml
  Frontend/android-native/app/src/main/res/values-bn/strings.xml
  Frontend/android-native/app/src/main/res/values-fr/strings.xml
  Frontend/android-native/app/src/main/res/values-hi/strings.xml
  Frontend/android-native/app/src/main/res/values-kn/strings.xml
  Frontend/android-native/app/src/main/res/values-ml/strings.xml
  Frontend/android-native/app/src/main/res/values-ta/strings.xml
  Frontend/android-native/app/src/main/res/values/strings.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetAdapter.java
  Frontend/android-native/mobility-app/src/main/res/drawable/ic_orange_tag.xml
  Frontend/android-native/mobility-app/src/main/res/layout/sheet_view.xml
  Frontend/android-native/mobility-app/src/main/res/values-bn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-hi/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-kn/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ml/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values-ta/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values/strings.xml
  Frontend/ui-common/src/Components/PopUpModal/Controller.purs
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-common/src/Engineering/Constants.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HelpAndSupportScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, ui-common, driver

#5912 backend/fix/reduce_active_booking_errors
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/LocationMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/LocationMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequest.hs
Labels: backend

#5914 backend drainer update mix fix due to ttl
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Update.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Update.hs
Labels: backend

#5858 frontend/fix : Added choose vehicle screen for NYP and city config for YSD
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_auto_side.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_sedan_side.png
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, ui-common, driver

#5920 frontend/fix rate card fix
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, customer

#5921 frontend/fix rate card fix
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, customer

#5923 frontend/fix: Webview Run On UI Thread Error
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
Labels: frontend, native

#5916 frontend/fix/removing-default-vehicleVariant-in-blr
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_hatchback_nav_on_map.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_suv_nav_on_map.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_vehicle_nav_on_map.png
  Frontend/android-native/app/src/user/manaYatri/res/drawable/ny_ic_hatchback_nav_on_map.png
  Frontend/android-native/app/src/user/manaYatri/res/drawable/ny_ic_suv_nav_on_map.png
  Frontend/android-native/app/src/user/manaYatri/res/drawable/ny_ic_vehicle_nav_on_map.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_hatchback_nav_on_map.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_suv_nav_on_map.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_vehicle_nav_on_map.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_hatchback_nav_on_map.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_suv_nav_on_map.png
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_vehicle_nav_on_map.png
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#5931 backend/fix/active_booking_error
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
Labels: backend

#5930 frontend/fix/widgetNotComoing_fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ReelsPlayerView.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/reels/ReelController.java
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, native, driver

#5919 backend/fix:update execution success in lock
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
Labels: backend

#5935 Frontend/fix: Crash fixes Driver App
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GpsListeningService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
Labels: frontend, native

#5934 backend/fix/coins-balance
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
Labels: backend

#5941 frontend/fix: avoid-multiple-api-calls-by-replacing-when
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#5947 frontend/fix: Removed chat logs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, customer, driver

#5940 Added error code check
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#5880 frontend/fix/#1063: fixed event parameters clevertap
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#5944 backend/enhancement: Rate Card
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#5884 frontend/feat: Updated Single Estimate Screen
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_single_estimate_auto.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_single_estimate_auto_black.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_single_estimate_auto_black_yellow.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_single_estimate_auto.png
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/Font/Style.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Animation/Config.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, native, ui-common, customer

#5950 frontend/fix/test ride request bug fix
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/ScreenData.purs
Labels: frontend, native, customer, driver

#5945 frontend/lms/fixes
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/Benefits/LmsQuizScreen/Handler.purs
  Frontend/ui-driver/src/Screens/Benefits/LmsQuizScreen/View.purs
  Frontend/ui-driver/src/Screens/Benefits/LmsVideoScreen/Handler.purs
  Frontend/ui-driver/src/Screens/Benefits/LmsVideoScreen/View.purs
Labels: frontend, driver

#5959 Frontend/fix: inequality operator fix
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
Labels: frontend, ui-common

#5953 [release] frontend-fix: #5951 changed safety, accessibility popups are dismissable
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, driver

#5971 Changes for checking current lat lon
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#5566 backend/fix: added merchantOpCityId to stations list api
  Backend/app/rider-platform/rider-app/Main/spec/API/frfs-ticket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/frfs-ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Station.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Station.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Station.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/dev/migrations-read-only/rider-app/station.sql
  Backend/dev/migrations/rider-app/1237-kochi-metro-stations.sql
Labels: backend

#5928 [Paytm Branch] frontend-fix: moved powered-by banner to driver info
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5883 [Main]frontend-feat: #5882 removed safety banner and new tag in metro
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SafetySettingsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/BannerConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5938 frontend/fix: Fixed Confirm Pickup in iOS
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#5942 frontend/fix: Cab Image Crop Fix
  Frontend/ui-common/src/Font/Style.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, ui-common, customer

#5973 backend/alocator kv thread fix
  Backend/dev/migrations/rider-app/1238-payment-transaction.sql
  Backend/lib/scheduler/src/Lib/Scheduler/Environment.hs
Labels: backend

#5978 backend/fix : apply max limit to fleet asociation apis
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#5980 backend/fix - validations added in sync
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

#5857 frontend/hotfix: #5856 Fixed loop issue in IOS
  Frontend/ui-common/src/Engineering/Helpers/Timers.js
  Frontend/ui-common/src/Engineering/Helpers/Timers.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, ui-common, customer, driver

#5981 Frontend fix invoice
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#5982 backend/fix: fixed dummy ride request
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
Labels: backend

#5536 frontend/refactor/rentals: #4998 CompareUTCDate refactored, polling refactored
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, ui-common, customer

#5988 frontend-fix: #5935 reduced version check to Android 8 for group
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
Labels: frontend, native

#5989 frontend/fix: crash and ANR fixes for driver app release
  Frontend/android-native/app/src/driver/manaYatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/nammaYatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/passCulturePartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/yatriPartner/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
Labels: frontend, native

#5987 frontend/#5986/debug and sdk logs
  Frontend/ui-common/src/Engineering/Helpers/Log.js
  Frontend/ui-common/src/Engineering/Helpers/Log.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, ui-common, customer

#5993 frontend/fix: Added fix for null updates in trigger location service.
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
Labels: frontend, native

#5995 backend/fix: add recomputeIfPickupDropOutsideOfThreshold in Transport…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0371-recomputeIfPickupDropOutsideOfThreshold-config.sql
Labels: backend

#5997 frontend/fix: ANR Crash Due to Delayed API Response
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
Labels: frontend, native

#5992 frontend/#4118/making dynamic referral using city config
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
Labels: frontend, native, ui-common, driver

#5948 Frontend/fix: Crash fix for Lottie and BadToken exception
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
Labels: frontend, native

#5999 backend/fix: hotfix for ANR due to missing pincode in ride request
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestForDriver.hs
Labels: backend

#5977 backend/enhancement/grpcConfigChange
  Backend/dev/migrations/dynamic-offer-driver-app/0372-update-grpc-config.sql
  flake.lock
Labels: backend

#5752 frontend/fix/current-location-tag: fixed current location not visible, added edit button
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6004 frontend/fix: Driver Stats Race Condition
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, driver

#5852 backend: added driver pickup charges to ride request payload
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#6003 backend/fix: fix spec files checking
  Backend/app/alchemist/src/Main.hs
Labels: backend

#6008 Frontend/fix: Added config for showing vehicle variant in RideReq
  Frontend/android-native/app/src/main/res/drawable/ny_ic_vehicle_unfilled_white.png
  Frontend/android-native/app/src/main/res/layout/sheet_view.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetModel.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/dataModel/VariantConfig.java
Labels: frontend, native

#6015 frontend/feat: Added Background Location Check
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
Labels: frontend, native, ui-common

#6016 Frontent/fix: Added requestBackgroundLocation function
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
Labels: frontend, native, ui-common

#6019 backend/fix/setting-event-key
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Event.hs
Labels: backend

#6020 backend/fix/usingGateIdInsteadOfZoneId
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
Labels: backend

#6014 Backend/fix/cac inmemory fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Cac.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/GoHomeConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/DriverIntelligentPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/TransporterConfig.hs
  flake.lock
Labels: backend

#5949 frontend-enhancement: #5946 implemented custom polyline animator
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/Utils.java
  Frontend/android-native/mobility-customer/src/main/java/in/juspay/mobility/customer/MobilityCustomerBridge.java
Labels: frontend, native

#5962 Backend/feat/#2859 : Add safety center blocking, Post Ride Sos
  Backend/app/dashboard/CommonAPIs/src/Dashboard/RiderPlatform/Customer.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/rider-dashboard/src/API/RiderPlatform/Customer.hs
  Backend/app/dashboard/rider-dashboard/src/RiderPlatformClient/RiderApp/Operations.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/sos.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/rider-config.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Person.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1239-add-safety-center-blocking.sql
  Backend/dev/migrations/rider-dashboard/0022-added-safety-center-blocking.sql
Labels: backend

#6022 frontend/fix: Marker Alignment issue fix
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6021 frontend/driver pickup route not coming
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#6025 frontend/fix/cancelRide-popup-fix
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6027 frontend/fix/driverPickUpCharges_not_coming_in_ride_request_for_zone_…
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
Labels: frontend, native

#6028 frontend/feat: Handled Foreground Service Exceptions
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ChatService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GpsListeningService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
Labels: frontend, native

#6029 frontend/fix: touch area and manifest update
  Frontend/android-native/app/src/user/yatri/res/drawable/ny_ic_referral.png
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/View.purs
Labels: frontend, native, driver

#6032 frontend/refactor: updated splash screen for Yatri app
  Frontend/android-native/app/src/driver/yatriPartner/res/layout/splash.xml
  Frontend/android-native/app/src/driver/yatriPartner/res/layout/splash_fallback.xml
  Frontend/android-native/app/src/user/yatri/res/layout/splash.xml
  Frontend/android-native/app/src/user/yatri/res/layout/splash_fallback.xml
Labels: frontend, native

#6007 frontend/feat: Added New Telugu Font
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/passCulturePartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/main/assets/fonts/NotoSansTelugu-Black.ttf
  Frontend/android-native/app/src/main/assets/fonts/NotoSansTelugu-Bold.ttf
  Frontend/android-native/app/src/main/assets/fonts/NotoSansTelugu-ExtraBold.ttf
  Frontend/android-native/app/src/main/assets/fonts/NotoSansTelugu-ExtraLight.ttf
  Frontend/android-native/app/src/main/assets/fonts/NotoSansTelugu-Light.ttf
  Frontend/android-native/app/src/main/assets/fonts/NotoSansTelugu-Medium.ttf
  Frontend/android-native/app/src/main/assets/fonts/NotoSansTelugu-Regular.ttf
  Frontend/android-native/app/src/main/assets/fonts/NotoSansTelugu-SemiBold.ttf
  Frontend/android-native/app/src/main/assets/fonts/NotoSansTelugu-Thin.ttf
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Font/Style.purs
  Frontend/ui-common/src/MerchantConfig/DefaultConfig.purs
  Frontend/ui-common/src/MerchantConfig/Types.purs
Labels: frontend, native, ui-common

#6026 Frontend/fix: Added popup for background location permission
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_bgloc.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/Utils.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, driver

#6017 backend/feat: Invoice API
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DriverFee.hs
  Backend/app/rider-platform/rider-app/Main/package.yaml
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/invoice.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/Invoice.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Invoice.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Invoice.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/Type.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Location.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Ride.hs
  Backend/dhall-configs/dev/rider-app.dhall
  flake.lock
Labels: backend

#6033 frontend/update: syncing yatri config with NY
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#6038 backend/fix/active_booking_errors
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
Labels: backend

#6034 frontend/frontend/showing confirm pickup when fav lies inside special zone, stats issue, IOS route label and driver pickup status text change
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, customer, driver

#6036 Frontend/fix: Fixes related to background location popup
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, native, driver

#5905 frontend/fix: Fixed issue with shimmer and estimates screen countdown
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6042 Frontend/mtero special pickup2
  Frontend/android-native/app/src/main/res/layout/floating_widget_layout.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/WidgetService.java
  Frontend/android-native/mobility-app/src/main/res/layout/floating_widget_layout.xml
Labels: frontend, native

#6043 backend/fix : toggle service charge
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#6045 frontend/fix: updated dataSync to remote messaging
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/ChatService.java
Labels: frontend, native

#6051 backend/fix : subscription call on status other than active
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#6059 frontend/fixed RR/specialPickup widget crash
  Frontend/android-native/app/src/main/res/layout/floating_widget_layout.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/WidgetService.java
  Frontend/android-native/mobility-app/src/main/res/layout/floating_widget_layout.xml
Labels: frontend, native

#6005 fixed setCurrentLocation flow for setting pickup location as current location
  Frontend/ui-customer/src/Components/SearchLocationModel/Controller.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6039 frontend-fix: eta text crop issue fix
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
Labels: frontend, customer

#6064 Frontend/fix: Driver popup fix
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
Labels: frontend, native

#6063 frontend/fix/rentals: Translations Added and common assets introduced
  Frontend/android-native/app/src/user/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_rental_hourly_charge.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_clock_unfilled.png
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
Labels: frontend, native, ui-common, customer

#6075 backend/enhancement/dontSendToHomeInQueueIfDestDifferent
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
Labels: backend

#6076 frontend-fix: reverted safety popup audio player
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, driver

#6080 backend/fix:temp fix fleet api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#6081 frontend/fix/rentals: minor UI fix
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#6074 backend/enhance: add client id concept in driver and customer app
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/client.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Client.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Client.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Client.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverQuote.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/DriverQuote.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Ride/Table.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverQuote.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/client.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Client.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Client.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/Type.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequest.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/client.sql
  Backend/dev/migrations-read-only/rider-app/client.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0373-client-id-changes.sql
  Backend/dev/migrations/rider-app/1240-client-id-changes.sql
  Backend/test/src/Common.hs
  Backend/test/src/Mobility/ARDU/APICalls.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
  Backend/test/src/PublicTransport/Search.hs
Labels: backend

#6085 frontend/fixed widget null pointer crash
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/WidgetService.java
Labels: frontend, native

#6088 frontend/fix/choose-between-drivers-vehicleImage-fix
  Frontend/ui-customer/src/Components/QuoteListItem/View.purs
Labels: frontend, customer

#6086 frontend/fix: Map Crash Fix
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/LocalStorage/Cache.purs
Labels: frontend, native, ui-common

#6077 current-location-fixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6089 frontend/feat/#2319 : Added cabs introductory view.
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_ny_driver_cab.png
  Frontend/android-native/app/src/driver/manaYatriPartner/res/drawable/ny_ic_ny_driver_auto.png
  Frontend/android-native/app/src/driver/manaYatriPartner/res/drawable/ny_ic_ny_driver_cab.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_ny_driver_auto.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/drawable/ny_ic_ny_driver_cab.png
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
Labels: frontend, native, ui-common, driver

#6090 backend/fix:schedule next driver fee cal for rental
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
Labels: backend
