Repository nammayatri/nammayatri, pull requests merged in 2024-12, with the labels that each got.

#9509 backend/fix/main_query
  Backend/dev/migrations/dynamic-offer-driver-app/0546-vendor-split-details.sql
Labels: backend

#9510 Backend/enh/metro-warrior-translation-coins
  Backend/dev/migrations/dynamic-offer-driver-app/0567-metro-warrior-coin-translations.sql
Labels: backend

#9512 backend/fix/empty_breakup_for_scheduled_bookings
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
Labels: backend

#9517 backend/feat:removing-ride-in-progress
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
Labels: backend

#9518 frontend:feat Metro booking hybrid
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/Controller.purs
Labels: frontend, customer

#9522 Backend/fix: fare calcualation passthrough destination case fix.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#9524 frontend/fix : Added fix for metro stations not coming for ios
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
Labels: frontend, customer

#9532 backend/fix/last-overlay
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/CancellationRate.hs
Labels: backend

#9536 Backend/fix:forward-batching-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
Labels: backend

#9534 frontend/delivery/ios-fixes
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/DeliveryParcelImageAndOtp/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, ui-common, customer

#9503 backend/feat/bmrcl-integration
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Station.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/CUMTA/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/ExternalAPI/EBIX/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Station.hs
Labels: backend

#9546 frontend/fix : Add city Pudukkottai.
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#9549 Backend/enh/metro-warrior-coin-notification
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0568-metro-warrior-notification.sql
  flake.lock
Labels: backend

#9550 frontend/iOS bus booking route changes
  Frontend/ui-customer/src/Screens/TicketBookingFlow/BusTrackingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/BusTrackingScreen/Transformer.purs
Labels: frontend, customer

#9548 backend:person-stats-ckh-fix
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/BookingCancellationReason.hs
  flake.lock
Labels: backend

#9555 frontend feat : refactor cancel booking api and move cancel reasons t…
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, ui-common, customer

#9556 backend/feat/soft_block
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/Driver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/FCM/SoftBlockNotification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/UnblockDriverUpdate/UnblockDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreach.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreachMitigation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0570-extra-fare-mitigation.sql
Labels: backend

#9560 Backend/fix:adding-last-ride-in-search-request-for-driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request_for_driver.sql
Labels: backend

#9558 backend/fixed congestion charge recompute
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

#9530 backend/feat: clickhouse subquery implemented for driver fee
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Revenue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DriverFee.hs
  Backend/dev/clickhouse/local-testing-data/atlas-driver-offer-bpp.sql
  Backend/dev/clickhouse/sql-seed/atlas-driver-offer-bpp-seed.sql
  Backend/dev/rest-client/clickhouse/revenue.http
  flake.lock
Labels: backend

#9538 frontend/enhancement/call-driver-event
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#9561 backend/feat: Waitong For Drivers Trip Categpory
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/PersonFlowStatus.hs
Labels: backend

#9565 backend/feat: trip category in notification
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#9567 backend/fix/hotpush-compile
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
Labels: backend

#9568 backend/fix/hotpush-compile
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
Labels: backend

#9569 frontend/fix: HomeScreen Entering fix for hybrid
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
Labels: frontend, customer

#9570 frontend/ios bus booking fixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/View.purs
Labels: frontend, customer

#9571 frontend/ticketing-fixes: hydridFlow fixes
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/View.purs
Labels: frontend, customer

#9573 Frontend-delivery-changes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Controller.purs
Labels: frontend, customer

#9572 frontend/ticketing/hybrid : fixes
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Controller.purs
Labels: frontend, customer

#9575 backend/nix: Build on macOS + use internal cache
  .envrc.backend
  .github/workflows/nix.yaml
  Backend/README.md
  Backend/default.nix
  Backend/nix/scripts.nix
  flake.lock
  flake.nix
  om.yaml
Labels: backend

#9574 frontend/hack-fix/metro-notification
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#9578 frontend/hybrid driver profile issue
  Frontend/ui-common/src/Screens/DriverProfileScreen/Controller.purs
Labels: frontend, ui-common

#9496 backend/enhc : child job duplication prevention
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFee.hs
Labels: backend

#9564 backend/enhc : child job duplication prevention
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFee.hs
Labels: backend

#9577 Backend/fix: driver assigned even after user cancellation fix.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Cancel.hs
Labels: backend

#9582 frontend/lottie/fix
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
Labels: frontend, native

#9542 Backend/feat:adding-disable-disability-option
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequestExtra.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
Labels: backend

#9588 frontend/ticketing/fix
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/View.purs
Labels: frontend, customer

#9585 frontend/fix: emergency contacts hybrid flow
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Components/HelperViews.purs
Labels: frontend, customer

#9584 frontend/parcel: fix hybrid flow
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

#9587 frontend/fix/react-hybrid-app-help-and-support
  Frontend/ui-common/src/Components/SourceToDestination/Controller.purs
  Frontend/ui-common/src/Components/SourceToDestination/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/ComponentConfig.purs
Labels: frontend, ui-common, customer

#9581 frontend/feat:refactor preferred variant feature
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, customer

#9593 backend/fix - valueAddNP fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#9594 backend/fix - valueAddNP fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#9592 frontend/hybrid issue fixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#9596 backend/fix person updation email error
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
Labels: backend

#9597 backend/fix person updation email error
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
Labels: backend

#9589 frontend/fix/toast-issue
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9600 frontend/fix-emergency contacts - hybrid
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Controller.purs
Labels: frontend, customer

#9601 frontend/fix: Bus Ticketing Fixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/View.purs
Labels: frontend, customer

#9604 Backend/fix/fixing-disability-tag
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
Labels: backend

#9605 Backend/fix:adding-last-ride-in-search-request-for-driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request_for_driver.sql
Labels: backend

#9611 frontend/feat:refactor preferred variant feature
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, customer

#9523 Backend/enh/frfsResponse added cityId in frfsConfigRes
  Backend/app/rider-platform/rider-app/Main/src/API/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
Labels: backend

#9608 backend/fix/frfs-search
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#9547 frontend/fix : Add city Pudukkottai.
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer

#9599 frontend/fix : YS hybrid flow fixes
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/Controller.purs
Labels: frontend, native, customer

#9610 frontend/fix/stopDetected-chat-suggestions-fallback
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MessageOverlayService.java
  Frontend/android-native/mobility-app/src/main/res/layout/stop_detected_message_sheet.xml
  Frontend/android-native/mobility-app/src/main/res/xml/remote_config_defaults.xml
Labels: frontend, native

#9612 backend/feat/soft-block-sending-pn-only-after-ride-end-for-customer-safety
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/FCM/SoftBlockNotification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreachMitigation.hs
Labels: backend

#9620 Revert "Backend/fix:adding-last-ride-in-search-request-for-driver"
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request_for_driver.sql
Labels: backend

#9595 Backend/fix/adding-rn-header
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/RideBooking/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/RideBooking/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/RideBooking/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/dev/migrations-read-only/rider-app/person.sql
  Backend/dev/migrations-read-only/rider-app/search_request.sql
  Backend/test/src/Common.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
  Backend/test/src/PublicTransport/Search.hs
Labels: backend

#9623 frontend/enh/notification-body-consumption
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
Labels: frontend, native

#9625 bus hybrid fixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/BusTicketBooking/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/BusTrackingScreen/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#9602 frontend/fix: select contact loading screen
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9626 backend/fix/softblock-fields
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#9175 backend/enhance/send_round_trip_in_apis
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Ride.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Ride.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Ride.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
Labels: backend

#9554 backend/feat/fare-policy-intercity-source-destination-details
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicyInterCityDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FareParameters/FareParametersInterCityDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicy/FarePolicyInterCityDetails.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0574-intercity-fare-policy-state-entry-permit-charges.sql 
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Enums.hs
Labels: backend

#9631 backend/fix/not-sending-stop-fcm-when-driver-is-near-pickup
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/StopDetection.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#9636 frontend/fix : Call flowstatus in case cancel estimate throws error.
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9635 backend/fix/blockReasonFlag
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreachMitigation.hs
Labels: backend

#9437 backend/enh: makes fare recompute condition configurable
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#9274 Backend/enh/coins-on-vehicle-category-level-and-metro-warrior
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/DriverCoinsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/PurchaseHistory.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/PurchaseHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/PurchaseHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/PurchaseHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/PurchaseHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Coins/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Coins/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/purchase_history.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0542-vehicle-category-coins.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0567-metro-warrior-coin-translations.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0568-metro-warrior-notification.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0571-metrowarrior-coin-events.sql
  Backend/lib/beckn-spec/src/Domain/Types/VehicleVariant.hs
Labels: backend

#9632 frontend/feat- added report Issue deeplink
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Controller.purs
Labels: frontend, customer

#9640 frontend/fix : Call flowstatus in case cancel estimate throws error.
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9643 Backend/feat:adding-query-in-quote
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Booking.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
Labels: backend

#9644 frontend/delivery-asset: fix for delivery assets for launch delivery …
  Frontend/android-native/app/src/driver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_parcel_box.png
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/odishaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#9642 backend/fix: fixes fare recompute threshold condition
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#9647 backend/metro warrior added flags
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/ride.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SpecialLocationWarrior.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/ride.sql
Labels: backend

#9648 backend/fix/intercity-waiting-charge
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicyInterCityDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicy/FarePolicyInterCityDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicyInterCityDetails.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0574-intercity-fare-policy-state-entry-permit-charges.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0580-waiting-charge-inter-city.sql
Labels: backend

#9652 frontend/fix : Intercity ride selection issue
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#9653 backend/fix/col_name_for_waiting_charge
  Backend/dev/migrations/dynamic-offer-driver-app/0580-waiting-charge-inter-city.sql
Labels: backend

#9627 Backend/feat:adding-disability-back-in-search
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request_for_driver.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
Labels: backend

#9654 backend/fix: dhall fix
  Backend/dhall-configs/dev/common.dhall
Labels: backend

#9656 frontend: added configs for new city bidar
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer

#9638 backend/fix/case-when-driver-on-different-stier-ride-after-scheduled-fcm
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/FCM/SoftBlockNotification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreachMitigation.hs
Labels: backend

#9659 Backend/prodHotPush:perf-rideList-improvement
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
Labels: backend

#9661 backend/feat/extra-fare-mitigation-overlay
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
Labels: backend

#9471 Backend/feat/customer-to-customer-referral-payout
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common/Order.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Performance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Payment.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/CustomerReferral.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonStats.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/CustomerReferral.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/CustomerReferral.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Payout.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CustomerReferral.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Payout/MetroIncentivePayout.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/payout_config.sql
  Backend/dev/migrations-read-only/rider-app/payout_config.sql
  Backend/dev/migrations-read-only/rider-app/person.sql
  Backend/dev/migrations-read-only/rider-app/person_stats.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1363-added-index-in-payout-order-table.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Types/Common.hs
Labels: backend

#9663 frontend/fix/driver-apk-fixes
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_single_estimate_auto_black.png
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/DriverSavedLocationScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/HotspotScreen/View.purs
Labels: frontend, native, ui-common, driver

#9669 Backend/fix: adding min threshold for passed thourgh destination in f…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0581-adding-minThresholdFOrPassThrroughDestination-TransporterConfig.sql
Labels: backend

#9665 backend/fix/lts-ride-status-for-advance-rides
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/StopDetection.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Flow.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
Labels: backend

#9677 Backend/fix/tag-fix
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
Labels: backend

#9682 backend/fix/lts-ride-status-for-advance-rides
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/StopDetection.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Flow.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  flake.lock
Labels: backend

#9685 fix: fix book any issue and also made some performance fixes
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
Labels: backend

#9687 frontend/fix/hotspots-animateCamera-fix
  Frontend/ui-driver/src/Screens/HotspotScreen/Controller.purs
Labels: frontend, driver

#9679 frontend/fix/select-contact
  Frontend/ui-customer/src/Helpers/PrestoUtils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AppUpdatePopUp/Handler.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/Handler.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/SuccessScreen/Handler.purs
  Frontend/ui-customer/src/Screens/SelectContactsFlow/SelectContactsScreen/Handler.purs
  Frontend/ui-customer/src/Screens/SplashScreen/Handler.purs
Labels: frontend, customer

#9689 frontend/fix/chat-suggestion-fix
  Frontend/ui-common/src/Engineering/Helpers/Suggestions.purs
Labels: frontend, ui-common

#9690 frontend/fix/chat-suggestion-fix
  Frontend/ui-common/src/Engineering/Helpers/Suggestions.purs
Labels: frontend, ui-common

#9691 backend/enh/added-rider-in-booking-cancellation-reason-and-action-in-…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverBlocked.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverBlockTransactions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverBlockTransactions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverBlockTransactions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/BookingCancellationReason.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BookingCancellationReason.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BookingCancellationReason.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BookingCancellationReason.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/BookingCancellationReason.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_block_transactions.sql
  Backend/dev/migrations-read-only/rider-app/booking_cancellation_reason.sql
Labels: backend

#9692 backend/enh/added-rider-in-booking-cancellation-reason-and-action-in-…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverBlocked.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverBlockTransactions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverBlockTransactions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverBlockTransactions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/BookingCancellationReason.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BookingCancellationReason.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BookingCancellationReason.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BookingCancellationReason.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/BookingCancellationReason.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_block_transactions.sql
  Backend/dev/migrations-read-only/rider-app/booking_cancellation_reason.sql
Labels: backend

#9639 Backend/enh/added-user-level-blocking-unblocking-for-d2r
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Payout.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Payout.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Payout.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_Payout.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Payout.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#9703 backend/compile-fix
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Booking.hs
Labels: backend

#9700 Backend/AddedFilterByDatesAndAFix
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/RideBooking/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/dev/migrations-read-only/rider-app/person.sql
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#9702 backend/enhc : order plan listing
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Plan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/plan.sql
  flake.lock
Labels: backend

#9698 backend/enhancement : Added Scheduled bookings in redis
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  flake.lock
Labels: backend

#9678 backend/fix/query for recompute thrshold
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#9711 Backend/FixedDateParamForMyRides
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#9717 Backend/feat:adding-disability-in-customer-booking
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
Labels: backend

#9686 backend/hotpush/feat/bikeExtraFare
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ReportIssue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileSummary.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/FCM/SoftBlockNotification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/UnblockDriverUpdate/UnblockDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/CancellationRate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreach.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreachMitigation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0570-extra-fare-mitigation.sql
  Backend/dev/migrations/rider-app/1187-adding-new-data-for-issue-flow.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#9718 Backend/fix:main-fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
Labels: backend

#9719 frontend/fix: Subscription changes Chennai/Gulbarga
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
Labels: frontend, native, ui-common, driver

#9721 frontend/fix: Gullak SDK Improvements
  Frontend/android-native/app/src/main/java/in/juspay/mobility/Utils.java
  Frontend/android-native/dynamicfeature/build.gradle
  Frontend/android-native/dynamicfeature/src/main/java/in/juspay/mobility/dynamicfeature/DynamicActivity.java
  Frontend/android-native/mobility-driver/build.gradle
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MainApplication.java
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
Labels: frontend, native, ui-common, driver

#9598 Backend/enhancement: scheduler_job mid mocid fields
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag/Handle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/BadDebtCalculationScheduler.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/CancellationRate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreachMitigation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/KaalChakra/Chakras.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/ScheduledNotifications.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag/Handle.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/JobScheduler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/ScheduledNotifications.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Chakras.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Payout/MetroIncentivePayout.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/PostRideSafetyNotification.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyIVR.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0575-mid-mocid-field-for-scheduler-job.sql
  Backend/dev/migrations/rider-app/1365-mid-mocid-field-for-scheduler-job.sql
  Backend/dhall-configs/dev/rider-app-scheduler.dhall
  Backend/lib/producer/src/Producer/Flow.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/DB/Queries.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/DB/Table.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/Redis/Queries.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/SchedulerType.hs
  Backend/lib/scheduler/src/Lib/Scheduler/ScheduleJob.hs
  Backend/lib/scheduler/src/Lib/Scheduler/Types.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types/KaalChakra.hs
Labels: backend

#9706 Backend/fix/pass through destination case fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0581-adding-minThresholdFOrPassThrroughDestination-TransporterConfig.sql
Labels: backend

#9723 backend/added api for clickhouse to update frequent loc geohash
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Internal/FrequentLocUser.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/FrequentLocUser.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/dev/migrations-read-only/rider-app/person.sql
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/dhall-configs/dev/secrets/rider-app.dhall
Labels: backend

#9649 backend/fix:order dump and driver fee double debit prevention
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0575-add-order-resp-dump.sql
  Backend/dev/migrations/rider-app/1365-add-order-resp-dump.sql
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Types/PaymentOrder.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Beam/PaymentOrder.hs
  flake.lock
Labels: backend

#9730 backend/added api path
  Backend/app/rider-platform/rider-app/Main/src/API/Internal.hs
Labels: backend

#9724 backend/fix : fixed merchant service config failover dashboard apis
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
Labels: backend

#9710 backend:drainer-change-for-force-drain
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Update.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/Update.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Update.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0576-mid-mocid-field-for-scheduler-job.sql
  Backend/dev/migrations/rider-app/1366-mid-mocid-field-for-scheduler-job.sql
  flake.lock
Labels: backend

#9728 backend:ommit-nothing-fields-for-SRFD
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
Labels: backend

#9431 frontend/feat:refactor scheduledBookinglist api call accoriding to tr…
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/OD.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/View.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, driver

#9713 backend/enhc : order plan listing
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Plan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/plan.sql
Labels: backend

#9727 frontend/fix : QR and map not working fix.
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Components/MessagingView/Common/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, customer, driver

#9742 frontend/fix : Fix subscription support number.
  Frontend/ui-driver/src/Screens/CustomerReferralTrackerScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#9740 fix: metro RN bug
  Frontend/ui-common/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/Handler.purs
Labels: frontend, ui-common, customer

#9743 backend/fix/Added-DL-Check-For-Enabling-Drivers-via-Dashboard
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#9745 backend/fix/Added-DL-Check-For-Enabling-Drivers-via-Dashboard
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#9747 backend/feat: added fleet members with backward compatibility
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/Storage/FleetMemberAssociation.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/provider-dashboard-common.dhall
  Backend/app/dashboard/provider-dashboard/package.yaml
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/Domain/Types/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Beam/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/CachedQueries/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Queries/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Tools/Beam/UtilsTH.hs
  Backend/dev/migrations-read-only/provider-dashboard/fleet_member_association.sql
Labels: backend

#9744 Backend/feat/fare api integration
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
  Backend/dev/migrations-read-only/rider-app/search_request.sql
  Backend/multmodal-flow.hs
Labels: backend

#9733 backend/fix/block-drivers-from-sz-too
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
Labels: backend

#9732 frontend/empty-source-fix
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#9751 backend/feat/vehicle-bulk-upload
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/dev/migrations-read-only/provider-dashboard/API_Fleet_Driver.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
Labels: backend

#9757 frontend/empty-source-fix
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#9759 backend/fix:Added-DL-Check-for-enabling-driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#9746 backend/namma-tag: reschedule failed jobs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag/Handle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/KaalChakra/Chakras.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag/Handle.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Chakras.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Event/KaalChakra.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
Labels: backend

#9673 backend/fix/rider_preferred_option
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
Labels: backend

#9754 backend/fix/remove-tc-check-for-due-addition-and-add-cash-collected-i…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
Labels: backend

#9758 frontend/enhancement/hotspots-screen-events
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HotspotScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HotspotScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HotspotScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#9630 frontend/fix: Odisha yatri partner fastlane update
  .github/workflows/release-apk-driver.yaml
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/driver/odishaYatriPartner/res/drawable/ny_ic_vehicle_nav_on_map.png
  Frontend/android-native/bundleFetch.py
  Frontend/android-native/fastlane/Fastfile
  Frontend/android-native/releaseApp.sh
  Frontend/android-native/versions.txt
Labels: frontend, native

#9753 backend/fix/remove-tc-check-for-due-addition-and-add-cash-collected-i…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
Labels: backend

#9760 backend/fix:Added-DL-Check-for-enabling-driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#9377 frontend/feat: Bus onboarding changes
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_bus_side.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/OD.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, driver

#9430 backend/fix : refund security deposit
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverFee.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFeeExtra.hs
Labels: backend

#9697 backend/enhancement: scheduler_job mid mocid fields hot push
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag/Handle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/BadDebtCalculationScheduler.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/CancellationRate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreachMitigation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/KaalChakra/Chakras.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/ScheduledNotifications.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag/Handle.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/JobScheduler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/ScheduledNotifications.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Chakras.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Payout/MetroIncentivePayout.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyIVR.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0574-mid-mocid-field-for-scheduler-job.sql
  Backend/dev/migrations/rider-app/1362-mid-mocid-field-for-scheduler-job.sql
  Backend/dhall-configs/dev/rider-app-scheduler.dhall
  Backend/lib/producer/src/Producer/Flow.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/DB/Queries.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/DB/Table.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/Redis/Queries.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/SchedulerType.hs
  Backend/lib/scheduler/src/Lib/Scheduler/ScheduleJob.hs
  Backend/lib/scheduler/src/Lib/Scheduler/Types.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types/KaalChakra.hs
Labels: backend

#9707 backend/feat/ticket_config_dashboard_api
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BusinessHourExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/ServiceCategoryExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/ServicePeopleCategoryExtra.hs
  Backend/dev/migrations-read-only/rider-dashboard/API_Management_Merchant.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_Merchant.sql
Labels: backend

#9772 backend/fix/compile-main-invoice
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFee.hs
Labels: backend

#9777 backend:ommit-nothing-fields-for-SRFD
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
Labels: backend

#9709 frontend/fix: Subscription changes Channai/Gulbarga
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/OD.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, ui-common, driver

#9767 Backend/FilterMultipleStatus
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/RideBooking/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend
