Repository nammayatri/nammayatri, pull requests merged in 2024-10, with the labels that each got.

#8805 backend:fix removed-error-for-service-tier-in-estimate
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/FareCalculator.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0514-fare-policy-stop-charges.sql
Labels: backend

#8790 frontend/fix :Gullak integration first time crash
  Frontend/android-native/dynamicfeature/src/main/java/in/juspay/mobility/dynamicfeature/DynamicActivity.java
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/View.purs
Labels: frontend, native, driver

#8808 frontend/fix: Removed deprecated operator in ysp v1-config
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
Labels: frontend, native

#8812 Frontend/fix : Driver-Profile-Screen-Type-Mismatch
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/ScreenData.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

#8705 frontend/enhancement/added_remote_config_support_for_enabling_otp_ride
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#8668 frontend/feat : crowdin integration for translations in nammayatri repo
  .github/workflows/generate_python_code.yml
  Frontend/ui-customer/src/generated/source/main_locale.json
  Frontend/ui-driver/src/generated/source/main_locale.json
  crowdin.yml
  crowdinTranslationGenerator.py
  crowdin_python_generator_configuration.json
Labels: frontend, customer, driver

#8794 Backend/feat/config-runner-api
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/System.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/System.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/System.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/System.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/System.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/System.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
Labels: backend

#8806 backend/fix : remove db queries from nudge
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
Labels: backend

#8798 frontend/refactor/coin-x-ride-event
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Transformer.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, native, customer, driver

#8800 frontend/feat: added scheduled ride count in ride request pill
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Constants.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/Handler.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#8814 frontend/fix : Fixes for ios cug.
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReferralScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#8788 Frontend-Fix: OnCall fixes-2
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/driver/manaYatriPartner/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/driver/yatriPartner/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/user/jatriSaathi/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/user/manaYatri/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/user/yatri/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/API.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Screens/SplashScreen/Controller.purs
  Frontend/ui-customer/src/Screens/SplashScreen/Handler.purs
  Frontend/ui-customer/src/Screens/SplashScreen/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/API.purs
  Frontend/ui-driver/src/Helpers/SplashUtils.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/NoInternetScreen/Handler.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/Handler.purs
  Frontend/ui-driver/src/Screens/SplashScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SplashScreen/Handler.purs
  Frontend/ui-driver/src/Screens/SplashScreen/View.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, ui-common, customer, driver

#8815 frontend-feat: second splash driver
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/driver/manaYatriPartner/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/driver/yatriPartner/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/user/jatriSaathi/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/user/manaYatri/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/app/src/user/yatri/res/raw/ny_bundle_splash_lottie.json
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/API.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Screens/SplashScreen/Controller.purs
  Frontend/ui-customer/src/Screens/SplashScreen/Handler.purs
  Frontend/ui-customer/src/Screens/SplashScreen/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/API.purs
  Frontend/ui-driver/src/Helpers/SplashUtils.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/NoInternetScreen/Handler.purs
  Frontend/ui-driver/src/Screens/OnBoardingSubscriptionScreen/Handler.purs
  Frontend/ui-driver/src/Screens/SplashScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SplashScreen/Handler.purs
  Frontend/ui-driver/src/Screens/SplashScreen/View.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, ui-common, customer, driver

#8816 frontend/fix/edit-dest-bugfix
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#8745 frontend/enhancement/show-edit-pickup-popup-before-ride-cancel
  Frontend/android-native/app/src/main/res/drawable/ny_ic_edit_pickup.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#8817 backend/dynamic pricing debugging changes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SupplyDemand/SupplyDemandRatio.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DynamicPricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy.hs
Labels: backend

#8821 backend/enabled dynamic pricing
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SupplyDemand/SupplyDemandRatio.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#8824 Frontend/fix: Adding free trial-rides and replace icons
  Frontend/android-native/app/src/driver/common/res/drawable/ny_2_rides_left.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_5_rides_left.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_clear_dues_v2.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_setup_autopay.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, ui-common, driver

#8827 backend/fix : StuckRides fix in bookingList
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
Labels: backend

#8823 frontend/fix:scheduled ride fixes
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/Handler.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/View.purs
  Frontend/ui-driver/src/Screens/RideSummaryScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RideSummaryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideSummaryScreen/View.purs
Labels: frontend, driver

#8829 backend/fix/prelude_init
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/LocationMappingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/LocationMappingExtra.hs
  flake.lock
Labels: backend

#8799 backend/feat/price_breakup_bap
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/PriceBreakup.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/PriceBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/PriceBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PriceBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/QuoteBreakup.hs
Labels: backend

#8727 backend/feat/fare_details_bpp_api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/PriceBreakup.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/PriceBreakup.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/PriceBreakup.hs
Labels: backend

#8831 Frontend/fix: NYP-YP Subscription sync
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#8833 Frontend/fix: HomeScreen Autopay carousel banner icon fix
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, driver

#8834 backend/fix : stuckRide fix for tripAssigned case
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
Labels: backend

#8830 frontend/feat : remove included charges section and some minor fixes
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Components/RideRequestCard/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/Handler.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/View.purs
  Frontend/ui-driver/src/Screens/RideSummaryScreen/View.purs
Labels: frontend, driver

#8832 Intercity design changes fixes
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_clock_unfilled.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_driver_auto_profile.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_user_filled.png
  Frontend/android-native/app/src/user/jatriSaathi/res/drawable/ny_ic_clock_unfilled.png
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_clock_unfilled.png
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/DateTimeSelector/Controller.purs
  Frontend/ui-common/src/Components/DateTimeSelector/View.purs
  Frontend/ui-common/src/Components/Selector/Controller.purs
  Frontend/ui-common/src/Components/Selector/View.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/View.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, native, ui-common, customer

#8820 Backend/feat/adding-psql-lite-connection-in-env
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/configs.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SurgePricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/System.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
Labels: backend

#8744 backend/feat/parcel/send fcm to parties in more cases
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#8849 Frontend/fix : intercity-cug-fixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer

#8850 frontend-feat-added remote config for enabeling scheduled rides and f…
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#8851 Backend/pooling/adding-logs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
Labels: backend

#8854 backend/dynamicPricing bugfix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

#8853 backend/fix/handle-edge-case-in-dfee-calc-scheduler
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFeeExtra.hs
Labels: backend

#8852 backend/fix/no_reallocation_if_late_ride
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
Labels: backend

#8709 backend/feat/nudging-and-blocking-driver-based-on-cancellation-rate
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/RideBooking/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileSummary.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/UnblockDriverUpdate/UnblockDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CancellationRate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/API/DriverBlockTill.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Flow.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0525-nuding-and-blocking-configs.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0530-app_dynamic_logic_element.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0535-merchant-pn-for-driver-unblock.sql
  Backend/dev/migrations/rider-app/1350-adding-primary-key-app_dynamic_logic_element.sql
  Backend/test/src/Mobility/ARDU/Utils.hs
  flake.lock
Labels: backend

#8859 Backend/fix/unified-pool-fix:
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
Labels: backend

#8861 Backend/fix/unified-pool-fix-1
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
Labels: backend

#8863 Backend/fix/unified-pool-fix-2
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
Labels: backend

#8864 backend/fix/Delete reallocation key starting T-30
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#8732 backend/fix: apply redundant brackets hint to separate file/folder
  Backend/nix/scripts.nix
Labels: backend

#8860 Frontend/fixes : Scheduled-Ride-Wait-Timer
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, customer

#8845 Fix/RideDuration/RideCompletedScreen
  Frontend/ui-common/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/FavouriteDriverTrips/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/View.purs
Labels: frontend, ui-common, customer

#8856 Backend/feat/bus service api temp
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Station.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Station.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Station.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/CacType.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Maps.hs
  Backend/dev/migrations-read-only/rider-app/frfs_config.sql
  Backend/dev/migrations-read-only/rider-app/merchant_service_usage_config.sql
  Backend/dev/migrations-read-only/rider-app/station.sql
  flake.lock
Labels: backend

#8871 Backend/feat:insert-query-api
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/System.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/System.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/System.hs
Labels: backend

#8857 Backend/refactor/delete-old-coin-event
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverCoins.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0522-x-rides-coin-event.sql
Labels: backend

#8789 frontend/feat: Preferred Estimate Order as per ServiceType
  Frontend/android-native/app/src/user/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_bike_taxi_service.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_intercity.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_rental.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#8875 backend/fix/scheduled_reallocation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

#8870 backend/flake-update-and-dsl-queries-fix
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/app_dynamic_logic_element.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/app_dynamic_logic_rollout.sql
  Backend/dev/migrations-read-only/rider-app/app_dynamic_logic_element.sql
  Backend/dev/migrations-read-only/rider-app/app_dynamic_logic_rollout.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0525-nuding-and-blocking-configs.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0530-app_dynamic_logic_element.sql
  Backend/dev/migrations/rider-app/1350-adding-primary-key-app_dynamic_logic_element.sql
  flake.lock
Labels: backend

#8877 Frontend/fix : Intercity-Translations-Realloction-fix
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/View.purs
Labels: frontend, customer

#8868 Frontend feat rentals and intercity fixes
  Frontend/ui-common/src/Components/PopUpModal/Controller.purs
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RideSummaryScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RideSummaryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideSummaryScreen/View.purs
  Frontend/ui-driver/src/Screens/ScheduledRideAcceptedScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ScheduledRideAcceptedScreen/View.purs
Labels: frontend, ui-common, driver

#8878 backend/fix: Added olderBooking id in reallocation FCM
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

#8879 backend/fix/favDriver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/KnowYourDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/KnowYourDriver.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#8881 backend/fix/favDriver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/KnowYourDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/KnowYourDriver.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#8885 Frontend/fix : checkOverLap fixes
  Frontend/ui-customer/src/Helpers/Utils.purs
Labels: frontend, customer

#8889 frontend feat remove call customer from ridesummary screen
  Frontend/ui-driver/src/Screens/RideSummaryScreen/View.purs
Labels: frontend, driver

#8888 Frontend/ApkUpdate/driverCompletingProfile
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MediaPlayer.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/Utils.java
Labels: frontend, native

#8876 frontend/fix : fixed self serve ui issues
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/FaqScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/FaqScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SelectFaqScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/ScreenData.purs
Labels: frontend, customer

#8899 Frontend/fix : Scheduled Banner Source not visible
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#8904 frontend/Cug-Fix/FavDriver
  Frontend/ui-customer/src/Screens/CustomerUtils/FavouriteDriverTrips/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/View.purs
  Frontend/ui-driver/src/Screens/DriverCompleteProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverCompleteProfileScreen/View.purs
Labels: frontend, customer, driver

#8907 Bug in Cug-FavDriver
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/View.purs
  Frontend/ui-driver/src/Screens/DriverCompleteProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
Labels: frontend, customer, driver

#8909 frontend/fix: wait timer on driver side
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, driver

#8902 Backend/fix/fav ridercount
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/FavouriteDrivers.hs
Labels: backend

#8906 backend:fix-for-total-person-ride-update
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
Labels: backend

#8910 Backend/refactor/new-coin-event-instance
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
Labels: backend

#8912 Frontend/fix : Enabling Intercity for Hyderabad and Date NaNaNa fix
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer

#8911 Backend/feat:adding-system-configs-in-api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/System.hs
Labels: backend

#8915 Frontend/feat: FRFS Bus Booking Details Screen Updated
  Frontend/android-native/app/src/user/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_user_profile_grey.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/ui-customer/src/Resources/Styles/Colors.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/BusTicketBooking/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/ScreenData.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketDetails/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#8905 backend:fix-for-total-person-ride-update
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
Labels: backend

#8917 Backend/fix/sql-array-type-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/System.hs
Labels: backend

#8922 backend/enh: removes version control check from driver pooling
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/BapMetadata.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
Labels: backend

#8924 Fixing driver reviews in customer view
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/KnowYourDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FeedbackExtra.hs
Labels: backend

#8925 Backend/hotpush/unified pooling fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
Labels: backend

#8927 Backend/prodHotPush/added-message-key-for-scheduled-ride-sms
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
Labels: backend

#8926 Frontend feat ny rs integration
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
Labels: frontend, ui-common, customer, driver

#8928 backend/fix: ckickhouse select modifier
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DriverEdaKafka.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/RideDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/SearchRequestForDriver.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/EstimateBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Location.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Sos.hs
  flake.lock
Labels: backend

#8920 Frontend/fix : Upcoming-ride-banner issue fix
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
Labels: frontend, native, customer

#8932 Backend/hotpush/sql-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/System.hs
Labels: backend

#8874 backend: enabling-person-stats
  Backend/app/kafka-consumers/src/Consumer/CustomerStats/Processor.hs
  Backend/app/kafka-consumers/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/BookingCancellationReason.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonStatsExtra.hs
  Backend/dhall-configs/dev/person-stats.dhall
  Backend/dhall-configs/generic/common.dhall
Labels: backend

#8936 Backend/fix/KV-fix-for-coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
Labels: backend

#8935 Frontend/fix : config-decode-failed-issue-Driver
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#8938 Backend/fix/import-types-in-coin-type
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
Labels: backend

#8937 backend/enhance/populating-block-reason-flag-in-driver-block-transact…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverBlocked.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverBlockTransactions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverBlockTransactions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverBlockTransactions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverBlockTransactions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CancellationRate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/app/rider-platform/public-transport-rider-platform/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Track.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_block_transactions.sql
  flake.lock
Labels: backend

#8585 backend/enh/add-callAttemptCounter-PromMetric
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/CheckExotelCallStatusAndNotifyBAP.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/JobScheduler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/CheckExotelCallStatusAndNotifyBPP.hs
  Backend/app/rider-platform/rider-app/Scheduler/package.yaml
  Backend/app/rider-platform/rider-app/Scheduler/rider-app-scheduler.cabal
  Backend/app/rider-platform/rider-app/Scheduler/src/Environment.hs
  Backend/lib/sessionizer-metrics/src/Lib/SessionizerMetrics/Prometheus/Internal.hs
Labels: backend

#8933 Backend/fix/payer vpa rider fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#8916 backend/fix/rental_intercity_issues
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/BookingExtra.hs
Labels: backend

#8813 Added Error Handling in case of any errros in scheduled ride scheduler
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
Labels: backend

#8945 backend/fix/remove_lts_call
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#8944 frontend-prod-fix: driver side issue fixes
  Frontend/ui-driver/src/Screens/CancellationRateScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#8947 backend/fix/compile_main
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#8930 frontend/enh/coin-popup
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, driver

#8941 frontend/feat: Added SUV Plus Images
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_suv_plus_left_side.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_suv_plus_side.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_suv_plus_concept.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_suv_plus_left_side.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_suv_plus_side.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#8783 backend/improvement/added-support-for-stoping-and-reusing-cached-data…
  Backend/app/kaal-chakra/kaal-chakra.cabal
  Backend/app/kaal-chakra/package.yaml
  Backend/app/kaal-chakra/server/Main.hs
  Backend/app/kaal-chakra/src/App.hs
  Backend/app/kaal-chakra/src/Environment.hs
  Backend/app/kaal-chakra/src/Jobs/Common.hs
  Backend/app/kaal-chakra/src/Jobs/Daily.hs
  Backend/app/kaal-chakra/src/Jobs/Monthly.hs
  Backend/app/kaal-chakra/src/Jobs/Quarterly.hs
  Backend/app/kaal-chakra/src/Jobs/Weekly.hs
  Backend/app/kaal-chakra/src/Storage/Beam/SchedulerJob.hs
  Backend/app/kaal-chakra/src/Utils/Time.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag/Handle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/KaalChakra/Chakras.hs
  Backend/cabal.project
  Backend/default.nix
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/user_data.sql
  Backend/dev/migrations-read-only/rider-app/user_data.sql
  Backend/lib/scheduler/src/Lib/Scheduler/Handler.hs
  Backend/lib/yudhishthira/spec/Storage/UserData.yaml
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/OrphanInstances/UserData.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/UserData.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Event/KaalChakra.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Storage/Queries/UserDataExtra.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
  Backend/lib/yudhishthira/yudhishthira.cabal
  Backend/load-test/default.nix
  Backend/nix/services/nammayatri.nix
Labels: backend

#8955 backend/fix/igm/issue-status
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Beckn/OnIssue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Beckn/OnIssueStatus.hs
Labels: backend

#8950 backend/enhancement: FRFS Bus Booking
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSVehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSRecon.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSVehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Route.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteStopFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteStopMapping.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Station.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSRecon.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSVehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Route.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopMapping.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Station.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/EBIX/ExternalAPI/Verification.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/EBIX/Flow.hs
  Backend/dev/migrations-read-only/rider-app/frfs_quote.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/frfs_vehicle_service_tier.sql
  Backend/dev/migrations/rider-app/1341-bus-booking-ebix.sql
Labels: backend

#8957 backend/fix/reapply-city-based-filter
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/BookingExtra.hs
Labels: backend

#8959 backend/bug-fix/issueHlintfix
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Beckn/OnIssue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Beckn/OnIssueStatus.hs
Labels: backend

#8948 backend/revert/clickhouse_final
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DriverEdaKafka.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/RideDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/SearchRequestForDriver.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/EstimateBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Location.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Sos.hs
  flake.lock
Labels: backend

#8966 frontend/fix : Add safety banner on homescreen
  Frontend/ui-common/src/Components/BannerCarousel/Controller.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/BannerConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/CarouselBannerController.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, ui-common, customer

#8968 frotend-feat: make bundle splash as remote config
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Screens/SplashScreen/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Screens/SplashScreen/View.purs
Labels: frontend, ui-common, customer, driver

#8969 backend/fix: Estimated Fare Breakup Fix
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/RidePayment.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0540-adds-igm-config.sql
  Backend/dev/migrations/rider-app/1343-add-table-igm-issue.sql
  Backend/dev/migrations/rider-app/1345-igm-config.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
Labels: backend

#8972 backend/fix/Throw 400 in scheduleBookingList when no vehicle
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#8974 Fixing duplicate reviews of driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/KnowYourDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RatingExtra.hs
Labels: backend

#8965 backend: person-stats-fix
  Backend/app/kafka-consumers/kafka-consumers.cabal
  Backend/app/kafka-consumers/src/App.hs
  Backend/app/kafka-consumers/src/Consumer/AvailabilityTime/Processor.hs
  Backend/app/kafka-consumers/src/DriverTrackingHealthCheck/API.hs
  Backend/app/kafka-consumers/src/SystemConfigsOverride.hs
  Backend/app/provider-platform/driver-tracking-health-check/driver-tracking-healthcheck.cabal
  Backend/app/provider-platform/driver-tracking-health-check/package.yaml
  Backend/app/provider-platform/driver-tracking-health-check/server/Main.hs
  Backend/app/provider-platform/driver-tracking-health-check/src/API.hs
  Backend/app/provider-platform/driver-tracking-health-check/src/App.hs
  Backend/app/provider-platform/driver-tracking-health-check/src/Environment.hs
  Backend/app/provider-platform/driver-tracking-health-check/src/Service/Runner.hs
  Backend/cabal.project
  Backend/default.nix
  Backend/test/beckn-test.cabal
  Backend/test/package.yaml
  Backend/test/src/TestMain.hs
Labels: backend

#8971 frontend-feat: added proxy translation
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/Strings.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/Benefits/LmsQuizScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/Benefits/LmsQuizScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Benefits/LmsQuizScreen/View.purs
  Frontend/ui-driver/src/Screens/Benefits/LmsVideoScreen/View.purs
  Frontend/ui-driver/src/Screens/ChooseCityScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverCompleteProfileScreen/View.purs
Labels: frontend, driver

#8961 frontend/fix:update location format in scheduled ride booking list api
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, driver

#8980 Backend/hotPush:micro-batch-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
Labels: backend

#8981 frontend/fix: Fix english translation
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
Labels: frontend, driver

#8987 Backend/fix/adding-one-more-config-type
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
Labels: backend

#8986 backend/fix: toSchema fixes for FeedbackReq
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Rating.hs
  flake.lock
Labels: backend

#8990 backend/fix: main compile fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Rating.hs
Labels: backend

#8991 Frontend/fix: Gullak city config change
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/View.purs
Labels: frontend, native, driver

#8992 Backend/refactor/merging-dasboard-coin-event-types
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverCoins.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/DriverCoins.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/DriverCoinsExtra.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Management/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinHistory.hs
Labels: backend

#8951 backend/feat: integrated graphql responses for searchReq
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/MerchantServiceConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/MultiModal.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/merchant_service_usage_config.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1346-adding-multimodal-transit-configs.sql
Labels: backend

#8923 backend/enhance/moving-centre-of-hotspot-geohash
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DemandHotspots.hs
Labels: backend

#8995 backend/enh/adding-config-for-block-cooldown-and-only-incr-cooldown
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CancellationRate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0517-translations-for-nudge-and-unblock.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0535-merchant-pn-for-driver-unblock.sql
Labels: backend

#8973 frontend/enhancement/moving-coinsConfig-to-remote
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, native, driver

#8943 frontend-CugFix-RideCompleted
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_chevron_right_blue.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Resource/Constants.purs
  Frontend/ui-common/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/DriverCompleteProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverCompleteProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverCompleteProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverCompleteProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Handler.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer, driver

#9002 frontend/fix: Remove notify safety team step, sos before driver arrived.
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/DataExplainWithFetch/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#8979 Adding tags to fav drivers
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Types.hs
Labels: backend

#8848 Backend/Fcm/FavouriteDriver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0485-added-pn-and-payout-vpa-status.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#9007 backend/fix/upcoming_ride_error
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

#9009 Backend/feat:dynamic-driver-pool
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/package.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/configs.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_pool_config.sql
Labels: backend

#9003 Backend/fix/driver-plan-findOneWithKV
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPlanExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#8964 frontend/feat/enabled_events
  Frontend/ui-customer/src/Helpers/Log.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, customer, driver

#8996 frontend-feat: fixed waiting timer issue on reallocation of product
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#8949 Backend/feat:driver-data-decryption
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
Labels: backend

#9006 backend/enhancement: Added exact word match for LO feedback
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#8765 Frontend/fix: Adding free trial-rides and replace icons
  Frontend/android-native/app/src/driver/common/res/drawable/ny_2_rides_left.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_5_rides_left.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_clear_dues_v2.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_setup_autopay.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, ui-common, driver

#9018 Backend/fix/driver-plan-findOneWithKV
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPlanExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#9019 backend/enhancement/Added exact word match for LO feedback
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#9022 backend/fix/order_of_args_in_diffUTCTime
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#9016 backend/dynamic pricing vehicle category added
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VehicleServiceTier.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_service_tier.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0541-update-vehicle-category-vehicleServiceTier.sql
Labels: backend

#9024 backend/fix: Estimated Fare Breakup Fix
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
Labels: backend

#9026 frontend/fix : Fix Ui of follow ride.
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, customer

#9029 backend/migration correction
  Backend/dev/migrations/dynamic-offer-driver-app/0541-update-vehicle-category-vehicleServiceTier.sql
Labels: backend

#9028 backend/feat/routes-for-frfs-multimodal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  flake.lock
Labels: backend

#9004 backend: person-stats-delay-and-batch
  Backend/app/kafka-consumers/src/Consumer/CustomerStats/Processor.hs
  Backend/app/kafka-consumers/src/Consumer/Flow.hs
  Backend/app/kafka-consumers/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonStatsExtra.hs
  Backend/dhall-configs/dev/person-stats.dhall
Labels: backend

#9025 backend/fix/filter-booking-without-quotes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  flake.lock
Labels: backend

#9031 backend/dynamic pricing stickiness
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Booking.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/booking.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request.sql
Labels: backend

#8956 Added Error Handling in case of any errros in scheduled ride scheduler
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
Labels: backend

#9030 Frontend/fix : ride-summary-fcm-issue
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
Labels: frontend, customer

#8942 Ios changes scheduled rides
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/View.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/View.purs
Labels: frontend, customer

#9027 frontend/hotpush : Safety changes for ios
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/DataExplainWithFetch/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#9023 Backend/feat/refresh-clickhouse-connection
  Backend/app/kafka-consumers/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/KaalChakra/Chakras.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Chakras.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/kaal-chakra.dhall
  Backend/dhall-configs/dev/person-stats.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  flake.lock
Labels: backend

#9036 backend/dynamic pricing breakup correction
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnCancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnSelect.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/PriceBreakup.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#9014 frontend/feat/different-vehicle-number-driver
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
Labels: frontend, customer

#8890 backend/fix/expiry_time_of_reallocation_key
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#9042 frontend/feat/enableEditPickup-for-ys
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, native, customer
