Repository nammayatri/nammayatri, pull requests merged in 2024-05, with the labels that each got.

#6648 frontend/fix/added toll charges in CT events
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, customer, driver

#6646 frontend/fix: Coin Eventfunction Decode Fix
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, driver

#6650 Backend/fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Person/PersonFlowStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
Labels: backend

#6652 backend/feat: add various AC checks
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver/Registration.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Vehicle.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/IdfyVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/IdfyVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/IdfyVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Driver/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/ReportACIssue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ReportACIssue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/VehicleServiceTier.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/idfy_verification.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0402-ac-checks.sql
  Backend/dev/migrations/provider-dashboard/0044-remove-ac-usage-restriction.sql
Labels: backend

#6649 frontend/#6625/added fareProductType and users Id in sdk logs
  Frontend/ui-common/src/Engineering/Helpers/Log.js
  Frontend/ui-common/src/Engineering/Helpers/Log.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, ui-common, customer

#6653 frontend/fix: release - issue fixes
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Components/IndividualRideCard/View.purs
  Frontend/ui-customer/src/Components/MessagingView/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer

#6655 Backend/enhancement/log-job-pickup-time-in-milliseconds
  Backend/lib/scheduler/src/Lib/Scheduler/Handler.hs
Labels: backend

#6656 Backend/fix/prod-issue
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
Labels: backend

#6661 backend/backend-app-version-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
Labels: backend

#6662 backend/feat: Add BoundedByDay with higher priority then BoundedByTim…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareProduct.hs
Labels: backend

#6665 backend/fix/cancelSearchLockOutSidefork
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Cancel.hs
Labels: backend

#6667 frontend/feat: #6240 Updated Presto Dom to nammayatri
  Frontend/packages.dhall
Labels: frontend

#6654 backend/fix: aggregate clickhouse query
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/Ride.hs
  flake.lock
Labels: backend

#6672 frontend/#6625/handled failed to cancel estimate and fixed reallocat…
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6677 Updating vehicle variant:
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#6676 frontend/feat: ac checks in booking preferences
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/FR.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Handler.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, driver

#6679 Frontend/fix: Added mapping for AC Mini
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, driver

#6681 Frontend/fix/remote url fix
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#6683 backend/merge fareBreakup and fareBreakupV2
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FareBreakUp.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FareBreakupV2.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FareBreakupV2.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FareBreakupV2.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FareBreakupV2.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/dev/migrations-read-only/rider-app/fare_breakup.sql
Labels: backend

#6684 frontend/feat: bring booking preferences in homescreen
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Handler.purs
Labels: frontend, driver

#6685 frontend/revert: remove gradient from estimate screen
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#6686 backend/updated update to updatev2
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Update.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/EditLocation.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPP.hs
  Backend/dev/migrations-read-only/rider-app/fare_breakup_v2.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/API/Update.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Enums.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Types.hs
Labels: backend

#6688 backend/cost optimisation for directions api call
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
Labels: backend

#6693 Release issue fixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SelectLanguageScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6695 Backend/fix/prod hot push
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
Labels: backend

#6699 backend/fix/getMerchantOpCityIdForYatri
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantOperatingCity.hs
Labels: backend

#6701 frontend/fix: updated view for booking preferences button
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#6702 frontend/fix: temp check status for profile
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#6703 frontend/fix: add check status for profile
  Frontend/ui-driver/index.js
Labels: frontend, driver

#6704 frontend/fix: check revert for status of profile
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#6707 backend/fix/Yatri_Partner_city
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
Labels: backend

#6706 frontend: fix - added logs in retry finding quotes flow
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6709 backned/feat/Check_fcm_token_on_bundle_version
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
Labels: backend

#6712 Frontend/fix: intercity state updation issue fix
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6714 backend/feat: add email based login for customers
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RegistrationToken.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RegistrationToken.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#6691 backend/fix: adds lock during otp ride create to fix duplicate ride creation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
Labels: backend

#6710 backend/fix/revert-white-list-queries-for-local
  Backend/dev/migrations/rider-app/1218-white-list-org-table.sql
Labels: backend

#6698 backend/fix/ride_end_time_rental
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
Labels: backend

#6715 backend/feat: add rate card api for vehicle service tier of driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/ServiceTierType.hs
Labels: backend

#6696 backend/feat/Rental reallocations
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/rider-app/1259-drop-quote-constraint.sql
  Backend/lib/beckn-spec/beckn-spec.cabal
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/OnUpdate/OnUpdateEvent/OnUpdateEventType.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/OnUpdate/OnUpdateEvent/QuoteRepetitionEvent.hs
Labels: backend

#6716 backend/fix/trip_quote_detail
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
Labels: backend

#6713 frontend/special zone refactor and fix
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/SpecialZoneAndHotSpots.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#6723 frontend/special zone refactor and fix
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#6724 Backend/enhancement/validRideCount-in-stats-api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
Labels: backend

#6722 frontend/fix: removed stroke from homepage button
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#6555 backend/feat/city-based-leaderboard
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/LeaderBoardConfigs.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/LeaderBoardConfigs.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/LeaderBoardConfigs.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LeaderBoardConfigs.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/LeaderBoard.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/LeaderBoard.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/LeaderBoardConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/LeaderBoardConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/LeaderBoardConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/LeaderBoardConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/LeaderBoardConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Create.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Delete.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Update.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/leader_board_configs.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0182-create-driver-leaderBoard_Configs.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0188-added-enabled-in-leader-board-config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0294-merchant-operating-city-id-related-changes.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0405-create-driver-leaderBoard_Configs.sql
Labels: backend

#6727 backend/feat/special_zone_rental_rides
  Backend/dev/migrations/dynamic-offer-driver-app/0405-enable-rental-sz.sql
Labels: backend

#6735 frontend/fix : Fixed AC icon in iOS.
  Frontend/ui-customer/src/Components/ServiceTierCard/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/View.purs
Labels: frontend, customer

#6730 frontend/enhancement- added special zone distance threshold
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, ui-common, customer

#6740 Frontend/fix: Pondicherry unserviceable bugfix
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#6741 backend/feat/added oauth
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/SocialLogin.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/SocialLogin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/SocialLogin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/RegistrationToken.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0406-enable-rental-sz.sql
Labels: backend

#5165 backend/fix: added rideCity to kapture ticket creation
  Backend/app/dashboard/CommonAPIs/src/Dashboard/RiderPlatform/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SafetyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Support.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0342-adding-short-Id-to-IssueReport.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0407-adding-kaptureQueue-to-transporterConfig.sql
  Backend/dev/migrations/rider-app/1207-adding-ShortId-to-IssueReport.sql
  Backend/dev/migrations/rider-app/1260-adding-kapture-queue-values.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  flake.lock
Labels: backend

#6747 backend/fix/update api issue
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Update.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/EditLocation.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
Labels: backend

#6752 frontend-fix: toll html text fix
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#6743 frontend/fix: manayatri assets and url fixes
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AboutUsScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReferralScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6728 frontend/enhancement : Made Rate Card Dynamic.
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-common/src/Components/RateCard/Controller.purs
  Frontend/ui-common/src/Components/RateCard/View.purs
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/RateCardUtils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Accessor.purs
  Frontend/ui-driver/src/Components/DueDetailsList/View.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/PaymentHistoryScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/PaymentHistoryScreen/View.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
Labels: frontend, ui-common, customer, driver

#6731 frontend/animate camera to src location and location tag issue
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6757 Frontend/fix: App stuck fix for first install
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.js
Labels: frontend, driver

#6738 frontend/fix : ac check ui fix.
  Frontend/ui-customer/src/Components/QuoteListItem/View.purs
  Frontend/ui-customer/src/Components/ServiceTierCard/View.purs
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, customer

#6758 Frontend fix cug pref btn
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6759 Frontend/fix: Booking Options changes
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
Labels: frontend, driver

#6765 backend/bugfix-edit destination
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/EditBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/RideRoute.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
Labels: backend

#6767 backend/feat: Don't Verify RC
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VehicleDetails.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/VehicleDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_details.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_registration_certificate.sql
Labels: backend

#6753 backend/enh: added aws ses email config
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0408-transporter-config.sql
  Backend/lib/external/external.cabal
  Backend/lib/external/package.yaml
  Backend/lib/external/src/Email/AWS/Flow.hs
  Backend/lib/external/src/Email/Types.hs
Labels: backend

#6465 backend/enh: added caching logic for SearchRequestByDriver per driver
  Backend/app/mocks/fcm/src/App/Routes.hs
  Backend/app/mocks/fcm/src/App/Types.hs
  Backend/app/mocks/fcm/src/Product/Fcm.hs
  Backend/app/mocks/fcm/src/Types/API/Fcm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0409-transporter-config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0410-vehicle-details.sql
  Backend/test/src/Mobility/ARDU/APICalls.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
  flake.lock
  flake.nix
Labels: backend

#6773 backend/feat/added-exp-on-search-try
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTryLocker.hs
Labels: backend

#6776 Frontend/fix: Removed asset plugin dependency
  Frontend/android-native/build.gradle
Labels: frontend, native

#6779 backend/fix: remove additional field
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
Labels: backend

#6775 backend/expiry-to-driver-waypoints
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#6780 backend/fix/quote-respond
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/SearchRequestForDriver.hs
Labels: backend

#6770 frontend/fix: Fixed Two Ride Requests
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6777 Frontend/fix: Added scroll view in booking options screen
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
Labels: frontend, driver

#6565 frontend/feat: Added BookAny Option
  Frontend/android-native/app/src/driver/bridgeDriver/res/mipmap-mdpi/ic_launcher_debug.webp
  Frontend/android-native/app/src/driver/bridgeDriver/res/mipmap-mdpi/ic_launcher_debug_foreground.webp
  Frontend/android-native/app/src/driver/bridgeDriver/res/mipmap-mdpi/ic_launcher_debug_round.webp
  Frontend/android-native/app/src/driver/bridgeDriver/res/mipmap-mdpi/ic_launcher_foreground.webp
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_auto_cab_black.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_auto_cab_green.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_auto_cab_yellow.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_cab_multiple.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/QuoteListItem/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListItem/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, native, ui-common, customer

#6781 frontend-revert: disabled IOP
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer

#6783 Frontend/fix: disabled toast on decode failure for ios
  Frontend/android-native/app/src/user/bridge/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.js
  Frontend/ui-common/src/RemoteConfig/Utils.js
Labels: frontend, native, ui-common

#6784 Backend/feat/handling ac related issues
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Common/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueReport.hs
  Backend/lib/shared-services/src/IssueManagement/Tools/Error.hs
Labels: backend

#6772 backend/fix/main_and_reallocation
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

#6647 backend/fix/adds estimate breakup to rider dashboard
  Backend/app/dashboard/CommonAPIs/src/Dashboard/RiderPlatform/Ride.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/estimate.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/EstimateBreakup.hs
Labels: backend

#6734 backend/feat/added_driver_tag
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Management/Driver/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Instances/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0412-add-driver-tag-in-person.sql
  Backend/dev/migrations/provider-dashboard/0045-added-driver-tag.sql
Labels: backend

#6791 frontend/fix: remove ride request buffer config value
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#6546 frontend/feat optimised ride serach api call based on estimate expiry
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, ui-common, customer

#6793 frontend/feat: Added Estimates Bottom Sheet
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#6406 backend/feat: frfs config table
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/FRFSConfig.hs
  Backend/dev/migrations-read-only/rider-app/frfs_config.sql
  Backend/dev/migrations/rider-app/1261-frfs-config.sql
Labels: backend

#6797 backend/feat: add fake email
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/dev/migrations-read-only/rider-app/merchant.sql
Labels: backend

#6798 backend/bugfix edit booking issue
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/EditBooking.hs
Labels: backend

#6794 Backend/fix:beam-type-fix-and-inmemory-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Cac.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Cac/DriverIntelligentPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Cac/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Cac/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Cac/GoHomeConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Cac/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0413-transporter-config-type-email-otp-type-fix.sql
  Backend/lib/external/external.cabal
  Backend/lib/external/package.yaml
  Backend/lib/external/src/Email/Types.hs
  Backend/lib/utils/src/Utils/Common/CacUtils.hs
Labels: backend

#6795 backend/fix/rental_reallocation_quote
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
Labels: backend

#6799 backend/fix/redis-parsing-routes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/EditBooking.hs
Labels: backend

#6805 Frontend/fix: UI modification for AC checks
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
Labels: frontend, driver

#6658 Frontned/fix: Made Ac prominent in ride req
  Frontend/android-native/app/src/main/res/drawable/ny_ic_ac_white.png
  Frontend/android-native/app/src/main/res/layout/sheet_view.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GRPCNotificationService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetAdapter.java
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_ic_ac_white.png
  Frontend/android-native/mobility-app/src/main/res/layout/sheet_view.xml
Labels: frontend, native

#6804 frontend/fix/coin-to-cash-api-fix
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
Labels: frontend, driver

#6802 Backend/fix/email otp
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VehicleDetails.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_details.sql
  Backend/dev/migrations-read-only/rider-app/merchant.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0409-vehicle-details.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0410-fake-email-otp.sql
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#6806 Backend/fix/coin-purchase-history-query
  Backend/dev/migrations/dynamic-offer-driver-app/0414-add-currency-in-coin-purchase-history.sql
Labels: backend

#6251 backend/feat: HyperVerge Tokenization api integration for frontend sdk.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/Tokenization.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/Tokenization.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/Tokenization.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/EditBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Tokenization.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0414-added-HyperVerge-Config.sql
  flake.lock
Labels: backend

#6808 backend/ehancement: Skip Image Validation
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverSSN.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/IdfyVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleFitnessCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleInsurance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehiclePermit.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverSSN.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
Labels: backend

#6809 Backend/enhancement/handle ssn status
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
Labels: backend

#6810 Backend/fix/bridge onboarding
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
Labels: backend

#6811 backend/enhance/added-searchTryId-filter-in-nearbyRideRequest
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0416-added-HyperVerge-Config.sql
  Backend/test/src/Mobility/ARDU/APICalls.hs
Labels: backend

#6813 frontend/fix: increase toucharea for toggle buttons
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
Labels: frontend, driver

#6812 Backend/feat/dont verify dl
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
Labels: backend

#6803 frontend/feat: Quote Item Fix
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/QuoteListItem/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, ui-common, customer

#6816 Backend/fix/ride-status-api-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
Labels: backend

#6818 frontend/fix: click area for toggle
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
Labels: frontend, driver

#6821 backend/fix/search-request-for-driver-cache
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestForDriver.hs
Labels: backend

#6822 frontend/fix: Updated Book Any Image
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer

#6823 Frontend/fix: Updated subscription_configs in local
  Frontend/android-native/app/src/main/res/layout/sheet_view.xml
  Frontend/android-native/mobility-app/src/main/res/xml/remote_config_defaults.xml
Labels: frontend, native

#6829 frontend/fix : Fix AC working popup.
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#6827 frontend-fix: valid till issue fix
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#6825 frontend/fix: reorder all default ride preferences to top
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, driver

#6833 frontend/fix: adjust bottom sheet for estimates screen
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#6834 frontend/fix : Disable AC not working popup.
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, native, customer

#6838 frontend/fix: update scrollView height for bottom sheet
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#6837 frontend/fix: BookAny Stroke Fix
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
Labels: frontend, ui-common

#6835 frontend/sending selected gate name to rideSearch
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#6800 PN for start ride added for driver and updated for rider
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#6754 backend/enh : Added total sos from clickhouse in dashboard customerInfo.
  Backend/app/dashboard/CommonAPIs/src/Dashboard/RiderPlatform/Customer.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Sos.hs
Labels: backend

#6839 Backend/prod hot push sync/bridge cabs onboarding
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverSSN.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/IdfyVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleFitnessCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleInsurance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehiclePermit.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverSSN.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
  Backend/dev/migrations-read-only/rider-app/merchant.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0417-fake-email-otp.sql
Labels: backend

#6841 Frontend/fix: Dismiss AC explanation popup
  Frontend/ui-customer/src/Components/ServiceTierCard/View.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, customer, driver

#6831 frontend/fix: source-location caching issue fix
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, ui-common, customer

#6830 backend/fix/update_stops
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Update.hs
Labels: backend

#6828 backend/fix/route_points_rental
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#6847 frontend/fix: Estimates Layout Fix
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6840 frontend/fix- try again issue fix
  Frontend/ui-customer/src/Components/QuoteListModel/Controller.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6844 Backend/fix/findall-query-in-special-location-priority
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareProduct.hs
  Backend/lib/special-zone/src/Lib/Queries/SpecialLocationPriority.hs
Labels: backend

#6826 backend/feat/exposed-social-auth-api-rider-side
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
Labels: backend

#6848 backend/Overlay changes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/PaymentNudge.hs
Labels: backend

#6849 frontend/fix: update tip view contraints and removed no tip view
  Frontend/ui-common/src/Components/PopUpModal/Controller.purs
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-common/src/Components/TipsView/Controller.purs
  Frontend/ui-common/src/Components/TipsView/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, ui-common, customer

#6846 backend/backend-app version fix for ride
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
Labels: backend

#6851 backend/redis error fixed
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/EditBooking.hs
Labels: backend

#6854 frontend/fix: quote specific scrollView height for android
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#6855 frontend/fix : Updated RideCompleted design.
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-common/src/Font/Size.purs
  Frontend/ui-common/src/Font/Style.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, native, ui-common, customer

#6316 frontend/#6315/changed assets url to point to new s3 endpoint
  Frontend/ui-common/src/MerchantConfig/DefaultConfig.purs
  Frontend/ui-common/src/Resource/Constants.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/InputView/Controller.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/WelcomeScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-driver/src/Components/IndividualRideCard/View.purs
  Frontend/ui-driver/src/Components/NotificationCard/Controller.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
  Frontend/ui-driver/src/Screens/TripDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/WelcomeScreen/View.purs
Labels: frontend, ui-common, customer, driver

#6857 frontend/fix : Added fixes for ridecompleted card and added stroke on…
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, ui-common, customer

#6858 frontend/fix : Use dynamic width in driverInfoCard.
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
Labels: frontend, customer

#6863 frontend/fix: updated ui changes for ride preferences screen
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
Labels: frontend, driver

#6862 Frontend/fix: Driver Cug fixes
  Backend/dev/migrations/rider-app/1261-frfs-config.sql
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-driver/src/Screens/RegistrationScreen/View.purs
  Frontend/ui-driver/src/Screens/TripDetailsScreen/View.purs
Labels: backend, frontend, ui-common, driver

#6868 frontend/fix : Fixed ratecard for Book any.
  Frontend/ui-common/src/LocalStorage/Cache.js
  Frontend/ui-common/src/LocalStorage/Cache.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/ServiceTierCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, ui-common, customer

#6801 frontend-fix: removed toll for Auto
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#6869 backend/fix : fixed order of metro tickets
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#6876 backend/fix/rental_past_time_job
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#6872 backend/fix: Bridge Onboarding Fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverSSN.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverSSN.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverSSN.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_ssn.sql
Labels: backend

#6886 backend/fix: make breakups backward compatible
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FareBreakUp.yaml
  Backend/app/rider-platform/rider-app/Main/spec/dsl-config.dhall
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FareBreakup.hs
Labels: backend

#6889 backend/fix/made-rt-verified-in-rider-side
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/SocialLogin.hs
Labels: backend

#6888 frontend/update: enable force update for users older than iOS build
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/config.json
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Log.purs
  Frontend/ui-customer/src/Helpers/Version.purs
  Frontend/ui-customer/src/Services/Accessor.purs
Labels: frontend, native, customer

#6894 frontend/fix: enabled check version
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#6895 frontend/fix: Updated app link in v1-configuration
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#6898 frontend/fix: fixed bottomsheet issue with height in ios
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#6897 backend/enhancement: Manual Verification Required for RC & DL
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/IdfyVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/ImageExtra.hs
Labels: backend

#6866 backend/refactor: remove duplication in cac instances
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Cac/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Cac/FarePolicy/DriverExtraFeeBounds.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Cac/FarePolicy/FarePolicyProgressiveDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Cac/FarePolicy/FarePolicyRentalDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicyProgressiveDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicyRentalDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Merchant/MerchantServiceConfig.hs
Labels: backend

#6885 backend/fix: fixes driver onboarding query
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverSSN.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverSSN.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverSSNExtra.hs
Labels: backend
