Repository nammayatri/nammayatri, pull requests merged in 2024-09, with the labels that each got.

#8425 backend/feat: Delivery D2C Parcel Image Tracking
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/ride.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/ride.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0501-delivery-image.sql
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/MediaFile.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/MediaFile.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/MediaFile.hs
  docs/technical/spec/Delivery/backend.yaml
Labels: backend

#8426 frontend/feat: added option to add contacts manually for safety
  Frontend/android-native/app/src/main/res/drawable/ny_ic_new_add_contact.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/yatri/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Components/InfoBox/Controller.purs
  Frontend/ui-common/src/Components/InfoBox/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/DataExplainWithFetch/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, ui-common, customer

#8423 backend/feat/ambulance_base_fare
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy/FarePolicyAmbulanceDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicy/FarePolicyAmbulanceDetailsSlab.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0496-ambualnce-base-fare.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#8424 backend/feat/update_vehicle_manufacturing_date
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Vehicle.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
Labels: backend

#8429 frontend/fix : cache post ride check and ui fix
  Frontend/ui-common/src/Components/Safety/SafetyActionTileView.purs
  Frontend/ui-common/src/Components/Safety/SosButtonAndDescription/Controller.purs
  Frontend/ui-common/src/Components/Safety/SosButtonAndDescription/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/Handler.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Components/SafetyUtils.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, ui-common, customer

#8182 frontend/feat/multichat
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_driver_cropped.png
  Frontend/android-native/app/src/user/nammaYatri/res/drawable/ny_ic_multichat.png
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Components/DropDownWithHeader/Controller.purs
  Frontend/ui-customer/src/Components/MessagingView/Controller.purs
  Frontend/ui-customer/src/Components/MessagingView/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Components/ContactCircle.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/DataExplainWithFetch/ScreenData.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SafetySettingsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ScreenData.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SetupSafetySettingsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
Labels: frontend, native, customer

#8437 frontend/fix : added travel mode for autos in chennai
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/MerchantConfig/DefaultConfig.purs
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, ui-common, driver

#8428 Backend/fix/removed-city-check-from-payout-history-api
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Payout.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
Labels: backend

#8442 frontend/feat: enable tips to remote configs
  Frontend/ui-customer/src/Helpers/TipConfig.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
Labels: frontend, customer

#8445 backend:fixed night shift charge for progressive rides
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnSelect.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnUpdate.hs
Labels: backend

#8448 backend/fix/ambulance_query
  Backend/dev/migrations/dynamic-offer-driver-app/0496-ambualnce-base-fare.sql
Labels: backend

#8441 Backend/enhc/osrm one to one query integration and minor safety fix
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/configs.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SafetySettingsExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_pool_config.sql
  flake.lock
Labels: backend

#8449 backend:optimised clickhouse query for estimate breakup
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/EstimateBP.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/EstimateBreakup.hs
Labels: backend

#8436 backend/feat : Added SNS in Support for LO Feedback
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/shared-services/package.yaml
  Backend/lib/shared-services/shared-services.cabal
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#8447 Backend/feat/added-payout-params-in-performance-api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReferee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Performance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverStatsExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_stats.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0501-added-pn-for-referral.sql
  Backend/dev/migrations/rider-app/1321-added-pn-config-for-first-ride-event.sql
  Backend/lib/payment/spec/Storage/Payouts.yaml
  Backend/lib/payment/src-read-only/Lib/Payment/Storage/Queries/PayoutOrder.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PayoutOrderExtra.hs
Labels: backend

#8325 Backend/enhancement/stripe-payment-intent-cancel
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
  Backend/dev/migrations-read-only/rider-app/merchant_service_usage_config.sql
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
Labels: backend

#8460 frontend/fix: updated redirection in case of defaultCOntact
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#8461 Frontend/parcel codex
  Frontend/ui-common/src/Components/BannerCarousel/View.purs
  Frontend/ui-common/src/Components/ParcelDeliveryInstruction/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/ParcelDeliveryFlow/ParcelDeliveryScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/ParcelDeliveryFlow/ParcelDeliveryScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ParcelDeliveryFlow/ParcelDeliveryScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ParcelDeliveryFlow/ParcelDeliveryScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, ui-common, customer

#8452 backend/fixes/parcel
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MessageBuilder.hs
Labels: backend

#8463 backend/fix : no charge in none platform fee type
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
Labels: backend

#8456 frontend/fix : Fixes for Multichat flow
  Frontend/ui-customer/src/Components/MessagingView/Controller.purs
  Frontend/ui-customer/src/Components/MessagingView/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, customer

#8464 backend/feat:Rental And Intercity Fare Policy Creator
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicy/FarePolicyInterCityDetailsPricingSlabs.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicy/FarePolicyRentalDetails/FarePolicyRentalDetailsPricingSlabs.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicyInterCityDetailsPricingSlabs.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicyRentalDetails/FarePolicyRentalDetailsPricingSlabs.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0504-rental-and-intercity-pricing-slabs.sql
Labels: backend

#8377 Frotnend/fix: Coins config change for mansoonmela till sep 30
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, native, driver

#8474 [RELEASE-APK-DRIVER] Frontend/fix: Added step to Update includeDynami…
  .github/workflows/release-apk-driver.yaml
  Frontend/android-native/gradle.properties
  Frontend/android-native/updateVersion.py
Labels: frontend, native

#8476 Frontend/fix: Fixed icon related error in dynamic feature for YP
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-hdpi/ic_launcher.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-hdpi/ic_launcher_debug.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-hdpi/ic_launcher_debug_foreground.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-hdpi/ic_launcher_debug_round.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-hdpi/ic_launcher_foreground.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-hdpi/ic_launcher_round.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-mdpi/ic_launcher.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-mdpi/ic_launcher_debug.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-mdpi/ic_launcher_debug_foreground.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-mdpi/ic_launcher_debug_round.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-mdpi/ic_launcher_foreground.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-mdpi/ic_launcher_round.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xhdpi/ic_launcher.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xhdpi/ic_launcher_debug.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xhdpi/ic_launcher_debug_foreground.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xhdpi/ic_launcher_debug_round.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xhdpi/ic_launcher_foreground.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xhdpi/ic_launcher_round.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxhdpi/ic_launcher.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxhdpi/ic_launcher_debug.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxhdpi/ic_launcher_debug_foreground.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxhdpi/ic_launcher_debug_round.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxhdpi/ic_launcher_foreground.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxhdpi/ic_launcher_round.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxxhdpi/ic_launcher.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxxhdpi/ic_launcher_debug.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxxhdpi/ic_launcher_debug_foreground.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxxhdpi/ic_launcher_debug_round.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  Frontend/android-native/app/src/driver/yatriPartner/res/mipmap-xxxhdpi/ic_launcher_round.png
Labels: frontend, native

#8404 frontend/enhancement : added condition to check for hyderabad airport ride
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, native, driver

#8484 backend/feat: adds support to consume metro webview events in sdk-events service
  Backend/app/sdk-event-pipeline/src/Domain/Action/SDKEvents.hs
  Backend/app/sdk-event-pipeline/src/Domain/Types/SDKEvents.hs
  Backend/app/sdk-event-pipeline/src/Environment.hs
  Backend/app/sdk-event-pipeline/src/Tools/Auth.hs
  Backend/dhall-configs/dev/sdk-event-pipeline.dhall
Labels: backend

#8486 Backend/feat/making-both-number-feature-enablable
  Backend/app/rider-platform/rider-app/Main/spec/Storage/exophone.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Exophone.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Exophone.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Exophone.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Exophone.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
  Backend/dev/migrations-read-only/rider-app/exophone.sql
Labels: backend

#8487 backend/fix/remove-fromLocation-updates-manually
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequestExtra.hs
Labels: backend

#8492 backend/fix : Removed emergency contacts query in onInit.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SafetySettings.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SafetySettings.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SafetySettings.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SafetySettings.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SafetySettings.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SafetySettingsExtra.hs
  Backend/dev/migrations-read-only/rider-app/safety_settings.sql
Labels: backend

#8457 backend-fix: coins translations migrations fix
  Backend/dev/migrations/dynamic-offer-driver-app/0502-add-entity_id-coin-history-table.sql
Labels: backend

#8491 backend:fix recomputation special location in case drop is in special…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#8497 backend/fix : Fix aggregated ride share setting in case of Nothing.
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
Labels: backend

#8416 backend/fix: Added flags for HV (NY) backward compatibility in regist…
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0496-updating-backward-compatibility-flag-for-old-apks.sql
Labels: backend

#8499 backend/fix : Update url shortener time for trackLink
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0506-updating-backward-compatibility-flag-for-old-apks.sql
Labels: backend

#8505 backend/fix: storing edit dest req and resp
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/BookingUpdateRequest.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/BookingUpdateRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/BookingUpdateRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/BookingUpdateRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/booking_update_request.sql
Labels: backend

#8432 backend/fix/edit-pickup-fix-for-reallocation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
Labels: backend

#8490 Backend/fix/hv ny backward compatibility changes prod hot push common
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/document_verification_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0496-updating-backward-compatibility-flag-for-old-apks.sql
Labels: backend

#8508 Backend/fix/recompute-fix-drop-threshold
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#8507 Frontend/fix: Dynamic feature fix for gullak
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/proguard-rules.pro
  Frontend/android-native/app/src/main/AndroidManifest.xml
  Frontend/android-native/dynamicfeature/src/main/AndroidManifest.xml
  Frontend/android-native/dynamicfeature/src/main/java/in/juspay/mobility/dynamicfeature/DynamicActivity.java
  Frontend/android-native/dynamicfeature/src/main/java/in/juspay/mobility/dynamicfeature/MainApplication.java
  Frontend/android-native/mobility-driver/build.gradle
  Frontend/android-native/mobility-driver/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MainApplication.java
Labels: frontend, native

#8503 Backend/enh/prod-hot-push-payout-enhancements-in-performance-api
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Payout.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Payout.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Payout.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReferee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Performance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverStatsExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_stats.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0501-added-pn-for-referral.sql
  Backend/dev/migrations/rider-app/1321-added-pn-config-for-first-ride-event.sql
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PayoutOrderExtra.hs
  flake.lock
Labels: backend

#8509 frontend/fix/ios : Fixes for Multichat flow in iOS
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/MessagingView/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#8519 Frontend/fix: React okhttp3 fix
  Frontend/android-native/app/proguard-rules.pro
  Frontend/android-native/mobility-driver/build.gradle
Labels: frontend, native

#8506 frontend/feat: Added Referral Deeplink
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/CustomerReferralTrackerScreen/Controller.purs
  Frontend/ui-driver/src/Screens/CustomerReferralTrackerScreen/Handler.purs
  Frontend/ui-driver/src/Screens/CustomerReferralTrackerScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/CustomerReferralTrackerScreen/Types.purs
Labels: frontend, driver

#8524 Frontend/fix: Revert Gullak-React changes
  Frontend/android-native/app/build.gradle
  Frontend/android-native/mobility-driver/build.gradle
  Frontend/android-native/mobility-driver/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MainApplication.java
Labels: frontend, native

#8525 backend/enhance/ckh-queries
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Invoice.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Invoice.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Location.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Ride.hs
Labels: backend

#8518 Backend/enh/remove-ride-completed-check-in-knowyourdriver
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
Labels: backend

#8454 backend/fix: added Available_Chakras redis stream to nix
  Backend/dhall-configs/dev/kaal-chakra.dhall
  Backend/nix/services/nammayatri.nix
Labels: backend

#8501 fix: Backward Compatible for HV Integration
  Frontend/android-native/app/src/driver/bridgeDriver/res/drawable/ny_ic_ambulance_onboard.png
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/ApplicationStatusScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, driver

#8531 Backend/ehn/lock-on-safety-settings
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SafetySettingsExtra.hs
Labels: backend

#8528 Backend/ehn/lock-on-safety-settings
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SafetySettingsExtra.hs
Labels: backend

#8533 backend/fix : Lo Feedback fix hotpush
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#8536 frontend/fix : fixed trip details help and support bug
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, customer

#8538 frontend/fix: fixed issue with multiple offer quotes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#8552 backend/ehnc : platformfee-at-fare-policy-level
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicyAmbulanceDetailsSlab.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy/FarePolicySlabsDetails/FarePolicySlabsDetailsSlab.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0491-move-charges-at-fare-policy-level.sql
Labels: backend

#8557 Changing endpoint for list favs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Booking.hs
Labels: backend

#8559 backend:fix recomputation special location in case drop is in special…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#8556 backend/feat: Cross City Ride OTP Flow
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/Quote.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/beckn-spec/src/Domain/Types/FareProductType.hs
  Backend/lib/beckn-spec/src/Domain/Types/Trip.hs
Labels: backend

#8558 Backend/feat/prod/cross city ride otp flow
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/Booking.hs
Labels: backend

#8561 backend/fix : Update safety settings lock timeout.
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SafetySettingsExtra.hs
Labels: backend

#8555 backend/fix: add metro enum in dsl
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverCoins.yaml
Labels: backend

#8565 Backend/fix/recompute-fix-drop-threshold-falling-to-estimate
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/Booking.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#8562 Backend/fix/backlog-status-fix-for-pending-vpa
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
Labels: backend

#8568 frontend/fix: translation to registration flow bug fix.
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#8570 backend/refactor:respond quote refactoring
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#8382 backend/enh/refactoring & error handling for whitelist logic and roun…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Rating.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Track.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
Labels: backend

#8532 backend/fix : SNS msg format changed and removed from SOS
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#8545 frontend/fix : TrustedContacts Validation and iOS MessagingView fixes
  Frontend/ui-customer/src/Components/MessagingView/View.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Controller.purs
Labels: frontend, customer

#8537 frontend/fix/prod: fixed manayatri text cropping in Overlay sheet
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlayMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/TranslatorMLKit.java
  Frontend/android-native/mobility-app/src/main/res/layout/message_overlay.xml
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
Labels: frontend, native, customer

#8581 backend: fare-policy-fix-added-log
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#8582 frontend/fix- added a check for file validity
  Frontend/asset-store-script.sh
Labels: frontend

#8576 backend/fix/intercity quotes showed along with delivery
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
Labels: backend

#8571 backend/fix : SNS msg format changed and removed from SOS
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#8589 backend/fix/Changed SNS Msg Format and Time Format
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#8588 backend/fix/Changed SNS Msg Format and Time Format
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#8596 Backend/fix/recompute-fix-toll-charge
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#8597 backend/fix/start_time_in_entity_data
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#8599 frontend/fix : Fix issue with safety tracking.
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, customer

#8573 frontend/feat: YS City Addition - Durgapur
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ys_ic_durgapur_map.png
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
Labels: frontend, native

#8600 backend/fix: spl tag check fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#8592 backend:fix/recomputation-special-location-fix-
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#8593 frontend/updated autocomplete bounds
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer

#8579 Backend/feat/driver-pool-getting-only-requeired-drivers-from-lts
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Flow.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverLocation/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
  flake.lock
Labels: backend

#8607 Backend/fix/recompute-fix-toll-charge-fareParams
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#8602 backend/fix/added merchantId in Call status
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CallEvent.hs
Labels: backend

#8577 frontend/fix : Safety fixes for cug.
  Frontend/ui-common/src/Components/Safety/SafetyActionTileView.purs
  Frontend/ui-common/src/Components/Safety/SafetyAudioRecording.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/View.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/Components/HeaderView.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, ui-common, customer

#8612 frontend/fix: removed userID from default contact messaging channel
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, customer

#8611 Backend/fix/search-estiamte-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
Labels: backend

#8613 Frontend/update: Updated thresholdDist to trigger waitingTime
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#8618 frontend/feat: YS City Addition - Durgapur, Petrapole
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ny_ic_bike_not_supported.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/drawable/ys_ic_durgapur_map.png
Labels: frontend, native

#8605 backend/enhace/notif_entity_data
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#8609 Backend feat metro coins event prod hotpush
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverCoins.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinHistory.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0502-add-entity_id-coin-history-table.sql
Labels: backend

#8619 backend/fix: fix pagination issue in dashboard payout apis
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Payout.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
Labels: backend

#8569 adding and fetching ac downgrade reason
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/DriverCoins.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Vehicle.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SearchRequestPartiesLink.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle.sql
Labels: backend

#8615 backend/fix-profiling-readme
  Backend/Profiling.md
Labels: backend

#8564 frontend/feat: Added Referral Stats View
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_arrow_right_grey.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_coins_stack.png
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/passCulturePartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Common/Styles/Colors.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/Handler.purs
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, native, ui-common, driver

#8621 backend/fix: driver phone number filter in d2r history api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
Labels: backend

#8614 backend:fixed rating and feedback of bap to bap error
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
Labels: backend

#8622 backend/fix : Add entity data in triggerFCM api, personId for followR…
  Backend/app/rider-platform/rider-app/Main/spec/API/TriggerFCM.yaml
  Backend/app/rider-platform/rider-app/Main/spec/API/followRide.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FollowRide.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TriggerFCM.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FollowRide.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TriggerFCM.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyCSAlert.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#8608 backend/added-HasShortDurationRetryCfg
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Maps.hs
  flake.lock
Labels: backend

#8628 backend:fix-edit-destination-snap-to-road
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#8344 backend/enh : automates payouts for metro incentive
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Payout.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Payout.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/JobScheduler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Payout/MetroIncentivePayout.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantOperatingCity.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSTicketBookingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/MerchantServiceConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payout.hs
  Backend/app/rider-platform/rider-app/Scheduler/src/App.hs
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/payout_config.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/lib/payment/src/Lib/Payment/Domain/Types/Common.hs
Labels: backend

#8630 frontend/fix : Add triggerFCM in followRide, add fields to triggerFCM.
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/ActivateSafetyScreen/Controller.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/SosActiveScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, ui-common, customer

#8572 backend/enhc/subscription-refactoring-2.0
  Backend/app/example-service/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverFee.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverPlan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Plan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/CachedQueries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/BadDebtCalculationScheduler.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/PlanExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFeeExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPlanExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverStatsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/PaymentNudge.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_fee.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_plan.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/plan.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0509-subscription-refactoring-2.sql
Labels: backend

#8634 backend/enhance/trip_assigned_fcm
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#8617 backend/feat/demand-hotspots
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DemandHotspots.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DemandHotspots.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DemandHotspots.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DemandHotspots.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0509-subscription-refactoring-2.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0511-demand-hotspots.sql
  Backend/dhall-configs/dev/rider-app.dhall
  flake.lock
Labels: backend

#8635 backend:added-analytics-coloumns-in-searchreqfordriver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request_for_driver.sql
  Backend/test/src/Mobility/ARDU/Utils.hs
Labels: backend

#8631 backend/fix: Cross City Ride OTP Allow
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/BookingExtra.hs
Labels: backend

#8443 backend/fix/pricing_slabs_rental
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

#8626 frontend/fix : added new param to triggerOtpReq
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#8641 backend/fix : Update invalid personId in triggerFCM entityData.
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TriggerFCM.hs
Labels: backend

#8643 backend/fix : switch plan query fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPlanExtra.hs
Labels: backend

#8645 backend/fix : Add entity data in triggerFCM api, personId for followR…
  Backend/app/rider-platform/rider-app/Main/spec/API/TriggerFCM.yaml
  Backend/app/rider-platform/rider-app/Main/spec/API/followRide.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FollowRide.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TriggerFCM.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FollowRide.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TriggerFCM.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyCSAlert.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#8632 backend/enhance/recomputation
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/lib/beckn-spec/src/Domain/Types/Trip.hs
Labels: backend

#8638 frontend/fixed estimate height issue
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
Labels: frontend, customer

#8646 frontend/feat: handle fcm notifications for chat messages
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Accessor.purs
Labels: frontend, native, ui-common, customer

#8603 frontend-feat: add metro coins banner in RC card and moved coins info…
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_metro_coins_earned.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Handler.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, ui-common, customer, driver

#8651 Frontend/Fix/acPopup visiblity for ys
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
Labels: frontend, native

#8504 frontend-feat-enhance-estimates
  Frontend/ui-common/src/Engineering/Helpers/MobilityPrelude.purs
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, ui-common, customer

#8657 backend/fix/switch-plan-subcribe-flag-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
Labels: backend

#8659 frontend/feat: enable deeplink for alerts section
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#8654 backend/fix/fixes number of rides sent to driver dashboard
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverStatsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
Labels: backend

#8624 Backend/fix/hotpush fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CallEvent.hs
Labels: backend

#8661 frontend-fix: maybe coins earned
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, driver

#8664 feat/frontend Removed +1 based number login option
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, native, customer

#8663 backend/fix: set activity vehicle category fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#8655 backend-feat: reverted coins history query
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinHistory.hs
Labels: backend

#8672 backend/backward compatibility hotpush
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
Labels: backend

#8656 backend-fix: revert coins earned query
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinHistory.hs
Labels: backend

#8670 backend/enhc/change-listing-plan-mode-on-vehicle-switch
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
Labels: backend

#8673 backend/fix : Update value of shareTripOption based on enableForFollo…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SafetySettingsExtra.hs
Labels: backend

#8666 backend/refactor/fare_recalc_rental_intercity
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#8671 frontend/fix : fixed end ride help and support backpoint issue
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/Handler.purs
Labels: frontend, customer

#8676 backend/query/pricing_slab:
  Backend/dev/migrations/dynamic-offer-driver-app/0512-update-pricing-slabs.sql
Labels: backend

#8675 backend/fix/query-subscription-config-fix
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
Labels: backend

#8669 backend/fix: Rental and Intercity fare policy creator bug fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
Labels: backend

#8678 frontend/enhancement/purple-ride-videos-for-bangalore-cabs
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#8683 backend/fix/reallocation_repeat_search
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
Labels: backend

#8677 backend/feat: Delivery Truck Onboarding
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/dev/migrations-after-release/dynamic-offer-driver-app/0001-add-truck-onboarding.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Vehicle.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Enums.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/beckn-spec/src/Domain/Types/ServiceTierType.hs
  Backend/lib/beckn-spec/src/Domain/Types/VehicleCategory.hs
  Backend/lib/beckn-spec/src/Domain/Types/VehicleVariant.hs
Labels: backend

#8680 backend/fix : backward compatablity issue subscription category level
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverFee.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverPlan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Plan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/CachedQueries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/PlanExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverFeeExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPlanExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/Plan.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_plan.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
Labels: backend

#8686 backend:booking-status-added-fields
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
Labels: backend

#8690 backend/fix : added cancellation reason id to frfs config
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/dev/migrations-read-only/rider-app/frfs_config.sql
  Backend/dev/migrations/rider-app/1323-filling-values-for-cancellation-reason-id.sql
Labels: backend

#8695 backend/fix: Delivery Truck Onboarding
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/dev/migrations-after-release/dynamic-offer-driver-app/0001-add-truck-onboarding.sql
Labels: backend

#8620 displaying ride cancelled count in dashboard
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#8694 frontend/fix : Emergency contact base64 decode and other release fixes.
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/MessagingView/View.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#8703 backend:fix-driver-distance-to-pickup
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
Labels: backend

#8692 Backend :- fix some bugs in driver profile api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverProfileQuestions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverProfileQuestions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/FavouriteDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileQuestions.hs
Labels: backend

#8644 backend/enhancement : Added rideAssigned FCM and reminder for schedul…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SyncRide.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/JobScheduler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/ScheduledRidePopupToRider.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/app/rider-platform/rider-app/Scheduler/src/App.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dhall-configs/dev/rider-app.dhall
  flake.lock
Labels: backend

#8400 feat: ParcelDelivery Screen
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/Handlers.purs
  Frontend/ui-customer/src/Screens/ParcelDeliveryFlow/ParcelDeliveryScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/ParcelDeliveryFlow/ParcelDeliveryScreen/Controller.purs
  Frontend/ui-customer/src/Screens/ParcelDeliveryFlow/ParcelDeliveryScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/ParcelDeliveryFlow/ParcelDeliveryScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#8674 backend/feat: add tagging logic at ride end
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Payout.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Booking.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/RiderDetails.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/ride.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/RiderDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnCancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ExotelEndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DeliveryPersonDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverStatsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Utils.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/ride.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Event.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
Labels: backend
