Repository nammayatri/nammayatri, pull requests merged in 2024-07, with the labels that each got.

#7602 backend/fix/edit-pickiup-overlay-query
  Backend/dev/migrations/dynamic-offer-driver-app/0448-edit-pickup-overlay.sql
Labels: backend

#7592 frontend/fix/feedback-textbox-fix
  Frontend/ui-common/src/Components/RatingCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, ui-common, customer

#7598 added Drop Down Card
  Frontend/ui-common/src/Components/DropDownCard/Controller.purs
  Frontend/ui-common/src/Components/DropDownCard/DropDownCard.purs
  Frontend/ui-common/src/Components/DropDownCard/View.purs
Labels: frontend, ui-common

#7623 backend/fleet/added_cancellation_ride_count
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/Ride.hs
  Backend/dev/migrations/provider-dashboard/0052-link-rc-with-driver-fleet.sql
Labels: backend

#7625 backend/ fare breakup updated
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FareBreakUp.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FareBreakup.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
Labels: backend

#7626 Backend/fix:overlapping-migration-fix
  Backend/dev/migrations/dynamic-offer-driver-app/0451-making-issue-based-on-merchant.sql
  Backend/dev/migrations/rider-app/1272-updates-to-toll-crossed-push-notification.sql
Labels: backend

#7628 frontend/fix: updated config for yatri driver app
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#7631 fix/yatri config decode
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#7636 backend-added separate config for editPickupLocation
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ride.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/EditLocation.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/dev/migrations-read-only/rider-app/merchant.sql
  Backend/dev/migrations-read-only/rider-app/ride.sql
Labels: backend

#7635 frontend/fix: Location Service Context Fix
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
Labels: frontend, native

#7642 backend/fix: Trip Category Backward Compatibility
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Common.hs
Labels: backend

#7639 frontend/fix : Change congestion charges text.
  Frontend/ui-common/src/Components/RateCard/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/Localizable/BN.purs
  Frontend/ui-driver/src/Resource/Localizable/EN.purs
  Frontend/ui-driver/src/Resource/Localizable/HI.purs
  Frontend/ui-driver/src/Resource/Localizable/KN.purs
  Frontend/ui-driver/src/Resource/Localizable/ML.purs
  Frontend/ui-driver/src/Resource/Localizable/TA.purs
  Frontend/ui-driver/src/Resource/Localizable/TE.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
Labels: frontend, ui-common, customer, driver

#7387 Frontend/fix: Enabled pickup instructions in IOS
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/PickupInstructionsScreen/View.purs
Labels: frontend, customer

#7650 frontend/fix: #6240 Removed os check in gradient
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Components/MessagingView/Common/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, ui-common, customer

#7652 frontend/bugfix- backPress handled during edit dest
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#7653 frontend/fix : route update on ride end adv.
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#7600 backend: fixing person update
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/SocialLogin.hs
Labels: backend

#7655 backend/fix: add field in ticket place
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/dev/migrations-read-only/rider-app/ticket_place.sql
Labels: backend

#7658 backend/fix: add available payment methods in search request
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/dev/migrations-read-only/rider-app/search_request.sql
Labels: backend

#7651 frontend/fix-ios homeScreen padding issue fix, chat view cropping iss…
  Frontend/ui-customer/src/Components/MessagingView/View.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#7659 frontend/updated driver special zone endpoint
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Services/Config.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, driver

#7661 frontend/fix updated rental values
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#7586 Frontend/fix: Primarily using verifiedVehicleCategory & RateCard bugfix
  Frontend/ui-customer/src/Screens/RideBookingFlow/PickupInstructionsScreen/View.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/View.purs
Labels: frontend, customer, driver

#7660 Frontend/Customer/fix:ios referral
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Components/Referral/View.purs
Labels: frontend, native, customer

#7296 frontend-fix: Fixed clever tap multiple onUserLogin issue
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Log.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverDetailsScreen/Controller.purs
Labels: frontend, native, ui-common, customer, driver

#7664 frontend/fix/deeplink-support-for-metro
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, ui-common, customer

#7451 contact support popup for YatriSathi
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/Components/CommonComponentConfig.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#7665 frontend/fix: Update geocode radius config
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer

#7667 backend/fix/bap_traveled_distance
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RideExtra.hs
Labels: backend

#7669 frontend/fix: increase estimate polling time from 20 to 40sec
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#7680 frontend/bugfix dest marker fix locate on map
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
Labels: frontend, customer

#7668 Backend/fix:fixing invalid ride error log
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/OnMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/RidePayment.hs
Labels: backend

#7670 frontend/fix-rental-ride-completed-card text change
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, ui-common, customer, driver

#7676 fronend-feat: add dynamic remote action
  Frontend/ui-common/src/Components/BannerCarousel/Controller.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
Labels: frontend, ui-common, customer

#7343 backend/feat: HyperVerge security API Changes.
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPanCardExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Verification.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant_service_usage_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0454-aading-to-panNumberHash-pacCard.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0455-added-HyperVerge-Verification-Config.sql
  flake.lock
Labels: backend

#7681 frontend / fix changed text
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, customer

#7605 frontend-feat: add dynamic remote banner action & home screen ctrl split
  Frontend/ui-common/src/Components/BannerCarousel/Controller.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/CarouselBannerController.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, ui-common, customer

#7687 frontend/fix: update rental charges and crash fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, native, customer, driver

#7641 backend/fix/ac-tiers
  Backend/dev/migrations/dynamic-offer-driver-app/0454-update-ac-tiers.sql
Labels: backend

#7577 backend/fix/fcm_cancellation_by_application
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#7662 backend/fix : adds version control for interoperability
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0456-update-ac-tiers.sql
  Backend/test/src/Mobility/ARDU/NearestDrivers.hs
  flake.lock
Labels: backend

#7649 Backend/fix:overlapping-migration-fix
  Backend/app/rider-platform/rider-app/Main/spec/Storage/issue.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Support.hs
  Backend/dev/migrations-read-only/rider-app/issue.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0451-making-issue-based-on-merchant.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0457-update-ac-tiers.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0458-making-issue-based-on-merchant.sql
  Backend/dev/migrations/rider-app/1271-making-issue-based-on-merchant.sql
  Backend/dev/migrations/rider-app/1274-making-issue-based-on-merchant.sql
  flake.lock
Labels: backend

#7695 frontend/fix-changes fare entity type being used for rental RIde
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
Labels: frontend, ui-common, customer

#7610 Backend/feat:enableOtpLessRide
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/ride.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/SocialLogin.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/SocialLogin.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Dashboard/RideBooking/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/ride.sql
  Backend/dev/migrations-read-only/rider-app/person.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#7645 frontend-fix: image carousel banner crop in iOS
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#7694 backend/add/traveled_distance
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ride.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
Labels: backend

#7696 backend/feat: Remove cancellationFeeAmount and cancellationFeePercent…
  Backend/app/dashboard/CommonAPIs/src/Dashboard/RiderPlatform/Customer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/BecknConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/BecknConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/BecknConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/BecknConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common/Order.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnCancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnConfirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnInit.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ExotelEndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/OnCancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Beckn/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/Payment.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/RidePayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/RidePayment.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/RidePayment.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/beckn_config.sql
Labels: backend

#7682 backend/improvement/type-class-for-better-beckn-tagging
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Context.hs
  Backend/lib/beckn-spec/src/BecknV2/Utils.hs
Labels: backend

#7700 backend/fix: add T&C URL in ticket place
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/dev/migrations-read-only/rider-app/ticket_place.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0459-aading-to-panNumberHash-pacCard.sql
Labels: backend

#7702 Backend/fix:search-round-trip-latency-fix
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnSearch.hs
Labels: backend

#7704 backend/serviceability changes
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Serviceability.hs
Labels: backend

#7697 backend/ added kv redis metrics
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/App.hs
  Backend/app/rider-platform/rider-app/Main/src/App.hs
  Backend/lib/producer/src/App.hs
  flake.lock
Labels: backend

#7701 backend/fix/fixed-issue-merchantId-and-daily-stats
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DailyStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/DailyStats.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/daily_stats.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_stats.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0365-beckn-config-mobility.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0458-ac-checks-ambulance.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0458-making-issue-based-on-merchant.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0459-aading-to-panNumberHash-pacCard.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0460-fixing-merchantId-issue-queries.sql
  Backend/dev/migrations/rider-app/1274-fixies-to-migrations-adding-merchantId-to-issue.sql
  Backend/dev/migrations/rider-app/1274-making-issue-based-on-merchant.sql
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/Issue/Comment.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/Issue/IssueReport.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/Issue/Comment.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/Issue/IssueReport.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/Comment.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueReport.hs
Labels: backend

#7703 backend/added servicieability check
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Serviceability.hs
Labels: backend

#7706 ackend/templogs:rideAssignHandler
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#7707 backend/fix: overlapping migration
  Backend/dev/migrations/dynamic-offer-driver-app/0461-time-based-farepolicy.sql
Labels: backend

#7699 frontend/fix: ui-fixes
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
Labels: frontend, customer

#7712 frontend/ serviceability error toast added
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#7713 backend/feat/suv_plus_variant
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Vehicle.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantPaymentMethod.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/ServiceTierType.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/VehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/VehicleVariant.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0462-avg-speed-suv-plus.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Vehicle.hs
Labels: backend

#7714 backend/fix: makes card charge multiplier result always positive
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0461-time-based-farepolicy.sql
Labels: backend

#7716 backend/fareBreakup issue
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FareBreakupExtra.hs
Labels: backend

#7718 backend/added isBookingUpdated flag in booking
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
Labels: backend

#7721 frontend/fix-updated wait time charges
  Frontend/android-native/app/src/driver/bridgeDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/WelcomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/WelcomeScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, native, ui-common, customer

#7705 frontend/fix : Fixed Safety banner on homescreen.
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-customer/src/Components/LocationTagBarV2/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/TripDetailsScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/CarouselBannerController.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, ui-common, customer

#7709 backend/enhancement: Only keep dynamic tolls for OneWay_OneWayOnDeman…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/BulkLocUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
Labels: backend

#7723 Backend/added-payout-enabled-in-performance-api-and-payout-earning-fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/ReferralPayout.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DailyStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/ReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/ReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Performance.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
Labels: backend

#7725 backend/feat/suv_plus_variant
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Vehicle.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantPaymentMethod.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/ServiceTierType.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/VehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/VehicleVariant.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0462-avg-speed-suv-plus.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Vehicle.hs
Labels: backend

#7727 backend/fix: Added specific error message in HyperVerge pan flow for…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#7731 backend/fix/payout-webhook-api-endpoint-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API.hs
Labels: backend

#7708 backend/ dsl change for secondary key
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/BecknConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Booking.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallStatus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverFee.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverQuote.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Exophone.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FareProduct.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Invoice.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/KioskLocation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/LeaderBoardConfigs.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Location.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Person.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Plan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/PurchaseHistory.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/RiderDetails.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchTry.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Toll.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Translations.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VehicleServiceTier.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/configs.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/ride.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/BecknConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Exophone.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/KioskLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/LeaderBoardConfigs.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Toll.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/BecknConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/CallStatus.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/LocationMapping.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MerchantConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PartnerOrganization.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonDefaultEmergencyNumber.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RegistrationToken.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/exophone.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/issue.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/quote.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BecknConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Exophone.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantPaymentMethod.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PersonDefaultEmergencyNumber.hs
  flake.lock
Labels: backend

#7733 backend: optmised booking table query
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
Labels: backend

#7734 backend/feat: multimodal feature initial code and inter city pricing …
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/configs.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SurgePricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantState.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SurgePricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/ValueAddNP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/CachedQueries/SurgePricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SurgePricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/ValueAddNP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/InterCityTravelCities.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/InterCityTravelCities.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/InterCityTravelCities/InterCityTravelCities.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/InterCityTravelCities/InterCityTravelCitiesGeom.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/InterCityTravelCities.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/InterCityTravelCities.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Location.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultiModal.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultiModal.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Location.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultiModal.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Common.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/inter_city_travel_cities.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/surge_pricing.sql
  flake.lock
Labels: backend

#7735 backend/fix/fixed_night_charge_in_long_rides
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/InterCityDetails.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/InterCityDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/InterCityDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/InterCityDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/InterCityDetails.hs
  Backend/dev/migrations-read-only/rider-app/inter_city_details.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0463-updare-inter-city-fare-policy.sql
Labels: backend

#7736 backend/ refactored decouple drainer euler
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync.hs
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/Types/DBSync/Create.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync.hs
  Backend/app/rider-platform/rider-app-drainer/src/Types/DBSync/Create.hs
  flake.lock
Labels: backend

#7739 backend/fix/main
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Maps.hs
Labels: backend

#7743 Backend/fix:making-ride-start-on-status-forked
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
Labels: backend

#7740 Backend/fix/update-vpa-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/OrderAndNotificationStatusUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DailyStatsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/InvoiceExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/payout_order.sql
  Backend/dev/migrations-read-only/rider-app/payout_order.sql
  Backend/lib/payment/payment.cabal
  Backend/lib/payment/spec/Storage/Payouts.yaml
  Backend/lib/payment/src-read-only/Lib/Payment/Domain/Types/PayoutOrder.hs
  Backend/lib/payment/src-read-only/Lib/Payment/Storage/Beam/PayoutOrder.hs
  Backend/lib/payment/src-read-only/Lib/Payment/Storage/Queries/OrphanInstances/PayoutOrder.hs
  Backend/lib/payment/src-read-only/Lib/Payment/Storage/Queries/PayoutOrder.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Types/Common.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PayoutOrderExtra.hs
Labels: backend

#7741 frontend/fix/reallocate-fragment-fix
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
Labels: frontend, native

#7726 backend/feat/adds metro discount offer
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonStats.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonStatsExtra.hs
  Backend/dev/migrations-read-only/rider-app/frfs_config.sql
  Backend/dev/migrations-read-only/rider-app/frfs_quote.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/person_stats.sql
Labels: backend

#7580 Backend/fix:rc-deactivate-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverRCAssociationExtra.hs
Labels: backend

#7755 backend/fix/payout-webhook-api-parameter-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
Labels: backend

#7754 frontend/feat: Estimates Order City Level Config
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, customer

#7742 frontend-feat: add Intercity and Rental remote action
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/CarouselBannerController.purs
Labels: frontend, ui-common, customer

#7759 backend/ person flow status fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
Labels: backend

#7749 Backend/fix:on-status-check-removal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
Labels: backend

#7737 Frontend/fix:ios referral fix
  Frontend/ui-customer/src/Components/Referral/View.purs
Labels: frontend, customer

#7752 backend/fix/night_charge_parsing
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
Labels: backend

#7762 frontend/fix: KN Tip Text Crop Fix
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
Labels: frontend, customer

#7745 frontend/fix: Updated translations
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
Labels: frontend, customer

#7764 frontend/fix : repeat ride timer, source destination view fix.
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, customer

#7711 feat-6240-currency-and-distance-units
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/RateCard/Utils.purs
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-common/src/Engineering/Constants/Configs.purs
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-common/src/FileProviders/ConfigProvider/ConfigProvider.purs
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/EarningsScreenV2/ScreenData.purs
  Frontend/ui-driver/src/Screens/EarningsScreenV2/Weekly/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/RateCardBottomScreen.purs
  Frontend/ui-driver/src/Screens/RateCardScreen/View.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/Controller.purs
  Frontend/ui-driver/src/Screens/RideHistoryScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/RideSelectionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/TripDetailsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/TripDetailsScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, native, ui-common, customer, driver

#7767 backend/fix/fixes cashback for metro discount offer
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#7770 frontend/fix-IPA release
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#7766 backend/enhancement: Social login error handler and Fare policy API e…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FareProduct.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/FareProduct.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/SocialLogin.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
Labels: backend

#7771 backend/enh/driver: makes sms header name based on template and city
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideNotificationsToDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/SMS.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant_message.sql
Labels: backend

#7769 fix: added deprecated plans check in query
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
Labels: backend

#7772 backend/fix/updates logic to send ticketsBookedInEvent to frontend
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Person.hs
Labels: backend

#7778 backend/improvement/moved-reallocation-tags-to-new-format
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#7777 backend/disable reallocation after edit Dest
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/EditBooking.hs
Labels: backend

#7776 backend/fleet/sorting_feature
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Fleet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Fleet/Operations.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/Ride.hs
  flake.lock
Labels: backend

#7782 backend/fix : adds version control for interoperability
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/test/src/Mobility/ARDU/NearestDrivers.hs
Labels: backend

#7786 frontend/config: increased estimate tryAgain polling count from 10 to 40
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#7787 frotend/update enabled interoperability only in Hyderabad
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer

#7785 making vehicleservicetier logs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
Labels: backend

#7789 frontend: Disabled check version
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#7791 frontend/fix disabled iop in ios
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, customer

#7792 backend/added diff actions for ride update popup
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
Labels: backend

#7794 backend: booking status polling chnage
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
Labels: backend

#7795 Backend/fix/updatemerchantidfix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#7797 Frontend/fix: Modified stepFunctionForCoinConversion
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#7796 Backend/fix/updatemerchantidfix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#7347 backend/fix/vehicle_visible_after_deletion
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverRCAssociationExtra.hs
Labels: backend

#7206 backend/fix/driverCity
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#7798 backend/added diff actions for ride update popup
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
Labels: backend

#7801 backend/fix: fixes ticket count in metro
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#7808 frontend/config: move estimate configs to remote configs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
Labels: frontend, ui-common, customer

#7750 Frontend/fix: Airport pickup design changes
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/PickupInstructionsScreen/View.purs
Labels: frontend, customer

#7813 backend/fix: fix revenue collection list
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Revenue.hs
Labels: backend

#7788 Backend/enh/added short id in payout order and query optimisations in payout
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/ReferralPayout.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DailyStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/ReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DailyStatsExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/payout_order.sql
  Backend/dev/migrations-read-only/rider-app/payout_order.sql
  Backend/lib/payment/spec/Storage/Payouts.yaml
  Backend/lib/payment/src-read-only/Lib/Payment/Domain/Types/PayoutOrder.hs
  Backend/lib/payment/src-read-only/Lib/Payment/Storage/Beam/PayoutOrder.hs
  Backend/lib/payment/src-read-only/Lib/Payment/Storage/Queries/OrphanInstances/PayoutOrder.hs
  Backend/lib/payment/src-read-only/Lib/Payment/Storage/Queries/PayoutOrder.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  flake.lock
Labels: backend

#7760 Frontend/fix: One click booking view fix
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#7818 frontend/config: disable adnace booking for all cities (customer)
  Frontend/android-native/app/src/user/bridge/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_pm/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-customer/src/main/user/mobility_rs/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, native, customer

#7816 backend/twillio-sms-integration
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/MerchantServiceConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0468-adding-twillio-sms-configs.sql
  Backend/dev/migrations/rider-app/1285-adding-twillio-sms-configs.sql
  flake.lock
Labels: backend

#7805 [backend/bugfix disable driver acceptance of quote after expiry]
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#7822 frontend/bugfix-overlay not coming
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlayMessagingService.java
Labels: frontend, native

#7783 backend/fix: improved text transformer for faqs and fixed bugs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0471-fixing-issue-message-foreign-key-constraints.sql
  Backend/dev/migrations/rider-app/1282-fixing-issue-message-foreign-key-constraints.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/CachedQueries/Issue/IssueCategory.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/CachedQueries/Issue/IssueConfig.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/CachedQueries/Issue/IssueMessage.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/CachedQueries/Issue/IssueOption.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/CachedQueries/MediaFile.hs
Labels: backend

#7804 backend/bugfix disable driver acceptance of quote after expiry
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#7830 backend/queries: make nicco park live
  Backend/dev/migrations/rider-app/1286-make-nicco-park-live.sql
Labels: backend

#7819 Backend/logs/adding-logs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTryLocker.hs
Labels: backend

#7836 frontend/fix : Add kerala cities.
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#7839 backend/enhance/rental-intercity-ride-otp-flow
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/Booking.hs
Labels: backend

#7834 Backend/feat:adding-timebound-in-dpc-cac
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Cac/DriverPoolConfig.hs
  Backend/lib/utils/src/Utils/Common/Cac/ContextConstants.hs
Labels: backend

#7814 frontend/fix : fixes for metro flow.
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage/Flow/BaseApp.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/Handler.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/View.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#7841 backend/updated-flake-file
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DailyStatsExtra.hs
  flake.lock
Labels: backend

#7842 backend/query/fix-kolkata-lat-lon
  Backend/dev/migrations/dynamic-offer-driver-app/0472-correct-kolkata-location.sql
Labels: backend

#7843 backend/hotpush/allocator-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#7844 backend/hotpush/fare-policy-cache-key-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#7847 frontend/fix : Remove extra space for no banner.
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#7848 frontend/fix: cug config fix
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#7849 frontend/feat/otp_less_ride_for_bridge_driver
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, driver

#7719 backend/safety/audit_trail_enhancement
  Backend/app/safety-dashboard/spec/API/suspect.yaml
  Backend/app/safety-dashboard/spec/Storage/suspect.yaml
  Backend/app/safety-dashboard/src-read-only/API/Types/UI/Suspect.hs
  Backend/app/safety-dashboard/src-read-only/Domain/Types/Suspect.hs
  Backend/app/safety-dashboard/src-read-only/Domain/Types/SuspectFlagRequest.hs
  Backend/app/safety-dashboard/src-read-only/Storage/Beam/SuspectFlagRequest.hs
  Backend/app/safety-dashboard/src-read-only/Storage/Queries/OrphanInstances/SuspectFlagRequest.hs
  Backend/app/safety-dashboard/src-read-only/Storage/Queries/SuspectFlagRequest.hs
  Backend/app/safety-dashboard/src/Domain/Action/UI/Admin.hs
  Backend/app/safety-dashboard/src/Domain/Action/UI/FlaggedCategory.hs
  Backend/app/safety-dashboard/src/Domain/Action/UI/Merchant.hs
  Backend/app/safety-dashboard/src/Domain/Action/UI/Notification.hs
  Backend/app/safety-dashboard/src/Domain/Action/UI/SearchSuspect.hs
  Backend/app/safety-dashboard/src/Domain/Action/UI/Suspect.hs
  Backend/app/safety-dashboard/src/Domain/Action/UI/SuspectFlagRequest.hs
  Backend/app/safety-dashboard/src/Domain/Action/UI/Webhook.hs
  Backend/app/safety-dashboard/src/Storage/Queries/SuspectStatusHistoryExtra.hs
  Backend/dev/migrations-read-only/safety-dashboard/suspect_flag_request.sql
Labels: backend

#7833 frontend/fix - source pointer locate on map issue
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/MerchantConfig/DefaultConfig.purs
  Frontend/ui-common/src/MerchantConfig/Types.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, native, ui-common, customer, driver

#7784 backend/feat : gullak login integ
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/Tokenization.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverGullakAssociation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/Tokenization.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverGullakAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverGullakAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverGullakAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Tokenization.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_gullak_association.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0465-Gullak-tokenization-config.sql
  flake.lock
Labels: backend

#7828 backend/fix/booking_type_rental_intercity_sz
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/Booking.hs
Labels: backend

#7859 backend/fix: Driver Tracking Url Update during Ride Assigned Stage in…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#7852 frontend-feat-update-v1-config
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
Labels: frontend, native, customer

#7807 backend/feat/adds metro discount offer
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonStats.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonStatsExtra.hs
  Backend/dev/migrations-read-only/rider-app/frfs_config.sql
  Backend/dev/migrations-read-only/rider-app/frfs_quote.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/person_stats.sql
Labels: backend

#7863 frontend/fix: Update assets downloader to v0.0.6
  Frontend/android-native/app/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/android-native/mobility-common/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, native, customer, driver

#7861 frontend/fix : One click booking fix for short distance.
  Frontend/ui-common/src/Components/RateCard/Utils.purs
  Frontend/ui-common/src/Components/RateCard/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
Labels: frontend, ui-common, customer

#7868 frontend/feat: Added Device Id in Profile
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Referral.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#7867 backend/hotpush/added-deviceid-in-profile-api-and-person
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Person.hs
  Backend/dev/migrations/rider-app/1255-added-device-id-column-in-person.sql
Labels: backend
