Repository nammayatri/nammayatri, pull requests merged in 2025-08, with the labels that each got.

#11875 Backend/fix/split vendor fee with dfee
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VendorFeeExtra.hs
Labels: backend

#11882 backend/fix/on search txn not found fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
Labels: backend

#11883 Enhance multiModalSearch to update route endTime based on calculated …
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
Labels: backend

#11847 backend/clear_cache_for_metro_business_hour
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/MetroBusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/RiderConfig.hs
Labels: backend

#11527 backend/enh/msil: status handler optimization: fetch only manatory docs
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Onboarding.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Onboarding.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Onboarding.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Onboarding.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/HyperVergeWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/fleet/onboarding.http
  Backend/dev/rest-client/dynamic-offer-driver-app/onboarding.http
Labels: backend

#11894 Backend/fix/query-optimization-pickup-instruction
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PickupInstructions.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PickupInstructions.hs
Labels: backend

#11878 Backend/Fixed timezone conversion in nearbyBuses api endpoint
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
Labels: backend

#11897 backend/fix : added metro ticket booking details in kapture create ti…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/IGM.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Common/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#11908 Refactor getNearbyBusesFRFS to improve vehicle number retrieval using…
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
Labels: backend

#11907 backend/feat : add all-time driver stats endpoint and refactor relate…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#11903 fix: added Attraction Recommendation in handler
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
Labels: backend

#11919 debug: add logs for bus tracking
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
Labels: backend

#11920 Backend/pushing-logs-in-kafka-and-clear-dues-race-condition-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
Labels: backend

#11892 backend/ench : add vendor fee upsert
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/AppManagement/API/DriverSubscription.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/DriverSubscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/DriverSubscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VendorFeeExtra.hs
Labels: backend

#11924 backend/enhance/multiple_subscription_in_one
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
Labels: backend

#11925 Refactor : bus Tracking issues and getNearbyBusesFRFS to improve vehicle number retrieval
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
Labels: backend

#11928 Backend/fix: added logs for metro cancellation
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
Labels: backend

#11930 backend/fix/fleet mem asso
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Fleet.hs
Labels: backend

#11931 Revert "Backend: feat - GatewayRefId in payment sdkpayload"
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Types/PaymentOrder.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Beam/PaymentOrder.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PaymentOrder.hs
  flake.lock
Labels: backend

#11820 backend/fix: add osm gates for taxi leg
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/CancelSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Station.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
Labels: backend

#11937 Backend/fix: added CancelInitiated status to leg
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11936 Backend/fix: added CancelInitiated status to leg
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11939 backend/not-updating-bus-status-at-backend
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
Labels: backend

#11945 Backend/fix/bus hashmap redis
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
Labels: backend

#11947 Backend/fix: Journey Cancellation on Cancel Initiated
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
Labels: backend

#11948 Backend/fix: One Booking check in soft cancel
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#11933 Variant Based coins
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CancellationCoins.hs
Labels: backend

#11953 backend/ench : add vendor fee upsert
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/AppManagement/API/DriverSubscription.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/DriverSubscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/DriverSubscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VendorFeeExtra.hs
Labels: backend

#11954 backend/refactor: streamline route stop time table fetching logic to …
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
Labels: backend

#11955 Backend/fix/bhubaneswar_multiple_tickets
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
Labels: backend

#11949 feat/backend: added support to unpack isStageStop bool for fare calcu…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Types.hs
Labels: backend

#11960 added check of min distance of 1000m for leaderboard score updates
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
Labels: backend

#11950 backend/enahncement: GetState new Status
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/State/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/State/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11959 backend/pre selection config for boostSearch
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/estimate.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Estimate.hs
  Backend/dev/migrations-read-only/rider-app/estimate.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1457-added-boostSearchPreSelection.sql
Labels: backend

#11964 added check of min distance of 1000m for leaderboard score updates
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
Labels: backend

#11970 backend: refactor FRFSTicketService to simplify schedule retrieval logic
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#11969 enh : driver pickup instr notification
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/DriverArrivalNotf.hs
Labels: backend

#11974 backend/fix:single-mode-fizx
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
Labels: backend

#11836 Allow, InProgress rides in startRideHandler, move the update of ride …
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide/Internal.hs
Labels: backend

#11981 backend/fix: fetching cris sdk token
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#11987 fix: Bus Ticketing Clicked event added at hybrid flow clicking
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#11973 Backend/enh/geohash-based-customer-pickup-instruction
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PickupInstructions.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PickupInstructions.hs
  Backend/dev/migrations-read-only/rider-app/pickup_instructions.sql
Labels: backend

#11991 backend/fix/premium-sedan
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
Labels: backend

#11990 backend/enhancement:- Added Notification when user add the stop and w…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/EditBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  flake.lock
Labels: backend

#11994 Backend/fix/vendor precision errors
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VendorFeeExtra.hs
Labels: backend

#11997 Backend/enh/precision-decrease-pickup-instructions-1
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PickupInstructions.hs
Labels: backend

#11978 fix: update logic in convertMultiModalModeToTripMode to correctly det…
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#12006 backend/fix: Subway issue
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#12007 Backend/fix: cancelled booking refunds
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#12005 backend/fix: boating and ticketing fixes
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

#12015 backend/fix/ticket-subplaces and other additional bugs
  Backend/app/rider-platform/rider-app/Main/spec/API/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketSubPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketSubPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketSubPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/TicketDashboard.hs
  Backend/dev/migrations-read-only/rider-app/service_people_category.sql
  Backend/dev/migrations-read-only/rider-app/ticket_place.sql
  Backend/dev/migrations-read-only/rider-app/ticket_sub_place.sql
Labels: backend

#12018 backend/enhc/internal-api-for-direct-customer-calling
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/RiderMobileNumber.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/RiderMobileNumber.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/RiderMobileNumber.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAPInternal.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/RiderMobileNumberInternal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/RiderMobileNumberInternal.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/RiderMobileNumberInternal.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Internal.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/RiderMobileNumberInternal.hs
Labels: backend

#12025 backend/enh: added the get fleet booking api
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBookingInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBookingInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/FleetVehiclesAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetBookingInformationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
  Backend/dev/migrations-read-only/provider-dashboard/API_Fleet_Driver.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
Labels: backend

#12029 backend/fix: fix map calls for get nearest gates
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#12031 fix: send journeys loaded as true when namma transit is disabled
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
Labels: backend

#12023 Backend/fix/: incompatible query param prod hot push common
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
Labels: backend

#12033 backend/fix: boat ticketing
  Backend/app/rider-platform/rider-app/Main/spec/API/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
Labels: backend

#12034 backend/feat/subplaces config apis
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/Tickets.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/TicketDashboard.hs
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_Tickets.sql
Labels: backend

#12036 Backend/fix: marking journey failure in refunds
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#12039 Backend/fix/register-pickupinst-api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
Labels: backend

#12046 backend/feat: Abse Aapke Safar Ki Taange Switch Ho Paayegi
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLegMapping.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/JourneyLegExtra.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
  Backend/dev/migrations-read-only/rider-app/route_details.sql
  Backend/dev/migrations/rider-app/1458-add-journey-leg-mappings-index.sql
Labels: backend

#12055 backend/fix: Compilation
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketDashboard.hs
Labels: backend

#12053 Backend/fix/driver-side-pickup-instruction
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/PickupInstructions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/PickupInstructions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/PickupInstructions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAPInternal.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Internal/GetPickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/GetPickupInstructions.hs
Labels: backend

#12056 backend/fix/lesser access check for ticketDash
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketDashboard.hs
Labels: backend

#12063 backend/fix: ticket verify v2
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/Tickets.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/Tickets.hs
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_Tickets.sql
Labels: backend

#12062 backend/fix/fleet mem asso
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Fleet.hs
Labels: backend

#12080 backend/enhance/oid_in_profile
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#12081 backend/fix/minor_api_optimization
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
Labels: backend

#12082 backend/refactor: remove fake query param from postDriverFleetAddVehicle
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#12086 Backend/enh/pickup-instruction-notify
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/PickupInstruction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  flake.lock
Labels: backend

#12089 backend/fix: Correct date of birth comparison in VehicleRegistrationC…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
Labels: backend

#12096 Backend/enh/send-instruction-in-fcm
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/PickupInstruction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/PickupInstructionHandler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
Labels: backend

#12088 backend/feat/driver:Added missing deleteByDriverId functions in deleteDriver api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DeleteDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DailyStatsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverOperatorAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverReferralExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/OperationHubRequestsExtra.hs
Labels: backend

#12083 fix: Proper Check of every Default Vehicle Service Tier for a variant in vehicle isSupported flag
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#12092 backend/enh: moves distanceWeightage to transporter config for getRoutes api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#12100 debug: added dynamic logs for ride sync api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
Labels: backend

#12105 frontend/enhancement/location-updates-for-live-map
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateServiceV2.java
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, native, driver

#12102 backend/feat: Add manual verification required field to TransporterCo…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/DocumentVerificationConfig.hs
Labels: backend

#12110 backend/fix: add vehicle state in track vehicle
  Backend/app/rider-platform/rider-app/Main/spec/API/TrackRoute.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  flake.lock
Labels: backend

#12109 Backend/fix/bucket-name-pickup-instruction
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/PickupInstructionHandler.hs
Labels: backend

#12106 Change order of rideStart Function
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide/Internal.hs
Labels: backend

#12115 Revert "backend/enhc : blacklist driver coins"
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverCoins.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/DriverCoins.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/DriverCoins.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/DriverCoins.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverStatsExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_stats.sql
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_DriverCoins.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_DriverCoins.sql
Labels: backend

#12119 backend/enhance/remove_error_validate_image
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
Labels: backend

#12121 backend/enhance/one_name_check
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
Labels: backend

#12130 backend/fix: Track Status V2 API :'(
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#12132 backend/fix: ny-regular-fixes-ui-data
  Backend/app/rider-platform/rider-app/Main/spec/API/NyRegularSubscription.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NyRegularSubscription.hs
Labels: backend

#12139 Backend/enh/sending-customer-name-in-pickup-fcm
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/PickupInstruction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/PickupInstructionHandler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
Labels: backend

#12146 backend/fix: fixes race condition of multiple FRFS confirm call
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#12147 backend/fix: fixes race condition of multiple FRFS confirm call
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#12149 backend/fix/ops_hub_duplicate_for_operators
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/OperationHub.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/OperationHub.hs
Labels: backend

#12152 Added redis lock to avoid multiple ghreq being created in db
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Driver/GoHomeRequest.hs
Labels: backend

#12026 backend/feat:added appName in MarketingParams
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Event.hs
Labels: backend

#12157 backend/fix: increase number of departures in stoptimesWithoutPattern…
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Types.hs
Labels: backend

#12137 feat: include static bus routes for findPossibleRoutes
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#12009 backend/feat/driver_wallet
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Payout.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverWallet.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/SubscriptionTransaction.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverWallet.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionTransaction.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/ride.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/SubscriptionTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/SubscriptionTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SubscriptionTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SubscriptionTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SubscriptionTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SubscriptionTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverWallet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SubscriptionTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverWalletExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SubscriptionTransactionExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_wallet.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_transaction.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0620-msil-docs.sql
  Backend/lib/payment/src/Lib/Payment/Domain/Types/Common.hs
  flake.lock
Labels: backend

#12158 backend/fix/driver-calling-option-query-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#12160 Backend/feat: added sorting for suburban routes
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/UpdateCrisUtsData.hs
Labels: backend

#12166 backend: Tracking & Booking Status Non Maybe - Booking Status Initial…
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/State/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/State/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSCancel.hs
Labels: backend

#12169 backend/feat/ticket-verifcation-changes
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/TicketRule/Core.hs
  Backend/dev/migrations-read-only/rider-app/service_category.sql
  Backend/dev/migrations-read-only/rider-app/ticket_service.sql
Labels: backend

#12135 fix: Proper Check of every Default Vehicle Service Tier for a variant…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#12171 backend/fix: No Estimate wrongly mapped to Feedback
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/State/Utils.hs
Labels: backend

#12142 feat: add sorting logic for buses
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#12173 Backend/feat/parsing_serviceTier_frfs_OnSearch
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Search.hs
  Backend/lib/beckn-spec/src/BecknV2/FRFS/Types.hs
Labels: backend

#12175 Backend/feat/parsing_serviceTier_frfs_OnSearch
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Search.hs
  Backend/lib/beckn-spec/src/BecknV2/FRFS/Types.hs
Labels: backend

#12174 fix: Checking is active booking exist before accepting driver quote
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/BookingExtra.hs
Labels: backend

#12183 Backend/feat/blr_rotating_barcode_google_wallet
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/PartnerOrgConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/PartnerOrgConfig.hs
  Backend/lib/utils/src/Utils/Common/JWT/TransitClaim.hs
Labels: backend

#12141 backend/enhc : blacklist driver coins
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverCoins.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/DriverCoins.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/DriverCoins.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/DriverCoins.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverStatsExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_stats.sql
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_DriverCoins.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_DriverCoins.sql
Labels: backend

#12085 backend/enhc:driver information pooling updates
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/test/src/Mobility/ARDU/NearestDrivers.hs
Labels: backend

#12185 backend/fix: Generating missed query for pan aadhaar verification
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant_service_usage_config.sql
Labels: backend

#12186 backend/enhancement: Improve driver fleet status retrieval with merch…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend
