Repository nammayatri/nammayatri, pull requests merged in 2025-06, with the labels that each got.

#11253 backend/feat/hashed-temp-override-business-hrs & svc creation fixes
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/TicketRule/Core.hs
  Backend/dev/migrations-read-only/rider-app/business_hour.sql
Labels: backend

#11256 Backend/feat/adding-show-instance-for-merchant-service-config
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/MultiModal.hs
Labels: backend

#11258 backend/feat/attraction-recommendation-apis
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/EventManagement.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/EventManagement.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/AttractionRecommend.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/AttractionRecommend.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/AttractionRecommend.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/AttractionRecommend.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketDashboard.hs
  Backend/dev/migrations-read-only/rider-app/ticket_place.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_EventManagement.sql
  Backend/dev/migrations/rider-dashboard/0040-event-management.sql
Labels: backend

#11260 Backend/fix:specic-pattern-api-introduction
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/API/Nandi.hs
Labels: backend

#11263 Backend/fix:gtfs_id_removal_from_code
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
Labels: backend

#11262 backend/fix/svc order fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/EventManagement.hs
Labels: backend

#11264 backend/fix: unique mobile for fleet owner and operator
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Registration.hs
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/Operator/fleetManagement.http
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/fleet/registrationV2.http
Labels: backend

#11272 backend/enhance/fleet_owner_info_query
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetOwnerInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetOwnerInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/RegistrationV2.hs
Labels: backend

#11274 backend/fix/is_active_check_before_activating
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverRCAssociationExtra.hs
Labels: backend

#11277 frontend-feat: enable auto meter ride in tumakuru
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#11279 backend/fix: ensure active status check for driver and RC associations
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#11283 Backend/feat:inmemory-server-integration
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/API/Nandi.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
Labels: backend

#11284 backend/fix/roles_creator_id
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
Labels: backend

#11270 fix: update Booking & Payment on switchFrfsTier
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#11273 backend/fix : dismissal date change
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
Labels: backend

#11289 backend/enhance/foi_api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverRCAssociationExtra.hs
Labels: backend

#11291 Backend/fix/fixed_race_condition_for_multiple_on_confirms
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#11293 non-ac depriortise
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1435-rider-config.sql
Labels: backend

#11297 Backend/feat: updating cris token in confirm
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSTicketBookingExtra.hs
Labels: backend

#11286 backend/feat: Enhance Driver and Fleet Management APIs by adding 'mbS…
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/FleetManagement.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverOperatorAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetOperatorAssociationExtra.hs
Labels: backend

#11299 backend/fix: Add separate warning for no public transit routes
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
Labels: backend

#11303 backend/migrations fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1435-rider-config.sql
Labels: backend

#11304 backend: FRFS Possible Routes with Station and Minimal Data
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#11306 backend/changed order
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
Labels: backend

#11302 backend/enhance/fleet_owner_register_v2
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/AadhaarCard.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/RegistrationV2.hs
Labels: backend

#11276 backend/fix/msil: activate rc after onboard inspection only
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_registration_certificate.sql
Labels: backend

#11307 backend/fix: correct join conditions in Driver and Fleet Operator que…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverOperatorAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetOperatorAssociationExtra.hs
Labels: backend

#11308 backend/fix: fix migration issue with gtfs-service-config-migration
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/dev/migrations-read-only/rider-app/merchant_service_config.sql
Labels: backend

#11250 backend/refactor: register fleet owner v2 flow
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/RegistrationV2.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/FleetManagement.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/RegistrationV2.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/FleetManagement.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Fleet/RegistrationV2.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/Lib/src/API/Dashboard/Registration.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Person/Type.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/src/API/Fleet/Registration.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/RegistrationV2.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Fleet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/RegistrationV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Account.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/dev/local-testing-data/provider-dashboard.sql
  Backend/dev/migrations/provider-dashboard/0068-operator-local-access.sql
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/fleet/registration.http
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/fleet/registrationV2.http
Labels: backend

#11312 frontend/feat: disable bangalore om & dark mode text fixes
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-common/src/Components/RatingCard/View.purs
  Frontend/ui-common/src/Components/RideSummaryCard/View.purs
  Frontend/ui-driver/src/Components/RideRequestCard/View.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/View.purs
Labels: frontend, native, ui-common, driver

#11310 Coins Updation Fix on Ratings
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Rating.hs
Labels: backend

#11313 backend/enh/ip-based-auth-blocking
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/RideBooking/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#11319 backend/enhance/operator-fleets-registered-at
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/FleetManagement.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverRCAssociationExtra.hs
Labels: backend

#11103 Backend/feat/support_for_multiple_bpps_within_a_city
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Route.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Route.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Route.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Route.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/ProviderDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/ProviderDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/ConfigPilot.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/rider-app/frfs_config.sql
  Backend/dev/migrations-read-only/rider-app/route.sql
Labels: backend

#11300 backend/enhance : flowStatus added journeyInfoResponse
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/PersonFlowStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Ride.hs
Labels: backend

#11334 Backend/revert/multiple bpp support for a city
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Route.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Route.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Route.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Route.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/ProviderDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/ProviderDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/ConfigPilot.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/rider-app/frfs_config.sql
  Backend/dev/migrations-read-only/rider-app/route.sql
Labels: backend

#11336 backend/enhance/add_driver_mode_in_driver_list
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
Labels: backend

#11345 Backend/feat: added ticket validity hours in resp
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11344 Backend/feat:moving-route-to-gtfs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RoutePolylines.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RoutePolylines.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RoutePolylines.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/CachedQueries/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RoutePolylines.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Bus/EBIX/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Direct/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/API/Nandi.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
  Backend/dev/migrations-read-only/rider-app/route_polylines.sql
  Backend/dev/migrations/rider-app/1436-polylines-bakfill.sql
Labels: backend

#11347 Backend/fix: updated switch tier resp
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#11271 frontend/fix: TripDetails screen icon removed after coming back from …
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Handler.purs
Labels: frontend, customer

#11350 backend: fix - Removed PaymentOrder show instance and timeout issue
  Backend/lib/payment/src/Lib/Payment/Domain/Types/PaymentOrder.hs
Labels: backend

#11346 frontend/fix/bus-hybrid-flow-fix
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/BusTicketBooking/Controller.purs
Labels: frontend, customer

#11354 Backend: fix main build
  Backend/lib/payment/src/Lib/Payment/Domain/Types/PaymentOrder.hs
Labels: backend

#11355 Backend/fix: via in route fare api
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
Labels: backend

#11358 backend/enhance/remove_ops_hub_restriction
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
Labels: backend

#11200 backend/feat: add on-bus customer tracking
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MultiModalBus.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#11341 backend/enhc: Moved Stop detection logic to Violation Alerts
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/Internal/ViolationDetectionBAP.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/ViolationDetectionBAP.hs
  Backend/lib/beckn-spec/beckn-spec.cabal
  Backend/lib/beckn-spec/src/Domain/Types/Alert.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestData.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestType.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/DetectionData.hs
Labels: backend

#11366 Revert "backend/enhc: Moved Stop detection logic to Violation Alerts"
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/Internal/ViolationDetectionBAP.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/ViolationDetectionBAP.hs
  Backend/lib/beckn-spec/beckn-spec.cabal
  Backend/lib/beckn-spec/src/Domain/Types/Alert.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestData.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestType.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/DetectionData.hs
Labels: backend

#11364 backend/fix/congession-charges-in-meter-ride
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#11365 backend/fixes: Fixes for Moved Stop detection logic to Violation Alerts
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/Internal/ViolationDetection.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/lib/beckn-spec/beckn-spec.cabal
  Backend/lib/beckn-spec/src/Domain/Types/Alert.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestData.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestType.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/DetectionData.hs
Labels: backend

#11370 Backend/fix:some-fallback-temp-fixes
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
Labels: backend

#11374 Backend/fix:temporary-movement-of-all-stations
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#11376 Backend/fix:temp-fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#11378 Backend/fix:integrated-bpp-config-fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
Labels: backend

#11375 backend/fix/kapture delete person
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/DeletedPerson.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/rider-app/1440-remove-kapture-config-apikey.sql
  flake.lock
Labels: backend

#11373 backend/feat: add hardcoded metro timings to fetchLiveTimings function
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#11377 backend/enh/whitelisted-ips-for-auth-store-in-redis
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
  Backend/dev/migrations-read-only/rider-app/merchant.sql
Labels: backend

#11386 backend/feat/added-setStatus-api-and-small-status-fix
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Location.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11392 backend/enh/blockCustomerIP-fix
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
Labels: backend

#11398 backend/feat/added_insured_amt
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Booking.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/ride.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Insurance.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/estimate.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ride.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Insurance.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/InsuranceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Insurance.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/InsuranceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Insurance.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/InsuranceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Insurance.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/booking.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/ride.sql
  Backend/dev/migrations-read-only/rider-app/booking.sql
  Backend/dev/migrations-read-only/rider-app/estimate.sql
  Backend/dev/migrations-read-only/rider-app/insurance.sql
  Backend/dev/migrations-read-only/rider-app/insurance_config.sql
  Backend/dev/migrations-read-only/rider-app/ride.sql
  Backend/dev/migrations/rider-app/1445-insurance-setup.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#11395 Bulk Upload Fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverCoins.hs
Labels: backend

#11400 Backend/fix:fixing-station-api
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/API/Nandi.hs
Labels: backend

#11414 Backend/fix/ticket_quantity
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Init.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSQuoteExtra.hs
  Backend/dev/migrations-read-only/rider-app/frfs_quote.sql
Labels: backend

#11416 backend/enh/bulkUploadCoin
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverCoins.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/DriverCoins.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/DriverCoins.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverCoins.hs
Labels: backend

#11423 backend/feat: Live ekd hotpush
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/CallFeedback.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallFeedback.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallFeedbackOptions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallStatus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/CallFeedbackOptions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/CallFeedbackOptions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/CallFeedbackOptions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/External/LiveEKD.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/ProdLoopStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/External/LiveEKD.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ProdLoopStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallFeedbackFCM.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/External/LiveEKD.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/call_feedback.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/call_feedback_options.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0681-call-feedback-options.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  flake.lock
Labels: backend

#11427 backend:fix-payment-order-short-id
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#11422 backend/update driver info api changes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#11428 backend/fix/kapture-app-encryption-change
  Backend/app/rider-platform/rider-app/Main/spec/API/TicketKapture.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketKapture.hs
  Backend/dev/migrations/rider-app/1447-add-encpryption-key-kapture.sql
  flake.lock
Labels: backend

#11435 backend/fix: Auth IP Blocked Dashboard Fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  flake.lock
Labels: backend

#11433 backend/updated searchRequest
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
Labels: backend

#11424 backend/fix:taxileg-extendleg-issue
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#11436 backend/fix: Violation trigger
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
Labels: backend

#11443 Backend/feat:adding-timetable-in-metr
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/API/Nandi.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
  Backend/dev/migrations/rider-app/1436-polylines-bakfill.sql
Labels: backend

#11439 backend/enhacement: Adding templateId in SmsReq
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/DriverSubscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/RegistrationV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/MeterRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideNotificationsToDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/SMS.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/ScheduledRideNotificationsToRider.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0682-adding-templateId-for-msil.sql
  flake.lock
Labels: backend

#11445 backend/enhacement: Adding more debug logs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Payment.hs
Labels: backend

#11332 Backend/added feedback request api
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBookingFeedback.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBookingFeedback.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBookingFeedback.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking_feedback.sql
Labels: backend

#11444 backend/fix: Add requestorId to UploadDocumentReq and implement assoc…
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverRegistration.yaml
  Backend/app/dashboard/Lib/src/Domain/Types/Person/Type.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverRegistration.hs
Labels: backend

#11455 backend/fix : added isPetRide to driver ride list res
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
Labels: backend

#11411 backend/feat : added ride stop detection check LTS [WIP]
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestData.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestType.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/DetectionData.hs
Labels: backend

#11460 backend/fix/msil: skip error throw without sms template
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
Labels: backend

#11459 fix: ignore old search requests for booking list v2
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11464 backend/fix/insurance_gen_after_ride_end
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Insurance.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Insurance.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/InsuranceInternal.hs
Labels: backend

#11465 backend/fix: update threshold of metro and subway.
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Location.hs
Labels: backend

#11457 backend/feat/hotpush: change find from id to message key in callfeedb…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallFeedbackOptions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/CallFeedbackOptions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallFeedback.hs
Labels: backend

#11301 backend/ench:config pilot new ui config
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/NammaTag.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/NammaTag.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/NammaTag.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/NammaTag.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/UiDriverConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/ConfigPilot.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/UiRiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/ConfigPilot.hs
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/rider-dashboard/API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_NammaTag.sql
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types/ConfigPilot.hs
Labels: backend

#11484 frontend/fix : fixing ride preference view width bug
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
Labels: frontend, driver

#11479 backend/enhancement/msil: fleet list optimization
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
Labels: backend

#11451 backend/fix/msil: send otp attempts limit
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/RegistrationV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetOperatorAssociationExtra.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
Labels: backend

#11488 backend/fix: enhance validation for driver name and mobile number wit…
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  flake.lock
Labels: backend

#11498 Backend: fix order shortID mismatch in update payment order call
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#11500 backend/fix/issue-report-fix
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueChat.hs
Labels: backend

#11497 backend/feat: add aiCallAnalyzed column on call status table
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallStatus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/FleetAlert/SendFleetAlert.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideNotificationsToDriver.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/call_status.sql
Labels: backend

#11499 backend/fix: added disableDriver configuration to TransporterConfig f…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0132-alter-transporter-config.sql
Labels: backend

#11502 backend/enhancement/msil: email validation
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Fleet/RegistrationV2.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  flake.lock
Labels: backend

#11503 backend/feat: handled external ticket booking failures
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Bus/EBIX/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Direct/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Metro/CMRL/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
Labels: backend

#11508 backend/fix/checkRequestorAccessToFleet based on hasFleetMemberHierarchy
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#11520 fix for multimodal/ticket/verify to handle tickets which are not ACTIVE
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnStatus.hs
Labels: backend

#11513 backend/enhancement/msil: enable driver and activate rc with approved…
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Onboarding.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
Labels: backend

#11521 backend/feat/kapture-pull-api
  Backend/app/rider-platform/rider-app/Main/spec/API/TicketKapture.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Ticket.hs
  flake.lock
Labels: backend

#11008 frontend/provider/feat: Live CallFeedback Overlay and Overlay Service…
  Frontend/android-native/mobility-app/build.gradle
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MyFirebaseMessagingService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/Utils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/overlayMessage/CallFeedbackView.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/overlayMessage/MessagingView.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/overlayMessage/Service.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/overlayMessage/ServiceInterface.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/overlayMessage/ViewInterface.java
  Frontend/android-native/mobility-app/src/main/res/drawable/ny_ic_extra_money_asked.png
  Frontend/android-native/mobility-app/src/main/res/layout/extra_fare_demanded_overlay.xml
  Frontend/android-native/mobility-app/src/main/res/values/colors.xml
  Frontend/android-native/mobility-app/src/main/res/values/strings.xml
  Frontend/android-native/mobility-app/src/main/res/values/styles.xml
Labels: frontend, native

#11525 backend/enhance/vehicle_assoc_api
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/RegistrationV2.hs
  Backend/dev/migrations/provider-dashboard/0067-msil-dashboard.sql
Labels: backend

#11529 Added MobileNumberHash to the redisKV keys mapping
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/RideDetails.hs
Labels: backend

#11533 backend/enhc: updated ticketVerifyAPI to handle unifiedQR and singleQR request
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11535 backend/fix/auto_approve_fleet
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/RegistrationV2.hs
Labels: backend

#11538 backend/fix/auto_approve_fleet_2
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
Labels: backend

#11539 Backend/fix/fare_associated_table_entrie_for_metro
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
Labels: backend

#11540 backend/enahcement: Adding Pan no in gst table
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverGstin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverGstin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverGstin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverGstin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_gstin.sql
Labels: backend

#11542 fix: removed platformType query param from api
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend
