Repository nammayatri/nammayatri, pull requests merged in 2025-04, with the labels that each got.

#10655 frontend/fix: crash Fixes
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
Labels: frontend, native

#10658 Backend/fix : changed destination City type
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/RentalsIntercityCache.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/RentalsIntercityCache.hs
Labels: backend

#10633 frontend/enh: delete account changes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
Labels: frontend, customer

#10661 Backend/refactor/wmb alerts framework
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/AlertRequest.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBadgeAssociation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/AlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/AlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/AlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBadgeAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/AlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/ViolationDetection.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/FleetAlert/SendFleetAlert.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/ApprovalRequestExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetBadgeAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/TripAlertRequestExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_alert_request.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0671-trip-alert-request.sql
  Backend/lib/beckn-spec/beckn-spec.cabal
  Backend/lib/beckn-spec/src/Domain/Types/Alert.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestData.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestStatus.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestType.hs
Labels: backend

#10662 backend/fix : waive off amount in driver fee
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
Labels: backend

#10622 multimodal metro tracking using riderLocation
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10663 feat: undo btn for negative btn
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
Labels: frontend, customer, driver

#10669 frontend/fix: disable R2R and offers in estimate
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/SettingSideBar/Controller.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReferralPayoutScreen/View.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, ui-common, customer

#10668 Backend/feat:removing-routes-with-no-buses
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MultiModalBus.hs
  flake.lock
Labels: backend

#10670 frontend/fix: disable R2R and offers in estimate
  Frontend/ui-common/src/Components/ChooseVehicle/Controller.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Components/SettingSideBar/Controller.purs
  Frontend/ui-customer/src/Components/SettingSideBar/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReferralPayoutScreen/View.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, ui-common, customer

#10671 Backend/fix:some-multimodal-fixes
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MultiModalBus.hs
Labels: backend

#10672 stack overflow issue
  Frontend/keyGenerator.py
  Frontend/translations.json
  Frontend/translator.py
  Frontend/ui-customer/src/Components/CommonComponentConfig.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Components/SearchLocationModel/View.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/Strings.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/BN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/EN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/HI.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/KN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/ML.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/OD.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/Strings.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/TA.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/TE.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/ParcelDeliveryFlow/ParcelDeliveryScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/ParcelDeliveryFlow/ParcelDeliveryScreen/View.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RentalScreen/View.purs
  Frontend/ui-customer/src/Screens/RentalBookingFlow/RideScheduledScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/View.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroMyTickets/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/MetroTicketBooking/ComponentConfig.purs
Labels: frontend, customer

#10673 feat: ekd undo fixes
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#10674 Backend/feat:bus-fultering-config
  Backend/app/rider-platform/rider-app/Main/spec/API/NearbyBuses.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#10610 MSIL. Additional info about vehicle
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/VehicleInfo.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/VehicleInfo.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/VehicleInfo.hs
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/VehicleInfo.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Client/ProviderPlatform/Management.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/VehicleInfo.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VehicleInfo.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/VehicleInfo.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_info.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_VehicleInfo.sql
Labels: backend

#10667 Backend/fix : changed HomeScreen FareCacheAPI InterCity Searh Config …
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/RentalsIntercityCache.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/RentalsIntercityCache.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1406-add-fare-cache-rentals-intercity-city-base-configs.sql
Labels: backend

#10687 backend/fix: Make Multimodal Search Flag
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
Labels: backend

#10605 backend/enhance:RC failure reasons + Minor changes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverRegistration.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/DriverRegistration.hs
  Backend/app/dashboard/provider-dashboard/src/API/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0620-msil-docs.sql
Labels: backend

#10695 backend/feat:adds discovery search logic for frfs
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
Labels: backend

#10697 backend/enhancement: Alerts Violation Flag
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/TripAlertRequestExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_alert_request.sql
Labels: backend

#10699 frontend/fix: info icon in offers view
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, ui-common, customer

#10700 feat: add service tier availability for buses and fix stich metro issue
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Interface.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Subway.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/RouteDetails.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
Labels: backend

#10701 backend/enhancement: Alerts Violation Enhancements
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/TripAlertRequestExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_alert_request.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_transaction.sql
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestData.hs
Labels: backend

#10666 backend/feat/CRIS-fare-api
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/BecknConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/Auth.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/Encryption.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/Error.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/RouteFare.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/IntegratedBPPConfig.hs
Labels: backend

#10696 Adding changes
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/dev/migrations-read-only/rider-app/business_hour.sql
Labels: backend

#10200 Backend/feat/partner-org-ticket-cancel-auth
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RegistrationTokenExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations/rider-app/1373-ticket-cancel-otp-sms-merchant-message.sql
Labels: backend

#10718 frontend:- chat with driver fix
  Frontend/ui-customer/index.js
Labels: frontend, customer

#10679 Backend/enh/added-dynamic-webhook-url-support
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/OrderAndNotificationStatusUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Payout.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CustomerReferral.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Payout/MetroIncentivePayout.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payout.hs
  Backend/app/rider-platform/rider-app/Scheduler/src/Environment.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  flake.lock
Labels: backend

#10724 Backend/fix : fixed fetchFareCache api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/FareCalculator.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/RentalsIntercityCache.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/RentalsIntercityCache.hs
  Backend/dev/migrations/rider-app/1407-added-destination-data-in-fare-cache-config.sql
Labels: backend

#10721 backend/feat: Bus Live Tracking Upcoming Stops, ETA and Delay
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/TrackRoute.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10725 Frontend/fix: Add other location than home/work flow
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#10726 frontend/fix: fixed Battery Issues
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateServiceV2.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/Utils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/WidgetService.java
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, native, driver

#10729 backend/feat/dashboard/add dashboard type
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Person/Type.hs
  Backend/app/dashboard/Lib/src/Storage/Beam/Person.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Person.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Registration.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/dev/migrations/provider-dashboard/0066-added-dashboard-type.sql
  Backend/dev/migrations/rider-dashboard/0039-add-dashboard-type.sql
  Backend/dev/migrations/safety-dashboard/0004-added-dashboard-type.sql
Labels: backend

#10732 frontend/fix: fixed Battery Issues
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateServiceV2.java
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, native, driver

#10734 backend/enhancement: Nearby Drivers Vehicle Variant in Request
  Backend/app/rider-platform/rider-app/Main/spec/API/Nearby.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
Labels: backend

#10733 hotfix: specific app name in about_me changed to universal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileQuestions.hs
Labels: backend

#10735 frontend/fix: release fixes
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/driver/keralaSavaariPartner/assets/juspay/config.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/config.json
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
Labels: frontend, native

#10740 Backend/fix/merchant_message_query
  Backend/dev/migrations/rider-app/1373-ticket-cancel-otp-sms-merchant-message.sql
Labels: backend

#10742 Backend/added-base-url-in-dhall-for-webhooks
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/OrderAndNotificationStatusUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Payout/DriverReferralPayout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Payout.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CustomerReferral.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Payout/MetroIncentivePayout.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payout.hs
  Backend/app/rider-platform/rider-app/Scheduler/src/Environment.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  flake.lock
Labels: backend

#10728 frontenend_feat_added_added hybrid flow for adding trusted contact
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/Controller.purs
Labels: frontend, customer

#10751 backend/fixes: WMB
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/InternalAuth.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/TripTransactionExtra.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/Nearby.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
Labels: backend

#10752 backend/fix: fixed driver search fleet
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociationExtra.hs
Labels: backend

#10755 backend/feat/ticket-ended-status
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

#10750 Upgrading Clevertap SC version to fix compatibility issues
  Frontend/android-native/mobility-app/build.gradle
Labels: frontend, native

#10760 backend/fix: wmb fixes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/Storage/FleetMemberAssociation.yaml
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Queries/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#10763 backend/enh: add rideShortId to receipt message payload
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/MeterRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
Labels: backend

#10715 backend/enh/add-entityid-to-gupshup-api
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0672-add-gupshup-entityid-config.sql
  Backend/dev/migrations/rider-app/1410-add-gupshup-entityid-config.sql
  flake.lock
Labels: backend

#10759 frontend/fix: release r2r fixes
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#10769 backend/feat/added-ui-anna-straight-line-distance-threshold-check-for…
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#10773 Backend/enh/some-new-fields-for-googleWallet
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/GWLink.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/lib/utils/src/Utils/Common/JWT/TransitClaim.hs
Labels: backend

#10778 backend/fix : add tags in ondemand for safetyPlus
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#10779 Backend/feat/ticket scanned by vehicle number
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Flow.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Bus/EBIX/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Bus/EBIX/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Direct/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Direct/Status.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Metro/CMRL/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Metro/CMRL/TicketStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/dev/migrations-read-only/rider-app/frfs_ticket.sql
Labels: backend

#10787 backend/fix: Possible Routes
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10788 backend/fix: Possible Routes
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10790 backend/ci/remove-graviton-build-for-now
  .github/workflows/nix.yaml
Labels: backend

#10791 backend/ci/enable-mac-cache-for-prodHotPushBAP
  .github/workflows/nix.yaml
Labels: backend

#10796 backend/fix: Double Payment Quanity Multiplication FRFS
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
Labels: backend

#10797 backend/fix: Double Payment Quanity Multiplication FRFS
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
Labels: backend

#10798 backend/enhc : send waive off offer ui
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverPlan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPlanExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_plan.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0673-add-waive-off-title-and-description.sql
Labels: backend

#10793 backend/feat: add meter ride referral link and update receipt message…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/MeterRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/shared-services/src/UrlShortner/Types.hs
Labels: backend

#10782 Backend/enh/added-pn's-for-r2r
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonStats.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Payout.hs
  Backend/dev/migrations/rider-app/1422.added-pn-for-r2r.sql
Labels: backend

#10794 backend/feat/msil_dashboard_features
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverRegistration.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/DriverRegistration.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/dashboard/Lib/src/API/Dashboard/Registration.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Roles.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/DriverRegistration.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/API/Fleet/Registration.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/DriverRegistration.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Fleet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/OperationHub.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetOperatorAssociation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetOwnerInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/OperationHub.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/OperationHub.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/OperationHub.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetOwnerInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetOwnerInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetOperatorAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetOwnerInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Referral.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/OperationHub.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_owner_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/operation_hub_requests.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Operator_Driver.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0620-msil-docs.sql
Labels: backend

#10802 backend/fix: EBIX Save Ticket
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Bus/EBIX/Order.hs
Labels: backend

#10806 backend/fix: EBIX Save Ticket
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Bus/EBIX/Order.hs
Labels: backend

#10803 backend/fix : remove quote from description offer
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0673-add-waive-off-title-and-description.sql
Labels: backend

#10809 backend/enh/multimodal: make default sorting type as most relevant for new users
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#10770 backend/ci/enh/change-labels-for-machines
  .github/workflows/nix.yaml
Labels: backend

#10808 group by fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10811 backend/ci/fix-artifact
  .github/workflows/nix.yaml
Labels: backend

#10812 fix: correct order of parameters in buildSendReceiptMessage function
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
Labels: backend

#10818 backend/fix/multimodal: fixes toSchema name & adds journeyData sortin…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/lib/beckn-spec/src/BecknV2/FRFS/Enums.hs
Labels: backend

#10815 backend/enhc: opposite direction alert
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestData.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestType.hs
Labels: backend

#10753 backend/radius model correction
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Pricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#10821 backend/feat/GoldTierRide/ added coinsRewardedOnGoldTierRide variable…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
Labels: backend

#10820 Backend/feat:multimodal-latency-search-logs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#10826 backend/fix : add extra enum for parsing fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Extra/ConditionalCharges.hs
Labels: backend

#10804 backend/feat/cris-booking-api
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/RouteFareV1.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSSearchExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/FRFSSearch.hs
  Backend/dev/migrations-read-only/rider-app/frfs_search.sql
Labels: backend

#10827 backend/fix : compilation fix due to additional enum
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Enums.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#10825 backend/enh/add-new-header-x-routing-id-to-payment-apis
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ReferralPayout.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Payout.hs
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  flake.lock
Labels: backend

#10830 backend/feat/ticket-dm-various-apis
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/Tickets.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SpecialOccasion.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SpecialOccasion.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SpecialOccasion.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/Tickets.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/TicketDashboard.hs
  Backend/dev/migrations-read-only/rider-app/business_hour.sql
  Backend/dev/migrations-read-only/rider-app/service_category.sql
  Backend/dev/migrations-read-only/rider-app/service_people_category.sql
  Backend/dev/migrations-read-only/rider-app/special_occasion.sql
  Backend/dev/migrations-read-only/rider-app/ticket_place.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_Tickets.sql
  Backend/dev/migrations/rider-dashboard/0038-add-ticket-dashboard-merchant-onboarding-access.sql
Labels: backend

#10832 backend/local-application-run-fix
  Backend/dev/migrations/dynamic-offer-driver-app/0672-add-gupshup-entityid-config.sql
  Backend/dev/migrations/rider-app/1410-add-gupshup-entityid-config.sql
Labels: backend

#10574 Backend/feat: Adding TataClick to call
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/MerchantServiceConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  flake.lock
Labels: backend

#10686 MSIL. ListFleets and ListDrivers APIs for operators
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/FleetManagement.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/FleetManagement.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Client/ProviderPlatform/Operator.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverOperatorAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetOperatorAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetOwnerInformationExtra.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Operator_Driver.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Operator_FleetManagement.sql
Labels: backend

#10709 backend/feat: Integrating TataCommunications whatsapp api for msil
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/DriverSubscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/MerchantServiceConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  flake.lock
Labels: backend

#10836 cris-booking-api: naming changes
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
Labels: backend

#10845 backend/fix/trip-quote-amount-add-http-instance-for-service-name
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Extra/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#10823 Backend:feat Multimodal update order api handler
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PaymentOrder.hs
  flake.lock
Labels: backend

#10805 Backend/prodHotPush-BAP/added-pn-for-r2r
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonStats.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Payout.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/dev/migrations/rider-app/1422.added-pn-for-r2r.sql
  Backend/dev/migrations/rider-app/1424-added-pn-for-new-customer-payout-reward.sql
Labels: backend

#10855 Frontend/feat/GoldTierRide/ translation fix - GoldTierRideFeature
  Frontend/ui-common/src/Components/PopUpModal/View.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/OD.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, ui-common, driver

#10693 Backend/feat: Hyperverge Sdk Integration.
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverRegistration.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/HyperVergeWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverLicenseExtra.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0674-adding-index-on-imagedID2-dl.sql
Labels: backend

#10857 backend/feat/msil_onboarding_changes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverRegistration.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/DriverRegistration.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/DriverRegistration.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/DriverRegistration.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetOperatorAssociation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetOperatorAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Image.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/OperationHub.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/ImageExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/OperationHubRequestsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_DriverRegistration.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Operator_Driver.sql
Labels: backend

#10841 backend/enhc: tripNotStartedAlert
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ViolationDetection.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestData.hs
  Backend/lib/beckn-spec/src/Domain/Types/Alert/AlertRequestType.hs
Labels: backend

#10864 Backend/wmb/prod hot push/sync
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/Storage/FleetMemberAssociation.yaml
  Backend/app/dashboard/provider-dashboard/src-read-only/Domain/Types/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Beam/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Queries/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Queries/OrphanInstances/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/DriverSourceDeparted.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverSourceDeparted.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociationExtra.hs
  Backend/dev/migrations-read-only/provider-dashboard/fleet_member_association.sql
Labels: backend

#10866 Backend/wmb/prod hot push/sync
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#10867 backend/fix/safety-plus-tags
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Common.hs
Labels: backend

#10868 backend/enhance/more_vehicle_docs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Image.hs
Labels: backend

#10730 backend/feat: Adding pan and gst verification
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Onboarding.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Onboarding.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Onboarding.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverGstin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverGstin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverGstin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Verification.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_gstin.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant_service_usage_config.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Onboarding.sql
  flake.lock
Labels: backend

#10870 Backend: fix order update short id
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#10873 backend/fix:safety plus tag parsing
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnConfirm.hs
Labels: backend

#10871 backend/feat/msil: register fleet by operator
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/FleetManagement.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/FleetManagement.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/Lib/src/API/Dashboard/Registration.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/src/API/Fleet/Registration.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Operator_FleetManagement.sql
Labels: backend

#10854 backend/fix/cris-fare-booking-api
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
Labels: backend

#10822 MSIL. Checking fleet owner verification
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/CheckVerification.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#10882 backend/feat: add processed state handling in init function
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Init.hs
Labels: backend

#10885 Backend/gold tier ride addition
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinsConfig.hs
Labels: backend

#10879 frontend/fix :- chat removed during edit location
  Frontend/ui-driver/index.js
Labels: frontend, driver

#10890 Backend/fix/book jrny spi
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
Labels: backend

#10835 backend/enhc/config-pilot-apis-with-ui-configs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/UiDriverConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/UiDriverConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/UiDriverConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/ConfigPilot.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/UiRiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/UiRiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/UiRiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/ConfigPilot.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types/ConfigPilot.hs
Labels: backend

#10895 backend/fix: update types for LTS nearby drivers api
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
Labels: backend

#10896 backend/fix: update types for LTS nearby drivers api
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
Labels: backend

#10899 fix: add selectedServiceTier for subway type
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10904 fares in journeyLeg
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
Labels: backend

#10908 Backend/enhanc/GoldTierRide If ride request distance is less than 1KM then it is n…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
Labels: backend

#10901 backend/fix : added subscribed filter to getDriverInfoWithCond
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation/Internal.hs
Labels: backend

#10894 MSIL. Changing role at BPP fo FleetOwner and Operator
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Account.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Account.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Person.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Account.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Account.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/MerchantOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Account.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Account.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/safety-dashboard/src/Domain/Action/UI/Admin.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Account.sql
Labels: backend

#10907 backend/fix/cris-journey-status
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
Labels: backend

#10910 Backend: fix casting payment order id
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#10911 backend/pagination/operator_list_apis
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/FleetManagement.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
Labels: backend

#10913 backend/fix/safety-plus-bug-fies-2.0
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Common/Order.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Extra/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#10914 backend/fix: Ticket onboarding fixes
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/MerchantOnboarding.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/MerchantOnboarding.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Client/RiderPlatform/AppManagement.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/MerchantOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MerchantOnboarding.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/MerchantOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/MerchantOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantOnboardingStep.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantOnboardingStepConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketMerchantDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantOnboardingStep.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantOnboardingStepConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketMerchantDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MerchantOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MerchantOnboardingStep.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MerchantOnboardingStepConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketMerchantDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/MerchantOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/MerchantOnboarding/Handlers.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/MerchantOnboarding/TicketHandlers.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/dev/migrations-read-only/rider-app/merchant_onboarding.sql
  Backend/dev/migrations-read-only/rider-app/merchant_onboarding_step.sql
  Backend/dev/migrations-read-only/rider-app/merchant_onboarding_step_config.sql
  Backend/dev/migrations-read-only/rider-app/ticket_merchant_details.sql
Labels: backend

#10889 lts/feat: Location Tracking by GroupID - FleetOwner/Depot ID
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Flow.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverLocation/Internal.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/Nearby.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
Labels: backend

#10903 backend/enh/adds-time-based-block-logic-for-spam-customer
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MerchantConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/rider-app/merchant_config.sql
  Backend/dev/migrations-read-only/rider-app/person.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1425-add-fraud-auth-check-columns-values-to-merchant-config.sql
Labels: backend

#10917 backend/enh/adds-time-based-block-logic-for-spam-customer-fix
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
Labels: backend

#10920 Backend/enh prod/adds time based block logic for spam customer fix
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MerchantConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CustomerReferral.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/rider-app/merchant_config.sql
  Backend/dev/migrations-read-only/rider-app/person.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1425-add-fraud-auth-check-columns-values-to-merchant-config.sql
Labels: backend

#10909 [BACKWARD INCOMPATIBLE] backend/enhance/operation_hub_flow
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/OperationHub.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/OperationHub.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/OperationHub.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OperationHub.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/OperationHub.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/OperationHub.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/OperationHubExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/OperationHubRequestsExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/operation_hub_requests.sql
Labels: backend

#10929 backend/fix : is safety plus tagging fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnConfirm.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#10934 backend/fix/isSafetyPlus-in-booking-list
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/QueriesExtra/RideLite.hs
Labels: backend

#10659 backend/fix/multimodal-fix-estimates
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#10936 backend/feat: Added Station Translations for Subway
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/FRFSTicket.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Station.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Station.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Station.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Station.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/rider-app/station.sql
  Backend/dev/migrations/rider-app/1426-update-suburban-station-translations.sql
Labels: backend

#10938 backend/feat: Updated Book Jrny API
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
Labels: backend

#10939 backend/feat: Changed tpBookType to 0
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
Labels: backend

#10935 Backend/feat/route-stop-times-graphql
  Backend/app/rider-platform/rider-app/Main/package.yaml
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
Labels: backend

#10940 Backend/enh:graphql-enhancement
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
Labels: backend

#10937 fix: generalize create Location table entry and nearByBus api for multimodal
  Backend/app/rider-platform/rider-app/Main/spec/API/NearbyBuses.yaml
  Backend/app/rider-platform/rider-app/Main/spec/API/Places.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RecentLocation.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Places.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Places.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RecentLocationExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Tabular/RecentLocation.hs
  Backend/dev/migrations-read-only/rider-app/recent_location.sql
Labels: backend

#10941 Backend/fix:http-manager-fix
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
Labels: backend

#10942 Backend/enh:adding-logs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
Labels: backend

#10943 Backend/fix:adding-few-fixes-graphql
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
Labels: backend

#10921 backend/enhance/show_rc_invalidations_in_ui
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0621-rc-expiry-check.sql
Labels: backend

#10863 Backend/dashboard/changes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
Labels: backend

#10926 Backend/enh/added-error-logs-and-typo-fix-for-customer-auth-block
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Payout.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CustomerReferral.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations/rider-app/1425-add-fraud-auth-check-columns-values-to-merchant-config.sql
  Backend/dev/migrations/rider-app/1427-added-pn-for-rewards-in-webhook.sql
Labels: backend

#10947 Backend/dashboard/changes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
Labels: backend

#10954 Backend/fixed-monthly-check-with-sliding-window-for-r2r
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#10919 backend/enhancement: Making fleet register api backward compatible
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetOwnerInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetOwnerInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetOwnerInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverGstin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetOwnerInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverGstin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverGstinExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_owner_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant_service_usage_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0676-updating-pan-and-gst-service-verification.sql
Labels: backend

#10957 backend/msil shared merchant db query fix
  Backend/dev/migrations/rider-dashboard/0034-add-require-approval-in-merchant.sql
Labels: backend

#10952 backend/fix : removed subscrived check from link rc status
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
Labels: backend

#10930 Frontend/feat/cleverTapEvent-for-bottom-sheet-user-interaction
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#10956 backend/fix/multimodal-skip-leg
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#10959 Backend/feat:bus-suburban-live-timings
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MultiModalBus.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MultiModalSuburban.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
  Backend/dev/migrations-read-only/rider-app/route_stop_time_table.sql
Labels: backend

#10965 Backend/feat:adding-timeofday-also-inresponse
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#10968 backend/fix/msil_r1_issues
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Account.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Account.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Account.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Account.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Account.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Account.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0621-rc-expiry-check.sql
Labels: backend
