Repository nammayatri/nammayatri, pull requests merged in 2025-07, with the labels that each got.

#11543 Backend: Added log info to debug payment retry status
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#11536 backend/feat/validateCancellationForCoins
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CancellationCoins.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0683-insert-cancellation-coin-policy-dynamic-logic.sql
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
Labels: backend

#11510 Vendor Fees Being Calulcalated for all Driver Fees Instead of Only Th…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
Labels: backend

#11552 Backend/feat:sending-platform-code-in-one-way
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Types.hs
  Backend/dev/migrations-read-only/rider-app/route_stop_time_table.sql
Labels: backend

#11563 backend/feat: kapture multiple tickets
  Backend/app/rider-platform/rider-app/Main/spec/API/TicketKapture.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketKapture.hs
  flake.lock
Labels: backend

#11561 docs: add documentation for multimodal
  Backend/docs/multimodal/Multimodal_Journey_API_Reference.md
  Backend/docs/multimodal/Multimodal_Journey_Architecture_Overview.md
  Backend/docs/multimodal/Multimodal_Journey_Database_Structure.md
  Backend/docs/multimodal/Multimodal_Journey_Flows_and_States.md
  Backend/docs/multimodal/Multimodal_Journey_System_Documentation.md
Labels: backend

#11564 Backend/fix:platform-fix
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Types.hs
Labels: backend

#11568 Frontend/Enh:- Coins Addition and Deduction Changes
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/OD.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2OG.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/Transformer.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, driver

#11512 backend/ench:config pilot get patched element api
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/NammaTag.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/NammaTag.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/UiDriverConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/ConfigPilot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/UiRiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/ConfigPilot.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/app_dynamic_logic_element.sql
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/rider-app/app_dynamic_logic_element.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/shared-services/src/ConfigPilotFrontend/API.hs
  Backend/lib/utils/src/Tools/DynamicLogic.hs
  Backend/lib/yudhishthira/spec/Storage/AppDynamicLogic.yaml
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Beam/AppDynamicLogicElement.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/AppDynamicLogicElement.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/OrphanInstances/AppDynamicLogicElement.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Types/AppDynamicLogicElement.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
Labels: backend

#11570 Backend/fix:adding-some-logs-and-redis-fix
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
Labels: backend

#11566 backend/fix: updating booking auth code in confirm
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#11574 Backend/fix:platform-data-in-inmemory
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#11575 backend/enhance/rc_id_in_inspection_list
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
Labels: backend

#11567 Backend/pushing-logs-in-kafka-and-clear-dues-race-condition-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
Labels: backend

#11581 enh : customer pickup location based on lat long
  Backend/app/rider-platform/rider-app/Main/spec/API/PickupInstructions.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PickupInstructions.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PickupInstructions.hs
  Backend/dev/migrations-read-only/rider-app/pickup_instructions.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1341-bus-booking-ebix.sql
Labels: backend

#11584 Fix: Allow setting journey sub-leg status to Completed or Cancelled
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#11587 Kapture multiple tickets
  Backend/app/rider-platform/rider-app/Main/spec/API/TicketKapture.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketKapture.hs
  flake.lock
Labels: backend

#11592 backend/fix: Add Suggested Destination
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RoutePolylines.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/StationsExtraInformation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/StationsExtraInformation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/StationsExtraInformation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/StationsExtraInformation.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
  Backend/dev/migrations-read-only/rider-app/stations_extra_information.sql
  Backend/dev/migrations/rider-app/1449-multi-providers.sql
Labels: backend

#11600 backend/fix: Extend driver document validation by adding GST number h…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/DriverLicense.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/AadhaarCardExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverGstinExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPanCardExtra.hs
Labels: backend

#11604 backend/fix: Enhance route detail and stoptimes fetching by introduci…
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#11601 backend/enh: provider-name from integrated bpp config
  Backend/app/rider-platform/rider-app/Main/spec/Storage/BecknConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/CachedQueries/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/dev/migrations-read-only/rider-app/integrated_bpp_config.sql
Labels: backend

#11605 backend/fixes: Multimodal Bangalore Fixes
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Bus/EBIX/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Direct/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Interface.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/rider-app/frfs_search.sql
Labels: backend

#11606 backend/fix : add ny regular apis to path
  Backend/app/rider-platform/rider-app/Main/spec/API/NyRegularSubscription.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ny_regular_subscriptions.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/JobScheduler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/NyRegularInstance.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/NyRegularMaster.hs
  Backend/dev/migrations-read-only/rider-app/multimodal_preferences.sql
  Backend/dev/migrations-read-only/rider-app/ny_regular_subscriptions.sql
  Backend/dhall-configs/dev/location-update.dhall
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#11236 backend-fix: call feedback migrations
  Backend/dev/migrations/dynamic-offer-driver-app/0675-call-feedback-options.sql
Labels: backend

#11595 feat: add consent respond endpoint and enhance driver profile response
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Person.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/person.sql
Labels: backend

#11607 backend/added rain mode for pricing
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DynamicPricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#11485 backend/feat: live ekd fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallFeedbackOptions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallStatus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/CallFeedbackOptions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/FleetAlert/SendFleetAlert.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideNotificationsToDriver.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/call_status.sql
Labels: backend

#11613 Backend/feat:hardoing-query-name
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
Labels: backend

#11603 Added Coin Event Function on Cancellation
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CancellationCoins.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
Labels: backend

#11614 backend/fix/ny regular collection and misc fixes
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/NyRegularSubscriptionExtra.hs
  Backend/newman-tests/tests/ny-regular-feature/ny-regular-feature.postman_collection.json
Labels: backend

#11617 Backend/revert/graph ql queries
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/API/Nandi.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Types.hs
  flake.lock
Labels: backend

#11616 Backend: enhancement split settlement to include mandatory vendors in…
  Backend/app/rider-platform/rider-app/Main/spec/Storage/VendorDetail.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/VendorSplitDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/VendorSplitDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/VendorSplitDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CreateFareForMultiModal.hs
  Backend/dev/migrations-read-only/rider-app/vendor_split_details.sql
Labels: backend

#11621 backend/fixes: Insurance fix
  Backend/app/rider-platform/rider-app/Main/spec/API/Insurance.yaml
Labels: backend

#11628 backend/added rain mode for pricing
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DynamicPricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#11639 Search Requests By DriverId For BPP Dashboard
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/SearchRequest.yaml
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/RideBooking.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/RideBooking/SearchRequest.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Client/ProviderPlatform/RideBooking.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/Endpoints/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Location.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestExtra.hs
  Backend/dev/migrations-read-only/provider-dashboard/API_RideBooking_SearchRequest.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_RideBooking_SearchRequest.sql
Labels: backend

#11642 backend/fix : internal estimate api
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NyRegularSubscription.hs
Labels: backend

#11641 backend/refactor: change gate type for RouteStopMapping
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Station.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Types.hs
Labels: backend

#11647 backend/fix: multiple tickets ticketId fix
  Backend/app/rider-platform/rider-app/Main/spec/API/TicketKapture.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketKapture.hs
  flake.lock
Labels: backend

#11504 backend/feat/multimodal-confirm-fail-job
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/GWLink.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CreateFareForMultiModal.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/JobScheduler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/CheckMultimodalConfirmFail.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
  Backend/app/rider-platform/rider-app/Scheduler/src/App.hs
  Backend/dhall-configs/dev/rider-app.dhall
  flake.lock
Labels: backend

#11657 backend/feat/sending-feed-ids-deprecated-city
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
Labels: backend

#11655 Backend/feat/pickup-instruction-audio
  Backend/app/rider-platform/rider-app/Main/spec/API/PickupInstructions.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PickupInstructions.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PickupInstructions.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PickupInstructions.hs
  Backend/dev/migrations-read-only/rider-app/pickup_instructions.sql
Labels: backend

#11653 backend/enhance/rate_limit_dashboard
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
  Backend/app/dashboard/Lib/src/Environment.hs
  Backend/dhall-configs/dev/provider-dashboard.dhall
  Backend/dhall-configs/dev/rider-dashboard.dhall
  Backend/dhall-configs/dev/safety-dashboard.dhall
Labels: backend

#11673 Enhance multimodal search functionality
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
Labels: backend

#11676 Backend/fix/one 1rs split on master
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CreateFareForMultiModal.hs
Labels: backend

#11668 frontend/fix/quotes-polling-and-other-issues
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/BusTrackingScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/BusTrackingScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/SelectBusRoute/View.purs
Labels: frontend, ui-common, customer

#11678 backend/feat: Allow Single QR for Multi Passenger for Provider
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11679 Backend/multimodal/feat
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  flake.lock
Labels: backend

#11681 backend/fix: Graphql Query
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
Labels: backend

#11682 backend/fix: Graphql Query
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
Labels: backend

#11683 backend/fix: Negative fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#11685 backend/feat/reset_pwd
  Backend/app/dashboard/Lib/src/API/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Person.hs
Labels: backend

#11686 backend/feat/fleet_group_list
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetMemberAssociation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetMemberAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#11631 backend/enhance/vehicle_info_and_media
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/VehicleInfo.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/VehicleInfo.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/VehicleInfo.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/VehicleInfo.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MediaFileDocument.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/VehicleInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/VehicleInfo.hs
Labels: backend

#11677 backend/feat: added preliminary leg in single mode
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Search.hs
Labels: backend

#11692 enhance: Bus Ticketing Enhancements
  Frontend/ui-customer/src/Screens/TicketBookingFlow/BusTrackingScreen/View.purs
Labels: frontend, customer

#11694 refactor: Update BecknConfig queries to use cached version with fallback
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/BecknConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BecknConfigExtra.hs
Labels: backend

#11693 refactor: simplify canBeSwitched function in JourneyModule
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#11691 backend/fix : ny regular master job
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/NyRegularMaster.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_Merchant.sql
Labels: backend

#11670 backend/enhancement: Adding strong password policy and password expir…
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Person/Type.hs
  Backend/app/dashboard/Lib/src/Environment.hs
  Backend/app/dashboard/Lib/src/Storage/Beam/Person.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Person.hs
  Backend/app/dashboard/Lib/src/Tools/Auth/Api.hs
  Backend/app/dashboard/Lib/src/Tools/Auth/Common.hs
  Backend/app/dashboard/Lib/src/Tools/Auth/Dashboard.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Registration.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Tickets.hs
  Backend/dev/migrations/provider-dashboard/0069-adding-strong-password-policy-and-password-expiry-check-provider-side.sql
  Backend/dev/migrations/rider-dashboard/041-0069-adding-strong-password-policy-and-password-expiry-check-rider-side.sql
  Backend/dhall-configs/dev/provider-dashboard.dhall
  Backend/dhall-configs/dev/rider-dashboard.dhall
  Backend/dhall-configs/dev/safety-dashboard.dhall
Labels: backend

#11700 backend/reliability: Force Drain SearchRequest and Estimate to DB & I…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/BecknConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/BecknConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/BecknConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/BecknConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/estimate.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Estimate.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/EstimateExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequestExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/beckn_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request.sql
  Backend/dev/migrations-read-only/rider-app/estimate.sql
  Backend/dev/migrations-read-only/rider-app/search_request.sql
Labels: backend

#11702 backend/fix/wimb fma
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#11707 backend/fix/auto-cancel-stuck-booking-after-configurable-time
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/NySubscription.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Search.hs
  Backend/dev/migrations-read-only/rider-app/merchant.sql
Labels: backend

#11709 backend/fix/test-build-fail
  Backend/test/src/Mobility/Fixtures/Routes.hs
Labels: backend

#11704 Backend/feat : update FlowStatus to ACTIVE_BOOKINGS for normal ride j…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RideExtra.hs
Labels: backend

#11705 Backend/fix/updated_payment_order_for_multiple_confirms
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSRouteFareProduct.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/StopFare.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
  Backend/dev/migrations-read-only/rider-app/multimodal_preferences.sql
  Backend/test/src/Mobility/Fixtures/Routes.hs
Labels: backend

#11717 backend/fix: Multimodal Scheduled Ride
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
Labels: backend

#11718 backend/fix: migration
  Backend/dev/migrations-read-only/rider-app/booking.sql
Labels: backend

#11721 backend/improvement/removed-unnecessary-queries
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
Labels: backend

#11727 backend/fix/marking-journey-completed-vs-cancelled-on-stuff
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#11723 backend/ehnc : add plan translations
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/PlanTranslation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/PlanTranslation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
Labels: backend

#11728 backend/priority charges added
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FareParameters.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Vehicle.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Enums.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#11703 backend/fix:Handled-FCM-Configs-For-Particular-Merchants
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
Labels: backend

#11734 backend/improvement/calling-less-of-gims
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11735 backend/added migrations
  Backend/dev/migrations/dynamic-offer-driver-app/0687-add-priority-charges.sql
Labels: backend

#11744 Revert "backend/feat:caching-frfs-route"
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#11710 backend/fix/dashboard:Added validations for input fields in dashboard
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Roles.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Account.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DailyStats.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/SearchRequestForDriver.hs
  flake.lock
Labels: backend

#11324 backend/fix: for driver side destination coming as blank
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#11745 backend/improvement/status-updates-in-skip-leg-and-little-better-cond…
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#11747 backend/enhancement: optimize FRFS route scheduling to filter and sor…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#11742 frontend/fix: UI handle for AUTO_PLUS
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/Controller.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, driver

#11749 backend/fix/unnessary insc fork
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#11732 backend/fix: nearby buses filtration and added service type and shortName
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Types.hs
Labels: backend

#11602 frontend/fix : added pet ride popup on ride start
  Frontend/ui-driver/src/Components/RideActionModal/Controller.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/OD.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2OG.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, driver

#11752 backend/enh: kapture get closed ticket details
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/TicketKapture.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Ticket.hs
  Backend/dev/migrations/rider-app/1452-issue-chat.sql
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/Issue/IssueChat.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/Issue/IssueChat.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueChat.hs
  flake.lock
Labels: backend

#11144 backend/feat/one-way-scheduled_ride
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/quote.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/Quote.hs
  Backend/dev/migrations-read-only/rider-app/quote.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0620-msil-docs.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0626-scheduled-ride.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Enums.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/beckn-spec/src/Domain/Types/Trip.hs
Labels: backend

#11756 backend/ench : marketing events pre login api and ny regular fix
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NyRegularSubscription.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Event.hs
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/lib/sessionizer-metrics/src/Lib/SessionizerMetrics/Types/Event.hs
Labels: backend

#11690 backend/feat(walk-leg): enhance status detection using station gate proximity
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Location.hs
Labels: backend

#11760 backend/fix: for driver side destination coming as blank
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
Labels: backend

#11762 backend/fix/split_settlement_upd
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/VendorSplitDetails.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VendorSplitDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VendorFeeExtra.hs
Labels: backend

#11764 backend/dashboard/restrict-multiple-logins
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
Labels: backend

#11769 backend/fix:Added missing varibale in globalCommon.dhall
  Backend/dhall-configs/generic/common.dhall
Labels: backend

#11770 backend/fleet/fma_inconsistency_fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#11750 backend/fix/terminating-journey-if-taxi-estimate-cancel-is-the-only/l…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTryLocker.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/CancelSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/RideBooking/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#11772 backend/reliability: Remove ParentSearchRequest usage from Extend Leg…
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/JourneyExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/Journey.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
Labels: backend

#11781 backend/fix: bookingList api fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RideExtra.hs
Labels: backend

#11786 backend/feat/split-refund-flag
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/CheckMultimodalConfirmFail.hs
Labels: backend

#11787 backend: log for frfs redund status
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#11771 Backend/fix: updated agentAppTxnId for cris
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
Labels: backend

#11788 Backend/fix: via points in route fare
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/RouteFare.hs
Labels: backend

#11790 backend: finishing journey in ride-end if single taxi leg
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11792 backend/fix: Person Flow Status
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Frontend.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/Booking.hs
Labels: backend

#11793 backend: marking terminal leg status in cancel search and reviving it…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#11791 backend/fix:updated the cancellation logic calculation in Cancellatio…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/CancellationRate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
Labels: backend

#11726 Backend/fix/Vendor_Fee_Adjustment_On_DriverFee_Splitting
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VendorFeeExtra.hs
Labels: backend

#11402 backend/feat: Introduce DriverFlowStatus and enhance driver-related A…
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/RegistrationV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverMode.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Referral.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Operator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverFlowStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFleetOperatorAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFlowStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DriverOperatorAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/FleetDriverAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/FleetOperatorAssociation.hs
  Backend/dev/clickhouse/sql-seed/atlas-driver-offer-bpp-seed.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0132-alter-transporter-config.sql
  Backend/dev/rest-client/clickhouse/daily-stats.http
  Backend/dev/rest-client/clickhouse/driver-info-association.http
  Backend/dev/rest-client/clickhouse/ride.http
  Backend/test/src/Mobility/ARDU/NearestDrivers.hs
  Backend/test/src/Mobility/ARDU/Utils.hs
Labels: backend

#11799 fix: Convert IST Time to UTC Time for Single Mode Journey for Consist…
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#11794 feat/support/loose_name_check
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Fleet/RegistrationV2.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Merchant.hs
  Backend/app/dashboard/Lib/src/Storage/Beam/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/RegistrationV2.hs
  Backend/dev/migrations/provider-dashboard/0070-strong-name-check.sql
  Backend/dev/migrations/rider-dashboard/0042-strong-name-check.sql
  flake.lock
Labels: backend

#11805 refactor: Update FRFS ticket booking and payment logic
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSFarePolicy.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketDiscount.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSFarePolicy.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSGtfsStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSRecon.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSRouteFareProduct.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSRouteStopStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBookingFeedback.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketDiscount.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSVehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteStopCalender.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteTripMapping.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/StopFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSFarePolicy.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSGtfsStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSRecon.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBookingFeedback.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSVehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopCalender.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteTripMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CreateFareForMultiModal.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#11813 Backend/fix/added-version-in-try-catch
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
Labels: backend

#11815 backend/fix: Fix source and dest for bus booking
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11817 backend/fix:restricted_time
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#11812 backend/fix: kapture issue chats lock fix
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/TicketKapture.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/TicketKapture.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
Labels: backend

#11819 refactor: Update FRFS ticket booking payment logic
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSFarePolicy.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketDiscount.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSFarePolicy.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSGtfsStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSRecon.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSRouteFareProduct.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSRouteStopStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBookingFeedback.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketDiscount.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSVehicleServiceTier.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyRouteDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteStopCalender.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteTripMapping.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/StopFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSFarePolicy.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSGtfsStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSRouteFareProduct.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBookingFeedback.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyRouteDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBookingPayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteTripMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSTicketBookingPaymentExtra.hs
  Backend/dev/migrations-read-only/rider-app/frfs_config.sql
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
Labels: backend

#11821 backend/changes to include night shift charges in proportion
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FarePolicy.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0689-fare-policy-update.sql
Labels: backend

#11824 backend/fix: kapture issue chats lock fix
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/TicketKapture.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketKapture.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/TicketKapture.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
Labels: backend

#11828 backend/fix : add http managers in scheduler
  Backend/app/rider-platform/rider-app/Scheduler/package.yaml
  Backend/app/rider-platform/rider-app/Scheduler/rider-app-scheduler.cabal
  Backend/app/rider-platform/rider-app/Scheduler/src/App.hs
Labels: backend

#11830 backend/fix:restricted_time
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#11834 backend/fix: remove unused safediv
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11835 revert: add back safeDiv
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11837 run in master db for issue chats
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
Labels: backend

#11822 fix: Allow Transaction for a order, as Juspay allows retry transactio…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#11840 refactor: Enhance payment handling in multi-modal booking
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLegsFeedbacks.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
Labels: backend

#11802 Feature update tag csv
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_Driver.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Driver.sql
Labels: backend

#11846 kapture issue chat fix
  Backend/dev/migrations/rider-app/1453-issue-chat-unique-ticket-id.sql
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
Labels: backend

#11810 backend/fix : added metro ticket booking details in kapture create ti…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/IGM.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Common/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#11855 kapture issue chat fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketKapture.hs
Labels: backend

#11854 backend/fix : added metro ticket booking details in kapture create ti…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/IGM.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Common/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#11857 Revert "backend/fix : added metro ticket booking details in kapture create ti…"
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/IGM.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Common/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#11861 backend/refactor: Simplify RC association checks for drivers by intro…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#11831 backend/feat : split payments between vendors basesd on percentage
  Backend/app/rider-platform/rider-app/Main/spec/Storage/VendorDetail.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/VendorSplitDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/VendorSplitDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/VendorSplitDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CreateFareForMultiModal.hs
  Backend/dev/migrations-read-only/rider-app/vendor_split_details.sql
Labels: backend

#11868 Backend/fix/pickup-instruction-audio
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PickupInstructions.hs
Labels: backend

#11862 backend/fix : add vehicle service tier check on select ny regular
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
Labels: backend

#11870 backend/feat/metroRideCoinUpdate
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
Labels: backend

#11872 backend/fcm:- Added FCM when driver accept the Edit Destination Request
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/EditBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  flake.lock
Labels: backend

#11874 backend/fix : riderLocation-vehiclePositon logs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
Labels: backend
