Repository nammayatri/nammayatri, pull requests merged in 2025-02, with the labels that each got.

#10064 backend/fix/skip-leg
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSTicketBookingExtra.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
Labels: backend

#10066 frontend/fix: updated asset_downloader and becknbase
  Frontend/android-native/app/src/main/assets/juspay/becknbase.html
  Frontend/android-native/app/src/main/assets/juspay/v1-assets_downloader.jsa
Labels: frontend, native

#10044 backend/feature/actual qar calculation changes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Estimate.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Estimate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SupplyDemand/SupplyDemandRatio.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DynamicPricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestForDriverExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/estimate.sql
  Backend/test/src/Mobility/ARDU/Utils.hs
Labels: backend

#10071 backend/feat: add gtfstidy to backend devShells
  Backend/default.nix
Labels: backend

#10072 backend/feat: rename pname of gtfstidy
  Backend/default.nix
Labels: backend

#10073 frontend/fix: added redirect to dialer in call driver option of lost …
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#10000 Changing-the-location-accuracy-type
  Frontend/android-native/app/src/driver/bridgeDriver/res/values/strings.xml
  Frontend/android-native/app/src/driver/jatriSaathiDriver/res/values/strings.xml
  Frontend/android-native/app/src/driver/manaYatriPartner/res/values/strings.xml
  Frontend/android-native/app/src/driver/nammaYatriPartner/res/values/strings.xml
  Frontend/android-native/app/src/driver/odishaYatriPartner/res/values/strings.xml
  Frontend/android-native/app/src/driver/passCulturePartner/res/values/strings.xml
  Frontend/android-native/app/src/driver/yatriPartner/res/values/strings.xml
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/res/values/constants.xml
  Frontend/android-native/app/src/user/jatriSaathi/res/values/strings.xml
  Frontend/android-native/app/src/user/manaYatri/res/values/strings.xml
  Frontend/android-native/app/src/user/nammaYatri/res/values/strings.xml
  Frontend/android-native/app/src/user/odishaYatri/res/values/strings.xml
  Frontend/android-native/app/src/user/yatri/res/values/strings.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/android-native/mobility-app/src/main/res/values/strings.xml
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, native, driver

#10074 backend/fix: removed ride status condition for sending driver number …
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
Labels: backend

#10076 Backend/dashboard-booking-flow-sms-tracking-link-issue
  .github/workflows/nix.yaml
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#10081 frontend/fix: Added null pointer checks and fallbacks in case config is corrupted
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/res/values/constants.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/Utils.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/utils/Utils.java
Labels: frontend, native

#10070 frontend/fix: Deep Link Events fix not passing in loginFlow
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#10086 frontend/oncall/subscription/fix
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, driver

#10089 backend/fix/peak_timing_ticket_config
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
Labels: backend

#10095 frontend/fix: Fixed decode issue
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.js
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.purs
  Frontend/ui-common/src/FileProviders/ConfigProvider/ConfigProvider.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
Labels: frontend, ui-common, customer, driver

#10091 frontend/fix: Customer Bus Tracking API Response decoding fix
  Frontend/android-native/app/src/user/jatriSaathi/res/raw/ic_vehicle_processing.json
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, native, customer

#10096 fixed kaal chakra stuck in reschedule loop
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Chakras.hs
Labels: backend

#10099 frontend/fix : - Added ambulance waiting charges for different merchants
  Frontend/android-native/app/src/driver/manaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#10105 frontend/fix: fix clear focus cause and added reflection for clear focus
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
Labels: frontend, native, ui-common

#10106 Driver homescreen responsiveness issue
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, driver

#10104 frontend/refactor: trying out ServiceConnection for location services and city config update
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateWorker.java
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AboutUsScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AboutUsScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AboutUsScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AboutUsScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#10080 frontend/fix: added redirect to dialer in call driver option of lost …
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#10107 frontend/fix: Fixed decode issue
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.js
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.purs
  Frontend/ui-common/src/FileProviders/ConfigProvider/ConfigProvider.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
Labels: frontend, ui-common, customer, driver

#10087 backend/fix: adding serviceTierName type in TaxiLegExtraInfo
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#9949 Creating API to manage coin configs
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/CoinsConfig.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/CoinsConfig.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/CoinsConfig.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/CoinsConfig.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Client/ProviderPlatform/Management.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Coins/CoinsConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/TranslationsExtra.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_CoinsConfig.sql
  Backend/dev/rest-client/dynamic-offer-driver-app/coinsConfig.http
  Backend/test/src/Mobility/ARDU/APICalls.hs
Labels: backend

#10092 Backend/feat:default-instance-hashmap-suppoer
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/RiderConfig.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/TypesTH.hs
Labels: backend

#10116 backend/fix/multimodal-walk
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Maps.hs
  Backend/dev/migrations-read-only/rider-app/merchant_service_usage_config.sql
Labels: backend

#9964 backend/fix:value first api auth change
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/mocks/sms/src/Product/Sms.hs
  flake.lock
Labels: backend

#10121 frontend/fix: enabled location update worker code to check location services
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateWorker.java
Labels: frontend, native

#10094 frontend/feat: Subscription unavailable integration
  Frontend/android-native/app/src/driver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/jatriSaathiDriver/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/main/res/drawable/ny_ic_unavailable.png
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/OD.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/Controller.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/SubscriptionScreen/View.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, native, driver

#10061 frontend/enhancement : Add EV auto rickshaw
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/odishaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-common/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-common/src/Services/Api.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
  Frontend/ui-customer/src/Helpers/TipConfig.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Components/SelectVehicleTypeModal/View.purs
  Frontend/ui-driver/src/Components/StatsModel/View.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/VehicleDetailsScreen/ScreenData.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, native, ui-common, customer, driver

#10003 Backend/fix/update-status-api-fix-google-wallet
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/GWLink.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnStatus.hs
Labels: backend

#9899 Backend/feat/funnel-optimization-fare-caching
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/FRFSCachedQuote.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSQuoteExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/rider-app/frfs_config.sql
  Backend/dev/migrations-read-only/rider-app/frfs_quote.sql
  Backend/dev/migrations-read-only/rider-app/frfs_search.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations/rider-app/1371-updating_provider_id_and_name_frfs_config.sql
  Backend/dev/migrations/rider-app/1372-valid-till-frfs-config.sql
Labels: backend

#10135 frontend/fix : Asset provider fix
  Frontend/ui-common/src/FileProviders/AssetsProvider/AssetsProvider.js
  Frontend/ui-common/src/FileProviders/AssetsProvider/AssetsProvider.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-driver/src/Main.purs
Labels: frontend, ui-common, customer, driver

#10140 frontend/hotpush : Hotpush for override fix
  Frontend/ui-common/src/FileProviders/AssetsProvider/AssetsProvider.js
  Frontend/ui-common/src/FileProviders/AssetsProvider/AssetsProvider.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-driver/src/Main.purs
Labels: frontend, ui-common, customer, driver

#10131 Fixed Extend Leg Request Data
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/dhall-configs/generic/common.dhall
Labels: backend

#10138 backend/fix : Fix for sending FCM for DriverArrived even if the device is locked.
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
Labels: backend

#10129 frontend/feat: YS ticketing handled special occasion closed
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Accessor.purs
Labels: frontend, customer

#10145 Backend/Enhancement/MultiModalBookingInfo-Api
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10136 backend/fix: added mandatory for issues
  Backend/dev/migrations/dynamic-offer-driver-app/0600-add-mandatory-col-issue-opt.sql
  Backend/dev/migrations/rider-app/1391-add-mandatory-col-issue-opt.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Common/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Common/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/Issue/IssueOption.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/Issue/IssueOption.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueOption.hs
Labels: backend

#10069 backend/fix : cautio dashcam subscription
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverPlan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Plan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/CachedQueries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Extra/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Extra/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Webhook/Webhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Webhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPlanExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Payment.hs
  Backend/cabal.project
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_plan.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/plan.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/webhook.sql
  Backend/dev/migrations-read-only/rider-app/webhook.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/webhook/package.yaml
  Backend/lib/webhook/spec/Storage/webhook.yaml
  Backend/lib/webhook/spec/dsl-config.dhall
  Backend/lib/webhook/src-read-only/Lib/Webhook/Storage/Beam/Webhook.hs
  Backend/lib/webhook/src-read-only/Lib/Webhook/Storage/Queries/OrphanInstances/Webhook.hs
  Backend/lib/webhook/src-read-only/Lib/Webhook/Storage/Queries/Webhook.hs
  Backend/lib/webhook/src-read-only/Lib/Webhook/Types/Webhook.hs
  Backend/lib/webhook/src/Domain/Action/Flow.hs
  Backend/lib/webhook/src/Domain/Action/WebhookHandler.hs
  Backend/lib/webhook/src/Domain/Types/WebhookExtra.hs
  Backend/lib/webhook/src/Lib/Webhook/Storage/Beam/BeamFlow.hs
  Backend/lib/webhook/src/Lib/Webhook/Storage/Queries/WebhookExtra.hs
  Backend/lib/webhook/webhook.cabal
Labels: backend

#10152 backend/feat: Introduced FRFS Multimodal Testing Flag
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  flake.lock
Labels: backend

#10147 frontend/enhancement/ev_auto_rickshaw
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Components/ChooseVehicle/View.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-common/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-common/src/Services/Api.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/Common/View.purs
  Frontend/ui-customer/src/Components/QuoteListModel/View.purs
  Frontend/ui-customer/src/Helpers/Ride.purs
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
  Frontend/ui-customer/src/Helpers/TipConfig.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/InvoiceScreen/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/MyRidesScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
  Frontend/ui-driver/src/Components/SelectVehicleTypeModal/View.purs
  Frontend/ui-driver/src/Components/StatsModel/View.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Screens/AddVehicleDetailsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverEarningsScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/RideRequestScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/VehicleDetailsScreen/ScreenData.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, native, ui-common, customer, driver

#10159 frontend/variant: added configs for new variant of kerala savaari
  Frontend/android-native/app/src/driver/keralaSavaariPartner/assets/juspay/config.json
  Frontend/android-native/app/src/driver/keralaSavaariPartner/ic_launcher-playstore.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/drawable/ic_floating_widget.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/drawable/ic_launcher.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/drawable/ic_launcher_background.xml
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/drawable/ic_launcher_with_name.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/drawable/ic_logo_name.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/drawable/ic_namma_yatri_logo.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-anydpi-v26/ic_launcher.xml
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-anydpi-v26/ic_launcher_round.xml
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-hdpi/ic_launcher.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-hdpi/ic_launcher.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-hdpi/ic_launcher_foreground.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-hdpi/ic_launcher_foreground.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-hdpi/ic_launcher_round.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-hdpi/ic_launcher_round.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-mdpi/ic_launcher.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-mdpi/ic_launcher.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-mdpi/ic_launcher_foreground.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-mdpi/ic_launcher_foreground.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-mdpi/ic_launcher_round.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-mdpi/ic_launcher_round.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xhdpi/ic_launcher.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xhdpi/ic_launcher.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xhdpi/ic_launcher_foreground.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xhdpi/ic_launcher_foreground.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xhdpi/ic_launcher_round.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xhdpi/ic_launcher_round.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxhdpi/ic_launcher.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxhdpi/ic_launcher.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxhdpi/ic_launcher_foreground.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxhdpi/ic_launcher_round.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxhdpi/ic_launcher_round.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxxhdpi/ic_launcher.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxxhdpi/ic_launcher.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxxhdpi/ic_launcher_round.png
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/mipmap-xxxhdpi/ic_launcher_round.webp
  Frontend/android-native/app/src/driver/keralaSavaariPartner/res/values/strings.xml
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
Labels: frontend, native

#10146 backend/fix : added extra keys in getConfigValue in issue flow
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Ride.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#10160 backend/fix/multimodal-booking-status
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
Labels: backend

#10163 Frfs unification and fares
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Metro/CMRL/FareByOriginDest.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#10165 backend/enh/backfilled-check-in-profile
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonStats.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/dev/migrations-read-only/rider-app/person_stats.sql
Labels: backend

#10167 frontend/fix/customer-cancellation-banner-fix
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#10169 frontend/fix:- added config for showing RECOMMENDED
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, customer, driver

#10173 Frfs fares
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Interface.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#10174 backend/fix: FRFS Stage Fares
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10153 backend/fix/driver-side-marketing-events
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/MarketingEvents.hs
Labels: backend

#10141 backend/fix : end ride race fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#9929 backend/feat/Truck Delivery ride flow
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Booking.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DeliveryDetails.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ParcelDetails.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/ParcelDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/ParcelDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ParcelDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/DeliveryDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/QueriesExtra/RideLite.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/Booking.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/booking.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request_for_driver.sql
  Backend/dev/migrations-read-only/rider-app/booking.sql
  Backend/dev/migrations-read-only/rider-app/parcel_details.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#10168 backend/fix : added phoneNo and rideShortId to issueList apis on ride…
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/IssueManagement/Issue.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/IssueManagement/Issue.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/IssueManagement/Issue.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/IssueManagement/Issue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/IssueManagement/Issue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Issue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/IssueManagement/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/IssueManagement/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/IssueManagement/Issue.hs
  Backend/lib/shared-services/spec/IssueManagement/ProviderPlatform/API/Issue.yaml
  Backend/lib/shared-services/spec/IssueManagement/RiderPlatform/API/Issue.yaml
  Backend/lib/shared-services/src-read-only/API/Types/ProviderPlatform/IssueManagement/Endpoints/Issue.hs
  Backend/lib/shared-services/src-read-only/API/Types/RiderPlatform/IssueManagement/Endpoints/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueReport.hs
Labels: backend

#10179 backend/fix: missing handler webhook
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
Labels: backend

#10144 frontend/feat : added referral option to account setup screen
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_checkcircle.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_subtract.png
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/BN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/EN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/HI.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/KN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/ML.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/OD.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/Strings.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/TA.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/TE.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/Types.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/Controller.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/Handler.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#10180 frontend/fix:- added config for showing RECOMMENDED
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#10183 frontend/recommanded fix
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#10185 backend/fix: Wheres My Bus Name Validation and Fleet Owner Info Acces…
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#9059 backend/fix/adds driverTagScore to Search Request for Driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SearchRequestForDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Types.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request_for_driver.sql
Labels: backend

#10119 GET API for JourneyEndFeedback
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLegsFeedbacks.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLegsFeedbacks.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyFeedback.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLegsFeedbacks.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/dev/migrations-read-only/rider-app/journey_legs_feedbacks.sql
Labels: backend

#10190 backend/fix: added mandatory for issues
  Backend/dev/migrations/dynamic-offer-driver-app/0600-add-mandatory-col-issue-opt.sql
  Backend/dev/migrations/rider-app/1391-add-mandatory-col-issue-opt.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Common/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Common/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/Issue/IssueOption.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/Issue/IssueOption.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueOption.hs
Labels: backend

#10182 frontend/feat : added referral option to account setup screen
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_checkcircle.png
  Frontend/android-native/app/src/user/common/res/drawable/ny_ic_subtract.png
  Frontend/ui-customer/src/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Resources/Localizable/BN.purs
  Frontend/ui-customer/src/Resources/Localizable/EN.purs
  Frontend/ui-customer/src/Resources/Localizable/FR.purs
  Frontend/ui-customer/src/Resources/Localizable/HI.purs
  Frontend/ui-customer/src/Resources/Localizable/KN.purs
  Frontend/ui-customer/src/Resources/Localizable/ML.purs
  Frontend/ui-customer/src/Resources/Localizable/TA.purs
  Frontend/ui-customer/src/Resources/Localizable/TE.purs
  Frontend/ui-customer/src/Resources/Localizable/Types.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/Controller.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/Handler.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, native, customer

#10195 backend/fix : Fix for sending FCM for DriverArrived even if the devic…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
Labels: backend

#10197 frontend:fix Vehicle Registration support number
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/UploadDrivingLicenseScreen/Controller.purs
Labels: frontend, driver

#10192 backend/enh:hedis-upgrade-for-zone-aware-replica-usage
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Overlay/SendOverlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTryLocker.hs
  Backend/dhall-configs/dev/beckn-gateway.dhall
  Backend/dhall-configs/dev/broadcast-message.dhall
  Backend/dhall-configs/dev/driver-availability-calculator.dhall
  Backend/dhall-configs/dev/driver-drainer.dhall
  Backend/dhall-configs/dev/driver-offer-allocator.dhall
  Backend/dhall-configs/dev/driver-tracking-healthcheck-service.dhall
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/location-update.dhall
  Backend/dhall-configs/dev/mock-public-transport-provider-platform.dhall
  Backend/dhall-configs/dev/person-stats.dhall
  Backend/dhall-configs/dev/producer.dhall
  Backend/dhall-configs/dev/provider-dashboard.dhall
  Backend/dhall-configs/dev/public-transport-rider-platform.dhall
  Backend/dhall-configs/dev/rider-app-scheduler.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/dhall-configs/dev/rider-dashboard.dhall
  Backend/dhall-configs/dev/rider-drainer.dhall
  Backend/dhall-configs/dev/rider-producer.dhall
  Backend/dhall-configs/dev/safety-dashboard.dhall
  Backend/dhall-configs/dev/sdk-event-pipeline.dhall
  Backend/dhall-configs/dev/search-result-aggregator.dhall
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  flake.lock
Labels: backend

#10202 frontend/fix/cancellation-banner-ios
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#10199 backend/fix: mandatory issue fixes
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Common/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Common/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/Issue/IssueOption.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/Issue/IssueOption.hs
Labels: backend

#10208 Backend/feat:hashmap-support
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/TypesTH.hs
Labels: backend

#10204 frontend/fix : Create new event for first ride completed
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#10211 Backend/enh/wallet-url-configurable-based-on-className
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnStatus.hs
Labels: backend

#10214 frontend/fix: Account setup screen screen stuck
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/View.purs
Labels: frontend, customer

#10217 frontend/fix: Account setup screen screen stuck
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/View.purs
Labels: frontend, customer

#10221 Backend/fix: cancellation ride assigned issue.
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
Labels: backend

#10118 backend/fix/extend-leg
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
Labels: backend

#10218 Backend/fix: cancellation ride assigned issue.
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
Labels: backend

#10223 backend/isBackfilled-false
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
Labels: backend

#10224 backend/fix/multimodal-tracking
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
Labels: backend

#10222 frontend/fix: Added share option in alerts section Driver app
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Engineering/Helpers/Accessor.purs
  Frontend/ui-customer/src/Services/Accessor.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Components/NotificationDetailModel/Controller.purs
  Frontend/ui-driver/src/Components/NotificationDetailModel/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/NotificationsScreen/Handler.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, ui-common, customer, driver

#10225 frontend smart tip changes
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Helpers/TipConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#10227 backend/fix/exposed-rider-daily-job-handler
  Backend/app/rider-platform/rider-app/Scheduler/src/App.hs
  Backend/app/rider-platform/rider-app/Scheduler/src/Environment.hs
Labels: backend

#10175 Job Creation for Scheduled FCMS
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Message.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Message.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Management/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Message.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/FCM/RunScheduledFCMS.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
Labels: backend

#10205 frontend/fix: make driver RC upload skip popUp
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Resource/Localizable/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/OD.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/StringsV2.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Types.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, driver

#10209 frontend/fix: issue mandatory uploads
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

#10234 backend/fix : made category for delete account configurable
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Support.hs
  Backend/lib/shared-services/src/IssueManagement/Common.hs
Labels: backend

#10226 backend/feat: Multimodal Live Tracking
  Backend/app/rider-platform/rider-app/Main/spec/API/TrackRoute.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyRouteDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyRouteDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyRouteDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Metro/CMRL/FareByOriginDest.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Interface.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Subway.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Subway.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSSearchExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/RouteDetails.hs
  Backend/dev/migrations-read-only/rider-app/journey_route_details.sql
  Backend/lib/beckn-spec/beckn-spec.cabal
  Backend/lib/beckn-spec/src/Domain/Types/FRFSRouteDetails.hs
Labels: backend

#10241 backend/fix: Non Mandatory Vehicle Document
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
Labels: backend

#10242 backend/fix: Added locationName in savedLocation API
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SavedReqLocation.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SavedReqLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SavedReqLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/CachedQueries/SavedReqLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SavedReqLocation.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/SavedReqLocation.hs
  Backend/dev/migrations-read-only/rider-app/saved_location.sql
Labels: backend

#10245 frontend/added faster tag in Direct Call
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#10247 tip issue fix
  Frontend/ui-customer/src/Helpers/TipConfig.purs
Labels: frontend, customer

#10252 frontend/remove deleteValueFromLocalStore BASE_URL
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, driver

#10253 frontend/added faster tag in Direct Call
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/MerchantConfigs/Types.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSummaryScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#10244 Fixed Scheduled Issue
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Management/Message.hs
Labels: backend

#10257 backend/fix : fixed missing tip in base fare and subscription updatio…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#10256 Implemented API to re-add skipped leg in multimodal journey
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#10243 Backend:feat multimodal ticket status fetch
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
Labels: backend

#10262 backend/fix : Add rideId in taxi leg.
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10264 backend/ci/fix/remove-graviton-build-for-now
  .github/workflows/nix.yaml
Labels: backend

#10265 Backend: fix - Payment status in JourneyStatusResp
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#10260 backend/fix: Always use GTFS ID to Domain code to fetch Route and Sto…
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/JourneyLegExtra.hs
Labels: backend

#10206 Backend/fix/update-event-discount
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSQuoteExtra.hs
Labels: backend

#10273 backend/fix: Vehicle Tracking Before Booking
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10272 backend/feat/Truck Delivery variants
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/dev/local-testing-data/person-location.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0001-local-testing-data.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0016-fare-policy.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0067-add-phone-number-as-text-to-person.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0382-vehicle-service-tier.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0541-update-vehicle-category-vehicleServiceTier.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0615-delivery-truck.sql
  Backend/dev/migrations/rider-app/1400-delivery-truck.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Vehicle.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/beckn-spec/src/Domain/Types/ServiceTierType.hs
  Backend/lib/beckn-spec/src/Domain/Types/VehicleVariant.hs
Labels: backend

#10170 backend/fix: kaal-chakra missed days
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/KaalChakra/Chakras.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Chakras.hs
  Backend/lib/yudhishthira/package.yaml
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Event/KaalChakra/Jobs.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
  Backend/lib/yudhishthira/test/app/Main.hs
  Backend/lib/yudhishthira/test/src/KaalChakraJobs.hs
  Backend/lib/yudhishthira/yudhishthira.cabal
Labels: backend

#10271 backend/fix/multimodal-confirm-and-cancel
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#10276 backend/fix: Fare Policy Toll Should Be Part of Driver Toll Charges B…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#10275 Frfs quote fix
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10261 backend:fix-for-beam-queries-to-replica
  Backend/app/dashboard/Lib/src/Storage/Queries/Person.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Role.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Transaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/BookingCancellationReasonExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/CallStatusExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverRCAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverReferralExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Geometry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/InterCityTravelCities.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/MessageReportExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RatingExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RouteExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingCancellationReasonExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Geometry.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RouteExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/StationExtra.hs
  flake.lock
Labels: backend

#10037 backend/enhc/config-pilot-apis
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/NammaTag.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/NammaTag.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/NammaTag.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/NammaTag.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/RiderConfig.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/app_dynamic_logic_element.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/app_dynamic_logic_rollout.sql
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/rider-app/app_dynamic_logic_rollout.sql
  Backend/dev/migrations-read-only/rider-dashboard/API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_NammaTag.sql
  Backend/lib/utils/src/Tools/DynamicLogic.hs
  Backend/lib/yudhishthira/spec/Storage/AppDynamicLogic.yaml
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Beam/AppDynamicLogicRollout.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/AppDynamicLogicElement.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/AppDynamicLogicRollout.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/OrphanInstances/AppDynamicLogicElement.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/OrphanInstances/AppDynamicLogicRollout.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Types/AppDynamicLogicRollout.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Storage/CachedQueries/AppDynamicLogicRollout.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Storage/Queries/AppDynamicLogicElementExtra.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Storage/Queries/AppDynamicLogicRolloutExtra.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Tools/Utils.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types/ConfigPilot.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/TypesTH.hs
  Backend/lib/yudhishthira/yudhishthira.cabal
Labels: backend

#10281 backend/fix/multimodal-edit-loc
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#10283 Added lock to handle concurrent requests on Multimodal LegSearchId in Add Skip Leg
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#10172 frontend/feat: Improved Driver App Boot up
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/src/dev/assets/juspay/becknbase.html
  Frontend/android-native/app/src/driver/bridgeDriver/AndroidManifest.xml
  Frontend/android-native/app/src/driver/jatriSaathiDriver/AndroidManifest.xml
  Frontend/android-native/app/src/driver/manaYatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/nammaYatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/odishaYatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/driver/yatriPartner/AndroidManifest.xml
  Frontend/android-native/app/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainApplicationConsumer.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainApplicationProvider.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MobilityServiceHolder.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MobilityServices.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/Utils.java
  Frontend/android-native/app/src/user/bridge/AndroidManifest.xml
  Frontend/android-native/app/src/user/jatriSaathi/AndroidManifest.xml
  Frontend/android-native/app/src/user/manaYatri/AndroidManifest.xml
  Frontend/android-native/app/src/user/nammaYatri/AndroidManifest.xml
  Frontend/android-native/app/src/user/odishaYatri/AndroidManifest.xml
  Frontend/android-native/app/src/user/yatri/AndroidManifest.xml
  Frontend/android-native/mobility-driver/build.gradle
  Frontend/android-native/mobility-driver/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MainApplication.java
  Frontend/ui-common/src/DecodeUtil/DecodeUtil.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.js
  Frontend/ui-common/src/Engineering/Helpers/Commons.purs
  Frontend/ui-common/src/Engineering/Helpers/Events.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/Utils.js
  Frontend/ui-common/src/Payment/PaymentPage.js
  Frontend/ui-common/src/Services/CallAPI.js
  Frontend/ui-common/src/Services/CallAPI.purs
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Utils.js
  Frontend/ui-driver/src/Main.purs
  Frontend/ui-driver/src/Services/Backend.purs
Labels: frontend, native, ui-common, customer, driver

#10292 frontend/feat: update asset_downlaoder to v 0.0.12
  Frontend/android-native/app/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/android-native/mobility-common/src/main/assets/juspay/v1-assets_downloader.jsa
Labels: frontend, native

#10296 backend/enhancement : Added Lat Long for From To Stations in Route Details for Quote API
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
Labels: backend

#10295 Backend: fix - Multimodal unified QR provider
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10286 Backend/Feat/RideBookingListV2
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/JourneyExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RideExtra.hs
Labels: backend

#10298 backend/fix: Ambulance updateServiceTier Fix and non oxygen default check added
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
Labels: backend

#10299 backend/optimisation-for-driver-info-update-query
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
Labels: backend

#10287 dashboard apis to serve ts-service
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/NammaTag.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/NammaTag.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/NammaTag.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/NammaTag.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/UiDriverConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/UiDriverConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/UiDriverConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/UiDriverConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/UiDriverConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/UiDriverConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/UiDriverConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/UiRiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/UiRiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/UiRiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/UiRiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/UiRiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/UiRiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/UiRiderConfigExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/ui_driver_config.sql
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/rider-app/ui_rider_config.sql
  Backend/dev/migrations-read-only/rider-dashboard/API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_NammaTag.sql
  Backend/lib/shared-services/shared-services.cabal
  Backend/lib/shared-services/src/ConfigPilotFrontend/Common.hs
  Backend/lib/utils/src/Tools/DynamicLogic.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/TypesTH.hs
Labels: backend

#10300 feat: ekd popup hotpush
  Frontend/ui-customer/src/Components/DriverInfoCard/Controller.purs
  Frontend/ui-customer/src/Components/DriverInfoCard/View.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, customer, driver

#10306 backend/fix: changes sql type of driver_tag_score in SRFD
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request_for_driver.sql
Labels: backend

#10210 frontend/fix : added driver details to lost and found flow
  Frontend/ui-common/src/Components/ChatView/Controller.purs
  Frontend/ui-common/src/Components/ChatView/View.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/FaqScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReportIssueChatScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/RideSelectionScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SelectFaqScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/Controller.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/ScreenData.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/Controller.purs
  Frontend/ui-driver/src/Screens/ReportIssueChatScreen/View.purs
Labels: frontend, ui-common, customer, driver

#10311 api that lts hits to send rider notification about the driver arrival…
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/API/Internal.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Internal/DriverArrivalNotf.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/DriverArrivalNotf.hs
Labels: backend

#10318 frontend/fix:Remove version Check for Chat
  Frontend/ui-driver/src/Components/RideActionModal/View.purs
Labels: frontend, driver

#10320 backend/fix: removes reallocation disable and rate card disable check…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
Labels: backend

#10326 backend/readme: Update direnv instructions
  Backend/README.md
Labels: backend

#10319 Backend/fix: Unified Ticket QR Provider mismatch fix
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#10327 backend/fix : create merchant api fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0080-merchant-sms-config.sql
  Backend/dev/migrations/rider-app/1071-merchant-sms-config.sql
  Backend/dev/migrations/rider-app/1092-merchant-multiple-exoPhones.sql
Labels: backend

#10308 backend/enhc/config-pilot-rider-dashboard
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/NammaTag.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/configs.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantPushNotification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/RideRelatedNotificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Extra/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MerchantConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantPushNotification.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RideRelatedNotificationConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/PayoutConfig.hs
  Backend/dev/migrations-read-only/rider-dashboard/API_Management_NammaTag.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_NammaTag.sql
  Backend/lib/utils/src/Tools/DynamicLogic.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/TypesTH.hs
Labels: backend

#10282 backend/feat/automatic-smart-alert
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10304 backend/fix/update-job-duplicate-check
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/KaalChakra/Chakras.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Chakras.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/DB/Queries.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/Redis/Queries.hs
  Backend/lib/scheduler/src/Lib/Scheduler/JobStorageType/SchedulerType.hs
Labels: backend

#10337 backend/feat/added-fare-issue-ride-count
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#10334 Backend/ehn:skip query when success payment status
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#10339 frontend/fix : fix for Ride request popup crash.
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
Labels: frontend, native

#10315 Fixing Race condition of Ticket booking
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SeatManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
  Backend/dev/migrations-read-only/rider-app/ticket_booking.sql
Labels: backend

#10177 frontend/fix: Added location name also for favourite location along with tag
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/AddNewAddressScreen/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Transformer.purs
  Frontend/ui-customer/src/Services/API.purs
Labels: frontend, customer

#10341 Frontned/feat/voip - Added extra null checks for callId to cover sdk unknown behaviours
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/CleverTapSignedCall.java
Labels: frontend, native

#10203 frontend/fix : Create new event for first ride completed
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#10345 reopened count and removed callback missed queries
  Backend/dev/migrations/dynamic-offer-driver-app/0667-reopened-count.sql
Labels: backend

#10330 backend/feat/eta for wmb
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RouteStopMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10346 Backend/fix/reopend count and removed callback bap
  Backend/dev/migrations/dynamic-offer-driver-app/0667-reopened-count.sql
  Backend/dev/migrations/rider-app/1401-reopened-count.sql
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/Dashboard/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/Issue/IssueConfig.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Types/Issue/IssueReport.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/Issue/IssueConfig.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Beam/Issue/IssueReport.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueConfig.hs
  Backend/lib/shared-services/src/IssueManagement/Storage/Queries/Issue/IssueReport.hs
Labels: backend

#7937 backend/enh: moves sms template to merchant_message and adds short url expiry config
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/PartnerOrgConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/dev/migrations-after-release/rider-app/0001-remove-sms-template-from-partner-org-config.sql
  Backend/dev/migrations/rider-app/1268-partner-organization.sql
  Backend/dev/migrations/rider-app/1288-add-metro-ticket-booked-sms.sql
Labels: backend

#10350 frontend/fix: Fixed crash when app is restarted in background
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
Labels: frontend, native

#10332 backend/fix/multimodal-location-address
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/JourneyLegExtra.hs
Labels: backend

#10358 backend/fix/ticket-booking-previous-state-update
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

#10357 backend/enh: moves sms template to merchant_message and adds short url
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/PartnerOrgConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/dev/migrations-after-release/rider-app/0001-remove-sms-template-from-partner-org-config.sql
  Backend/dev/migrations/rider-app/1268-partner-organization.sql
  Backend/dev/migrations/rider-app/1288-add-metro-ticket-booked-sms.sql
Labels: backend

#10355 backend/enhc: added field vehicleIconUrl in taxiLegExtraInfo
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10356 frontend/feat/ticket-booking-status
  Frontend/ui-customer/src/Resources/LocalizableV2/BN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/EN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/HI.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/KN.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/ML.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/OD.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/TA.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/TE.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/Types.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketBooking/Transformer.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/Transformer.purs
  Frontend/ui-customer/src/Screens/Types.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#10360 added customer tag in DriverSearchBatchInput
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool/Config.hs
Labels: backend
