Repository nammayatri/nammayatri, pull requests merged in 2025-05, with the labels that each got.

#10972 backend/enhancement: WMB Private Fleet Flow
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
Labels: backend

#10973 backend/enhancement: More WMB Private Fleet Flow Changes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_config.sql
Labels: backend

#10961 Backend:fix update order paymentOrderId
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#10975 Backend/fix:minor-fix-bus
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MultiModalBus.hs
Labels: backend

#10955 backend/feat: Refactor FleetDriver API to use requestorId and improve…
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverRCAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetRCAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0132-alter-transporter-config.sql
  Backend/dev/migrations/provider-dashboard/0062-add-require-approval-in-merchant.sql
  Backend/dev/migrations/provider-dashboard/0067-msil-dashboard.sql
Labels: backend

#10976 backend/fix:suburban-redis-fix
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MultiModalSuburban.hs
Labels: backend

#10977 Backend/fix:redis-suburban-parsing-fix
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MultiModalSuburban.hs
  Backend/dev/migrations/rider-app/1428-added-aajuspay-service.sql
Labels: backend

#10981 Backend/fix/fixing-run-in-master
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
Labels: backend

#10983 backend/improvement/updated-parallel-search-request-logic
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
Labels: backend

#10984 backend/enhancement: WMB Private Fleet Keep Driver to Vehicle Link
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_config.sql
Labels: backend

#10988 backend/fix:steps sync issue
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/MerchantOnboarding.hs
Labels: backend

#10990 backend/reliability: Add Short Retry For Critical External API
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Track.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReferee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/ExotelEndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/CancellationRate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/IssueBreachMitigation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Flow.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverLocation/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestDriversCurrentlyOnRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/Person/GetNearestGoHomeDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10987 Backend:ench quantity in multimodal update order api
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#10993 backend/fix: Update Fleet API calls to use optional FleetOwnerId
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
Labels: backend

#10996 backend/fix/addDrivers_fleetMandatory
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
Labels: backend

#10997 backend/fix: association overwrite fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFleetOperatorAssociation.hs
Labels: backend

#10799 backend/enh: handle userPreferences serviceTierTypes
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MultimodalPreferences.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MultimodalPreferences.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MultimodalPreferences.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/multimodal_preferences.sql
Labels: backend

#11006 frontend/provider/fix: Fix ANRs and Crashes
  Frontend/android-native/app/build.gradle
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateServiceV2.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
Labels: frontend, native

#10992 backend/enhance/vehicle_images_in_status_handler
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/ImageExtra.hs
Labels: backend

#11012 Backend/fix:fixing-route-code-suburban
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Interface.hs
Labels: backend

#11001 backend/dashboard/fix:public asset upload in ticketing
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/TicketDashboard.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-dashboard/0038-add-ticket-dashboard-merchant-onboarding-access.sql
Labels: backend

#11007 Backend/feat/google-wallet-cancel-support
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/lib/utils/src/Utils/Common/JWT/TransitClaim.hs
Labels: backend

#10927 MSIL. Adding FleetOwner link by fleetNo in operator APIs
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/FleetManagement.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Operator_FleetManagement.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0677-add-fleet-link-and-unlink-success-messages.sql
Labels: backend

#10998 backend/fix: added drunk and drive violation count
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/Customer.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/Customer.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/Customer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ReportIssue.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Customer.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/Customer.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_information.sql
  Backend/dev/migrations-read-only/rider-dashboard/API_AppManagement_Customer.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_Customer.sql
  Backend/lib/shared-services/src/IssueManagement/Common.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#11018 Added logs to FRFS tracking.
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#11015 Backend/fix:key-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
Labels: backend

#11003 backend/fix : added version check for parallel driver requests
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
Labels: backend

#11002 backend/pooling/getting-time-metrics
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
Labels: backend

#11022 backend : Enhance Kafka producer flushing with error handling
  Backend/app/provider-platform/dynamic-offer-driver-drainer/src/DBSync/DBSync.hs
  Backend/app/rider-platform/rider-app-drainer/src/DBSync/DBSync.hs
Labels: backend

#11023 backend/fix/fleet_unlink_query
  Backend/dev/migrations/dynamic-offer-driver-app/0677-add-fleet-link-and-unlink-success-messages.sql
Labels: backend

#11025 Backend:fix Update order quantity update
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#11019 Backend/fix: preferred transit modes
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
Labels: backend

#11026 backend/feat:ticket-onb-cancelation
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/MerchantOnboarding.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/MerchantOnboarding.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/MerchantOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MerchantOnboarding.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/MerchantOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/MerchantOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MerchantOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MerchantOnboardingStep.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/MerchantOnboarding.hs
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_MerchantOnboarding.sql
  Backend/dev/migrations/rider-dashboard/0038-add-ticket-dashboard-merchant-onboarding-access.sql
Labels: backend

#11030 backend/fix : fixed version check for parallel search requests
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
Labels: backend

#11028 Backend/MultiModal - JourneyChangeLog is updated for Leg Order
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#11032 Backend/fix:neary-api-fix
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RecentLocation.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Journey.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/recent_location.sql
Labels: backend

#11016 backend/fix/vehicle_original_images
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
Labels: backend

#11035 backend/feat: Fleet Conductor Badge
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBadge.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBadgeAssociation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetBadge.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetBadgeAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetBadge.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetBadgeAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBadge.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBadgeAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FleetBadge.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FleetBadgeAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripAlertRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetBadgeAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetBadgeExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_badge.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_badge_association.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_alert_request.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_transaction.sql
  Backend/lib/beckn-spec/beckn-spec.cabal
  Backend/lib/beckn-spec/src/Domain/Types/FleetBadgeType.hs
Labels: backend

#11031 feat: Added file based logging for location updates
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateServiceV2.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/Log.java
Labels: frontend, native

#11013 frontend/enhanc/: Signup and most latest Lat Lon of customer
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#11037 Backend/fix:adding-logs-in-getFare-api
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#11038 backend/feat: Enhance fleet management by creating fleet owners if no…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
Labels: backend

#10966 Frontend/feat/cleverTapEvent-for-bottom-sheet-user-interaction
  Frontend/ui-customer/src/Components/ChooseYourRide/Controller.purs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#11011 backend/feat/cris-keys-api
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/RouteFare.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/Uts.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/JobScheduler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/UpdateCrisUtsData.hs
  Backend/app/rider-platform/rider-app/Scheduler/src/App.hs
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#11044 Backend/fix:fixing-recent-location
  Backend/app/rider-platform/rider-app/Main/spec/API/Places.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RecentLocation.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/Places.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RecentLocation.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Places.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RecentLocationExtra.hs
  Backend/dev/migrations-read-only/rider-app/recent_location.sql
Labels: backend

#11046 backend/fix:fixing-things
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/IntegratedBPPConfig.hs
Labels: backend

#11047 Backend/feat:adding-source-in-get-AvailableRoutesByTier
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
Labels: backend

#11049 Backend/feat:removing-time-filter
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#11051 fix: media player crashes
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
Labels: frontend, native

#11052 Backend/fix:temp-fare-fix
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
Labels: backend

#11010 frontend/fix: Location Permission Fix
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/Controller.purs
Labels: frontend, ui-common, customer

#11009 frontend/fix: Location Permission Fix
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/Controller.purs
Labels: frontend, ui-common, customer

#11048 Backend/fix/create_person_stat_for_new_users
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
Labels: backend

#11056 Backend/fix/create_person_stat_for_new_users
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
Labels: backend

#11057 graphql-query-max-numberOfDepartures-500-hardcoded
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
Labels: backend

#11055 frontend/enhanc/signup and most latest Lat Lon of customer Hot Push
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/Screens/OnBoardingFlow/AccountSetUpScreen/Handler.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#11059 fix: empty fares fallback
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
Labels: backend

#11062 Backend/fix/kapture issue dashboard apis
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#11061 backend/feat: Signup and most recent Lat/Lon of rider
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/dev/migrations-read-only/rider-app/person.sql
Labels: backend

#11058 backend/enhancement: Add Driver and Conductor Name in TripTransaction…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
Labels: backend

#10944 backend/enhc/config-pilot-ui-confgis-refractor
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/UiDriverConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/ConfigPilot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/UiRiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/ConfigPilot.hs
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/lib/shared-services/shared-services.cabal
  Backend/lib/shared-services/src/ConfigPilotFrontend/API.hs
  Backend/lib/shared-services/src/ConfigPilotFrontend/Flow.hs
  Backend/lib/shared-services/src/ConfigPilotFrontend/Types.hs
  Backend/lib/utils/src/Tools/DynamicLogic.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
Labels: backend

#11065 Backend/fix/issue closed by system fix
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#11040 backend/fix: Add vehicle service tier handling for meter ride searches
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
Labels: backend

#10971 Backend/enh - Added Metro Business Hours Job and caching before accessing Fare API
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Metro/CMRL/FareByOriginDest.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/JobScheduler.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/MetroBusinessHour.hs
  Backend/app/rider-platform/rider-app/Scheduler/src/App.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#11053 backend/feat:public asset support, race condition handling of seat updation
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/TicketDashboard.yaml
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/TicketDashboard.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SeatManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SeatManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SeatManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Types/Dashboard/AppManagement/OrphanInstances/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/dev/migrations-read-only/rider-app/seat_management.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_TicketDashboard.sql
  Backend/dev/migrations/rider-dashboard/0038-add-ticket-dashboard-merchant-onboarding-access.sql
  Backend/lib/beckn-services/src/AWS/S3/Flow.hs
  Backend/lib/beckn-services/src/AWS/S3/Init.hs
  Backend/lib/beckn-services/src/AWS/S3/Types.hs
Labels: backend

#11066 backend/fix: improve driver stats calculation and handle date range v…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
Labels: backend

#11072 Backend/frfs/change encryption of qr to signing of qr
  Backend/app/rider-platform/rider-app/Main/package.yaml
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Direct/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Direct/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Types.hs
  Backend/app/rider-platform/rider-app/Main/test/FRFS/DirectQR.hs
  Backend/app/rider-platform/rider-app/Main/test/Main.hs
Labels: backend

#11079 frontend/fix: Location Permission Fix
  Frontend/ui-customer/src/Screens/OnBoardingFlow/PermissionScreen/Controller.purs
Labels: frontend, customer

#11071 backend/fix : enhanced findAllRideItems dashboard query for rider and…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/RideExtra.hs
Labels: backend

#11086 Fix: Whitelisting of RIDE_REQUESTED FCM
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Helpers/Utils.js
Labels: frontend, native, driver

#11080 backend/feat/ticket-ended-status
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

#11077 backend/test: local testing data for rental rate card
  Backend/dev/local-testing-data/provider-dashboard.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0001-local-testing-data.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0344-rental-refactoring.sql
  Backend/dev/migrations/provider-dashboard/0000-moved-roles-to-db.sql
  Backend/dev/migrations/provider-dashboard/0040-removed-unused-column-in-merchant.sql
  Backend/dev/migrations/provider-dashboard/0068-operator-local-access.sql
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/Operator/driver.http
  Backend/dev/rest-client/dynamic-offer-driver-app/driver.http
Labels: backend

#11050 Backend/feat:fixing-negative-arrival-time-issue
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
Labels: backend

#11091 frontend/enhancement:- added personId in sdk events
  Frontend/ui-common/src/Engineering/Helpers/Events.js
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Storage/Flow/BaseApp.purs
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, ui-common, customer, driver

#11092 backend/feat/update-order-child-quantity
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#11096 frontend/fix: add try catch
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/Log.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
Labels: frontend, native

#11099 frontend/fix: added null check
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateServiceV2.java
Labels: frontend, native

#11102 Backend: fix update order api time out
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/lib/payment/src/Lib/Payment/Storage/Queries/PaymentOrder.hs
Labels: backend

#11101 backend/fix: read from master DB for personStats in partnerOrg critical flow
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
Labels: backend

#11105 backend/fix: read from master DB for personStats in partnerOrg critic…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
Labels: backend

#11104 Backend/enh - Added fixes to trigger Metro Business Hours Job
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/MetroBusinessHour.hs
  Backend/dhall-configs/dev/rider-app.dhall
Labels: backend

#11109 backend/feat/referral_details_dashboard
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Onboarding.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Onboarding.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Onboarding.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFleetOperatorAssociation.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Onboarding.sql
Labels: backend

#11107 Backend/feat:moving-stage-to-stop-times
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSGtfsStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSGtfsStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSGtfsStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/FRFSGtfsStageFare.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
  Backend/dev/migrations-read-only/rider-app/frfs_gtfs_stage_fare.sql
  Backend/dev/migrations-read-only/rider-app/route_stop_time_table.sql
  Backend/dev/migrations/rider-app/1429-frfs-gtfs-fare-query-backfill.sql
Labels: backend

#11113 Backend/fix:fare-api-fix
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#11106 frontend/enhance: Added a new field initalSourceLocation in rideSearc…
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#11115 Backend/feat:route-code-fix
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
Labels: backend

#11073 backend/feat: Refactor fleet management OTP flow to streamline fleet …
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
Labels: backend

#11116 backend/fix/updated-release-flag-ts-service
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/lib/shared-services/src/ConfigPilotFrontend/Common.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
Labels: backend

#11117 Backend/fix:drop-first-element
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
Labels: backend

#11124 Backend/feat:adding-gtfs-feed-info
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/GTFSFeedInfo.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/GTFSFeedInfo.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/GTFSFeedInfo.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/GTFSFeedInfo.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/Client.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/GraphqlQueries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/rider-app/gtfs_feed_info.sql
  Backend/dev/migrations/rider-app/1430-feed-info-for-chennai.sql
Labels: backend

#11125 Backend/fix: enhance timeout logging in timeoutEvent function to incl…
  Backend/lib/utils/src/Utils/Common/Events.hs
Labels: backend

#11128 Backend: removed debug logs from update order handler
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#11114 Frontend/Enhance/ Added a new field initalSourceLocation in rideSearc…
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, customer

#11130 Convert points array to ensure lat/lng are doubles
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
Labels: frontend, ui-common

#11133 backend/fix/referral_role
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Onboarding.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Onboarding.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Onboarding.hs
Labels: backend

#11123 backend/feat/event management, draft, permission system
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/EventManagement.yaml
  Backend/app/dashboard/rider-dashboard/rider-dashboard.cabal
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/EventManagement.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Client/RiderPlatform/AppManagement.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/DraftTicketChange.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/DraftTicketChangeHistory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/DraftTicketChange.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/DraftTicketChangeHistory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/DraftTicketChange.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/DraftTicketChangeHistory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/EventManagement/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/MerchantOnboarding.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/EventManagement/Permissions.hs
  Backend/dev/migrations-read-only/rider-app/draft_ticket_change.sql
  Backend/dev/migrations-read-only/rider-app/draft_ticket_change_history.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations-read-only/rider-app/ticket_place.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_AppManagement_EventManagement.sql
  Backend/dev/migrations/rider-app/1409-add-ticket-merchant-onboarding-config.sql
  Backend/dev/migrations/rider-dashboard/0040-event-management.sql
Labels: backend

#11142 backend/feat/emergency_contacts_msil
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverProfileSummary.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileSummary.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Merchant.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0620-msil-docs.sql
Labels: backend

#11143 backend/fix/operator_creation
  Backend/app/dashboard/Lib/src/Storage/Queries/Person.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/FleetManagement.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Registration.hs
Labels: backend

#11121 backend/fix/config-pilot-ui-cache-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/UiDriverConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/UiRiderConfig.hs
Labels: backend

#11140 backend/feat/cris-device-change
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/CRIS.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/CRIS.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/CRIS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CRIS.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/ChangeDevice.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/OtpGeneration.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/RouteFare.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/SDKData.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/Uts.hs
Labels: backend

#11151 backend/fix/ticket-unpublished-fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

#11111 frontend/enhc : accessbility enhancements for purescript
  Frontend/ui-customer/src/Screens/CustomerUtils/EmergencyContactsScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/NammaSafetyFlow/View.purs
Labels: frontend, customer

#11148 frontend/fix: memory leaks in driver app
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MobilityServiceHolder.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MobilityServices.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/Utils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/CleverTapSignedCall.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateServiceV2.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MissedCallActionsHandler.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/SheetAdapter.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/services/MobilityAppUpdate.java
  Frontend/android-native/mobility-common/build.gradle
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-customer/build.gradle
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
Labels: frontend, native

#11064 MSIL. Adding Invoice API at driver side
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/invoice.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/Invoice.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/Invoice.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Invoice.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/Location.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/RideDetails.hs
  Backend/dev/rest-client/dynamic-offer-driver-app/Invoice.http
Labels: backend

#11149 fix: include Taxi in initial userPrefs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#11165 frontend/refactor: updated string context on estimates step and added remoteconfigs
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Resources/LocalizableV2/EN.purs
Labels: frontend, customer

#11164 isDraft Fixed
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/EventManagement.hs
Labels: backend

#11160 revert-Frontend/feat/voip
  Frontend/android-native/app/build.gradle
  Frontend/android-native/app/gradle/wrapper/gradle-wrapper.properties
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/Utils.java
  Frontend/android-native/local-temp.properties
  Frontend/android-native/mobility-app/build.gradle
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/CleverTapSignedCall.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MissedCallActionsHandler.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
  Frontend/ui-driver/src/Services/API.purs
  Frontend/ui-driver/src/Services/Endpoint.purs
Labels: frontend, native, ui-common, customer, driver

#11168 backend/enhance/vehicle_photos_b64
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/ImageExtra.hs
Labels: backend

#11169 Backend/fix - Correct parsing of times in Metro Business Hours Job
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/MetroBusinessHour.hs
Labels: backend

#11120 backend/fix/cris-null-fares
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSQuote.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSSearchExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/MultiModal.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/SearchRequest.hs
  Backend/dev/migrations-read-only/rider-app/frfs_search.sql
  Backend/dev/migrations-read-only/rider-app/search_request.sql
  Backend/dev/migrations-read-only/rider-app/walk_leg_multimodal.sql
Labels: backend

#11162 MSIL. Exclusion of repeated DB query
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverFleetOperatorAssociation.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/MetroBusinessHour.hs
Labels: backend

#11174 backend/made values from maybe to nonMaybe for pricing
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DynamicPricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#11171 Revert "backend/analytics : pushed some relevant data to Kafka for an…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Search.hs
  Backend/test/src/Mobility/Fixtures/Routes.hs
Labels: backend

#11177 backend/fix/ticket-unpublished-fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

#11180 backend/feat: Integrating idfy aadhaar api
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Onboarding.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Verification.hs
  flake.lock
Labels: backend

#11181 backend/reliability: Pooling Analytics for Higher Reliability
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Beckn/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#11183 backend/reliability: Pooling Analytics for Higher Reliability
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/DriverPoolUnified.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Beckn/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
Labels: backend

#11186 backend/feat: add optionalImageId to VerifyReq for Aadhaar verification
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Onboarding.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Onboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Onboarding.hs
Labels: backend

#11154 backend/feat: Implement earnings tracking for drivers with new API en…
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Clickhouse/DailyStats.hs
  Backend/dev/clickhouse/sql-seed/atlas-driver-offer-bpp-seed.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Driver.sql
  Backend/dev/rest-client/clickhouse/ride.http
Labels: backend

#11193 backend/fix: CMRL Multi Ticket
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Metro/CMRL/Order.hs
Labels: backend

#11191 backend/enhance/last_activity_date
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/Driver.yaml
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Driver.hs
Labels: backend

#11197 backend/fix: bulk driver upload unprocessed entities fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/dev/local-testing-data/provider-dashboard.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0001-local-testing-data.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0585-dashboard-wheres-my-bus.sql
  Backend/dev/migrations/provider-dashboard/0000-moved-roles-to-db.sql
  Backend/dev/migrations/provider-dashboard/0036-subscription-api-with-service.sql
  Backend/dev/migrations/provider-dashboard/0040-removed-unused-column-in-merchant.sql
  Backend/dev/migrations/provider-dashboard/0068-operator-local-access.sql
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/fleet/driver.http
Labels: backend

#11198 backend/feat/tick-rule-sys-first-cut
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/BusinessHour.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketDashboard.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/EventManagement.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/TicketRule/Apply.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/TicketRule/Core.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/TicketUtils.hs
  Backend/dev/migrations-read-only/rider-app/business_hour.sql
  Backend/dev/migrations-read-only/rider-app/service_category.sql
  Backend/dev/migrations-read-only/rider-app/service_people_category.sql
  Backend/dev/migrations-read-only/rider-app/ticket_place.sql
  Backend/dev/migrations-read-only/rider-app/ticket_service.sql
Labels: backend

#11201 Backend/fix/fixed_getFare_for_ondc_flow
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
Labels: backend

#11126 backend/fix: make vehicle category optional for csv
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/Operator/driver.http
Labels: backend

#11202 Backend/fix/fixing-the-otp-url
  Backend/app/rider-platform/rider-app/Main/src/Tools/MultiModal.hs
Labels: backend

#11182 provider/feat: KN Open Meter
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-driver/src/MerchantConfigs/Types.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/OD.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, driver

#11216 backend/fix: Integrated QR
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#11195 Backend/fix: taxi extend leg searchId update
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#10739 Backend feat: ekd live
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/CallFeedback.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallFeedback.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallFeedbackOptions.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/CallStatus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/CallFeedbackOptions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/CallFeedbackOptions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/CallFeedbackOptions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/CallStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/External/LiveEKD.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal/ProdLoopStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/External/LiveEKD.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/ProdLoopStatus.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Call.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallFeedback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/CallFeedbackFCM.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/External/LiveEKD.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantPushNotification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/call_feedback.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/call_feedback_options.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0675-call-feedback-options.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/utils/src/Tools/DynamicLogic.hs
Labels: backend

#11221 backend/feat/cris-validity
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/BookJourney.hs
Labels: backend

#11225 update v1-config
  .gitignore
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#11222 backend/feat: register fleet owner v2 flow
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/RegistrationV2.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/RegistrationV2.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/RegistrationV2.hs
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/RegistrationV2.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Client/ProviderPlatform/Fleet.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/RegistrationV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/RegistrationV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/RegistrationV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/FleetManagement.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_RegistrationV2.sql
Labels: backend

#11204 backend/feat/cris-sdk-token-fixes
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Subway/CRIS/SDKData.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#11230 Backend/feat/1_rs_for_all_metro_transaction_in_master
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnInit.hs
Labels: backend

#11233 backend/feat: WMB Fleet Groups & Integrated Unifed QR Enahncements
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/Storage/FleetMemberAssociation.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Domain/Types/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Beam/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Queries/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Queries/OrphanInstances/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/provider-dashboard/API_Fleet_Driver.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
  Backend/dev/migrations-read-only/provider-dashboard/fleet_member_association.sql
Labels: backend

#11235 backend/enhance/allow_all_in_validation_rule
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/RCValidationRules.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/RCValidationRules.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/rc_validation_rules.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0620-msil-docs.sql
Labels: backend

#11231 frontend/fix: stop location updates if not internet is there
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateServiceV2.java
Labels: frontend, native

#11240 backend/non-ac depriortization
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/RiderConfig.hs
  Backend/dev/migrations-read-only/rider-app/person.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#11241 backend/feat: update driver unlink and remove vehicle APIs to include…
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#11244 backend/fix migrations
  Backend/dev/migrations-read-only/rider-app/person.sql
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#11247 backend/bug fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Select.hs
Labels: backend

#11243 Backend/feat/seperate-service-for-route-stop-data
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Bus/EBIX/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/CallAPI.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/ExternalAPI/Direct/Order.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Utils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/API/Nandi.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/Nandi/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/OTPRest/OTPRest.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/RouteStopTimeTable.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/MerchantServiceConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/MultiModal.hs
  Backend/dev/migrations/rider-app/1434-gtfs-service-config-backfile.sql
Labels: backend
