Repository nammayatri/nammayatri, pull requests merged in 2025-01, with the labels that each got.

#9790 backend/fix : removed-DL-Check-for dashboard
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#9776 backend/enhc/add-strike-off-setting-in-plans
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Plan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/plan.sql
Labels: backend

#9791 backend/enhc/add-strike-off-setting-in-plans
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Plan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/plan.sql
Labels: backend

#9792 Revert "backend:ommit-nothing-fields-for-SRFD"
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
Labels: backend

#9793 backend/feat: Ticket Booking Same Day Pricing
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/ServicePeopleCategoryExtra.hs
  Backend/dev/migrations-read-only/rider-app/service_people_category.sql
Labels: backend

#9782 frontend/fix : Add tirupati and Warangal.
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/driver/yatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#9761 backend/fix/split-settlement-mandatory
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Execution.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
Labels: backend

#9157 backend/enh/customer-block-based-on-cancellation-rate-and-decoupling-…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/BehaviourManagement/CancellationRate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0525-nuding-and-blocking-configs.sql
  Backend/dev/migrations/rider-app/1390-cancellation-rate-blocking.sql
Labels: backend

#9726 backend/fix/person-stat-infinite-stream-and-queries
  Backend/app/kafka-consumers/src/Consumer/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Clickhouse/BookingCancellationReason.hs
  flake.lock
Labels: backend

#9796 Backend/fix/removing-night-shift-charge-in-fare-breakup-from-bpp-to-bap
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
Labels: backend

#9771 backend/fix/rider_preferred_option
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
Labels: backend

#9800 frontend/fix : Move website info from v1 config to remote
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, ui-common, customer

#9789 backend/fix: making-makeSearchRequestForDriverAPIEntity-frontend-comp…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/SearchRequestForDriver.hs
Labels: backend

#9802 wmb api changes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/package.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FRFSStaticData.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/RouteTripStopMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/route_trip_stop_mapping.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0583-wheres-my-bus-dev-testng.sql
Labels: backend

#9805 backend/fix/split-settlement-reorder
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
Labels: backend

#9804 backend/feat: LTS and GRPC integration in where's my bus
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FRFSStaticData.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver/Notification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReachedDestination.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Flow.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/ApprovalRequestExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TriggerFCM.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/PersonDefaultEmergencyNumber.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/approval_request.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_transaction.sql
  Backend/lib/beckn-spec/beckn-spec.cabal
  Backend/lib/beckn-spec/src/Domain/Types/EmptyDynamicParam.hs
Labels: backend

#9808 Frontend/prod/fixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#9809 frontend/fix : Intercity and search locaton issue.
  Frontend/ui-customer/src/Components/ChooseYourRide/View.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#9292 backend/enhancement/add_safety_tag_in_driver_profile_res
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Utils.hs
Labels: backend

#9820 backend/feat/wmb-apis-routes-and-trip-transactions
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RouteExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_transaction.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0585-dashboard-wheres-my-bus.sql
Labels: backend

#9822 Backend/fix/wmb trip end
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
Labels: backend

#9829 backend/refactor/fetchDriverRequestsAPI
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#9830 backend/fix: Add Onboarding Vehicle Category For Driver
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
Labels: backend

#9828 wmb config+routeDetails apis
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FRFSStaticData.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Route.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/RouteTripStopMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Station.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Route.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/RouteTripStopMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Station.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/RouteTripStopMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_route_mapping.sql
Labels: backend

#9823 backend/enhancement : Changed redis keys for hotspot
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/AppManagement/API/HotSpot.yaml
  Backend/app/dashboard/rider-dashboard/rider-dashboard.cabal
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/AppManagement/HotSpot.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Client/RiderPlatform/AppManagement.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/AppManagement/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/AppManagement/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/AppManagement/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/AppManagement/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Maps/LocationMapCache.hs
Labels: backend

#9801 backend/enhc:create-search-req-with-kv-options
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/SearchRequestExtra.hs
Labels: backend

#9839 backend/fixed congestion charge
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Booking.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/BookingLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/BookingLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/booking.sql
Labels: backend

#9798 backend/feat/registry and gateway fallback logic
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Types/AccessMatrix.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MerchantServiceUsageConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceUsageConfig.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/merchant.sql
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_Merchant.sql
  Backend/dev/migrations-read-only/rider-app/merchant.sql
  Backend/dev/migrations-read-only/rider-dashboard/API_Management_Merchant.sql
  Backend/dhall-configs/dev/common.dhall
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/lib/beckn-spec/src/Domain/Types.hs
Labels: backend

#9835 backend/fix/ambulance-on-search-sz
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
Labels: backend

#9831 backend/enhance/ride_info_estimated_reserved_time
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Ride.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
Labels: backend

#9836 Wmb new api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReachedDestination.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
Labels: backend

#9841 backend/refactor: transfer instance
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#9842 backend/fix: Wheres My Bus Dashboard Fixes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FRFSStaticData.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Route.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/RouteTripStopMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Station.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Route.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/RouteTripStopMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Station.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/TripTransactionExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/approval_request.sql
  flake.lock
Labels: backend

#9675 frontend/fix : Consume whole sdk_payload instead of parsing
  Frontend/ui-common/src/Payment/PaymentPage.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, ui-common, customer, driver

#9847 frontend/fix : Consume whole sdk_payload instead of parsing
  Frontend/ui-common/src/Payment/PaymentPage.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Services/API.purs
Labels: frontend, ui-common, customer, driver

#9846 Frontend/Fix - SourceToDestination Component
  Frontend/ui-common/src/Components/SourceToDestination/Controller.purs
  Frontend/ui-common/src/Components/SourceToDestination/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/ComponentConfig.purs
Labels: frontend, ui-common, customer

#9849 backend/refactor: Moving WMB Trip Flows to Shared Logic
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/approval_request.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_transaction.sql
Labels: backend

#9832 backend/enhancement : Changed redis keys for hotspot hotpush
  Backend/app/rider-platform/rider-app/Main/src/API/UI/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/HotSpot.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Maps/LocationMapCache.hs
Labels: backend

#9844 Multimodal - Implemented functionality for Retrieving Unified QR data…
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
Labels: backend

#9852 backend/ci/enh/add-arm-linux-builds-to-ci
  .github/labeler.yml
  .github/workflows/nix.yaml
  Backend/default.nix
Labels: backend

#9855 ci: Get rid of process-labels
  .github/workflows/nix.yaml
Labels: backend

#9834 backend/fix: mandatory special location city
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/dev/rest-client/dashboard/bap-dashboard/app-backend/management/merchant.http
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/management/merchant.http
  Backend/lib/special-zone/src/Lib/Queries/GateInfoGeom.hs
  Backend/lib/special-zone/src/Lib/Queries/SpecialLocationGeom.hs
Labels: backend

#9853 backend/ci:- refactor(ci): consolidate workflow conditions in single job
  .github/workflows/nix.yaml
Labels: backend

#9856 fix(ci): correct Docker image build and push conditions
  .github/workflows/nix.yaml
Labels: backend

#9857 backend/ci-fix/docker-push-job-getting-skip-removed-arch-constraint-f…
  .github/workflows/nix.yaml
Labels: backend

#9860 backend/refactor: Fleet RC Association
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReachedDestination.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRouteMappingExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_route_mapping.sql
Labels: backend

#9864 Backend/fix/driver rc association
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
Labels: backend

#9851 frontend/fix/added filter in same source lat long fix in one-Click bo…
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
Labels: frontend, customer

#9708 Frontend/fix: Coins changes 31st dec
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_six_rides_completed_v2.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_ten_rides_completed_v5.png
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, native, driver

#9845 backend/refactor: dashboard driver module decomposition rebase
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverReferral.yaml
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/AppManagement/DriverSubscription.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Ride.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/RideBooking/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/DriverSubscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/Subscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverGoHome.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Driver.hs
Labels: backend

#9866 backend/added support for congestionChargeMultiplier in dynamic Pricing
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DynamicPricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
Labels: backend

#9867 Congestioncharge/prod hot push
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Booking.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/BookingLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/BookingLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/SendSearchRequestToDrivers/Handle/Internal/SendSearchRequestToDrivers.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DynamicPricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/booking.sql
Labels: backend

#9528 backend/feat/bbps
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/package.yaml
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/BBPS.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/BBPS.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/BBPSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/BBPSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/BBPSConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/BbpsService/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BBPSExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/MerchantServiceConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
  Backend/dev/migrations-read-only/rider-app/bbps.sql
  Backend/dev/migrations-read-only/rider-app/bbps_config.sql
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
  flake.lock
Labels: backend

#9773 frontend/fix: YS Ticketing Hybrid Flow Fixes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceDetails/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/PlaceList/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketInfo/Controller.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketList/View.purs
  Frontend/ui-customer/src/Screens/TicketBookingFlow/TicketStatus/Controller.purs
Labels: frontend, customer

#9865 backend/fix/ticket_upsert_instance
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/RiderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
Labels: backend

#9873 build/fix
  .github/workflows/nix.yaml
Labels: backend

#9875 Re-introduce macOS/arm builds
  .github/workflows/nix.yaml
Labels: backend

#9868 Backend/enh/dashboard-wmb-route-details-api
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
Labels: backend

#9876 ci: Persist Nix eval/git cache
  .github/workflows/nix.yaml
Labels: backend

#9877 backend/ci: Use system name in cache dir
  .github/workflows/nix.yaml
Labels: backend

#9872 Developed handler functions for Bus Leg
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Interface.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#9879 backend/ci: More unique nix eval cache dir
  .github/workflows/nix.yaml
Labels: backend

#9881 backend/fix/ns-constant
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnUpdate.hs
Labels: backend

#9810 backend/fix/sql query for add mocid for bap payment_transaction table
  Backend/dev/migrations/rider-app/1364-add-mid-and-mocid-column.sql
Labels: backend

#9883 frontend/fix/added filter in same source lat long fix in one-Click bo…
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
Labels: frontend, customer

#9393 frontend/fix: added lost and found reminder audio on ride end
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#9862 backend/enh/added-customer-cancl-rate-in-profile
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Payment.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/test/src/Mobility/AppBackend/APICalls.hs
Labels: backend

#9890 frontend/added asset for see the metro map
  Frontend/ui-customer/src/Screens/SearchLocationFlow/SearchLocationScreen/View.purs
Labels: frontend, customer

#9887 backend/fix/tip-in-reallocation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
Labels: backend

#9895 backend/fix/CancelReq-field
  Backend/test/src/Mobility/ARDU/Utils.hs
Labels: backend

#9886 frontend/fix: Consume backpress and release backpress Hybrid flow
  Frontend/ui-customer/index.js
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
Labels: frontend, customer

#9896 backend/feat/new-vehicle-variants
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0595-heritage-cab.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Vehicle.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/beckn-spec/src/Domain/Types/ServiceTierType.hs
  Backend/lib/beckn-spec/src/Domain/Types/VehicleVariant.hs
Labels: backend

#9903 backend/fixed prod bug search try fare issue
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
Labels: backend

#9904 frontend/fix:source to destination component fix in ride summary screen
  Frontend/ui-driver/src/Screens/RideSummaryScreen/ComponentConfig.purs
Labels: frontend, driver

#9907 Backend/prodHotPush-Bap/payout-config-query-fix
  .github/workflows/nix.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Payout.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CustomerReferral.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/PayoutConfig.hs
Labels: backend

#9901 Backend/feat/metro-x-rides-coin-event
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/DriverCoins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0577-add-metro-coin-translations.sql
Labels: backend

#9821 Backend/Feat/Multimodal: API Implementation for Skip, Cancel
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#9900 backend/fix : default plan allocation in ysvehicle category based
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/PlanExtra.hs
Labels: backend

#9885 frontend/fix/added filter in same source lat long fix in one-Click bo…
  Frontend/ui-customer/src/Helpers/SuggestionUtils.purs
Labels: frontend, customer

#9898 backend/enhancement : made listScheduledBooking backward compatible
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#9910 backend/fix : default plan allocation in ysvehicle category based
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/PlanExtra.hs
Labels: backend

#8034 backend/nix: Use passetto with crypton
  Backend/nix/services/nammayatri.nix
  flake.lock
  flake.nix
Labels: backend, no-pr-activity

#9913 Fix arm Linux build (cryptostore)
  Backend/default.nix
Labels: backend

#9902 backend/fixed prod bug search try fare issue
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Select.hs
Labels: backend

#9915 backend: Driver Onboarding Vehicle Category
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Vehicle.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Vehicle.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/UI/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/AadhaarVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/IdfyWebhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformation/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverInformationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleExtra.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
Labels: backend

#9918 frontend/fix/driver-dynamic-build-fix
  Frontend/android-native/dynamicfeature/src/main/java/in/juspay/mobility/dynamicfeature/DynamicActivity.java
Labels: frontend, native

#9919 [RELEASE-APK-DRIVER] Initiating apk generation
  Frontend/android-native/app/build.gradle
Labels: frontend, native

#9922 backend/fix/tip-in-reallocation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Cancel.hs
Labels: backend

#9923 Backend/feat/metro x ride coin event prodhotpsuh
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/DriverCoinsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverCoin.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Coins.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverCoins/Types.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0577-add-metro-coin-translations.sql
Labels: backend

#9925 backend/fix/qvst
  Backend/dev/migrations/dynamic-offer-driver-app/0595-heritage-cab.sql
Labels: backend

#9931 Backend/enh/disabling-safety-through-ivr
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyIVR.hs
Labels: backend

#9932 Disable ticketing in safety prod hot push bap
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyIVR.hs
Labels: backend

#9933 backend: WMB Fixes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/wmb.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/TripTransactionExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_transaction.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0585-dashboard-wheres-my-bus.sql
Labels: backend

#9696 Frontend/Feat - Added Invoice Text in the Driver Ride Completed Screen.
  Frontend/ui-common/src/Components/RideCompletedCard/Controller.purs
  Frontend/ui-common/src/Components/RideCompletedCard/View.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/OD.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/HomeScreen/ComponentConfig.purs
Labels: frontend, ui-common, driver

#9939 Frontend/fix/multiple/driver/assigned
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9937 Backend/wmb-added-fleet-route-asssociation
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FRFSStaticData.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetRouteAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetRouteAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetRouteAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Route.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/RouteTripStopMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RouteExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_route_association.sql
Labels: backend

#9946 Backend/prodHotPush-added-payout-status-enum
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DailyStats.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DailyStats.hs
Labels: backend

#9908 Backend/fix/prod-sync-config-query-fix
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PayoutConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/Payout.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CustomerReferral.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/PayoutConfig.hs
Labels: backend

#9938 backend:fix/made-warning-logs-for-frequent-errorlogs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/lib/utils/src/Tools/DynamicLogic.hs
  flake.lock
Labels: backend

#9943 backend/fareParamInRatecard
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnCancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/ACL/OnSelect.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnSearch.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Search.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0583-wheres-my-bus-dev-testng.sql
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  Backend/test/src/Mobility/Fixtures/Routes.hs
Labels: backend

#9952 Refactor CI: Use crane for Docker push, simplify artifact steps, and …
  .github/workflows/nix.yaml
Labels: backend

#9954 ci: Remove nix eval caching
  .github/workflows/nix.yaml
Labels: backend

#9951 Backend/feat/get intermediate stops
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RouteStopMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Bus/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#9955 backend/fix: Ticket Service Operational Date Ranges
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/TicketService.hs
Labels: backend

#9956 backend/fix: Ticket Service Operational Date Ranges
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/TicketService.hs
Labels: backend

#9953 backend/refactor/split-settlement-optional
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SubscriptionConfig.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/SubscriptionConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Execution.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
  flake.lock
Labels: backend

#9958 backend/query/downtime
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/subscription_config.sql
Labels: backend

#9957 frontend/fix: Source Marker Native Crash fix
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/Screens/TrackRide/FollowRideScreen/View.purs
Labels: frontend, customer

#9950 Backend/enh/disabling-safety-through-ivr
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyIVR.hs
Labels: backend

#9959 backend/wmb/fixes
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#9961 backend/feat/multimodal-cancel
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#9963 backend/enhancement/made-listScheduledBookings-compatible-with-OlderV…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
Labels: backend

#9965 backend/refactor/rental-fields-renaming
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Ride.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
Labels: backend

#9967 backend/fix: WMB Fleet Schemas
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetDriverAssociation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetDriverAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRouteMapping.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRouteMappingExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/lib/beckn-spec/src/Domain/Utils.hs
Labels: backend

#9969 Backend:fix Multimodal confirm payment
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
Labels: backend

#9966 Backend/feat/send-booking-details-via-whatsapp-for-dashboard-call-boo…
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/RideBooking/API/NotifyRideInfo.yaml
  Backend/app/dashboard/rider-dashboard/rider-dashboard.cabal
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/RideBooking.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/RideBooking/NotifyRideInfo.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Client/RiderPlatform/RideBooking.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/RideBooking/NotifyRideInfo.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/DriverSubscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/RideBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/RideBooking/NotifyRideInfo.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/RideBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/RideBooking/Endpoints/NotifyRideInfo.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/Dashboard/RideBooking/NotifyRideInfo.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/RideBooking/NotifyRideInfo.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations-read-only/rider-dashboard/API_RideBooking_NotifyRideInfo.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_RideBooking_NotifyRideInfo.sql
  flake.lock
Labels: backend

#9972 Backend/fix/fleet dev environment
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/dev/local-testing-data/provider-dashboard.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0001-local-testing-data.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0583-wheres-my-bus-dev-testng.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0585-dashboard-wheres-my-bus.sql
  Backend/dev/migrations/provider-dashboard/0000-moved-roles-to-db.sql
  Backend/dev/migrations/provider-dashboard/0018-fleet-management.sql
Labels: backend

#9616 Backend/metro/integ hotpush
  Backend/app/rider-platform/rider-app/Main/package.yaml
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/GWLink.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/PartnerOrgConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/MessageBuilder.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/PartnerOrgStation.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/PlaceBasedServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/MerchantServiceConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/MerchantServiceConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/PartnerOrgConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations/rider-app/1268-partner-organization.sql
  Backend/dev/migrations/rider-app/1368-service-account-config-google-wallet.sql
  Backend/dev/migrations/rider-app/1369-cancel-ticket-sms-merchant-messsage.sql
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/dhall-configs/dev/secrets/rider-app.dhall
  Backend/lib/utils/package.yaml
  Backend/lib/utils/src/Utils/Common/JWT/Config.hs
  Backend/lib/utils/src/Utils/Common/JWT/TransitClaim.hs
  Backend/lib/utils/utils.cabal
Labels: backend

#9976 Backend/fix/time-format-partnerorg
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/GWLink.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
Labels: backend

#9977 frontend/oncall/referral/fix
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Benefits/BenefitsScreen/View.purs
Labels: frontend, driver

#9970 Added clever tap Event props
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9985 Frontend/fix/multiple/driver/assigned
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#9803 backend/enh/network observability for FRFS
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Confirm.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Rating.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Select.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Status.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Beckn/Track.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Callback.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnCancel.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnSelect.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnStatus.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnTrack.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPP.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallFRFSBPP.hs
  Backend/lib/external/src/TransactionLogs/PushLogs.hs
Labels: backend

#9980 added error types
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReachedDestination.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TrackRoute.hs
Labels: backend

#9991 backend/enahancement: Make WMB Production Ready
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverRegistration.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/DriverRegistration.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/DriverRegistration.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReachedDestination.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_transaction.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
Labels: backend

#9992 backend/fix: Main Build
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
Labels: backend

#9994 frontend/oncall/referral/fix
  Frontend/ui-customer/src/Components/Referral/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReferralScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#9948 backend/enhc: switch-taxi api
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#9998 frontend/oncall/referral/fix
  Frontend/ui-customer/src/Components/Referral/View.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/ReferralScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
Labels: frontend, customer

#9962 backend/feat/config-pilot-moved-rider-config
  Backend/app/kafka-consumers/src/Consumer/CustomerStats/Processor.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Booking.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Issue.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/RideBooking/NotifyRideInfo.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CallEvent.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Feedback.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Maps.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Sos.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Support.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/CallPoliceApi.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/Payout/MetroIncentivePayout.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/PostRideSafetyNotification.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyCSAlert.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/SafetyIVR.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Scheduler/Jobs/ScheduledRideNotificationsToRider.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/booking.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/search_request.sql
  Backend/dev/migrations-read-only/rider-app/booking.sql
  Backend/dev/migrations-read-only/rider-app/search_request.sql
  Backend/lib/utils/src/Tools/DynamicLogic.hs
  Backend/lib/yudhishthira/spec/Storage/AppDynamicLogic.yaml
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/AppDynamicLogicRollout.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Storage/CachedQueries/AppDynamicLogicRollout.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
Labels: backend

#10004 backend/feat: add platformCode for metro gtfs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
  flake.lock
Labels: backend

#10002 backend/feat/multimodal-cancel
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSSearchExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSTicketBookingExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequestExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/MultiModal.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/WalkLegMultimodalExtra.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
  Backend/dev/migrations-read-only/rider-app/frfs_search.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/journey.sql
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
  Backend/dev/migrations-read-only/rider-app/search_request.sql
  Backend/dev/migrations-read-only/rider-app/walk_leg_multimodal.sql
Labels: backend

#10013 frontend/oncall/empty-ridelist-api/fix
  Frontend/ui-common/src/Engineering/Helpers/Utils.js
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.js
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, ui-common, customer, driver

#10018 wmb error fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
Labels: backend

#10015 backend/fix: frfs route api name change
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/FRFSTicket.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/FRFSTicket.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/FRFSTicket.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/FRFSTicket.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/FRFSTicket.hs
Labels: backend

#10020 Frontend/Fix/GetDriverProfileApi - Api is getting called alot of times
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#9993 frontend/feat: added map lottie view for festive decorations
  Frontend/ui-customer/src/Helpers/Storage/Flow/BaseApp.purs
  Frontend/ui-customer/src/Helpers/Storage/Storage.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#10025 ci: Use new omnix
  .github/workflows/nix.yaml
Labels: backend

#10027 frontend/fix: delivery pickup edit
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#9894 Backend/feat/added-dashboard-api-for-payout-config-update
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/CachedQueries/Merchant/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PayoutConfigExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_Merchant.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Merchant.sql
  Backend/dev/migrations-read-only/rider-app/payout_config.sql
Labels: backend

#10032 frontend/fix : disable subscription in Nalgonda.
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
Labels: frontend, native

#10028 backend/fix/cancel-api
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10040 backend/wmb/field_name_change
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#10014 Multimodal Switch API
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/WalkLegMultimodal.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Quote.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/journey_leg.sql
  Backend/dev/migrations-read-only/rider-app/search_request.sql
  Backend/dev/migrations-read-only/rider-app/walk_leg_multimodal.sql
Labels: backend

#10035 backend/fix : multiple search req issue temp fix
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Merchant.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Cancel.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/EstimateExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequestExtra.hs
  Backend/dev/migrations-read-only/rider-app/merchant.sql
Labels: backend

#10042 backend/fix/bus_variant
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
Labels: backend

#10038 Backend/JourneyEndFeedbackAPIV-2
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyFeedback.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyLegsFeedbacks.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyFeedback.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLegsFeedbacks.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyFeedback.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLegsFeedbacks.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/dev/migrations-read-only/rider-app/journey_feedback.sql
  Backend/dev/migrations-read-only/rider-app/journey_legs_feedbacks.sql
Labels: backend

#10012 backend/fix/marketing-events-notification
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/DriverScore.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/MarketingEvents.hs
Labels: backend

#10051 Backend/fix/shorten-ride-tracklink-for-call-booking-flow
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#10053 backend/queries/ev_auto_rickshaw
  Backend/dev/migrations/dynamic-offer-driver-app/0595-heritage-cab.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0599-ev-auto-rickshaw.sql
Labels: backend
