Repository nammayatri/nammayatri, pull requests merged in 2025-03, with the labels that each got.

#10365 frontend/added new City Srinagar
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-common/src/RemoteConfig/Utils.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/MerchantConfigs/DefaultConfig.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
Labels: frontend, native, ui-common, customer

#10363 backend/multimodal-rider-location-fix
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/JourneyRouteDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyRouteDetails.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyRouteDetails.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Walk.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/FRFSSearchExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/Transformers/RouteDetails.hs
  Backend/dev/migrations-read-only/rider-app/journey_route_details.sql
  Backend/dev/migrations/rider-app/1348-cmrl-metro-config.sql
Labels: backend

#10372 feat: add communication medium in tagging framework
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/App.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideNotificationsToDriver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/KaalChakra/Actions.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/KaalChakra/Chakras.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Yudhishthira.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/KaalChakra/Actions.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Yudhishthira.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/tag_action_notification_config.sql
  Backend/dev/migrations-read-only/rider-app/tag_action_notification_config.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/yudhishthira/spec/Storage/TagActionNotificationConfig.yaml
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Beam/TagActionNotificationConfig.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/TagActionNotificationConfig.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Types/TagActionNotificationConfig.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Event/KaalChakra/Internal.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Storage/Beam/BeamFlow.hs
  Backend/lib/yudhishthira/yudhishthira.cabal
Labels: backend

#10377 backend/feat/ticket-booking/try-booking-again-if-exp-time-passed-afte…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
Labels: backend

#10376 backend/fix : execution scheduler error handling
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/Mandate/Execution.hs
Labels: backend

#10294 Backend/namma-tag: namma-tag trigger
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Yudhishthira.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Beam/Yudhishthira.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/namma_tag_trigger.sql
  Backend/dev/migrations-read-only/rider-app/namma_tag_trigger.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0668.namma-tag-trigger.sql
  Backend/dev/migrations/rider-app/1402.namma-tag-trigger.sql
  Backend/lib/yudhishthira/spec/Storage/NammaTag.yaml
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Beam/NammaTag.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Beam/NammaTagTrigger.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/NammaTag.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/NammaTagTrigger.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Storage/Queries/OrphanInstances/NammaTag.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Types/NammaTag.hs
  Backend/lib/yudhishthira/src-read-only/Lib/Yudhishthira/Types/NammaTagTrigger.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Event.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Storage/Beam/BeamFlow.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Storage/Queries/NammaTagExtra.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Storage/Queries/Transformers/NammaTag.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types/Application.hs
  Backend/lib/yudhishthira/yudhishthira.cabal
Labels: backend

#10382 Backend/prodhotpush bap/dashboard ride whatsapp sms flow fix
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#10336 MSIL. Vehicle Image flow
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/DriverRegistration.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/DriverRegistration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DocumentVerificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/HyperVergeVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/HyperVergeVerification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/DriverRegistration.hs
Labels: backend

#10387 Backend/enh: add orderId in secondary key for refunds
  Backend/lib/payment/spec/Storage/Refunds.yaml
  Backend/lib/payment/src-read-only/Lib/Payment/Storage/Beam/Refunds.hs
Labels: backend

#10370 Backend/fix: whatsapp confirmation message not working for taxi dashb…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#10347 Enhance - multimodal feedback API
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
Labels: backend

#10394 backend/fix/eta for wimb
  Backend/app/rider-platform/rider-app/Main/spec/API/TrackRoute.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10371 Backend/enh/inclusion_of_station_ids_in_wallet_payload
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/lib/utils/src/Utils/Common/JWT/TransitClaim.hs
Labels: backend

#10388 Backend/feat/dashboard-api-for-refund-payout-registration
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Payout.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Payout.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Payout.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Payout.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/CustomerReferral.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/payout_config.sql
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_Payout.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Payout.sql
  Backend/lib/payment/src/Lib/Payment/Domain/Action.hs
Labels: backend

#10343 Backend/ref/registry-lookup-instance-change-for-authHeader
  Backend/app/mocks/rider-platform/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/rider-platform/public-transport-rider-platform/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  flake.lock
Labels: backend

#10302 backend/fix/removed time check for send overlay from dashboard
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/DriverSubscription.hs
Labels: backend

#10405 Backend/enh/added-referral-config-in-profile-api
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
Labels: backend

#10409 backend :enh/use-master-redis-for-eligible-trip-lookup
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  flake.lock
Labels: backend

#10411 backend/enh/adds logs in eta
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10419 Backend/fix/On_Search_handler_for_partner_org_searches
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
Labels: backend

#10421 Backend/feat/driver meter ride
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverIntelligentPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/LlmPrompt.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantPaymentMethod.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/RideRelatedNotificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverIntelligentPoolConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/LlmPrompt.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantPaymentMethod.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantPushNotification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantServiceConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/MerchantServiceUsageConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/RideRelatedNotificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/LlmPrompt.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantMessage.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantOperatingCity.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/MerchantPushNotification.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Overlay.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/RideRelatedNotificationConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/payout_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#10418 backend/feat/ticket-booking-race-and-split
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBookingPeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketBookingServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBookingPeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketBookingServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/TicketBookingPeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/TicketBookingServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/SeatManagement.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/ServicePeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingPeopleCategory.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketBookingServiceCategory.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnInit.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/BBPS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Payment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Extra/TicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
  Backend/dev/migrations-read-only/rider-app/service_people_category.sql
  Backend/dev/migrations-read-only/rider-app/ticket_booking.sql
  Backend/dev/migrations-read-only/rider-app/ticket_booking_people_category.sql
  Backend/dev/migrations-read-only/rider-app/ticket_booking_service.sql
  Backend/dev/migrations-read-only/rider-app/ticket_booking_service_category.sql
  Backend/lib/payment/spec/Storage/Refunds.yaml
  Backend/lib/payment/src-read-only/Lib/Payment/Storage/Beam/Refunds.hs
  flake.lock
Labels: backend

#10386 Backend/fix - Multimodal Skip leg fetches correct journeyLeg data from updated KV
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/BecknConfig.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/IntegratedBPPConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSSearch.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/FRFSTicketBooking.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TrackRoute.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
  Backend/dev/migrations-read-only/rider-app/frfs_search.sql
  Backend/dev/migrations-read-only/rider-app/frfs_ticket_booking.sql
Labels: backend

#10417 backend/multimodal-frfs-status-fix
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
Labels: backend

#10425 updated person table with 3 new options fields on BAP
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/dev/migrations-read-only/rider-app/person.sql
Labels: backend

#10426 Backend/ fix main branch
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/payout_config.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#10373 backend/feat/stop-detection-on-ride
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/OnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/StopDetection.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/CallBAP.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/ACL/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations/rider-app/1403-safety-reasons.sql
  Backend/dhall-configs/dev/location_tracking_service.dhall
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Enums.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
  flake.lock
Labels: backend

#10430 backend/feat/added-estimated-fare-in-meter-ride
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/MeterRide.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Booking.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/MeterRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/MeterRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/BookingLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/MeterRide.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/MeterRide.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MeterRide.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MeterRide.hs
Labels: backend

#10435 backend/feat/ticket-place-priority
  Backend/app/rider-platform/rider-app/Main/spec/Storage/ticket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/TicketPlace.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TicketService.hs
  Backend/dev/migrations-read-only/rider-app/ticket_place.sql
Labels: backend

#10414 Added merchantOperatingCityName and batchConfig
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10443 FIX : frfs get routes response
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#10445 backend/fix: onboarding truck range
  Backend/lib/beckn-spec/src/Domain/Types/VehicleVariant.hs
Labels: backend

#10447 Backend/enh/inclusion_of_station_ids_in_wallet_payload
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/lib/utils/src/Utils/Common/JWT/TransitClaim.hs
Labels: backend

#10446 frontend/fix: added META to logging destination in v1 configurations
  Frontend/android-native/app/src/user/bridge/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/odishaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#10441 frontend/feat: deeplink for specific ticket place
  Frontend/ui-common/src/Common/Types/App.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, ui-common, customer

#10450 frontend/fix: added META to logging destination in v1 configurations
  Frontend/android-native/app/src/user/bridge/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#10449 backend/fix: driver arrival status
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Booking.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Cancel.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/StartRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/ScheduledRides/ScheduledRideAssignedOnUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/DriverArrivalNotf.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Ride.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Confirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/BookingExtra.hs
  Backend/dev/migrations-read-only/rider-app/booking.sql
Labels: backend

#10413 partial search
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/DriverReachedDestination.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboarding/VehicleRegistrationCertificate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverOnboarding.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/vehicle_registration_certificate.sql
Labels: backend

#10453 backend/feat: Special Location
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/spec/RiderPlatform/Management/API/Merchant.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src-read-only/API/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/dev/migrations-read-only/provider-dashboard/API_Management_Merchant.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Merchant.sql
  Backend/dev/migrations-read-only/rider-dashboard/API_Management_Merchant.sql
  Backend/dev/migrations-read-only/rider-dashboard/Local_API_Management_Merchant.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0669-upsert-special-location.sql
  Backend/dev/migrations/rider-app/1404-upsert-special-location.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/special-zone/src/Lib/Queries/SpecialLocation.hs
  Backend/lib/special-zone/src/Lib/Tabular/SpecialLocation.hs
  Backend/lib/special-zone/src/Lib/Tabular/SpecialLocationGeom.hs
  Backend/lib/special-zone/src/Lib/Types/SpecialLocation.hs
Labels: backend

#10454 backend/fix: Formatting
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/RiderPlatform/Management/Endpoints/Merchant.hs
  Backend/app/dashboard/rider-dashboard/src/Domain/Action/RiderPlatform/Management/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Merchant.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/Merchant.hs
  Backend/lib/special-zone/src/Lib/Queries/SpecialLocation.hs
  Backend/lib/special-zone/src/Lib/Tabular/SpecialLocation.hs
  Backend/lib/special-zone/src/Lib/Tabular/SpecialLocationGeom.hs
  Backend/lib/special-zone/src/Lib/Types/SpecialLocation.hs
Labels: backend

#10455 backend/enh/config-cache-in-redis-hashes-and-config-history
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/ConfigPilot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/ConfigPilot.hs
  Backend/dev/migrations/rider-app/1268-partner-organization.sql
  Backend/lib/utils/src/Tools/DynamicLogic.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Storage/CachedQueries/AppDynamicLogicRollout.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
  flake.lock
Labels: backend

#10429 Backend/Enhancement/MultiModalJourneyInfo
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Booking.hs
Labels: backend

#10464 frontend/fix: ios
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#10465 frontend/fix: added META to logging destination in v1 configurations
  Frontend/android-native/app/src/user/bridge/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/jatriSaathi/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/manaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/nammaYatri/assets/juspay/v1-configuration.js
  Frontend/android-native/app/src/user/yatri/assets/juspay/v1-configuration.js
Labels: frontend, native

#10466 frontend/fix: ios
  Frontend/ui-customer/src/Flow.purs
Labels: frontend, customer

#10432 updated person table with 3 fields
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/dev/migrations-read-only/rider-app/person.sql
Labels: backend

#10471 getNearbyDriver
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/DriverLocation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
Labels: backend

#10479 frontend/fix: Update config json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/config.json
Labels: frontend, native

#10438 backend/enh: multimodal api validations and fixes
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/JourneyLeg.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/JourneyLegExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
Labels: backend

#10476 frontend/feat: RateCard Feature Remote config
  Frontend/ui-common/src/RemoteConfig/Types.purs
  Frontend/ui-driver/src/Screens/BookingOptionsScreen/View.purs
Labels: frontend, ui-common, driver

#10482 feat: vehicle specific EKD
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Helpers/Utils.purs
  Frontend/ui-customer/src/RemoteConfigs/Types.purs
  Frontend/ui-customer/src/RemoteConfigs/Utils.purs
  Frontend/ui-customer/src/Resources/Constants.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/ComponentConfig.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/Controller.purs
  Frontend/ui-customer/src/Services/Config.purs
Labels: frontend, customer

#10486 backend/fix/config-percentage
  Backend/dev/migrations/rider-app/1361-updated-kv-configs.sql
  Backend/lib/utils/src/Tools/DynamicLogic.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
Labels: backend

#10488 Backend/Multimodal/Enhancement - Taxi LegExtraInfo
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10490 backend/fix/unloading-time-fix
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
Labels: backend

#10489 added lat long in nearby drivers
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/rider-platform/rider-app/Main/src/API/Internal/DriverArrivalNotf.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/DriverArrivalNotf.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/dhall-configs/dev/secrets/rider-app.dhall
Labels: backend

#10493 backend/enh/moved-config-hist-to-lib
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/NammaTag.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/ConfigPilot.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Dashboard/NammaTag.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/ConfigPilot.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0670-add-additional-charges-to-fare-params.sql
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Flow/Dashboard.hs
  Backend/lib/yudhishthira/src/Lib/Yudhishthira/Types.hs
Labels: backend

#10500 frontend/fix: Asset Downloader
  Frontend/ui-common/src/FileProviders/AssetsProvider/AssetsProvider.js
  Frontend/ui-common/src/FileProviders/AssetsProvider/AssetsProvider.purs
  Frontend/ui-customer/src/Main.purs
  Frontend/ui-driver/src/Main.purs
Labels: frontend, ui-common, customer, driver

#10499 Fixing the earnigns error in fleet
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
Labels: backend

#10503 frontend/fix : Driver route update fix.
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
Labels: frontend, driver

#10483 backend/fix: Track Vehicles Divide By Zero
  .github/workflows/nix.yaml
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/FRFSUtils.hs
Labels: backend

#10364 search by name and number
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Person.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociationExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/person.sql
Labels: backend

#10506 frontend/fix: Added Backward compatibility for old APK and new Bundle
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/config.json
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainApplicationConsumer.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainApplicationProvider.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MobilityServiceHolder.java
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MobilityServices.java
  Frontend/android-native/versions.txt
  Frontend/ui-driver/index.js
  Frontend/ui-driver/src/Flow.purs
Labels: frontend, native, driver

#10495 backend/feat/Truck Delivery ride flow
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/SearchRequestForDriver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Init.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/Volunteer.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/DriverPool.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FareCalculator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Ride.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Booking.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Beckn/OnDemand/Utils/Common.hs
  Backend/dev/local-testing-data/person-location.sql
  Backend/dev/migrations-read-only/rider-app/booking.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0001-local-testing-data.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0016-fare-policy.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0067-add-phone-number-as-text-to-person.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0382-vehicle-service-tier.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0541-update-vehicle-category-vehicleServiceTier.sql
  Backend/dev/migrations/dynamic-offer-driver-app/0615-delivery-truck.sql
  Backend/dev/migrations/rider-app/1400-delivery-truck.sql
  Backend/lib/beckn-spec/src/Beckn/Types/Core/Taxi/Common/Vehicle.hs
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Utils/Common.hs
  Backend/lib/beckn-spec/src/Domain/Types/ServiceTierType.hs
  Backend/lib/beckn-spec/src/Domain/Types/VehicleVariant.hs
Labels: backend

#10519 frontend/fix: updated asset_downloader to v0.0.13
  Frontend/android-native/app/src/main/assets/juspay/v1-assets_downloader.jsa
  Frontend/android-native/versions.txt
Labels: frontend, native

#10492 FIX: removed default autorickshaw in taxileg
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnSearch.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
Labels: backend

#10523 frontend/fix: Fixed Service Holder Crash Fix
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MobilityServiceHolder.java
  Frontend/android-native/versions.txt
Labels: frontend, native

#10513 frontend:- lacation as default in favourite Screen
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/ScreenData.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/SavedLocationScreen/View.purs
  Frontend/ui-customer/src/Screens/Types.purs
Labels: frontend, customer

#10529 Backend/fix/r2r-fixes
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Payout.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonStats.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#10433 Voip Fixes
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/CleverTapSignedCall.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MissedCallActionsHandler.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/MobilityAppBridge.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/Controllers/Types.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, native, ui-common, customer, driver

#10527 frontend/fix: update version for local bundle
  Frontend/ui-customer/package.json
  Frontend/ui-driver/package.json
Labels: frontend, customer, driver

#10541 frontend/fix: help and support fix
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
Labels: frontend, customer

#10543 Frontend/fix : Hyperverge not opening issue
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/v1-configuration.js
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-driver/src/MerchantConfigs/DefaultConfig.purs
Labels: frontend, native, ui-common, driver

#10534 backend/fix/multimodal-api-fixes
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/OnUpdate.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10544 Backend/fix/fixes for delete account
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/DeletedPerson.hs
  Backend/lib/shared-services/src/IssueManagement/Domain/Action/UI/Issue.hs
Labels: backend

#10545 backend/qar calculation shift
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Pricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  flake.lock
Labels: backend

#10491 Backend/feat : rental-Intercity-cache
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/FareCalculator.hs
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/RentalsIntercityCache.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/RentalsIntercityCache.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/RentalsIntercityCache.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/CallBPPInternal.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#10551 backend/enhc : on charge on meter rides
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Types/FarePolicy.hs
Labels: backend

#10553 Backend/feat/google-wallet-added-support-to-Group-Passes-with-same-bo…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/lib/utils/src/Utils/Common/JWT/TransitClaim.hs
Labels: backend

#10532 Backend/Multimodal/Enhancement - Fixes in RideBookingListV2 and LegInfo
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Booking.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10561 backend/improvement/calculate-snapped-distance-from-nearest-last-near…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/PriceBreakup.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/PriceBreakup.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/PriceBreakup.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Update.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Internal/BulkLocUpdate.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/PriceBreakup.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Lib/LocationUpdates.hs
  Backend/dump.rdb
  Backend/lib/location-updates/src/Lib/LocationUpdates.hs
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
  Backend/lib/location-updates/test/src/API.hs
  Backend/lib/location-updates/test/src/RedisAlgorithm.hs
  flake.lock
Labels: backend

#10564 fix: rental ride completed fix
  Frontend/ui-customer/src/Screens/RideBookingFlow/RiderRideCompletedCard/View.purs
Labels: frontend, customer

#10557 frontend:- Removed NonAc pop in case of Bike
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/RideBookingFlow/HomeScreen/View.purs
Labels: frontend, customer

#10571 backend/fix/missing_package_compilation
  Backend/lib/utils/package.yaml
  Backend/lib/utils/utils.cabal
Labels: backend

#10452 Backend/enh - snap walk leg to nearest gate of a special location in multimodal route
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Maps.hs
Labels: backend

#10573 backend/feat: add dashboard api for metered ride
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/RideBooking/API/MeterRide.yaml
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/RideBooking.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/RideBooking/MeterRide.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Client/ProviderPlatform/RideBooking.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/RideBooking/MeterRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/RideBooking/MeterRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/Endpoints/MeterRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/RideBooking/MeterRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/MeterRide.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_RideBooking_MeterRide.sql
Labels: backend

#10558 backend/feat: One Click Force Assignment
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/mocks/idfy/src/Types/Webhook.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/ApprovalRequest.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/TripTransactionExtra.hs
  Backend/dev/migrations/dynamic-offer-driver-app/0583-wheres-my-bus-dev-testng.sql
Labels: backend

#10565 backend/feat: Role Based Access Control & WMB Fleet Badge
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/Storage/FleetMemberAssociation.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Beam/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/CachedQueries/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Queries/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Queries/FleetMemberAssociationExtra.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/Storage/Queries/OrphanInstances/FleetMemberAssociation.hs
  Backend/app/dashboard/provider-dashboard/src/API/ProviderPlatform/DynamicOfferDriver/InternalAuth.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBadge.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetBadge.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetBadge.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBadge.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FleetBadge.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Beam/Common.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetBadgeExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_badge.sql
  Backend/dev/migrations-read-only/provider-dashboard/API_Fleet_Driver.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
Labels: backend

#10563 wmb minor enhancement
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/TripTransaction.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetDriverAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/trip_transaction.sql
  Backend/dev/migrations-read-only/provider-dashboard/API_Fleet_Driver.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Fleet_Driver.sql
Labels: backend

#10576 backend/fix: Formatting issue
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBadge.yaml
Labels: backend

#10575 backend/fix: add check for nonEmpty locUpdates
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/PriceBreakup.hs
Labels: backend

#10550 Backend:feat get customer for payment management integartion
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/Payment.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PaymentManagement.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/RidePayment.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/PaymentCustomer.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/PaymentCustomer.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PaymentCustomer.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/RidePayment.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Payment.hs
  Backend/dev/migrations-read-only/rider-app/payment_customer.sql
  Backend/dev/migrations-read-only/rider-app/person.sql
  flake.lock
Labels: backend

#10556 Backend/feat - Created Backend API to fetch all frfs transit stops
  Backend/app/rider-platform/rider-app/Main/spec/API/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/FrfsTicket.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RouteStopMapping.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
Labels: backend

#10578 frontend/refactor: added ride start notifications based on variants
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Screens/HomeScreen/View.purs
Labels: frontend, driver

#10582 backend/fix: change meterPrice api to post
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/PriceBreakup.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/PriceBreakup.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/PriceBreakup.hs
Labels: backend

#10581 wmb added isdriveractive
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/DriverArrivalNotf.hs
Labels: backend

#10246 Backend/feat : live activites
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Notifications.hs
  Backend/app/rider-platform/rider-app/Main/spec/Storage/Person.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/Person.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/Person.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Internal/DriverArrivalNotf.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Registration.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/TriggerFCM.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Types/Booking/API.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/PersonDefaultEmergencyNumber.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/PersonExtra.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Notifications.hs
  Backend/dev/migrations-read-only/rider-app/person.sql
  Backend/lib/utils/src/Tools/SharedRedisKeys.hs
  flake.lock
Labels: backend

#10584 backend/added past qar support
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/FarePolicy.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Pricing.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/SearchTry.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
Labels: backend

#10562 Backend/enh/added-daily-monthly-thresholds-for-c2c
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#10588 backend/enh/multimodal-skip-fix
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Types.hs
Labels: backend

#10591 backend/fix: Yaml Formatting :)
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/WhereIsMyBus.yaml
Labels: backend

#10569 Backend/feat/msil: create operator by admin
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Registration.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Registration.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Registration.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/ProviderPlatform/Operator/Registration.hs
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/Registration.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Client/ProviderPlatform/Operator.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Registration.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Operator_Registration.sql
  Backend/dev/migrations/provider-dashboard/0000-moved-roles-to-db.sql
  Backend/dev/rest-client/dashboard/bpp-dashboard/driver-offer-bpp/Operator/registration.http
  Backend/lib/utils/package.yaml
Labels: backend

#10595 backend/feat: add status and rideStartTime to meterRide
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/PriceBreakup.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/PriceBreakup.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/RideBooking/MeterRide.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/PriceBreakup.hs
Labels: backend

#10598 backend/fix: change conditions for processWayPoints
  Backend/lib/location-updates/src/Lib/LocationUpdates/Internal.hs
Labels: backend

#10601 backend/fix/fixed fleet driver onboarding fake otp flow and changed q…
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Support.hs
Labels: backend

#10599 Backend/feat - Created APIs to get and post multimodal user preferences and get autocomplete transit options
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/MultimodalPreferences.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/MultimodalPreferences.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/MultimodalPreferences.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
  Backend/dev/migrations-read-only/rider-app/multimodal_preferences.sql
  flake.lock
Labels: backend

#10602 backend/fix request to delete account fixes
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/DeletedPerson.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/DeletedPerson.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/DeletedPerson.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/DeletedPerson.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/DeletedPerson.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/DeletedPerson.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/DeletedPerson.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/DeletedPerson.hs
  Backend/dev/migrations-read-only/rider-app/deleted_person.sql
Labels: backend

#10518 refactored logic to generate driver's about me
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverProfileQuestions.hs
Labels: backend

#10604 Backend/enh - added quantity parameter for FRFS Confirm flow in Multimodal
  Backend/app/rider-platform/rider-app/Main/spec/API/MultiModal.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/FRFSTicketService.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/MultimodalConfirm.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/PartnerOrganizationFRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/ExternalBPP/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Common/FRFS.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Interface.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Subway.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Bus.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Metro.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Types/Subway.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyModule/Base.hs
Labels: backend

#10600 backend/feat/multimodal-search-expiry
  Backend/app/provider-platform/dynamic-offer-driver-app/Allocator/src/Environment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Transformer/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Beckn/OnDemand/Utils/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Beckn/Search.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Lib/JourneyLeg/Taxi.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/Queries/SearchRequestExtra.hs
  Backend/dhall-configs/dev/dynamic-offer-driver-app.dhall
  Backend/lib/beckn-spec/src/BecknV2/OnDemand/Tags.hs
Labels: backend

#10606 backend:fixing-update-query-in-cancel
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/CancelRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/RideExtra.hs
  flake.lock
Labels: backend

#10613 backend/fix request to delete account fixes
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/DeletedPerson.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/DeletedPerson.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/DeletedPerson.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/DeletedPerson.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/DeletedPerson.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/DeletedPerson.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/DeletedPerson.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/DeletedPerson.hs
  Backend/dev/migrations-read-only/rider-app/deleted_person.sql
Labels: backend

#10614 backend/fix:changed queue for Night Safety
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Support.hs
Labels: backend

#10612 frontend/feat: Location Service rewrite
  Frontend/android-native/app/src/main/java/in/juspay/mobility/MainActivity.java
  Frontend/android-native/mobility-app/src/main/AndroidManifest.xml
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/BootUpReceiver.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GRPCNotificationService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/GpsListeningService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateService.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateServiceV2.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/LocationUpdateWorker.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/NotificationUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestActivity.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/RideRequestUtils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/Utils.java
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/services/MobilityCallAPI.java
  Frontend/android-native/mobility-driver/src/main/java/in/juspay/mobility/driver/MobilityDriverBridge.java
  Frontend/ui-driver/src/App.purs
  Frontend/ui-driver/src/Flow.purs
  Frontend/ui-driver/src/Helpers/Storage.purs
  Frontend/ui-driver/src/Helpers/Utils.purs
  Frontend/ui-driver/src/RemoteConfigs/Types.purs
  Frontend/ui-driver/src/RemoteConfigs/Utils.purs
  Frontend/ui-driver/src/Screens/PermissionsScreen/Controller.purs
  Frontend/ui-driver/src/Screens/PermissionsScreen/Handler.purs
  Frontend/ui-driver/src/Screens/PermissionsScreen/View.purs
Labels: frontend, native, driver

#10615 Backend/enh/prodHotPush/r2r-enhancements
  Backend/app/rider-platform/rider-app/Main/spec/Storage/PersonStats.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/PersonStats.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Profile.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#10422 MSIL. Fleet owner Admin approval flow
  Backend/app/dashboard/CommonAPIs/dashboard-helper-api.cabal
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Management/API/Account.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Account.hs
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Management/Endpoints/Account.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Person.hs
  Backend/app/dashboard/Lib/src/Domain/Action/Dashboard/Registration.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Merchant.hs
  Backend/app/dashboard/Lib/src/Domain/Types/Person/Type.hs
  Backend/app/dashboard/Lib/src/Storage/Beam/Merchant.hs
  Backend/app/dashboard/Lib/src/Storage/Beam/Person.hs
  Backend/app/dashboard/Lib/src/Storage/Queries/Person.hs
  Backend/app/dashboard/provider-dashboard/provider-dashboard.cabal
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Management/Account.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Client/ProviderPlatform/Management.hs
  Backend/app/dashboard/provider-dashboard/src/API/Fleet/Registration.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Management/Account.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Registration.hs
  Backend/app/dashboard/provider-dashboard/src/ProviderPlatformClient/DynamicOfferDriver/Fleet.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetOwnerInformation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Management/Account.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetOwnerInformation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/API/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Registration.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Management/Account.hs
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_Management_Account.sql
  Backend/dev/migrations/provider-dashboard/0062-add-require-approval-in-merchant.sql
  Backend/dev/migrations/provider-dashboard/0065-add-rejection-reason-and-rejected-at-in-person.sql
  Backend/dev/migrations/rider-dashboard/0034-add-require-approval-in-merchant.sql
  Backend/dev/migrations/rider-dashboard/0035-add-rejection-reason-and-rejected-at-in-person.sql
  Backend/test/src/Mobility/ARDU/APICalls.hs
Labels: backend

#10616 Backend/fix/redis-count-fix-for-r2r
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
Labels: backend

#10607 backend/feat: nearby drivers api
  Backend/app/rider-platform/rider-app/Main/rider-app.cabal
  Backend/app/rider-platform/rider-app/Main/spec/API/Nearby.yaml
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Action/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/Environment.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/API/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Flow.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
  Backend/app/rider-platform/rider-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
  Backend/dev/migrations/rider-app/1405-add-nearby-driver-configs.sql
  Backend/dhall-configs/dev/location_tracking_service.dhall
  Backend/dhall-configs/dev/rider-app.dhall
  Backend/lib/beckn-spec/src/Domain/Types/ServiceTierType.hs
  Backend/lib/beckn-spec/src/Domain/Types/VehicleVariant.hs
  flake.lock
Labels: backend

#10608 backend/fix: added valid rc check in get all vehicle list
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
Labels: backend

#10620 backend/fix : add safety plus data points and pseudo client
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Ride/EndRide/Internal.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Payment.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverStatsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Payment.hs
  flake.lock
Labels: backend

#10629 Backend/feat/google-wallet-added-support-to-Group-Passes-with-same-bo…
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/FRFS/OnConfirm.hs
  Backend/lib/utils/src/Utils/Common/JWT/TransitClaim.hs
Labels: backend

#10630 frontend/enh: delete account changes
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/ModifyScreenTypes.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Controller.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/Handler.purs
  Frontend/ui-customer/src/Screens/CustomerUtils/HelpAndSupportScreen/View.purs
  Frontend/ui-customer/src/Services/API.purs
  Frontend/ui-customer/src/Services/Backend.purs
  Frontend/ui-customer/src/Services/EndPoint.purs
Labels: frontend, customer

#10635 Backend/enh/configured-device-id-check-for-r2r
  Backend/app/rider-platform/rider-app/Main/spec/Storage/RiderConfig.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/RiderConfig.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/Beckn/Common.hs
  Backend/dev/migrations-read-only/rider-app/rider_config.sql
Labels: backend

#10632 backend/fix: made bearing type as nullable in nearByDriver api
  Backend/app/rider-platform/rider-app/Main/spec/API/Nearby.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/NearbyDrivers.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/External/LocationTrackingService/Types.hs
Labels: backend

#10618 backend/enhc: fleet badge association
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Fleet/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Fleet/Endpoints/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/dynamic-offer-driver-app.cabal
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/FleetBadgeAssociation.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/FleetBadgeAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/FleetBadgeAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/FleetBadgeAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/FleetBadgeAssociation.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Fleet/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/WMB.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/FleetBadgeAssociationExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/VehicleRegistrationCertificateExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/fleet_badge_association.sql
Labels: backend

#10641 feat: direct bus booking in journey flow
  Backend/app/rider-platform/rider-app/Main/spec/Storage/SearchRequest.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/Domain/Types/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Beam/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src-read-only/Storage/Queries/OrphanInstances/SearchRequest.hs
  Backend/app/rider-platform/rider-app/Main/src/API/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/Search.hs
  Backend/app/rider-platform/rider-app/Main/src/SharedLogic/Search.hs
  Backend/dev/migrations-read-only/rider-app/search_request.sql
Labels: backend

#10644 Backend/feat:adding-neary-buses
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
Labels: backend

#10648 Backend/fix/mulimodal-cache
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MultiModalBus.hs
Labels: backend

#10650 Frontend-fix-cancelrideissue
  Frontend/android-native/mobility-common/src/main/java/in/juspay/mobility/common/MobilityCommonBridge.java
  Frontend/android-native/mobility-common/src/main/res/values-hi/strings.xml
  Frontend/android-native/mobility-common/src/main/res/values-kn/strings.xml
  Frontend/android-native/mobility-common/src/main/res/values-ta/strings.xml
  Frontend/android-native/mobility-common/src/main/res/values/strings.xml
  Frontend/ui-common/src/Engineering/Helpers/JBridge.js
  Frontend/ui-common/src/Engineering/Helpers/Utils.purs
  Frontend/ui-customer/src/Flow.purs
  Frontend/ui-customer/src/Services/Backend.purs
Labels: frontend, native, ui-common, customer

#10651 frontend/fix: Release and Overlay fixes
  Frontend/android-native/app/src/driver/keralaSavaariPartner/assets/juspay/config.json
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/config.json
  Frontend/android-native/app/src/main/java/in/juspay/mobility/Utils.java
  Frontend/android-native/mobility-app/src/main/java/in/juspay/mobility/app/OverlaySheetService.java
Labels: frontend, native

#10652 Backend/fix/final-
  Backend/app/rider-platform/rider-app/Main/src/Storage/CachedQueries/Merchant/MultiModalBus.hs
Labels: backend

#10533 feat: ekd 2.0
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_cancellation_thumbs_down.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_cancellation_thumbs_up.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_fair_price_driver.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_green_shield_with_tick.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_orange_shield_with_eye.png
  Frontend/android-native/app/src/driver/common/res/drawable/ny_ic_red_shield_with_alert.png
  Frontend/android-native/app/src/driver/nammaYatriPartner/assets/juspay/juspay_assets.json
  Frontend/ui-driver/src/Components/DriverProfileScoreCard.purs
  Frontend/ui-driver/src/Components/ExtraChargeCard.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/BN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/EN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/HI.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/KN.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/ML.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/OD.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TA.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TE.purs
  Frontend/ui-driver/src/Resource/LocalizableV2/TypesV2.purs
  Frontend/ui-driver/src/Screens/CancellationRateScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverCompleteProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ComponentConfig.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/Controller.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/DriverProfileScreen/View.purs
  Frontend/ui-driver/src/Screens/ExtraChargeInfoScreen/Handler.purs
  Frontend/ui-driver/src/Screens/ExtraChargeInfoScreen/ScreenData.purs
  Frontend/ui-driver/src/Screens/ExtraChargeInfoScreen/View.purs
  Frontend/ui-driver/src/Screens/HomeScreen/Controller.purs
  Frontend/ui-driver/src/Screens/Types.purs
Labels: frontend, native, driver

#10609 backend/feat/msil: operation hub request linked to rcNo
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/Operator/API/Driver.yaml
  Backend/app/dashboard/CommonAPIs/src-read-only/API/Types/ProviderPlatform/Operator/Endpoints/Driver.hs
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/OperationHub.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/OperationHub.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/OperationHub.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/UI/OperationHub.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/OperationHubRequests.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/Operator/Driver.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/OperationHub.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/OperationHubRequestsExtra.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Tools/Error.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/operation_hub_requests.sql
Labels: backend

#10647 backend/feat : waive off at driver level
  Backend/app/dashboard/CommonAPIs/spec/ProviderPlatform/AppManagement/API/Subscription.yaml
  Backend/app/dashboard/CommonAPIs/src/Dashboard/Common.hs
  Backend/app/dashboard/provider-dashboard/src-read-only/API/Action/ProviderPlatform/AppManagement/Subscription.hs
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/AppManagement/Subscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/DriverPlan.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/Storage/Merchant.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/Dashboard/AppManagement/Subscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/AppManagement.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Types/Dashboard/AppManagement/Endpoints/Subscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Domain/Types/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/Merchant.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/PayoutConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Beam/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/DriverPlan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/Storage/Queries/OrphanInstances/TransporterConfig.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/Subscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/Plan.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/SharedLogic/Allocator/Jobs/DriverFeeUpdates/DriverFee.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Storage/Queries/DriverPlanExtra.hs
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/driver_plan.sql
  Backend/dev/migrations-read-only/dynamic-offer-driver-app/transporter_config.sql
  Backend/dev/migrations-read-only/provider-dashboard/API_AppManagement_Subscription.sql
  Backend/dev/migrations-read-only/provider-dashboard/Local_API_AppManagement_Subscription.sql
Labels: backend

#10653 Backend/fix/final-
  Backend/app/dashboard/provider-dashboard/src/Domain/Action/ProviderPlatform/AppManagement/Subscription.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/Dashboard/AppManagement/Subscription.hs
  Backend/app/rider-platform/rider-app/Main/spec/API/NearbyBuses.yaml
  Backend/app/rider-platform/rider-app/Main/src-read-only/API/Types/UI/NearbyBuses.hs
  Backend/app/rider-platform/rider-app/Main/src/Domain/Action/UI/NearbyBuses.hs
Labels: backend

#10634 backend/feat: add rateCard tripCategory queryParam to rateCard api
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/spec/API/DriverOnboarding.yaml
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src-read-only/API/Action/UI/DriverOnboardingV2.hs
  Backend/app/provider-platform/dynamic-offer-driver-app/Main/src/Domain/Action/UI/DriverOnboardingV2.hs
Labels: backend
